<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Change password</title>
    <meta name="description" content="">
</head>
<body>
<p>Your password changed successfully</p>
</body>
</html>
