<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Email Confirmation</title>
    <meta name="description" content="">
</head>
<body>
<p>Please confirm your email:</p>
<p>Click on link: <a href="<%= url%>"><%= url%></a></p>
</body>
</html>