<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reactivated/Deactivated</title>
  <meta name="description" content="">
</head>
  <body>
    <% if (active) { %>
      <p>You have been reactivated for <%= name %> account </p>
    <% }else{ %>
      <p>You have been deactivated for <%= name %> account </p>
    <% } %>
  </body>
</html>
