<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reset password</title>
    <meta name="description" content="">
</head>
<body>
<p>A request was made to change your password for.</p>
<p>Click link to reset: <a href="<%= url%>"><%= url%></a></p>
</body>
</html>
