<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
    	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

	    <!-------------------------------------------->
	    <!--    include frameworks                  -->
	    <!-------------------------------------------->
		<script src="/socket.io/socket.io.js"></script>

	    <!-------------------------------------------->
	    <!--    jQuery                              -->
	    <!-------------------------------------------->
		<script type="text/javascript" src="/resources/jquery/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    	<script>
			//	OK, we have our connection to the server
			var socket = null;

    		function readConfig(configDomain, configPort, configMode) {
				var socketConfig = io.connect("http://" + configDomain + ':' + configPort, {
					'reconnect': true,
					'reconnection delay': 500,
					'max reconnection attempts': 10
				});

				function addRowToTable(user_id, data) {
					var table = document.getElementById("tableResults");
					var row = table.insertRow(1);
					var cell1 = row.insertCell(0);
					var cell2 = row.insertCell(1);
					var cell3 = row.insertCell(2);

					cell1.className = "span3";
					cell2.className = "span3";
					cell3.className = "span6";

					var d = new Date();
					var curr_date = d.getDate();
					var curr_month = d.getMonth() + 1; //Months are zero based
					var curr_year = d.getFullYear();
					var curr_milliseconds = d.getMilliseconds();
					var curr_seconds = d.getSeconds();
					var curr_minutes = d.getMinutes();
					var curr_hours = d.getHours();

					var formattedDate = curr_year + "/" + curr_month + "/" + curr_date + " " + curr_hours + ":" + curr_minutes + ":" + curr_seconds + "::" + curr_milliseconds;

					cell1.innerHTML = formattedDate;
					cell2.innerHTML = user_id;
					cell3.innerHTML = data;
				}

				socketConfig.on('config_info', function(config) {
					//	lets process config
					port = config[configMode].port;
					domain = config[configMode].domain;
					FS_PATH = config[configMode].FS_PATH;
					URL_PATH = config[configMode].URL_PATH;
					MYSQL_USER = config[configMode].MYSQL_USER;
					MYSQL_PASS = config[configMode].MYSQL_PASS;
					MYSQL_DATABASE = config[configMode].MYSQL_DATABASE;

					socket = io.connect(domain + ":" + port, {
						'reconnect': true,
						'reconnection delay': 500,
						'max reconnection attempts': 10
					});

					socket.on('console_log', function(user_id, message) {
						addRowToTable(user_id, message);
					});

				});

				socketConfig.emit("config_get_info");
    		}

			function restartIFS() {
				socket.emit("restart");
			}

			// $(function () {
			// 	$('#tabAdmin a:last').tab('show');
			// })

			readConfig("[__DOMAIN__]", "[__CONFIG_PORT__]", "[__MODE__]");
		</script>
	</head>
	<body>
		<div class="container well">
			<h1>IFS Admin</h1>

			<ul class="nav nav-tabs" id="tabAdmin">
			  <li class="active"><a href="#console">Console</a></li>
			  <li><a href="#profile">Profile</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="console">
				<div class="span12">
					<table id="tableResults" class="table table-striped">
						<thead>
							<tr>
								<th class="span3">Time</th>
								<th class="span3">User ID</th>
								<th class="span6">Data</th>
							</tr>
						</thead>
					</table>
				 </div>
			  </div>
			  <div class="tab-pane" id="profile">This is the profile...</div>
			</div>


			<button class="btn btn-primary" onclick="restartIFS();">Restart the IFS server</button>
		</div>
	</body>
</html>
