<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
    	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    	<link href="/bootstrap/css/docs.css" rel="stylesheet" media="screen">
    	<link href="/bootstrap/css/pygments-manni.css" rel="stylesheet" media="screen">

	    <!-------------------------------------------->
	    <!--    include frameworks                  -->
	    <!-------------------------------------------->
		<script src="/socket.io/socket.io.js"></script>

	    <!-------------------------------------------->
	    <!--    include utility scripts             -->
	    <!-------------------------------------------->
	    <script type="text/javascript" src="/js/utilities.js"></script>

	    <!-------------------------------------------->
	    <!--    AngularJS                           -->
	    <!-------------------------------------------->
	    <script type="text/javascript" src="/angularjs/angular.min.js"></script>

	    <!-------------------------------------------->
	    <!--    jQuery                              -->
	    <!-------------------------------------------->
		<script type="text/javascript" src="/resources/jquery/jquery-2.0.0.min.js"></script>

	    <!-------------------------------------------->
	    <!--    include bootstrap scripts           -->
	    <!-------------------------------------------->
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

	    <!-------------------------------------------->
		<!-- Main									-->
	    <!-------------------------------------------->
		<script type="text/javascript" src="/js/helpAdmin.js"></script>

	    <title>IFS Help Admin v0.01b</title>
	</head>
	<body>
		<div ng-app="helpAdminApp">
			<div ng-controller="HelpAdminCtrl">
				<div class="container bs-docs-container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="form-group">
				  					<label class="col-md-6">Header</label>
									<input type="text" class="form-control col-md-6" placeholder="Menu Header" ng-model="data.heading">
								</div>
							</div>

							<div class="well" ng-repeat="menu in data.menus">
								<div class="form-group inline">
				  					<label class="">Menu</label>
									<input type="text" class="form-control" placeholder="Menu" ng-model="menu.menu">
								</div>
								<div class="bs-docs-grid" >
				  					<label class="">Items</label>
				  					<div class = "row show-grid" ng-repeat="item in menu.items">
										<input type="text" class="form-control col-md-2 col-md-offset-2" placeholder="Item" ng-model="item.name">
										<select class="form-control col-md-2" ng-model="item.type">
											<option>html</option>
											<option>video</option>
											<option>audio</option>
											<option>pdf</option>
											<option>website</option>
										</select>
										<div ng-switch on="item.type">
											<div ng-switch-when="html">
												<textarea class="form-control col-md-6" rows="3" placeholder="Content" ng-model="item.content"></textarea>
											</div>
											<div ng-switch-when="video">
												<input type="text" class="form-control col-md-6" placeholder="Content" ng-model="item.content">
											</div>
											<div ng-switch-when="audio">
												<input type="text" class="form-control col-md-6" placeholder="Content" ng-model="item.content">
											</div>
											<div ng-switch-when="pdf">
												<input type="text" class="form-control col-md-6" placeholder="Content" ng-model="item.content">
											</div>
											<div ng-switch-when="website">
												<input type="text" class="form-control col-md-6" placeholder="Content" ng-model="item.content">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
