<!DOCTYPE html>
<html>
<head>
  <!-------------------------------------------->
  <!--	CSS									-->
  <!-------------------------------------------->
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/chat_room/css/screen.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="/chat_room/css/print.css"/>


  <!-------------------------------------------->
  <!--    jPlayer skin                        -->
  <!-------------------------------------------->
  <link type="text/css" href="/chat_room/resources/jPlayer/skin/jplayer.blue.monday.css" rel="stylesheet"/>

  <!-------------------------------------------->
  <!--    include frameworks                  -->
  <!-------------------------------------------->
  <script src="/socket.io/socket.io.js"></script>

  <script type="text/javascript" src="/chat_room/resources/raphael/raphael.js"></script>
  <script type="text/javascript" src="/chat_room/resources/raphaeljs-infobox.js"></script>
  <script type="text/javascript" src="/chat_room/js/Raphael.FreeTransform-master/raphael.free_transform.js"></script>


  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
  <!--- CKEditor --->
  <script type="text/javascript" src="/chat_room/js/ckeditor/ckeditor.js"></script>
  <!-- CKEditor end -->

  <!-------------------------------------------->
  <!--    jQuery                              -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/resources/jquery/jquery-2.0.0.min.js"></script>

  <!-------------------------------------------->
  <!--    jPlayer                             -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/resources/jPlayer/jquery.jplayer.min.js"></script>

  <!-------------------------------------------->
  <!--    jquery.animate-colors               -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/resources/jquery/jquery.animate-colors-min.js"></script>

  <!-------------------------------------------->
  <!--    jquery.form                         -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/js/form-master/jquery.form.js"></script>
  <script type="text/javascript" src="/chat_room/js/upload.js"></script>

  <!-------------------------------------------->
  <!--    include utility scripts             -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/js/utilities.js"></script>
  <script type="text/javascript" src="/chat_room/js/utilitiesDiv.js"></script>
  <script type="text/javascript" src="/chat_room/js/icons.js"></script>

  <!-------Bootstrap------------------------------------->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-------Bootstrap end------------------------------------->


  <!-------------------------------------------->
  <!--    include 3rd party resources         -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/resources/date.format.js"></script>
  <script type="text/javascript" src="/chat_room/resources/gistfile1.js"></script>
  <script type="text/javascript" src="/chat_room/resources/json2.js"></script>

  <!-------------------------------------------->
  <!--    scale raphael pluging               -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/resources/scale.raphael.js"></script>

  <!-------------------------------------------->
  <!--    include events                      -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/classes/events/mouse.js"></script>

  <!-------------------------------------------->
  <!--    include classes                     -->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/classes/dashboard.js"></script>
  <script type="text/javascript" src="/chat_room/classes/path.js"></script>
  <script type="text/javascript" src="/chat_room/classes/icon.js"></script>
  <script type="text/javascript" src="/chat_room/classes/whiteboard.js"></script>
  <script type="text/javascript" src="/chat_room/classes/undoManager.js"></script>
  <script type="text/javascript" src="/chat_room/classes/paintUtilities.js"></script>
  <script type="text/javascript" src="/chat_room/classes/paint.js"></script>
  <script type="text/javascript" src="/chat_room/classes/poplist.js"></script>
  <script type="text/javascript" src="/chat_room/classes/objects.js"></script>
  <script type="text/javascript" src="/chat_room/classes/buildChatHistory.js"></script>
  <script type="text/javascript" src="/chat_room/classes/buildWhiteboard.js"></script>
  <script type="text/javascript" src="/chat_room/classes/buildLastSharedResource.js"></script>
  <script type="text/javascript" src="/chat_room/classes/buildBillboard.js"></script>

  <!-------------------------------------------->
  <!--	Add in whiteboard menus items		-->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/classes/textbox.js"></script>
  <script type="text/javascript" src="/chat_room/classes/reportbox.js"></script>

  <script type="text/javascript" src="/chat_room/classes/bubble.js"></script>
  <script type="text/javascript" src="/chat_room/classes/emotions.js"></script>
  <script type="text/javascript" src="/chat_room/classes/avatar.js"></script>
  <script type="text/javascript" src="/chat_room/classes/avatarRenderer.js"></script>
  <script type="text/javascript" src="/chat_room/classes/playback.js"></script>

  <script type="text/javascript" src="/chat_room/classes/console.js"></script>
  <script type="text/javascript" src="/chat_room/classes/topic.js"></script>
  <script type="text/javascript" src="/chat_room/classes/chatHistory.js"></script>
  <script type="text/javascript" src="/chat_room/classes/chat.js"></script>
  <script type="text/javascript" src="/chat_room/classes/emoticons.js"></script>
  <script type="text/javascript" src="/chat_room/classes/button.js"></script>


  <!-------------------------------------------->
  <!--	undo Manager						-->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/classes/undoManager.js"></script>

  <!-------------------------------------------->
  <!--	menus								-->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/classes/menus/imageMenu.js"></script>
  <script type="text/javascript" src="/chat_room/classes/menus/topicMenu.js"></script>
  <script type="text/javascript" src="/chat_room/classes/menus/topicMenuItem.js"></script>
  <script type="text/javascript" src="/chat_room/classes/menus/emotionMenu.js"></script>
  <script type="text/javascript" src="/chat_room/classes/menus/videoMenu.js"></script>
  <script type="text/javascript" src="/chat_room/classes/menus/audioMenu.js"></script>
  <script type="text/javascript" src="/chat_room/classes/menus/voteMenu.js"></script>

  <!-------------------------------------------->
  <!--	handlers							-->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/classes/handlers/handleConsoleVideo.js"></script>
  <script type="text/javascript" src="/chat_room/classes/handlers/handleImageMenuAdd.js"></script>
  <script type="text/javascript" src="/chat_room/classes/handlers/handleVideoMenuAdd.js"></script>
  <script type="text/javascript" src="/chat_room/classes/handlers/handleAudioMenuAdd.js"></script>
  <script type="text/javascript" src="/chat_room/classes/handlers/handleVoteMenuAdd.js"></script>
  <script type="text/javascript" src="/chat_room/classes/handlers/handleVoteMenuEdit.js"></script>

  <!-------------------------------------------->
  <!--	filters								-->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/classes/filters/uploadFileFilters.js"></script>

  <!-------------------------------------------->
  <!--	on socket routines					-->
  <!-------------------------------------------->
  <script type="text/javascript" src="/onsocket/onBrandProjectInfo.js"></script>
  <script type="text/javascript" src="/onsocket/onUserInfo.js"></script>

  <script type="text/javascript" src="/onsocket/onTopics.js"></script>
  <script type="text/javascript" src="/onsocket/onParticipants.js"></script>
  <script type="text/javascript" src="/onsocket/onResources.js"></script>
  <script type="text/javascript" src="/onsocket/onResourceAppended.js"></script>
  <script type="text/javascript" src="/onsocket/onEnqueryVoteReturn.js"></script>

  <script type="text/javascript" src="/onsocket/onSharedResource.js"></script>
  <script type="text/javascript" src="/onsocket/onTopicSet.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateAvatarCaption.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateCanvas.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateChat.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateChatContent.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateBillboard.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateUsers.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdatePictureboard.js"></script>
  <script type="text/javascript" src="/onsocket/onOfflineTransactions.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateAvatarInfo.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdatedEmotions.js"></script>
  <script type="text/javascript" src="/onsocket/onUsername.js"></script>
  <script type="text/javascript" src="/onsocket/onDeleteChat.js"></script>
  <script type="text/javascript" src="/onsocket/onDeletedObject.js"></script>
  <script type="text/javascript" src="/onsocket/onPersonalImages.js"></script>
  <script type="text/javascript" src="/onsocket/onPersonalImagesSet.js"></script>
  <script type="text/javascript" src="/onsocket/onAlreadyConnected.js"></script>

  <script type="text/javascript" src="/onsocket/onSubmitForm.js"></script>
  <script type="text/javascript" src="/onsocket/onFileUploadComplete.js"></script>

  <script type="text/javascript" src="/onsocket/onUpdateUndo.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateRedo.js"></script>
  <script type="text/javascript" src="/onsocket/onUpdateBoardEvent.js"></script>
  <script type="text/javascript" src="/onsocket/onShowReportBox.js"></script>
  <script type="text/javascript" src="/onsocket/onShowVoteEdit.js"></script>
  <script type="text/javascript" src="/onsocket/onSavePDFFile.js"></script>
  <script type="text/javascript" src="/onsocket/onThumbsUp.js"></script>

  <script type="text/javascript" src="/onsocket/errors/onNoSessionID.js"></script>
  <script type="text/javascript" src="/onsocket/errors/onNoInfo.js"></script>

  <!-------------------------------------------->
  <!--    include avatar elements (Raphael)	-->
  <!-------------------------------------------->
  <script type="text/javascript" src="/chat_room/js/avatarsAsSets.js"></script>
  <script type="text/javascript" src="/chat_room/classes/avatarSelector.js"></script>
  <script type="text/javascript" src="/chat_room/classes/avatarChooser.js"></script>
  <script type="text/javascript" src="/chat_room/classes/avatarEmotionChooser.js"></script>

  <!-------------------------------------------->
  <!--	script to play a play				-->
  <!-------------------------------------------->
  <script language="javascript" type="text/javascript">
  function playSound(soundfile) {
    document.getElementById("playSoundDummpID").innerHTML = "<embed src=\"" + soundfile + "\" hidden=\"true\" autostart=\"true\" loop=\"false\" />";
  }
  </script>

  <!-------------------------------------------->
  <!--	preload some images					-->
  <!-------------------------------------------->
  <script language="javascript" type="text/javascript">
  var imageObj = new Image();

  var imagesToPreload = [
    "tag_set",
    "tag_unset",
    "tag_set_hover",
    "tag_unset_hover",
    "reply",
    "reply_hover",
    "ellipsis",
    "ellipsis_hover",
    "video_on",
    "video_off",
    "audio_on",
    "audio_off",
    "vote_on",
    "vote_off",
    "image_on",
    "image_off"
  ];

  for (var ndx = 0, nitp = imagesToPreload.length; ndx < nitp; ndx++) {
    imageObj.src = '/chat_room/resources/images/' + imagesToPreload[ndx] + '.png';
  }
  </script>

  <!-------------------------------------------->
  <!-- META TAGS								-->
  <!-------------------------------------------->
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>

  <title>Insider Focus</title>
</head>

<!-- added style to stop users double clicking and selecting text -->
<body id="mainbody" oncontextmenu="return false;"
style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
<div id="canvas_container" style="position: relative; width: 1000px; height: 656px; margin: 0px auto">
  <div id="logo-div"
  style="display: block; position: relative; left: 800px; top: 14px; width: 180px; height: 53px; margin: 0; text-align : center;">
</div>
<div id="dashboard"
style="z-index: -3; position: absolute; left: 0px; top: 0px; width: 1000px; height: 656px; margin: 0">
<div id="dashboard-html"
style="display: block; position: relative; left: 180px; top: -575px; width: 640px; height: 480px; margin: 0">
<div id="dashboard-inner-html"
style="display: block; position: relative; left: 0px; top: -480px; width: 0px; height: 0px; margin: 0"></div>
</div>


<!-------------------------------------------->
<!--	this section is for the jPlayer		-->
<!--	VIDEO specifially					-->
<!-------------------------------------------->
<div id="dashboard-jplayer-video-html"
style="display: none; position: absolute; left: 180px; top: 95px; width: 640px; height: 480px; margin: 0">
<div id="jp_container_1" class="jp-video ">
  <div class="jp-type-single">
    <div id="jquery_jplayer_video" class="jp-jplayer"></div>
    <div class="jp-gui">
      <div class="jp-video-play">
        <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
      </div>
      <div class="jp-interface">
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-current-time"></div>
        <div class="jp-duration"></div>
        <div class="jp-controls-holder">
          <ul class="jp-controls">
            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a>
            </li>
            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max
              volume</a></li>
            </ul>
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
            <ul class="jp-toggles">
              <li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full
                screen</a></li>
                <li><a href="javascript:;" class="jp-restore-screen" tabindex="1"
                  title="restore screen">restore screen</a></li>
                  <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a>
                  </li>
                  <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat
                    off</a></li>
                  </ul>
                </div>
                <div class="jp-title">
                  <ul>
                    <li>Big Buck Bunny Trailer</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="jp-no-solution">
              <span>Update Required</span>
              To play the media you will need to either update your browser to a recent version or update your
              <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
          </div>
        </div>
      </div>

      <!-------------------------------------------->
      <!--	this section is for the jPlayer		-->
      <!--	AUDIO specifially					-->
      <!-------------------------------------------->
      <div id="dashboard-jplayer-audio-html"
      style="display: none; position: absolute; left: 285px; top: 275px; width: 430px; height: 120px; margin: 0">
      <div id="jquery_jplayer_audio" class="jp-jplayer"></div>
      <div id="jp_container_2" class="jp-audio">
        <div class="jp-type-single">
          <div class="jp-gui jp-interface">
            <ul class="jp-controls">
              <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
              <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
              <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
              <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max
                volume</a></li>
              </ul>
              <div class="jp-progress">
                <div class="jp-seek-bar">
                  <div class="jp-play-bar"></div>
                </div>
              </div>
              <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
              </div>
              <div class="jp-time-holder">
                <div class="jp-current-time"></div>
                <div class="jp-duration"></div>
                <ul class="jp-toggles">
                  <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                  <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat
                    off</a></li>
                  </ul>
                </div>
              </div>
              <div class="jp-title">
                <ul>
                  <li>Audio Player</li>
                </ul>
              </div>
              <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your
                <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
              </div>
            </div>
          </div>
        </div>

        <div id="topicMenu"
        style="position: absolute; left:125px; top:80px; width:202px; height: 552px; display: none; overflow-x: hidden; overflow-y: auto;">
      </div>
    </div>

    <!-------------------------------------------->
    <!--	foundation							-->
    <!-------------------------------------------->
    <div id="foundation"
    style="z-index: -2; position: absolute; left: 0px; top: 0px; width: 1000px; height: 656px; margin: 0"></div>

    <!-------------------------------------------->
    <!--	whiteboard							-->
    <!-------------------------------------------->
    <div id="whiteboard"
    style="z-index: -1; position: absolute; left: 0px; top: 0px; width: 1000px; height: 646px; margin: 0">
    <div id="canvas"
    style="position: absolute; left: 350px; top: 103px; width: 316px; height: 153px; margin: 0"></div>
  </div>

  <!-------------------------------------------->
  <!--	textbox (choose text and font)		-->
  <!-------------------------------------------->
  <div id="textbox"
  style="z-index: -3; position: absolute; left: 0px; top: 0px; width: 1000px; height: 656px; margin: 0">
  <div id="textbox-html"
  style="display: block; position: relative; left: 180px; top: -500px; width: 640px; height: 300px; margin: 0">
  <div id="textbox-inner-html"
  style="display: block; position: relative; left: 0px; top: -400px; width: 0px; height: 0px; margin: 0"></div>
</div>
</div>

<!-------------------------------------------->
<!--  reportbox (choose content to report)  -->
<!-------------------------------------------->
<div id="reportbox"
style="z-index: -3; position: absolute; left: 0px; top: 0px; width: 1000px; height: 656px; margin: 0">
<div id="reportbox-html"
style="display: block; position: relative; left: 180px; top: -575px; width: 640px; height: 480px; margin: 0;">
<div id="reportbox-inner-html"
style="display: block; position: relative; left: 0px; top: -480px; width: 640px; height: 480px; margin: 0;"></div>
</div>
</div>

<div id="background"
style="z-index: 0; position: absolute; left: 0px; top: 0px; width: 1000px; height: 656px; margin: 0">
</div>
<div id="topic"
style="z-index: 0; position: absolute; left: 0px; top: 0px; width: 1000px; height: 656px; margin: 0">
<div id="billboard">
  <div id="billboardText"></div>
</div>
</div>

<!-------------------------------------------->
<!--	chat history						-->
<!-------------------------------------------->
<div id="chatHistory"
style="z-index: 0; position: absolute; left: 690px; top: 92px; width: 300px; height: 436px; margin: 0">
<div id="chatHistoryArea"
style="overflow-x: hidden; overflow-y: auto; position: relative; left: 7px; top: -420px; width: 286px; height: 407px; margin: 0">
<table id="chatHistoryTable">
</table>
</div>
</div>

<!-------------------------------------------->
<!--	emoticons (under chat history)		-->
<!-------------------------------------------->
<div id="emoticons"
style="z-index: 0; position: absolute; left: 690px; top: 531px; width: 300px; height: 56px; margin: 0">
</div>

<!-------------------------------------------->
<!--	chat box (under emoticons)			-->
<!-------------------------------------------->
<div id="chat"
style="z-index: 0; position: absolute; left: 690px; top: 590px; width: 300px; height: 56px; margin: 0">
<div id="chatAvatar"
style="position: absolute; left: 09px; top: 10px; width: 50px; height: 35px; margin: 0 auto">
</div>
<div id="chatTextBox"
style="position: absolute; left: 65px; top: 10px; width: 145px; height: 36px; margin: 0 auto">
<textarea name="chatTextArea" id="chatTextArea" style="width: 99%; height: 90%; resize: none;"
onkeypress="return handleChatKeyPress(event, this);"></textarea>
</div>
</div>

<!-------------------------------------------->
<!--	expand & shrink whiteboard icon		-->
<!-------------------------------------------->
<div id="expand"
style="z-index: 1; position: absolute; left: 624px; top: 79px; width: 36px; height: 36px; margin: 0"></div>
<div id="shrink"
style="z-index: 3; position: absolute; left: 900px; top: 62px; width: 51px; height: 51px; margin: 0"></div>

<!-------------------------------------------->
<!--	expand billboard icon		        -->
<!-------------------------------------------->
<div id="expandBillboard" data-toggle="modal" data-target="#billboardModal"></div>

<!-------------------------------------------->
<!--	titles for objects					-->
<!-------------------------------------------->
<div id="title-whiteboard"
style="z-index: 1; position: absolute; left: 368px; top: 82px; width: 85px; height: 30px; margin: 0"></div>
<div id="title-conversation"
style="z-index: 1; position: absolute; left: 707px; top: 82px; width: 92px; height: 30px; margin: 0"></div>

<!-- remove test-avatarChooser once testing is done -->
<!--
<div id="test-avatarChooser" style="layer-background-color:#003366; z-index: 3; position: absolute; left: 200px; top: 100px; width: 400px; height: 265px; margin: 0" >
</div>
-->
</div>

<!--	testing only (see upload.js)					-->
<span id="status"/>

<!-------------------------------------------->
<!--	Embed the sound here				-->
<!-------------------------------------------->
<span id="playSoundDummpID"></span>

<!-------------------------------------------->
<!--	WebPlayer Yahoo! plugin	v. 2.0.0	-->
<!--	(Begin)								-->
<!-------------------------------------------->
<script type="text/javascript">
var YWPParams = {
  theme: "silver",
  autoplay: true,
  autoadvance: true,
  volume: 0.20,
  playlink: true,
  displaystate: 0,
  defaultalbumart: "/chat_room/resources/images/logo_98x98.png"
};
</script>

<!-------------------------------------------->
<!-- Preferences							-->
<!-------------------------------------------->
<script type="text/javascript">
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//	default colours
var BROWSER_BACKGROUND_COLOUR = '#def1f8',
BACKGROUND_COLOUR = '#ffffff',
BORDER_COLOUR = '#e51937',
WHITEBOARD_BACKGROUND_COLOUR = '#e1d8d8',
WHITEBOARD_BORDER_COLOUR = '#a4918b',
WHITEBOARD_ICON_BACKGROUND_COLOUR = '#408ad2',
WHITEBOARD_ICON_BORDER_COLOUR = '#a4918b',
MENU_BACKGROUND_COLOUR = '#679fd2',
MENU_BORDER_COLOUR = '#043a6b',
ICON_COLOUR = '#e51937',
TEXT_COLOUR = '#e51937',
LABEL_COLOUR = '#679fd2',
BUTTON_BACKGROUND_COLOUR = '#a66500',
BUTTON_BORDER_COLOUR = '#ffc973';
</script>

<!-------------------------------------------->
<!-- Main									-->
<!-------------------------------------------->
<script type="text/javascript">
//	lets start the help system now
window.onload = function () {
  window.sessionID = '<%= id %>'
  window.userID = '<%= currentUser.id %>'
  window.ioUrl = '<%= ioUrl %>'

  var socketConfig = io.connect(window.ioUrl, {
    'reconnect': true,
    'reconnection delay': 500,
    'max reconnection attempts': 10
  }, function (result) {
    console.warn(result);
    var b = result;
  });

  socketConfig.on('config_info', function (config, result) {
    if (result) {
      BROWSER_BACKGROUND_COLOUR = result.colour_browser_background;
      BACKGROUND_COLOUR = result.colour_background;
      BORDER_COLOUR = result.colour_border;
      WHITEBOARD_BACKGROUND_COLOUR = result.colour_whiteboard_background;
      WHITEBOARD_BORDER_COLOUR = result.colour_whiteboard_border;
      WHITEBOARD_ICON_BACKGROUND_COLOUR = result.colour_whiteboard_icon_background;
      WHITEBOARD_ICON_BORDER_COLOUR = result.colour_whiteboard_icon_border;
      MENU_BACKGROUND_COLOUR = result.colour_menu_background;
      MENU_BORDER_COLOUR = result.colour_menu_border;
      ICON_COLOUR = result.colour_icon;
      TEXT_COLOUR = result.colour_text;
      LABEL_COLOUR = result.colour_label;
      BUTTON_BACKGROUND_COLOUR = result.colour_button_background;
      BUTTON_BORDER_COLOUR = result.colour_button_border;
    }

    //	OK, now is a good time to load the main.js script
    $.getScript("/chat_room/js/main.js").done(function (script, textStatus) {
      main(config, window.ioUrl);
    }).fail(function (jqxhr, settings, exception) {
      console.log("Error: unable to load main.js");
    });
  });

  socketConfig.emit("config_get_info", sessionID);
};
</script>
</body>

<div class="modal fade" id="billboardModal" tabindex="-1" role="dialog" aria-labelledby="billboardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="billboardModalLabel">Edit Billboard</h4>
      </div>
      <div class="modal-body">
        <textarea id="billboardEditor" name="billboardEditor"></textarea>
        <script type="text/javascript">
        CKEDITOR.replace('billboardEditor');
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveBillboard" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#saveBillboard').click(function () {
  var billboardData = CKEDITOR.instances['billboardEditor'].getData();

  socket.emit('updateTopic', window.topicID, billboardData);
  $('#billboardModal').modal('hide');
});
</script>

</html>
