<div ng-controller='GalleryController as gc' class='row'>
  <section id="email-template-editor" ng-controller="EmailTemplateEditorController as ec" ng-init="ec.preInit()">
    <h1 class="text-center">Edit Email Templates</h1>

    <div class="contentOffset list-group col-xs-3 mail-template-list-section">
      <div class="panel-heading mail-template-list-heading"><strong>Email Templates</strong></div>

      <div id="mail-template-list" class="mail-template-list">
        <span ng-repeat="(key, t) in ec.emailTemplates" ng-if="ec.addedList[t.id]">
          <a class="list-group-item border-radius-none" ng-click="ec.startEditingTemplate(key)" ng-if="!t.isCopy"
            ng-class="{'active': ec.isCurrent(key), 'list-group-item-white' : ec.isEditable(t, app.accountUser.isAdmin)}">

            <div ng-if="!ec.isEditable(t, app.accountUser.isAdmin)">
              {{::t.name}}
              <span class='pull-right glyphicon glyphicon-chevron-right' aria-hidden='true' ng-if='ec.viewingTemplateName != inherit["MailTemplateBase.name"]'></span>
              <span class='pull-right glyphicon glyphicon-chevron-down' aria-hidden='true' ng-if='ec.viewingTemplateName == inherit["MailTemplateBase.name"]'></span>
            </div>
          </a>

          <a class="list-group-item border-radius-none list-group-item-white" ng-repeat='(id, inherit) in ec.sortedEmailTemplates[t["MailTemplateBase.name"]] track by $index'
            ng-click="ec.startEditingTemplate(ec.findIndexFromId(inherit.id))" ng-if='ec.viewingTemplateName == inherit["MailTemplateBase.name"] && inherit.isCopy && t.id != inherit.id && inherit.MailTemplateBaseId == t.id'
            ng-class="{'active': ec.isCurrentId(inherit.id)}">

            <div class="input-group input-group-sm">
              <input type="text" class="form-control mail-list-input" ng-model="inherit.name" ng-class="{'inactive':!ec.isCurrentId(inherit.id)}" >

              <span class="input-group-addon" id="basic-addon3" ng-if="ec.isCurrentId(inherit.id)" title="{{inherit['MailTemplateBase.name']}}">
                {{inherit["MailTemplateBase.name"] | limitTo: 7}}{{inherit["MailTemplateBase.name"].length > 7 ? '...' : ''}}
              </span>

              <span class="input-group-btn" ng-if="ec.isCurrentId(inherit.id)">
                <button class="btn glyphicon glyphicon-remove" type="button" ng-click="ec.deleteTemplate(inherit, id, $event);"></button>
              </span>
            </div>
          </a>
        </span>
      </div>
    </div>

    <div class="col-xs-8  mail-template-details">
      <table>
        <tr>
          <td class="template-detail-name-column">Template Name:</td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="ec.currentTemplate.name">
              <span class="input-group-addon" id="basic-addon2">{{ec.currentTemplate["MailTemplateBase.name"]}}</span>
            </div>
            <div class="has-error text-center">{{ec.currentTemplate.error.name}}</div>
          </td>
        </tr>

        <tr>
          <td>Subject:</td>
          <td>
            <div>
              <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="ec.currentTemplate.subject">
            </div>
            <div class="has-error text-center">{{ec.currentTemplate.error.subject}}</div>
          </td>
        </tr>
      </table>
      <span>Content:</span>
      <textarea id="templateContent"></textarea>
      <div class="has-error text-center">{{ec.currentTemplate.error.content}}</div>
      <br>

      <button type="submit" class="btn btn-standart btn-red btn-small pull-right margin-left-10" ng-click="ec.resetMailTemplate()" ng-show="ec.resetButtonVisible(app.accountUser.isAdmin)">Cancel</button>
      <button id='mailCreateCopy' type="submit" class="btn btn-standart btn-lightgreen pull-right btn-small margin-left-10" ng-click="ec.openModal()">Save As</button>
      <button id='mailModifySaveCopy' type="submit" class="btn btn-standart btn-green pull-right btn-small margin-left-10" ng-click="ec.modifyAndSave()">Save</button>
      <button id='mailPreviewButton' type="submit" class="btn btn-standart btn-blue pull-right btn-small margin-left-10" ng-click="ec.previewMailTemplate()">Preview</button>
    </div>

    <div ng-init='ec.initGallery(gc)'>
      {{ upload = ec.galleryDropdownData(gc.currentDependency); "" }}
      <ng-include src="gc.templatesDir + 'modalWindows.html'"></ng-include>
    </div>

    <ng-include src="'/js/ngApp/components/dashboard-resources-emailTemplates/preview.html'"></ng-include>
    <ng-include src="'/js/ngApp/components/dashboard-resources-emailTemplates/confirm.html'"></ng-include>
    <ng-include src="'/js/ngApp/components/dashboard-resources-emailTemplates/modal.html'"></ng-include>
  </section>
</div>
