#email-template-editor {
    margin-top: 50px;
    height: 450px;

    .wysiwyg, iframe#templateContent-wysiwyg-iframe {
      width: 100% !important;
      height: 500px;
    }

    iframe#templateContent-wysiwyg-iframe {
      height: 471px;
    }
    .contentOffset {
      margin-left: 50px;
    }
    #templateContent {
        width: 100%;
        height: 450px;
        margin: 0 auto;
    }

    .mail-template-details {
         margin: 0 auto;
         margin-left: 15px;
         margin-bottom: 15px;
    }

    .mail-template-list {
        max-height: 650px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        padding: 0;
    }

    .mail-template-list-heading {
        background-color: #2F9F69 !important;
        color: white;
        border: 0px;
        border-radius: 0px;
    }

    .mail-template-list-section {
        border: 2px solid #2F9F69;
        border-radius: 0px;
        padding: 0;
    }

    .mail-template-input-text {
       border: none;
       border-color: transparent;
       border-style:none;
    }

    .has-error {
        color: #f00;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 370px;
        display: inline-block;
    }

    .preview-frame {
        width: 700px;
        min-height: 500px;
    }

    .btn-red {
        background-color:white;
        border-color: red !important;
        border-radius: 0px;
        color: red;
        border: 2px solid;
    }
    .btn-green {
        background-color:white;
        border-color: green !important;
        border-radius: 0px;
        color: green;
        border: 2px solid;
        margin-left: 5px;
    }
    .btn-lightgreen {
        background-color:white;
        border-color: mediumseagreen !important;
        border-radius: 0px;
        color: mediumseagreen;
        border: 2px solid;
        margin-left: 5px;
    }
    .btn-blue {
        background-color:white;
        border-color: cornflowerblue !important;
        border-radius: 0px;
        color: cornflowerblue;
        border: 2px solid;
        margin-left: 5px;
    }

    .list-group-item.active {
        background-color: #c0e2d1 !important;
        border: none;
    }

    .list-group-item {
        height: 50px;
        width: 100%;
        background-image: none;
        color: gray;
        background-color: #E8EAED !important;
        margin-bottom: 2px;
        border: none;
    }

    .list-group-item-white {
        height: 50px;
        width: 100%;
        background-image: none;
        color: gray;
        background-color: white !important;
        margin-bottom: 2px;
        border: none;
    }

    table {
      width: 100%;
    }

    tr {
      height: 40px;
      vertical-align: top;
    }

    .preview-content {
      width:750px;
    }

    .template-detail-name-column {
      width: 130px;
    }

    #mail-template-list {
      .form-control.inactive {
        border: none;
        box-shadow: none;
        width: 250px;
      }
    }

    #uploadTemplateResource {
      h1 {
        padding: 0 !important;
        margin: 15px !important;
        font-size: 3.3rem;
        font-weight: bolder;
      }
    }
}
