<div ng-if='myDashboard.isTabActive("facilitator")'>
  <h4 class='text-center'>Please select a <strong>Chat Session</strong></h4>

  <table class='table table-responsive table-dashboardElements'>
    <thead>
      <tr>
        <th>Account Name</th>
        <th>Chat Session Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat='au in myDashboard.accountUsers.facilitator.data' class="status-{{ au.session.showStatus }}">
      <tr>
        <td>{{ au.Account.name }}</td>
        <td>{{ au.session.name }}</td>
        <td>{{ au.session.startTime | date:dashboard.dateFormat }}</td>
        <td>{{ au.session.endTime | date:dashboard.dateFormat }}</td>
        <td>{{ au.session.showStatus }}</td>
        <td>
          <a href='{{ myDashboard.sessionBuilderUrl(au) }}' title='Go to Session Builder'><img src='/icons/dashboardElement_edit.png' /></a>
          <a ng-disabled='myDashboard.disablePlayButton' href='#' ng-click='myDashboard.redirectToChatSession(au.session.id)' class='go-to-chatroom glyphicon glyphicon-play' title='Go to Chatroom' />
        </td>
      </tr>
    </tbody>
  </table>

  <table class='table table-responsive table-dashboardElements table-dashboardElements-mobile'>
    <tbody ng-repeat='au in myDashboard.accountUsers.facilitator.data' class="status-{{ au.session.showStatus }}">
      <tr>
        <td>
          <div class="dashboardElements-icons">
            <a href='{{ myDashboard.sessionBuilderUrl(au) }}' title='Go to Session Builder'><img src='/icons/dashboardElement_edit.png' /></a>
            <a ng-disabled='myDashboard.disablePlayButton' href='#' ng-click='myDashboard.redirectToChatSession(au.session.id)' class='go-to-chatroom glyphicon glyphicon-play' title='Go to Chatroom'></a>
          </div>
          <span class="dashboardElements-title">Chat Session</span>
          <div class="dashboardElements-name">{{ au.session.name }}</div>
          <div>
            <table>
              <tbody>
                <tr>
                  <td>
                    <span class="dashboardElements-title">Start Date</span>
                    {{ au.session.startTime | date:dashboard.dateFormat }}
                  </td>
                  <td>
                    <span class="dashboardElements-title">End Date</span>
                    {{ au.session.endTime | date:dashboard.dateFormat }}
                  </td>
                  <td>
                    <span class="dashboardElements-title">Status</span>
                    {{ au.session.showStatus }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
