<div ng-if='myDashboard.isTabActive("participant")'>
  <h4 class='text-center'>Please select a <strong>Chat Session</strong> & Enter the <strong>Chat Room</strong></h4>

  <table class='table table-responsive table-dashboardElements'>
    <thead>
      <tr>
        <th>Chat Session Name</th>
        <th>Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat='au in myDashboard.accountUsers.participant.data'>
      <tr>
        <td>{{ au.session.name }}</td>
        <td class="capitalize">{{ au.session.type }}</td>
        <td>{{ au.session.startTime | date:dashboard.dateFormat }}</td>
        <td>{{ au.session.endTime | date:dashboard.dateFormat }}</td>
        <td>{{ au.session.showStatus }}</td>
        <td>
          <a ng-disabled='myDashboard.disablePlayButton' href='#' ng-click='myDashboard.redirectToChatSession(au.session.id)' class='go-to-green-button'>Enter Chat Room <span class='glyphicon glyphicon-menu-right'/></a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class='table table-responsive table-dashboardElements table-dashboardElements-mobile'>
    <tbody ng-repeat='au in myDashboard.accountUsers.participant.data'>
      <tr>
        <td>
          <div class="dashboardElements-icons">
              <a ng-disabled='myDashboard.disablePlayButton' href='#' ng-click='myDashboard.redirectToChatSession(au.session.id)' class='go-to-chatroom glyphicon glyphicon-play' title='Go to Chatroom'></a>
          </div>
          <table>
            <tbody>
              <tr>
                <td>
                  <span class="dashboardElements-title">Chat Session</span>
                  <div>{{ au.session.name }}</div>
                </td>
                <td>
                  <span class="dashboardElements-title">Type</span>
                  <div class="dashboardElements-type">{{ au.session.type }}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <table>
              <tbody>
                <tr>
                  <td>
                    <span class="dashboardElements-title">Start Date</span>
                    {{ au.session.startTime | date:dashboard.dateFormat }}
                  </td>
                  <td>
                    <span class="dashboardElements-title">End Date</span>
                    {{ au.session.endTime | date:dashboard.dateFormat }}
                  </td>
                  <td>
                    <span class="dashboardElements-title">Status</span>
                    {{ au.session.showStatus }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
