<!----------- MODALS ---------------------->

<section>
    <!-- add contact manually -->
    <div id="contactList-addContactManual" class="modal fade"  role="dialog">
        <div class="modal-dialog contactDetailsModal" style="width: 800px">
            <div class="modal-content border-green border-radius-none">
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss="modal">&times;</button>
                    <h2 class='modal-title text-center'>{{clc.contactModalTitle}}</h2>
                </div>

                <div class='modal-body text-gray-medium'>
                    <ng-include ng-hide="clc.importData.excel || clc.importData.csv" src="clc.basePath+'particles/modals-contact-table.tpl.html'"></ng-include>
                    <ng-include ng-show="clc.importData.excel" src="clc.basePath+'particles/modals-excel-import.tpl.html'"></ng-include>

                </div>

            </div>
        </div>
    </div>


    <!-- add new list-->
    <div id="contactList-addNewListModal" class="modal fade"  role="dialog">
        <div class="modal-dialog contactDetailsModal" style="width: 800px">
            <div class="modal-content border-green border-radius-none">
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss="modal">&times;</button>
                    <h2 class='modal-title text-center'>{{clc.listModalTitle}}</h2>
                </div>


                <div class='modal-body text-gray-medium'>
                    <uib-tabset justified="true">
                        <uib-tab heading="Contact List Name" active="clc.modalTab1">
                            <form ng-submit="clc.submitNewList()">
                                <div class="row text-center">
                                    <input id="new-list-name-input" ng-model="clc.newList.name" type="text">
                                    <div id="new-list-name-help-text">
                                        <p>You can define up to 16 of your own extra fields to your new List, for a more in-depth profile of your Contacts</p>
                                        <p>Click on Add Custom Fields to name your fields, which you can also modify at any time later on.</p>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-12'>

                                        <div class='btn-standart btn-red pull-left modals-btn' data-dismiss="modal">Cancel</div>
                                        <div class='btn-standart btn-green pull-right modals-btn' ng-show="!clc.listIdToEdit" ng-click="clc.submitNewList()">Add</div>
                                        <div class='btn-standart btn-green pull-right modals-btn' ng-show="clc.listIdToEdit"  ng-click="clc.updateList()" ng-class="{disabled:clc.newListErrorMessage}">Update</div>

                                    </div>
                                </div>
                            </form>

                        </uib-tab>
                        <uib-tab heading="Custom Fields" active="clc.modalTab2">
                            <form id="new-list-custom-fields" ng-submit="clc.submitNewList()">
                                <div  class="row">
                                    <br>
                                    <div class="error-message text-center col-md-12" ng-show="clc.newListErrorMessage"><code>{{clc.newListErrorMessage}} </code></div>
                                    <br><br>
                                    <div class="col-md-6 ">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField1" placeholder="Custom Field Name 1" ng-change="clc.checkCustomFields(1)" ng-class="{error: clc.newListError[1]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField2" placeholder="Custom Field Name 2" ng-change="clc.checkCustomFields(2)" ng-class="{error: clc.newListError[2]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField3" placeholder="Custom Field Name 3" ng-change="clc.checkCustomFields(3)" ng-class="{error: clc.newListError[3]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField4" placeholder="Custom Field Name 4" ng-change="clc.checkCustomFields(4)" ng-class="{error: clc.newListError[4]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField5" placeholder="Custom Field Name 5" ng-change="clc.checkCustomFields(5)" ng-class="{error: clc.newListError[5]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField6" placeholder="Custom Field Name 6" ng-change="clc.checkCustomFields(6)" ng-class="{error: clc.newListError[6]}">
                                    </div>

                                    <div class="col-md-6 ">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField7" placeholder="Custom Field Name 7" ng-change="clc.checkCustomFields(7)" ng-class="{error: clc.newListError[7]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField8" placeholder="Custom Field Name 8" ng-change="clc.checkCustomFields(8)" ng-class="{error: clc.newListError[8]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField9" placeholder="Custom Field Name 9" ng-change="clc.checkCustomFields(9)" ng-class="{error: clc.newListError[9]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField10" placeholder="Custom Field Name 10" ng-change="clc.checkCustomFields(10)" ng-class="{error: clc.newListError[10]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField11" placeholder="Custom Field Name 11" ng-change="clc.checkCustomFields(11)" ng-class="{error: clc.newListError[11]}">
                                        <input class="custom-fields" type="text" ng-model="clc.newList.customField12" placeholder="Custom Field Name 12" ng-change="clc.checkCustomFields(12)" ng-class="{error: clc.newListError[12]}">

                                    </div>
                                </div>



                                <div class='row'>
                                    <div class='col-md-12'>

                                        <div class='btn-standart btn-red pull-left modals-btn' data-dismiss="modal">Cancel</div>
                                        <div class='btn-standart btn-green pull-right modals-btn' ng-show="!clc.listIdToEdit" ng-click="clc.submitNewList()">Add</div>
                                        <div class='btn-standart btn-green pull-right modals-btn' ng-show="clc.listIdToEdit"  ng-click="clc.updateList()" ng-class="{disabled:clc.newListErrorMessage}">Update</div>

                                    </div>
                                </div>
                            </form>
                        </uib-tab>
                    </uib-tabset>


                </div>

            </div>
        </div>
    </div>

    <!-- drag and drop fields-->
    <div id="contactList-addNewListFieldsModal" class="modal fade" role="dialog">
        <div class="modal-dialog contactDetailsModal">
            <div class="modal-content border-green border-radius-none">
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss="modal">&times;</button>
                    <h2 class='modal-title text-center'>Map fields from EXCEL file</h2>
                </div>

                <div class='modal-body text-gray-medium'>
                  <form id="new-list-custom-fields-drag-drop" ng-submit="clc.submitNewList()">
                    <div class="row r">
                      <div id="contactList-fieldColumnLeft" class="col-md-5 panel panel-default">
                        <h3>Excel fields</h3>
                        <table>
                          <tr ng-repeat="f in clc.importedFields track by $index">
                            <td> <div class="contactList-drop-item" ng-drag="true" ng-drag-data="f">{{f.name}} <img src="/icons/ic_move.png" class="pull-right"></div> </td>
                          </tr>
                        </table>                               
                      </div>
                      <div id="contactList-fieldColumnRight" class="col-md-6 panel panel-default">
                        <h3>Contact List</h3>
                        <p class='pull-right'>Required fields*</p>  
                        <table>
                          <tr ng-repeat="cl in clc.contactListDropItems track by $index"  ng-drop="true" ng-drop-success="clc.onFieldMapDrop($data, cl)"> 
                            <td>{{cl.name}}</td> 
                            <td class="contactList-dropPlaceholderCell">
                              <div class="contactList-dropPlaceholder">                                                                
                                <div ng-show="cl.data" class="contactList-drop-item" ng-drag="true" ng-drag-data="cl">{{cl.data.name}} <img src="/icons/ic_move.png" class="pull-right"></div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <div class='row'>
                      <div class='col-md-12'>
                        <div class='btn-standart btn-red pull-left modals-btn' data-dismiss="modal">Cancel</div>
                        <div class='btn-standart btn-green pull-right modals-btn' ng-show="!clc.listIdToEdit" ng-click="clc.submitNewList()">Add</div>
                        <div class='btn-standart btn-green pull-right modals-btn' ng-show="clc.listIdToEdit" ng-click="clc.updateList()" ng-class="{disabled:clc.newListErrorMessage}">Update</div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- Manage columns view -->
    <div id="contactList-manageColumns" class="modal fade"  role="dialog">
        <div class="modal-dialog contactDetailsModal" style="width: 800px">
            <div class="modal-content border-green border-radius-none">
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss="modal">&times;</button>
                    <h2 class='modal-title text-center'>Manage Columns in View</h2>
                </div>
                <div class='modal-body text-gray-medium'>
                    <form class='form-horizontal' role='form'>

                        <!------------------------------------------>

                        <uib-accordion close-others="false">
                            <uib-accordion-group is-open="clc.modContentBlock.generalDetails">
                                <uib-accordion-heading>
                                    <div class="panel-label">
                                        General Details<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': clc.modContentBlock.generalDetails, 'glyphicon-chevron-right': !clc.modContentBlock.generalDetails}"></i>
                                    </div>
                                </uib-accordion-heading>
                    <span class="row">
                      <span class="col-md-3" ng-repeat="column in clc.lists.activeList.availableTables() track by $index">
                        <div class="check fields-to-show">
                            <input id="dashboard-contact-lists-fields-{{ $index }}" ng-click="clc.lists.activeList.toggleTableToShow(column)" class="kliiko-checkbox checkbox-btn btn-green" ng-model="clc.selectedTables[column]" type="checkbox" >
                            <label for="dashboard-contact-lists-fields-{{ $index }}" ></label>{{ column }}
                        </div>

                      </span>
                    </span>

                            </uib-accordion-group>


                            <uib-accordion-group is-open="clc.modContentBlock.history">
                                <uib-accordion-heading>
                                    <div class="panel-label">
                                        Participant Invitation History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': clc.modContentBlock.history, 'glyphicon-chevron-right': !clc.modContentBlock.history}"></i>
                                    </div>
                                </uib-accordion-heading>

                    <span class="row">
                      <span class="col-md-3" ng-repeat="column in clc.lists.activeList.participantsFields">
                        <div class="check fields-to-show">
                            <input id="dashboard-contact-lists-participants-{{ $index }}" ng-click="clc.lists.activeList.toggleTableToShow(column)" class="kliiko-checkbox checkbox-btn btn-green" ng-model="clc.selectedTables[column]" type="checkbox" >
                            <label for="dashboard-contact-lists-participants-{{ $index }}" ></label>{{ column }}
                        </div>

                      </span>
                    </span>

                            </uib-accordion-group>
                        </uib-accordion>

                        <!------------------------------------------>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class='btn-standart btn-green pull-right' data-dismiss="modal">Done</div>

                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
   
</section>