<div class="modal-dialog contactDetailsModal" style="width: 1025px">
    <div class="modal-content border-green border-radius-none">
        <div class='modal-header'>
            <h2 class='modal-title text-center no-margin-top'>{{clc.contactModalTitle}}</h2>
        </div>
        <div class='modal-body text-gray-medium'>
            <ng-include ng-hide="clc.importData.excel || clc.importData.csv" src="clc.basePath+'particles/modals-contact-table.tpl.html'"></ng-include>
            <ng-include ng-show="clc.importData.excel || clc.importData.csv" src="clc.basePath+'particles/modals-excel-csv-import.tpl.html'"></ng-include>
        </div>
    </div>
</div>
