<div id="modals-import-preview" class="modal fade"  role="dialog">
    <div class="modal-dialog contactDetailsModal">
        <div class="modal-content border-green border-radius-none">
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss="modal">&times;</button>
                <h2 class='modal-title text-center'>Import Contacts</h2>
            </div>
            <div class='modal-body text-gray-medium'>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Preview</h3>
                    </div>
                </div>

                <!---->

                <section id="contact-details-import-preview-table">

                    <table class='table table-responsive table-dashboardElements'>
                        <thead>
                        <tr>

                            <th ng-repeat="rowHeader in clc.lists.activeList.visibleFields" ng-click="clc.changeTableSortingFilter(rowHeader)"
                                ng-drag="true" ng-drag-data="$index" class="druggable">
                                <span class="th-name" ng-drop="true" ng-drop-success="clc.updateTableSorting($data,$index)">{{rowHeader}}</span>
                                <span><i class="glyphicon glyphicon-triangle-top" ng-show="clc.tableSort.by == rowHeader && clc.tableSort.reverse"></i></span>
                                <span><i class="glyphicon glyphicon-triangle-bottom" ng-show="clc.tableSort.by == rowHeader && !clc.tableSort.reverse"></i></span>
                            </th>

                            <!--<th ng-click="clc.showManageColumnsModal()"><img  src="/icons/grid.png" ></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="member-row" ng-repeat='member in clc.lists.activeList.importPreviewArray | orderBy: clc.tableSort.by : clc.tableSort.reverse' ng-class="{'selected':member._selected}">
                            <td ng-repeat="tableRow in clc.lists.activeList.visibleFields"> {{ member[tableRow] || '-' }}</td>
                        </tr>

                        </tbody>
                    </table>



                </section><!--/class="banners-section"-->

                <!---->
                <div class='row modal-control-buttons'>
                    <div class='col-md-12'>

                        <div class='btn-standart btn-red pull-left' data-dismiss="modal">Cancel</div>
                        <div class="pull-right">
                            <div class='btn-standart btn-green col-' ng-class="{'btn-disabled': !clc.importData.file.name}" ng-click='clc.reUpload()'>Re-Upload File</div>
                            <div class='btn-standart btn-green' ng-class="{'btn-disabled': !clc.importData.file.name}" ng-click='clc.reMap()'>Re-Map Fields</div>
                            <div class='btn-standart btn-green' ng-class="{'btn-disabled': !clc.importData.file.name}" ng-click='clc.addImportedContacts()'>Add</div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




