#modals-excel-csv-import {
  #modals-excel-csv-import-icon {
   margin-bottom: 50px;

  }


  .drop-box {
    background: #F8F8F8;
    border: 3px dashed #DDD;
    width: 300px;
    height: 65px;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
  }
  .dragover {
    border: 5px dashed blue;
  }

  .modal-control-buttons {
    margin-top: 30px;
  }

}


#contactList-addNewListFieldsModal {
  .contactList-drop-item {
    &:hover {
      cursor: -webkit-grab; 
      cursor: hand;
      background: $lightGreen;
    }
  }
}

#modals-import-preview {
  h3 {
    margin: 0 0 20px 0;
  }

  .modal-dialog.contactDetailsModal {
    width: 80%;
  }

  #contact-details-import-preview-table {
    width: 100%;
    overflow: auto;


    table {
      border-spacing: 0px;
      margin-bottom: 35px;
    }
    td {
      padding-left: 10px;
      border: none;

    }
  }
}
