<div  class="row">
    <br>
    <div class="error-message text-center col-md-12" ng-show="clc.newListErrorMessage"><code>{{clc.newListErrorMessage}} </code></div>
    <div class="col-md-6" ng-repeat="(key, item) in clc.newList.customFields track by $index">
      <input class="col-md-6 custom-fields" type="text" ng-model="clc.newList.customFields[key]" ng-change="clc.checkCustomFields($index+1)" placeholder="Custom Field Name {{$index+1}}" ng-class="{error: clc.newListError[$index+1]}">
    </div>
</div>
