// Helpers
@import "helpers/_variables.scss";


// Components
@import "components/_buttons.scss";
@import "components/_icons.scss";
@import "components/_modals.scss";
@import "components/_navbar.scss";
@import "components/_tables.scss";
@import "components/_text.scss";
@import "components/_video.scss";
@import "components/_inputs.scss";

// Base
@import "base/_fonts.scss";

// Layout
@import "layout/_layout.scss";

// Pages
@import "pages/_header.scss";
@import "pages/_forgotPassword.scss";
@import "pages/_login.scss";
@import "pages/_registration.scss";
@import "pages/_landing.scss";
@import "pages/_survey.scss";
@import "pages/_gallery.scss";
@import "pages/_brandColours.scss";
@import "pages/_sessions.scss";

// ngApp
@import "../js/ngApp/components/dashboard/dashboard";
@import "../js/ngApp/components/dashboard-accountProfile-upgradePlan/upgrade-plan";
@import "../js/ngApp/modules/messenger/messenger";
@import "../js/ngApp/components/dashboard-accountProfile-bannerMessages/bannerMessages";
@import "../js/ngApp/components/dashboard-resources-emailTemplates/mail-templates";
@import "../js/ngApp/components/dashboard-resources-topics/topics";
@import "../js/ngApp/components/dashboard-resources-contactLists/contact-lists";

//SHARED
.margin-top-2rem { margin-top: 2rem;}
.margin-top-3rem { margin-top: 3rem;}
.fade-disabled {opacity: .45 !important;}
