<div class='form-horizontal'>
  <ng-include src="'js/ngApp/components/dashboard-resources-contactList-survey/templates/answers/checkbox.html'"></ng-include>
</div>

<div class='form-horizontal'>
  <div class='form-group' ng-repeat='cd in sc.contactDetails track by $index'>
    <label class='col-xs-2 col-sm-1 control-label' for='{{ cd.name }}'>
      {{ cd.name }}
    </label>

    <div class='col-xs-10 col-sm-7'>
      <div class='input-group' ng-if='cd.input'>
        <input type='text' class='form-control' id='{{ cd.name }}' placeholder='' ng-disabled='cd.disabled'>

        <span class='input-group-addon' ng-if='!cd.canDisable'>@</span>
        <span class='input-group-addon' ng-if='cd.canDisable'>
          <span class='glyphicon' ng-class="{'glyphicon-remove': cd.disabled, 'glyphicon-ok': !cd.disabled}" ng-click='sc.addContactDetail(cd, object.order, question)'></span>
        </span>
      </div>

      <div ng-if='cd.select'>
        <select class='form-control' id='{{ cd.name }}'>
          <option ng-repeat='option in cd.options' value='{{ option }}'>{{ option }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
