<div ng-sortable='sc.answerSortOptions' ng-init='question.type = "textarea"'>
  <div class='form-group' ng-repeat='answer in question.answers track by $index'>
    <div class='col-sm-8'>
      <textarea class='form-control' id='answers_{{object.order}}_{{ answer.order }}' placeholder='Answer' rows='5' disabled
        ng-model='answer.name'>
      </textarea>

      <span class='glyphicon glyphicon-remove' ng-if='sc.canChangeAnswers(-1, question)' ng-click='sc.changeAnswers(-1, question, $index)'></span>
    </div>
  </div>
</div>

<div class='col-sm-12'>
  <div class='col-sm-offset-2'>
    <img src='/icons/add_new_list_blue.png' ng-if='sc.canChangeAnswers(1, question)' ng-click='sc.changeAnswers(1, question)' />
  </div>
</div>
