<div class='col-md-12 fixed-bottom-margin' id='GalleryController' ng-controller='GalleryController as gc'>
  <div>
    {{ upload = sc.galleryDropdownData(gc.currentModalSet, gc.currentDependency); "" }}
    <ng-include src="gc.templatesDir + 'modalWindows.html'"></ng-include>
  </div>

  <div class='dashboard-container' ng-init='sc.initGallery(gc)'>

    <form id='manageForm' name='sc.manageForm' novalidate>
      <fieldset ng-disabled='sc.submitingForm'>
        <div class='col-md-offset-3 col-md-6'>
          <h2 class='text-center'>{{ sc.currentSurveyMode }} Survey</h2>
        </div>
        <div class='col-md-3 text-right'>
          <button class='btn btn-addNewElement btn-green' ng-click="sc.changePage('index')">Back</button>
        </div>

        <div class='col-sm-12'>
          <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/surveyHeader.html'"></ng-include>
        </div>

        <div class='col-sm-12' ng-repeat='object in sc.defaultQuestions.slice(0, 3) track by $index'>
          <div ng-init='question = sc.initQuestion(object, sc.survey.SurveyQuestions[object.order])'>
            <div id='panel-{{ object.order }}' class='panel panel-default border-radius-none'>
              <div class='panel-heading' ng-if='!object.hardcodedName'><strong>Question #{{ object.order + 1 }}</strong></h4></div>
              <div class='panel-heading' ng-if='object.hardcodedName'><strong>{{ object.name }}</strong></h4></div>
              <div class='panel-body'>
                <ng-form name='{{ object.order }}'>
                  <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/question.html'"></ng-include>
                  <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/answers.html'"></ng-include>
                </ng-form>
              </div>
              <div class='panel-footer' ng-if='!sc.survey.confirmedAt && !question.required'>
                <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/questionFooter.html'"></ng-include>
              </div>
            </div>
          </div>
        </div>

        <div class='col-sm-12'>
          <hr class='survey-hr' />
          <h4><strong>Advanced Recruiter</strong></h4>
          <h5>
            Select up to 3 further questions of different question types.<br />
            Video and audio files can be added to the first 2 of those types.
          </h5>
        </div>
        <div class='col-sm-12' ng-repeat='object in sc.defaultQuestions.slice(3, 6) track by $index'>
          <div ng-init='question = sc.initQuestion(object, sc.survey.SurveyQuestions[object.order])'>
            <uib-accordion close-others='false'>
              <uib-accordion-group is-open='object.open' id='panel-{{ object.order }}' class='border-radius-none'>
                <uib-accordion-heading>
                  <div>
                    <strong>{{ object.name }}</strong>
                    <i class='pull-right glyphicon' ng-class="{'glyphicon-chevron-down': object.open, 'glyphicon-chevron-right': !object.open}"></i>
                  </div>
                </uib-accordion-heading>

                <ng-form name='{{ object.order }}'>
                  <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/question.html'"></ng-include>
                  <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/answers.html'"></ng-include>
                  <div ng-if='!sc.survey.confirmedAt && !question.required'>
                    <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/questionFooter.html'"></ng-include>
                  </div>
                </ng-form>
              </uib-accordion-group>
            </uib-accordion>
          </div>
        </div>
        <div class='col-sm-12'>
          <hr class='survey-hr' />
        </div>

        <div class='col-sm-12' ng-repeat='object in sc.defaultQuestions.slice(6, 10) track by $index'>
          <div ng-init='question = sc.initQuestion(object, sc.survey.SurveyQuestions[object.order])'>
            <ng-form name='{{ object.order }}'>
              <div id='panel-{{ object.order }}' class='panel panel-default border-radius-none'>
                <div class='panel-heading' ng-if='!object.hardcodedName'><strong>Question #{{ object.order + 1 }}</strong></h4></div>
                <div class='panel-heading' ng-if='object.hardcodedName'><strong>{{ object.name }}</strong></h4></div>
                <div class='panel-body'>
                  <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/question.html'"></ng-include>
                  <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/answers.html'"></ng-include>
                </div>
                <div class='panel-footer' ng-if='!sc.survey.confirmedAt && !question.required'>
                  <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/questionFooter.html'"></ng-include>
                </div>
              </div>
            </ng-form>
          </div>
        </div>

        <div class='col-sm-12'>
          <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/surveyFooter.html'"></ng-include>
        </div>

        <div class='col-sm-12'>
          <hr class='survey-hr' />

          <button class='btn btn-addNewElement btn-green' data-toggle='modal' data-target='#previewModal' ng-click='sc.showPreview()'>Preview</button>
          <button class='btn btn-addNewElement btn-green' ng-click='sc.finishManage()'>Finish</button>

          <span class='has-error'>
            <span class='help-block'>{{ sc.submitError }}</span>
          </span>
        </div>

        <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/previewModal.html'"></ng-include>
      </fieldset>
    </form>
  </div>
</div>
