<div class='modal fade' id='previewModal' role='dialog'>
  <div class='modal-dialog surveyPreviewModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
      </div>
      <div class='modal-body form-horizontal'>
        <ng-include src="'/js/ngApp/components/dashboard-resources-contactLists-survey/templates/preview.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
