<div class='col-xs-12'>
  <div class='dashboard-container'>
    <div class='row'>
      <div>
        <h2 class='text-center'>Manage Brand Colour</h2>
      </div>
      <div class='text-right'>
        <button class='btn btn-addNewElement btn-green' ng-click='bcc.undoCurrentScheme()' ng-if='bcc.originalScheme'>Undo</button>
        <button class='btn btn-addNewElement btn-green' ng-click="bcc.changePage('index')">Back</button>
        <button class='btn btn-addNewElement btn-green' ng-click='bcc.finishManage()'>Save</button>
      </div>
    </div>

    <form class='row' name='bcc.colorForm' novalidate>
      <div class='col-xs-12 col-md-7'>
        <div class='row'>
          <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementName.html'"></ng-include>
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            <div class='row'>
              <div class='col-xs-12'>
                <h4>Choose your Chat Room colours</h4>
              </div>

              <div class='col-xs-6' ng-repeat='field in bcc.manageFields.chatRoom'>
                {{ scheme = bcc.scheme.colours; "" }}
                <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementColors.html'"></ng-include>
              </div>
            </div>
          </div>

          <div class='col-xs-12'>
            <div class='row'>
              <div class='col-xs-12'>
                <h4>Choose your Particpant colours</h4>
              </div>

              <div class='col-xs-3 col-md-4 col-lg-3' ng-repeat='field in bcc.manageFields.participants'>
                {{ scheme = bcc.scheme.colours.participants; "" }}
                <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementColors.html'"></ng-include>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-xs-12 col-md-5 manage-preview' style='background-color: {{ bcc.scheme.colours.browserBackground }};'>
        <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/preview.html'"></ng-include>
      </div>
    </form>
  </div>
</div>
