<div class='col-xs-12'>
  <div class='dashboard-container'>
    <div class='row'>
      <div>
        <h2 class='text-center'>Manage Brand Color</h2>
      </div>
      <div>
        <div class="pull-left">
          <button id="brand-colour-back-to-default" class='btn btn-standart btn-margin btn-green btn-large margin-left-15'>Back to Default Scheme</button>
        </div>
        <div class="pull-right">
          <button id="brand-colour-undo" class='btn btn-standart btn-margin btn-green btn-small' ng-click='bcc.undoCurrentScheme()' ng-if='bcc.originalScheme'>Undo</button>
          <button id="brand-colour-back" class='btn btn-standart btn-margin btn-red btn-small' ng-click="bcc.changePage('indexBack')"><span>Back</span></button>
          <button id="brand-colour-save" class='btn btn-standart btn-margin btn-green btn-small' ng-click='bcc.finishManage()'>Save</button>
          <button id="brand-colour-save-as" class='btn btn-standart btn-margin btn-lightgreen btn-small'>Save As</button>
      </div>
      </div>
    </div>

    <form class='row' name='bcc.colorForm' novalidate>
      <div class='col-xs-12 col-md-7'>
        <div class='row'>
          <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementName.html'"></ng-include>
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            <div class='row'>
              <div class='col-xs-12'>
                <h4>Choose your Chat Room colors</h4>
              </div>
              <div class='col-xs-6' ng-repeat='field in bcc.manageFields.chatRoom'>
                <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementColors.html'"></ng-include>
              </div>
              <div class='col-xs-12'>
                <h4>Choose your Email colors</h4>
              </div>
              <div class='col-xs-6' ng-repeat='field in bcc.manageFields.email'>
                <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementColors.html'"></ng-include>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-xs-12 col-md-5 manage-preview' style='background-color: {{ bcc.scheme.colours.browserBackground }};'>
        <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/preview.html'"></ng-include>
      </div>
    </form>
  </div>
</div>
