<div class='col-md-12'>
  <div class='col-md-12'>
    <div class='dashboard-container'>
      <div class='row'>
        <div class='col-md-offset-3 col-md-6'>
          <h2 class='text-center'>Manage Brand Colour</h2>
        </div>
        <div class='col-md-3 text-right'>
          <button class='btn btn-addNewElement btn-green' ng-click="bcc.changePage('index')">Back</button>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12'>
    <div class='row'>
      <div class='col-xs-12 col-sm-5 col-md-4'>
        <div class='hidden-xs'>
          <div class='row'>
            <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementName.html'"></ng-include>
          </div>
        </div>

        <div class='visible-xs-block'>
          <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementName.html'"></ng-include>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12 col-sm-5 col-md-4'>
        <div class='hidden-xs'>
          <div class='row' ng-repeat='field in bcc.manageFields'>
            <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementColors.html'"></ng-include>
          </div>
        </div>

        <div class='visible-xs-block'>
          <div ng-repeat='field in bcc.manageFields'>
            <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/formElementColors.html'"></ng-include>
          </div>
        </div>
      </div>

      <div class='col-xs-12 col-sm-7 col-md-8' style='background-color: {{ bcc.scheme.colour_browser_background }};'>
        <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/preview.html'"></ng-include>
      </div>
    </div>
  </div>

  <div class='col-md-12'>
    <div class='dashboard-container'>
      <div class='row'>
        <div class='col-md-offset-9 col-md-3 text-right'>
          <button class='btn btn-addNewElement btn-green' ng-click="bcc.finishManage()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
