<div class='modal fade' id='previewModal' role='dialog'>
  <div class='modal-dialog surveyPreviewModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header' style='background-color: {{ bcc.previewScheme.colour_browser_background }};'>
        <div class='row'>
          <div class='col-xs-12'>
            <button type='button' class='close' ng-click='bcc.closeModelPreview()'>&times;</button>
          </div>
        </div>
      </div>
      <div class='modal-body form-horizontal' style='background-color: {{ bcc.previewScheme.colour_browser_background }};'>
        <div class='row'>
          <div class='col-xs-12'>
            <ng-include src="'/js/ngApp/components/dashboard-resources-brandColours/templates/preview.html'"></ng-include>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
