<div class='text-center remove-link-line'>
  <a href='' class="btn btn-dashboard-menu"><span>Upgrade Plan<img src='/icons/upgrade_blue.png' alt='' class='pull-right' /></a>
  <a href='' class="btn btn-dashboard-menu">Account Managers<img src='/icons/account_manager_blue.png' alt='' class='pull-right' /></a>
</div>
