<div class='text-center remove-link-line'>
  <a href='/dashboard/upgradeplans'>
    <button type='button' class='btn-dashboard-menu'>Upgrade Plan<img src='/icons/ic_tab_sessions_active.png' alt='' class='pull-right' /></button>
  </a>

  <a href='/dashboard/accountmanager'>
    <button type='button' class='btn-dashboard-menu'>
      Account Managers
      <img src='/icons/ic_tab_sessions_active.png' alt='' class='pull-right' />
    </button>
  </a>
</div>
