<div class='text-center'>
  <a href='/dashboard/upgradeplans'>
    <button type='button' class='btn-dashboard-menu'>Upgrade Plan<img src='../icons/ic_tab_sessions_active.png' alt='' class='pull-right' /></button>
  </a>
  <button type='button' class='btn-dashboard-menu'>Account Managers<img src='../icons/ic_tab_sessions_active.png' alt='' class='pull-right' /></button>
  <%if(currentUser.role == "admin") { %>
    <a href="/dashboard/uploadbanner">
      <button type="button" class="btn-dashboard-menu">Upload banner<img src="../icons/ic_tab_sessions_active.png" alt="" class='pull-right' /></button>
    </a>
  <% } %>
</div>

<div class='dropdown'>
  <button class='btn-header-dropdown' type='button' id='headerDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
    My Details
    <span class='caret'></span>
  </button>
  <ul class='dropdown-menu' aria-labelledby='headerDropdown'>
    <li><a href='#'>Contact Details<img src='../icons/ic_tab_sessions_active.png' alt='' class='dropdown-menu-right' /></a></li>
    <li><a href='/dashboard/changepassword'>Change Password<img src='../icons/ic_tab_sessions_active.png' alt='' class='dropdown-menu-right' /></a></li>
    <li><a href='/dashboard/'>My Dashboard<img src='../icons/ic_tab_sessions_active.png' alt='' class='dropdown-menu-right' /></a></li>
    <li><a href='#'>Payment Details<img src='../icons/ic_tab_sessions_active.png' alt='' class='dropdown-menu-right' /></a></li>
    <%if(currentUser.role == "admin") { %>
      <li><a href='/dashboard/changepassword'>Upload Banner<img src='../icons/ic_tab_sessions_active.png' alt='' class='dropdown-menu-right' /></a></li>
    <% } %>
    <li><a href='/logout'>Logout<img src='../icons/ic_tab_sessions_active.png' alt='' class='dropdown-menu-right' /></a></li>
  </ul>
</div>
