<a href="/dashboard/upgradeplans">
  <button type="button" class="btn-dashboard-menu">Upgrade Plan<img src="../icons/ic_tab_sessions_active.png" alt="" class="pull-right img-dashboard-menu" /></button>
</a>
<button type="button" class="btn-dashboard-menu">Payment Details<img src="../icons/ic_tab_sessions_active.png" alt="" class="pull-right img-dashboard-menu" /></button>
<button type="button" class="btn-dashboard-menu">Account Managers<img src="../icons/ic_tab_sessions_active.png" alt="" class="pull-right img-dashboard-menu" /></button>
<button type="button" class="btn-dashboard-menu">Contact Details<img src="../icons/ic_tab_sessions_active.png" alt="" class="pull-right img-dashboard-menu" /></button>
<a href="/dashboard/changepassword">
  <button type="button" class="btn-dashboard-menu">Password<img src="../icons/ic_tab_sessions_active.png" alt="" class="pull-right img-dashboard-menu" /></button>
</a>
<%if(currentUser.role == "admin") { %>
  <a href="/dashboard/uploadbanner">
    <button type="button" class="btn-dashboard-menu">Upload banner<img src="../icons/ic_tab_sessions_active.png" alt="" class="pull-right img-dashboard-menu" /></button>
  </a>
<% } %>
