<button type="button" class="btn-buy-chat">Buy Chat Sessions</button>
<button type="button" class="btn-details-managers-etc">Payment Details</button>
<button type="button" class="btn-details-managers-etc">Account Managers</button>
<button type="button" class="btn-details-managers-etc">Contact Details</button>
<a href="/dashboard/changepassword">
  <button type="button" class="btn-details-managers-etc">Password</button>
</a>
<%if(currentUser.role == "admin") { %>
  <a href="/dashboard/uploadbanner">
    <button type="button" class="btn-details-managers-etc">Upload banner</button>
  </a>
<% } %>
