<div class='text-center remove-link-line'>
  <a href='' class="btn btn-dashboard-menu"><span>Upgrade Plan</span><img src='/icons/upgrade_blue.png' alt='' /></a>
  <a href='dashboard/accountmanager' class="btn btn-dashboard-menu"><span>Account Managers</span><img src='/icons/account_manager_blue.png' alt='' /></a>
</div>
