<div class='modal fade' id='changePasswordModal' role='dialog' ng-controller="ChangePasswordModalController as cpmd">
  <div class='modal-dialog changePasswordModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <h2 class='modal-title text-center'>Change Password</h2>
      </div>
      <div class='modal-body'>
        <div class='tab-pane fade in active'>
          <div class='text-center background-green'><b id='changePasswordMessage'></b></div>
          <div id='changePasswordError' class='text-center background-red'></div>
          <form method="post" ng-submit="cpmd.changePasswordData(cpmd.passwordData, cpmd.changePasswordForm)" name="cpmd.changePasswordForm">

            <div class="form-group">
              <label for="password">New Password</label>
              <input ng-model="cpmd.passwordData.password" type="password" class="form-control center-block" name="password" id="password" placeholder="">
            </div>

            <div class="form-group">
              <label for="repassword">Confirm New Password</label>
              <input ng-model="cpmd.passwordData.repassword" type="password" class="form-control center-block" name="repassword" id="repassword" placeholder="">
            </div>

            <div class='modal-footer'>
                <button type="submit" ng-show="cpmd.changePasswordForm.$dirty"
                        class="btn btn-standart btn-green btn-small pull-right">Update</button>
                <button type="button" ng-click="cpmd.cancel()"
                        class="btn btn-standart btn-red btn-small pull-left">Cancel</button>&nbsp;&nbsp;
                <button type="button" ng-show="cpmd.changePasswordForm.$pristine" ng-click="cpmd.cancel()"
                        class="btn btn-standart btn-green btn-small pull-right">Done</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
