<div class='modal fade' id='changePasswordModal' role='dialog'>
  <div class='modal-dialog changePasswordModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Change Password</h2>
      </div>
      <div class='modal-body'>
        <div class='tab-pane fade in active'>
          <div class='text-center background-green'><b id='changePasswordMessage'></b></div>
          <div id='changePasswordError' class='text-center background-red'></div>
          <form class='changePasswordForm'>
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control center-block" name="password" id="password" placeholder="">
            </div>
            <div class="form-group">
              <label for="repassword">Confirm New Password</label>
              <input type="password" class="form-control center-block" name="repassword" id="repassword" placeholder="">
            </div>
            <div class='modal-footer'>
              <button type='button' class='btn-simple border-green text-green-dark' data-dismiss='modal'>Close</button>
              <button type='button' class='btn-simple border-green text-green-dark' id='changePasswordButton'>Done</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
