<div class='modal fade' id='contactDetailsModal' role='dialog' ng-controller="ContactDetailsModalController as cdm">
  <div class='modal-dialog contactDetailsModal'>
    <div class='modal-content border-red border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Contact Details</h2>
      </div>
      <div class='modal-body'>
        <form class='form-horizontal' method='post' ng-submit='cdm.updateUserData(cdm.userData, cdm.userDetailsForm)' name='cdm.userDetailsForm'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='col-md-6'>
                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='firstName'>First name<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.firstName }}</span>
                    <input type='text' class='form-control' id='firstName' placeholder='First name' ng-model='cdm.userData.firstName'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='lastName'>Last name<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.lastName }}</span>
                    <input type='text' class='form-control' id='lastName' placeholder='Last name' ng-model='cdm.userData.lastName'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='email'>Email<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.email }}</span>
                    <input type='email' class='form-control' id='email' placeholder='Email' ng-model='cdm.userData.email'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='gender'>Gender<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <div class='has-error text-red-dark'>{{ cdm.errors.gender }}</div>
                    <label class='radio-inline'><input type='radio' value='male' name='radio_gender' ng-model='cdm.userData.gender'>Male</label>
                    <label class='radio-inline'><input type='radio' value='female' name='radio_gender' ng-model='cdm.userData.gender'>Female</label>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='mobile'>Mobile number</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.mobile }}</span>
                    <input type="text" international-phone-number ng-model='cdm.userData.mobile' default-country='{{cdm.phoneCountryData}}' id="mobile" class='form-control'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='landlineNumber'>Landline number</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.landlineNumber }}</span>
                    <input type="text" international-phone-number ng-model='cdm.userData.landlineNumber' default-country='{{cdm.landlineNumberCountryData}}' id="landlineNumber" class='form-control'>
                  </div>
                </div>
              </div>

              <div class='col-md-6'>
                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='postalAddress'>Postal address</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.postalAddress }}</span>
                    <input type='text' class='form-control' id='postalAddress' placeholder='Postal address' ng-model='cdm.userData.postalAddress'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='city'>City</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.city }}</span>
                    <input type='text' class='form-control' id='city' placeholder='City' ng-model='cdm.userData.city'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='state'>State</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.state }}</span>
                    <input type='text' class='form-control' id='state' placeholder='State' ng-model='cdm.userData.state'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='postCode'>Postcode</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.postCode }}</span>
                    <input type='text' class='form-control' id='postCode' placeholder='Postcode' ng-model='cdm.userData.postCode'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='country'>Country</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.country }}</span>
                    <input type='text' class='form-control' id='country' placeholder='Country' ng-model='cdm.userData.country'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='companyName'>Company name</label>
                  <div class='col-md-8'>
                    <span class='has-error text-red-dark'>{{ cdm.errors.companyName }}</span>
                    <input type='text' class='form-control' id='companyName' placeholder='Company name' ng-model='cdm.userData.companyName'>
                  </div>
                </div>
              </div>

              <div class='col-md-12'>
                <span class="pull-right">
                  <button type="button" ng-show="cdm.userDetailsForm.$dirty" ng-click="cdm.cancel()" class="btn border-red text-red-dark border-radius-none background-transp pull-right- btn-md">Cancel</button>&nbsp;&nbsp;
                  <button type="submit" ng-show="cdm.userDetailsForm.$dirty" class="btn border-green text-green-dark border-radius-none background-transp pull-right- btn-md">Update</button>
                  <button type="button" ng-show="cdm.userDetailsForm.$pristine" ng-click="cdm.cancel()" class="btn border-green text-green-dark border-radius-none background-transp pull-right- btn-md">Done</button>
                </span>
                <div class='check'>
                  <input ng-model='cdm.userData.reveiveNewsLetters' type='checkbox' class='checkbox-login' name='reveiveNewsLetters' id='reveiveNewsLetters'/>
                  <label class='checkbox-signup text-no-bold' for='reveiveNewsLetters'>
                    Yes send me the Klzii Newsletter which includes tips and updates.
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
