<div class='modal fade' id='contactDetailsModal' role='dialog' ng-controller="ContactDetailsModalController as cdm">
  <div class='modal-dialog contactDetailsModal'>
    <div class='modal-content border-red border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Contact Details</h2>
      </div>

      <div class='modal-body'>
          <form method="post" ng-submit="cdm.updateUserData(cdm.userData, cdm.userDetailsForm)" name="cdm.userDetailsForm">
            <div class="form-group">
              <table class="table table-no-inside-borders text-left text-gray-medium table-v-content-middle">
                <tr>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  <div class="text-red-dark"> * <i>Required</i> </div>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="text-no-bold text-login-page" for="firstName">First name</label>
                  </td>
                  <td>
                    <input  id="first_name" ng-model="cdm.userData.firstName" type="text" value="" class="form-control" name="firstName" placeholder="First name" required="true">
                  </td>
                  <td  class="text-red-dark">
                      *
                  </td>
                  <td>
                    <label class="text-no-bold text-login-page" for="firstName">
                      Postal
                      <br>
                      Address
                    </label>
                  </td>
                  <td>
                    <input type="text" ng-model="cdm.userData.postalAddress" class="form-control" name="postalAddress" id="postal-address" placeholder="Postal Address">
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error-column">
                    <span class="has-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="text-no-bold text-login-page" for="lastName">Last name</label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.lastName" type="text" value="" class="form-control" name="lastName" id="last_name" placeholder="Last name" required="true">
                  </td>
                  <td  class="text-red-dark">
                    *
                  </td>
                  <td>
                      <label class="text-no-bold text-login-page" for="lastName">City</label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.city" type="text" value="" class="form-control" name="lastName" id="last_name" placeholder="City">
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error-column">
                    <span class="has-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="text-no-bold text-login-page" for="email">Email</label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.email" type="email" value="" class="form-control" name="email" id="email" placeholder="Email" required="true">
                  </td>
                  <td  class="text-red-dark">
                    *
                  </td>
                  <td>
                    <label class="text-no-bold text-login-page" for="email">State</label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.state" type="text" value="" class="form-control" name="state" id="state" placeholder="State">
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error-column">
                    <span class="has-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="text-no-bold text-login-page" for="gender">Gender</label>
                  </td>
                  <td>
                    <label for="gender_male_step2" class="radio-button">
                      <input type="radio" ng-model="cdm.userData.gender" name="gender_step2" value="male" id="gender_male_step2" ng-class="{checked:cdm.userData.gender == 'male'}">

                      <span class="checkbox-signup btn-radius-text">Male</span>
                    </label>

                    <label for="gender_female_step2" class="radio-button">
                      <input type="radio" ng-model="cdm.userData.gender"  name="gender_step2" value="female" id="gender_female_step2" ng-class="{checked:cdm.userData.gender == 'female'}">
                      <span class="checkbox-signup btn-radius-text btn-radius-padding-left">Female</span>
                    </label>


                    </label>
                  </td>
                  <td  class="text-red-dark">
                   <!-- *-->
                  </td>
                  <td>
                    <label class="text-no-bold text-login-page" for="email">Postcode</label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.postCode" type="text" value="" class="form-control" id="postCode" name="postCode" placeholder="Postcode">
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error-column">
                    <span class="has-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="text-no-bold text-login-page" for="mobile">
                      Mobile
                      <br>
                      Number
                    </label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.mobile" type="tel" value="" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required="true">
                  </td>
                  <td  class="text-red-dark">
                    *
                  </td>
                  <td>
                    <label class="text-no-bold text-login-page" for="country">Country</label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.country" type="text" value="" class="form-control" id="country" name="country" placeholder="Country">
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error-column">
                    <span class="has-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="text-no-bold text-login-page" for="landline_number">
                      Landline
                      <br>
                      Number
                    </label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.landlineNumber" type="text" value="" class="form-control" name="landline_number" id="landline_number" placeholder="Landline Number">
                  </td>
                  <td  class="text-red-dark">
                    <!--*-->
                  </td>
                  <td>
                    <label class="text-no-bold text-login-page" for="copmany-name">
                      Company
                      <br>
                      Name
                    </label>
                  </td>
                  <td>
                    <input ng-model="cdm.userData.companyName" type="text" value="" class="form-control" name="company-name" id="company-name" placeholder="Company Name">
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error-column">
                    <span class="has-error"></span>
                  </td>
                </tr>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <span class="pull-right">
                    <button type="button" ng-show="cdm.userDetailsForm.$dirty" ng-click="cdm.cancel()" class="btn border-red text-red-dark border-radius-none background-transp pull-right- btn-md">Cancel</button>&nbsp;&nbsp;
                  <button type="submit" ng-show="cdm.userDetailsForm.$dirty" class="btn border-green text-green-dark border-radius-none background-transp pull-right- btn-md">Update</button>
                  <button type="button" ng-show="cdm.userDetailsForm.$pristine" ng-click="cdm.cancel()" class="btn border-green text-green-dark border-radius-none background-transp pull-right- btn-md">Done</button>
                  </span>
                  <div class="check">
                    <input ng-model="cdm.userData.tipsAndUpdate" type="checkbox" class="checkbox-login" name="tipsAndUpdate" id="tipsAndUpdate"/>
                    <label for="tipsAndUpdate"></label>
                    <span  class="checkbox-signup" id="tipsAndUpdate">Yes send me the Kliiko Newsletter which includes tips and updates.</span>
                  </div>
                </div>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
</div>
