<div class='modal fade' id='createNewAccountModal' role='dialog' ng-controller="CreateNewAccountModalController as cnamc">
  <div class='modal-dialog createNewAccountModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <h2 class='modal-title text-center'>Create New Account</h2>
      </div>
      <div class='modal-body'>
        <div class='tab-pane fade in active'>
          <div class='text-center background-green'><b id='createNewAccountMessage'></b></div>
          <div id='createNewAccountError' class='text-center background-red'></div>
          <form method="post" ng-submit="cnamc.createNewAccount()" name="cnamc.createNewAccountForm">

            <div class="form-group">
              <label for="newAccountName">Select name for your account</label>
              <input ng-model="cnamc.accountData.accountName" type="text" class="form-control center-block" name="newAccountName" id="newAccountName" placeholder="">
            </div>

            <div class='modal-footer'>
                <button type="button" ng-click="cnamc.cancel()"
                        class="btn btn-standart btn-red btn-small pull-left">Cancel</button>
                <button type="button" ng-click="cnamc.createNewAccount()"
                        class="btn btn-standart btn-green btn-small pull-right">Add</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
