<% include _header %>

<main class='main-first-page' ng-controller='DashboardCtrl'>
  <div class='container'>
    <% include ../pageBanner %>

    <% include _navTabs %>

    <div class='dashboard-container border-blue'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <% include _buttons %>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <div class='row'>
            <div class='dashboard-container'>
              Your content here
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ../footer %>
