<!DOCTYPE html>
<html lang="en" ng-app="KliikoApp" ng-controller="AppController as app">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <% include headerIncludes %>

</head>
<body>
  <div class='dashboard-header'>
    <div class='col-xs-2 logo-min-width'>
      <a href='/'><img class='row' src='/icons/Kliiko_logo_lines.png'></a>
    </div>
    <div class='col-xs-1 current-domain-name'>
      <%= currentDomain.name %>
    </div>
    <div class='col-xs-12 col-md-6 btn-group remove-link-line nav-button-top-margin' style="float: right;" role='group'>
      Welcome, <%= currentUser.firstName %>!
      <a href='/dashboard/landing'>
        <button class='btn-header-green' type='button'>
          Tour video
          <span class='glyphicon glyphicon-play' aria-hidden='true'></span>
        </button>
      </a>

      <button class='btn-header-red' type='button'>
        Help
        <span class='glyphicon glyphicon-question-sign' aria-hidden='true'></span>
      </button>

      <button class='btn-header-dropdown' type='button' id='headerDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        My Details
        <span class='glyphicon glyphicon-menu-hamburger' aria-hidden='true'></span>
      </button>

      <ul class='dropdown-menu header-dropdown-ul' aria-labelledby='headerDropdown'>
        <li class='text-right text-size-dashboard'><a href='' data-toggle='modal' data-target='#contactDetailsModal'>Contact Details<img class="my-details-container" src='/icons/contact_list_red.png' alt='' /></a></li>
        <li role="separator" class="divider"></li>
        <li class='text-right text-size-dashboard'><a href='' data-toggle='modal' data-target='#changePasswordModal'>Change Password<img class="my-details-container" src='/icons/password_green_flat.png' alt='' /></a></li>
        <li role="separator" class="divider"></li>
        <li class='text-right text-size-dashboard'><a href='<%= currentUser.myDashboardUrl %>'>My Dashboard<img class="my-details-container" src='/icons/dashboard_blue.png' alt='' /></a></li>
        <li role="separator" class="divider"></li>
        <li class='text-right text-size-dashboard' ng-if='app.accountUser.isAccountManager'>
          <a href='/dashboard/paymentDetails' target="_blank">Payment Details<img class="my-details-container" src='/icons/payment_green.png' alt='' /></a>
        </li>
        <li role="separator" class="divider"></li>
        <li class='text-right text-size-dashboard'><a href='/logout'>Logout<img class="my-details-container" src='/icons/logout_yellow.png' alt='' /></a></li>
      </ul>
    </div>
  </div>

  <% include _changePasswordModal %>
  <% include _contactDetailsModal %>
