<ul class='nav nav-tabs' id='nav-tabs-main'>
  <li ui-sref-active='active' ui-sref='dashboard.accountProfile'><a href=''>Account Profile<img src='/icons/profile_grey.png'></a></li>
  <li ui-sref-active='active' ui-sref='dashboard.chatSessions'><a href=''>Chat Sessions<img src='/icons/session_grey.png'></a></li>
  <li ui-sref-active='active' ui-sref='dashboard.resources'><a href=''>Resources<img src='/icons/resources_grey.png'></a></li>
</ul>
