<ul class='nav nav-tabs' id='nav-tabs-main'>
  <li class='active'><a href='' ui-sref="dashboard.accountProfile">Account Profile<img id='ic_tab_profile_active' src='../icons/ic_tab_profile_active.png'></a></li>
  <li><a href='#'>Chat Sessions<img id='ic_tab_profile_active' src='/icons/session_grey.png'></a></li>
  <li><a href='#'>Resources<img id='ic_tab_profile_active' src='/icons/resources_grey.png'></a></li>
</ul>
