<ul class='nav nav-tabs' id='nav-tabs-main'>
  <li ui-sref-active="active" ui-sref="dashboard.accountProfile"><a href='' >Account Profile<img id='ic_tab_profile_active' src='../icons/ic_tab_profile_active.png'></a></li>
  <li ui-sref-active="active" ui-sref="dashboard.chatSession"><a href=''>Chat Sessions<img id='ic_tab_profile_active' src='/icons/session_grey.png'></a></li>
  <li ui-sref-active="active" ui-sref="dashboard.resources"><a href=''>Resources<img id='ic_tab_profile_active' src='/icons/resources_grey.png'></a></li>
</ul>
