<ul class='nav nav-tabs' id='nav-tabs-main'>
  <li ng-if="app.accountUser.role == 'accountManager' || app.accountUser.role == 'admin'" id='dashboard-accountProfile' ui-sref-active='active' ui-sref='account-hub.accountProfile'><a href=''>Account Profile</a></li>
  <li id='dashboard-chatSessions' ui-sref-active='active' ui-sref='account-hub.chatSessions'><a href=''>Sessions</a></li>
  <li id='dashboard-resources' ui-sref-active='active' ui-sref='account-hub.resources'><a href=''>Resources</a></li>
</ul>
