<ul class='nav nav-tabs' id='nav-tabs-main'>
  <li class='active'><a href='/dashboard'>Account Profile<img id='ic_tab_profile_active' src='/icons/ic_tab_profile_active.png'></a></li>
  <li><a href='#'>Chat Sessions<img id='ic_tab_profile_active' src='/icons/ic_tab_sessions_active.png'></a></li>
  <li><a href='#'>Resources<img id='ic_tab_profile_active' src='/icons/ic_tab_resources_active.png'></a></li>
</ul>
