<ul class='nav nav-tabs' id='nav-tabs-main'>
  <li id='dashboard-accountProfile' ui-sref-active='active' ui-sref='dashboard.accountProfile'><a href=''>Account Profile<img src='/icons/profile_grey.png'></a></li>
  <li id='dashboard-chatSessions' ui-sref-active='active' ui-sref='dashboard.chatSessions'><a href=''>Sessions<img src='/icons/session_grey.png'></a></li>
  <li id='dashboard-resources' ui-sref-active='active' ui-sref='dashboard.resources'><a href=''>Resources<img src='/icons/resources_grey.png'></a></li>
</ul>
