<main class="main-welcome">
  <div class="welcome">
    <h1 class="text-gray-dark text-center">Welcome to klzii!</h1>
    <h4 class="text-gray-dark text-center">Watch the video to see how it works.</h4>

    <div id="play-video">
      <div id="video-placeholder" class="box-shadow border-yellow">
        <div class="row">
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="row landing-btn-group">
      <div class="col-md-12 form-group">
        <a class="btn btn-standart btn-green btn-medium pull-right" href="/">
          Lets Go!
        </a>
      </div>
    </div>
  </div>
</main>
