<main class="main-welcome">
  <div class="welcome">
    <h1 class="text-gray-dark text-center">Welcome to klzii!</h1>
    <h4 class="text-gray-dark text-center">Watch the video to see how it works.</h4>

    <div id="play-video">
      <div id="video-placeholder" class="box-shadow border-yellow">
        <div class="row">
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
          <div class="col-xs-4">
            <div class="play-btn border-yellow"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="row landing-btn-group">
      <div class="col-md-12 form-group">
        <a class="btn border-yellow border-radius-none text-yellow-dark background-transp pull-right btn-white" href="/">
          Lets Go!
        </a>
        <a class="btn border-green border-radius-none text-green-dark text-no-decoration pull-left btn-white" href="/pdf/IF_Wireframe_Start.pdf" download="" id="forgot-password">
          Download PDF
        </a>
      </div>
    </div>
  </div>
</main>
