<% include _header %>

<main class='main-first-page' ng-controller='DashboardCtrl'>
  <div class='container'>
    <% include ../pageBanner %>

    <% include _navTabs %>

    <div class='dashboard-container border-blue box-shadow'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <% include _buttons %>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <div class='dashboard-index text-center'>
            Here you can manage your Account Profile by adding more Chat Sessions and Account Managers, or changing your Payment and Contact Details or Password.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ../footer %>
