<% include ../header %>

<main class="main-first-page" ng-controller="DashboardCtrl">
    <div class="container">
        <h1 id="welcome">Welcome!
          <%if(bannerPath) { %>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <img src='<%= bannerPath %>' alt="" />
            </div>
          <% } %>
        </h1>
        <ul class="nav nav-tabs" id="nav-tabs-dashboard">
            <li class="active"><a href="#login">Account Profile<img id="ic_tab_profile_active"
                                                                    src="icons/ic_tab_profile_active.png"></a></li>
            <li><a href="#">Chat Sessions<img id="ic_tab_profile_active" src="icons/ic_tab_sessions.png"></a></li>
            <li><a href="#">Resources<img id="ic_tab_profile_active" src="icons/ic_tab_resources.png"></a></li>
        </ul>
        {{alex}}
        <div class="tab-content">
            <div id="login" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <% include _buttons %>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <h2 class="center-block">Checkout</h2>

                            <div id="summary">&nbsp;&nbsp;&nbsp;
                                Order Summary
                            </div>
                            <div id="sessions">&nbsp;&nbsp;&nbsp;
                                <div id="sessions-text">Sessions</div>
                                <div id="sessions-number">
                                    2 x $160
                                </div>
                                <div id="sessions-total">
                                    $320
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-sm-8 col-md-9"></div>
                                <div class="col-xs-4 col-sm-4 col-md-3">
                                    <div id="order-total">
                                        Order total:
                                        <div id="order-total-money">$350</div>
                                    </div>
                                </div>
                            </div>
                            <div id="summary">&nbsp;&nbsp;&nbsp;
                                Payment methods
                            </div>
                            <ul class="nav nav-tabs" id="nav-tabs-payments">
                                <li class="active"><a href="#login"
                                            ><img
                                                id="ic_creditcard" src="icons/ic_creditcard.png">&nbsp;&nbsp;&nbsp;Credit
                                        Card</a></li>
                                <li id="chat-sessions">
                                    <a href="#"><img id="paypal-logo" src="icons/paypal_logo.png"></a>
                                </li>
                            </ul>
                            <div class="tab-content-payment">
                                <div id="login" class="tab-pane fade in active">
                                    <div class="container">
                                        <div class="row">
                                            <div id="card-confirmation" class="col-xs-6 col-sm-6"><h5>Your card will be
                                                    debited
                                                    on confirmation.</h5></div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <form class="form-horizontal" role="form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-xs-3 col-sm-3 control-label" id="label-right"
                                                           for="card-holder-name">Name on card:</label>

                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" name="card-holder-name"
                                                               id="card-holder-name" placeholder="Card Holder's Name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-3 col-sm-3 control-label" for="card-number">Credit
                                                        card
                                                        number:</label>

                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" name="card-number"
                                                               id="card-number" placeholder="Debit/Credit Card Number">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-3 col-sm-3 control-label" for="expiry-month">Expiration
                                                        Date:</label>

                                                    <div class="col-xs-6 col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <select class="form-control col-sm-2"
                                                                        name="expiry-month" id="expiry-month">
                                                                    <option>Month</option>
                                                                    <option value="01">Jan (01)</option>
                                                                    <option value="02">Feb (02)</option>
                                                                    <option value="03">Mar (03)</option>
                                                                    <option value="04">Apr (04)</option>
                                                                    <option value="05">May (05)</option>
                                                                    <option value="06">June (06)</option>
                                                                    <option value="07">July (07)</option>
                                                                    <option value="08">Aug (08)</option>
                                                                    <option value="09">Sep (09)</option>
                                                                    <option value="10">Oct (10)</option>
                                                                    <option value="11">Nov (11)</option>
                                                                    <option value="12">Dec (12)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-3 col-sm-3">
                                                                <select class="form-control" name="expiry-year">
                                                                    <option value="13">2013</option>
                                                                    <option value="14">2014</option>
                                                                    <option value="15">2015</option>
                                                                    <option value="16">2016</option>
                                                                    <option value="17">2017</option>
                                                                    <option value="18">2018</option>
                                                                    <option value="19">2019</option>
                                                                    <option value="20">2020</option>
                                                                    <option value="21">2021</option>
                                                                    <option value="22">2022</option>
                                                                    <option value="23">2023</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-3 col-sm-3 control-label" for="cvv">Card code
                                                        (CVC):</label>

                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" name="cvv" id="cvv"
                                                               placeholder="CVC">
                                                    </div>
                                                </div>
                                                <br>

                                                <div class="form-group">
                                                    <label class="col-xs-3 col-sm-3 control-label" id="label-right"
                                                           for="card-holder-name">Promotion code:</label>

                                                    <div class="col-xs-9 col-sm-9">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <input type="text" class="form-control"
                                                                       name="card-holder-name" id="card-holder-name"
                                                                       placeholder="Promotion code">
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <button type="button" class="btn" id="btn-review-order">
                                                                    Review
                                                                    order
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../footer %>
