<% include _header %>

<main class='main-first-page'>
  <div class='container' ng-controller='BannerMessagesController as bmc'>
    <div class='page-banner'>
      {{ banner = bmc.file[bmc.currentBanner]; '' }}
      <div ng-if='banner.resource'>
        <img ng-if='!banner.link' class='center-block' ng-src='{{ banner.resource.url.full }}' alt=''>

        <a ng-if='banner.link' href='{{ banner.link }}' target='_blank'>
          <img class='center-block' ng-src='{{ banner.resource.url.full }}' alt=''>
        </a>
      </div>
    </div>

    <% include _navTabs %>

    <div class='dashboard-container border-green box-shadow'>

      <div ui-view="dashboard"></div>

    </div>
  </div>
</main>

<% include ../footer %>
