<% include _header %>

<main class='main-first-page'>
  <div class='container'>
    <% include ../pageBanner %>

    <% include _navTabs %>

    <div class='dashboard-container border-blue box-shadow'>

      <div ui-view="dashboard"></div>

    </div>
  </div>
</main>

<% include ../footer %>
