<% include _header %>

<main class='main-first-page'>
  <div class='container' ng-controller='BannerMessagesController as bmc'>
    <div class='page-banner'>
      <div ng-if='bmc.file[bmc.currentBanner].resource'>
        <img class='center-block' ng-src='{{ bmc.file[bmc.currentBanner].resource.url.full }}' alt=''>
      </div>
    </div>

    <% include _navTabs %>

    <div class='dashboard-container border-green box-shadow'>

      <div ui-view="dashboard"></div>

    </div>
  </div>
</main>

<% include ../footer %>
