<% include _header %>

<main class="main-welcome">
  <div class="welcome">
    <h1 class="text-gray-dark text-center">Welcome to klzii!</h1>
    <h4 class="text-gray-dark text-center">Watch the video to see how it works.</h4>

    <div id="play-video">
      <div id="video-placeholder" class="box-shadow border-yellow">
        <div class="play-btn"></div>
        <div id="video" style="display: none;">
          <div id="player">
            <iframe src='http://player.vimeo.com/video/187617841' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="row landing-btn-group">
      <div class="col-md-12 form-group">
        <a class="btn btn-standart btn-green btn-medium pull-right" href="/">
          Lets Go!
        </a>
      </div>
    </div>
  </div>
</main>

<script>
  var holder = $('#video-placeholder');
  holder.click(function() {
    holder.find('.play-btn').css('display', 'none');
    holder.find('#video').css('display', 'block');
    holder.off('click');
  });
</script>

<% include ../footer %>
