<div id='addAdminModal' class='modal fade' role='dialog'>
  <div class='modal-dialog addAdminModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Add klzii Administrator</h2>
      </div>

      <div class='modal-body'>
        <div class='form-group'>
          <center>Enter email address </center>
          <center>
            <form name="addAdminForm">
              <input type="email" ng-model='modalObject.addAdminForm.email'>
            <form>
          </center>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn-standart btn-red pull-left' data-dismiss='modal'>Cancel</button>
        <button type='button' class='btn-standart btn-green pull-right' ng-click="submitAddAdminForm()">Add</button>
      </div>
    </div>
  </div>
</div>

