<section id='account-database-content' class='row' ng-controller='AccountDatabaseController'>
  <div class='col-md-12'>
    <div class='dashboard-container'>
      <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
          <h2 class='text-center'>Account Database</h2>
          <h4 class='text-center has-error text-red-dark'>{{ error }}</h4>
          <h4 class='text-center'>{{ message }}</h4>
        </div>
        <div class='col-md-3 text-right'>
          <a class='btn btn-standart btn-green btn-medium btn-margin' href="/dashboard/accountDatabase/exportCsv">Export to CSV</a>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12 fixed-bottom-margin'>
    <div class='dashboard-container horizontal-scroll'>
      <table class='table table-dashboardElements'>
        <thead>
          <tr>
            <th>Account Name</th>
            <th>Account Manager</th>
            <th>Registered</th>
            <th>E-mail</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postcode</th>
            <th>Country</th>
            <th>Company</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Landline</th>
            <th>Active Plan</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody ng-repeat='account in accounts'>
          <tr ng-repeat='accountUser in account.AccountUsers'>
            <td>{{ $index == 0 ? account.name : "" }}</td>
            <td>
              <img ng-src="{{ chooseIconForUser(account, accountUser) }}" alt='' ng-click='changeAccountStatus(account,  accountUser)' />
              {{ accountUser.firstName }} {{ accountUser.lastName }}
            </td>
            <td>{{ accountUser.createdAt | date: dateFormat }}</td>
            <td>{{ accountUser.email }}</td>
            <td>{{ accountUser.postalAddress }}</td>
            <td>{{ accountUser.city }}</td>
            <td>{{ accountUser.state }}</td>
            <td>{{ accountUser.postCode }}</td>
            <td>{{ accountUser.country }}</td>
            <td>{{ accountUser.companyName }}</td>
            <td>{{ accountUser.gender }}</td>
            <td>{{ accountUser.mobile }}</td>
            <td>{{ accountUser.landlineNumber }}</td>
            <td>{{ planToUpperCase(account.Subscription.planId) }}</td>

            <td ng-click='editComment(accountUser)'>
              <img src='/icons/add_new_list_blue.png' alt='' />
              {{ ::accountUser.comment | limitTo: 50 }}{{ accountUser.comment.length > 20 ? '&hellip;' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-include src="'/js/ngApp/components/dashboard-accountProfile-accountDatabase/modal.html'"></ng-include>
</section>
