<div class='modal-header'>
  <button type='button' class='close' ng-click='closeModal()'>&times;</button>
  <h2 class='modal-title text-center'>User Comment</h2>
</div>
<div class='modal-body text-gray-medium'>
  <form class='form-horizontal' role='form'>
    <div class='col-md-8'>
      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='comment'>Comment<span class='text-red-dark'>*</span></label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.comment }}</span>
          <textarea class='form-control' id='comment' placeholder='Comment' ng-model='comment' ng-maxlength='500' rows='5'></textarea>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <button ng-click='closeModal()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-right btn-md'>Close</button>
        <button ng-click='submitForm()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-right btn-md'>Save</button>
      </div>
    </div>
  </form>
</div>
