<div class='modal fade' id='accountDatabaseCommentModal' role='dialog'>
  <div class='modal-dialog accountDatabaseCommentModal'>
    <div class='modal-content border-red border-radius-none'>
      <div class='dashboard-container'>
        <div class='modal-header'>
          <button type='button' class='close' ng-click='closeModal()'>&times;</button>
          <h2 class='modal-title text-center'>Comment</h2>
        </div>
        <div class='modal-body text-gray-medium'>
          <form class='form-horizontal' role='form'>
            <div class='form-group'>
              <div class='col-md-12'>
                <textarea class='form-control' id='comment' placeholder='Comment' ng-model='currentAccountUser.comment' ng-maxlength='500' rows='5'></textarea>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-12'>
                <div class='row'>
                  <div class='col-xs-6'>
                    <button ng-click='updateComment()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-left btn-md'>Save</button>
                  </div>
                  <div class='col-xs-6'>
                    <button ng-click='closeModal()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-right btn-md'>Close</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
