/modelsTmp
/node_modules/*
/bower_components/*
/static/uploads/*
/.idea/*
/config/config.json
/build/*
/npm-debug.log
/.tmp/templates.js

.vscode/settings.json

config/config.json.sample copy

config/config.json.sample
