/public/uploads
/modelsTmp
/node_modules/*
/bower_components/*
/static/uploads/*
/.idea/*
/config/config.json
/config/development.json
/build/*
/npm-debug.log
/.tmp/templates.js
.env
/chatRoom/public/uploads/*
.vscode/settings.json
