/public/uploads
/public/js/compiled/*
/public/css/compiled/*
/public/css/main.css
/modelsTmp
/node_modules/*
/bower_components/*
/static/uploads/*
/.idea/*
/config/config.json
/config/development.json
/build/*
/npm-debug.log
/.tmp/templates.js
.env
/chatRoom/public/uploads/*
.vscode/settings.json
**/.DS_Store
