<uib-accordion-group is-open='sbc.accordions.emailTemplates'>
  <uib-accordion-heading>
    <div class='panel-label'>
      Email Templates (*Required)
      <i class='pull-right glyphicon' ng-class="{'glyphicon-chevron-down': sbc.accordions.emailTemplates, 'glyphicon-chevron-right': !sbc.accordions.emailTemplates}"></i>
    </div>
  </uib-accordion-heading>

  <section ng-if='sbc.accordions.emailTemplates' ng-init='step3Controller.editor = ec; ec.preInit({sessionBuilder:true, sessionId: sbc.session.id, brandLogoId: step3Controller.brandLogoId})'>
    <h1 class='text-center'>Edit Email Templates</h1>
    <div class='text-center centeredWarning'>
      <span class='fa fa-exclamation-triangle' aria-hidden="true"></span>
      You must customize all required Email Templates before inviting Guests (Step 4)
    </div>

    <div class='col-xs-3 mail-template-list-section'>
      <div class='panel-heading mail-template-list-heading'>Email Templates</div>
      <div id='mail-template-list' class='mail-template-list'>
        <span ng-repeat='(key, t) in ec.emailTemplates track by $index'>

          <a class='list-group-item border-radius-none' ng-click='ec.startEditingTemplate(key, t.id, t); sbc.showEmailsTemplateEditeor = true;'
            ng-class="{'active': ec.isCurrentId(t.id), 'list-group-item-white': t.AccountId}" ng-if="(!t.AccountId && !t.isCopy)">
            
            <div>
              <span class='{{ step3Controller.isCreated(t) }}' aria-hidden='true'></span>
              {{ t.name }}
              <span>{{ step3Controller.isTemplateRequired(t) }}</span>
              <span class='pull-right glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
            </div>
          </a>

          <a class='list-group-item border-radius-none list-group-item-white' ng-repeat='(id, copyT) in ec.sortedEmailTemplates[t["MailTemplateBase.name"]] track by $index'
            ng-click='ec.startEditingTemplate(ec.findIndexFromId(copyT.id), copyT.id, copyT); sbc.showEmailsTemplateEditeor = true;'
            ng-class="{'active': ec.isCurrentId(copyT.id) }" ng-if='t.id != copyT.id && ec.viewingTemplateName == copyT["MailTemplateBase.name"] && t.id == t.MailTemplateBaseId'>

            <div class='input-group input-group-sm display-flex' ng-if='copyT.isCopy' title='{{ step3Controller.templateName(copyT.name) }}'>
              <span class='glyphicon glyphicon-ok' aria-hidden='true' ng-if='copyT.sessionId'></span>
              <input template-name-mask="copyT" type='text' class='form-control dis' ng-class="{'inactive':!ec.isCurrentId(copyT.id)}" />
              <span class='input-group-btn border-radius-none' ng-if='ec.isCurrentId(copyT.id)'>
                <button class='btn glyphicon glyphicon-remove' ng-click='step3Controller.deleteTemplate(copyT, id, $event)'></button>
              </span>
            </div>
          </a>

        </span>
      </div>
    </div>

    <div class='col-xs-9'>
      <div class='form-group'>
        <label for='currentTemplateSubject'>Subject:</label>
        <input type='text' class='form-control' id='currentTemplateSubject' ng-model='ec.currentTemplate.subject'>
        <div class='has-error text-center'>{{ ec.currentTemplate.error.subject }}</div>
      </div>

      <div class='form-group'>
        <label>Content:</label>
        <textarea id='templateContent'></textarea>
        <div class='has-error text-center'>{{ ec.currentTemplate.error.content }}</div>
      </div>

      <div class='row'>
        <button class='btn btn-standart btn-red pull-right btn-small margin-right-10' ng-click="step3Controller.resetMailTemplate()">
          Cancel
        </button>

        <button class='btn btn-standart btn-lightgreen pull-right btn-small margin-right-10' ng-click='ec.openModal()'>Save As</button>
        <button class="btn btn-standart btn-green pull-right btn-small margin-right-10" ng-click="ec.modifyAndSave()" ng-if='ec.currentTemplate.isCopy'>Save</button>
        <button class='btn btn-standart btn-green pull-right btn-small margin-right-10' ng-click='step3Controller.openApplyModal()'>Apply</button>
        <button class='btn btn-standart btn-blue pull-right btn-small margin-right-10 margin-bottom-10' ng-click='ec.previewMailTemplate()'>Preview</button>
        <span class="testEmailBlock pull-right">
          <button class='btn btn-standart btn-green pull-right btn-medium margin-right-10' ng-click="ec.sendEmail()">Test Email</button>
          <input type='text' class="test-email-input pull-right margin-right-10" ng-disabled="true" value="{{ app.accountUser.email }}"/>
        </span>
      </div>
    </div>
  </section>
</uib-accordion-group>
