<% include ../header %>

<div class='row dashboard-container border-blue' ng-controller='SurveyClientController as sc'>
  <div class='col-sm-12'>
    <ng-include src="'/js/ngApp/components/dashboard-resources-contactList-survey/templates/preview.html'"></ng-include>
  </div>
</div>

<% include ../footer %>
