<% include ../header %>

<div class='dashboard-container' ng-controller='SurveyClientController as sc' ng-init="sc.init(<%= surveyId %>)">
  <div class='form-horizontal survey-container'>
    <div ng-if='!sc.message'>
      <ng-include src="'/js/ngApp/components/dashboard-resources-contactList-survey/templates/preview.html'"></ng-include>
      {{ sc.surveySelect.SurveyQuestions }}

      <div class='text-center'>
        <button type='button' class='btn btn-success no-border-radius' ng-click='sc.submitSurvey()'>Submit</button>
        <span class='has-error'>
          <span class='help-block'>{{ sc.surveySelect.error }}</span>
        </span>
      </div>
    </div>

    <div class='text-center' ng-if='sc.message'>
      <h2>{{ sc.message }}</h2>
    </div>
  </div>
</div>

<% include ../footer %>
