<div class='brandColours' ng-attr-style='color: {{ previewScheme.font }};'>
  <div class='row' ng-attr-style='background-color: {{ previewScheme.browserBackground }};'>
    <div class='col-xs-12 header'>
      <div class='row'>
        <div class='col-xs-3'>
          <label class='text-no-bold'>Category Name</label><br />
          <div class='input-group'>
            <input type='text' class='form-control border-radius-none ng-autofocus-skip' placeholder='Topic Name' disabled>
            <span class='input-group-addon border-radius-none'><span class='glyphicon glyphicon-chevron-down' aria-hidden='true'></span></span>
          </div>
        </div>
        <div class='col-xs-9'>
          <img class='pull-right logo' width='20%' src='/icons/Klzii_RGB_72.png'/>
          <span class='headerButtons pull-right glyphicon glyphicon-off' aria-hidden='true' ng-attr-style='background-color: {{ previewScheme.headerButton }};'></span>
          <span class='headerButtons pull-right glyphicon glyphicon-question-sign' aria-hidden='true' ng-attr-style='background-color: {{ previewScheme.headerButton }};'></span>
          <span class='headerButtons pull-right glyphicon glyphicon-comment' aria-hidden='true' ng-attr-style='background-color: {{ previewScheme.headerButton }};'></span>
        </div>
      </div>
    </div>

    <div class='col-xs-12'>
      <div class='col-xs-4 chatContainer forumTypeLeft' ng-attr-style='background-color: {{ previewScheme.mainBackground }}; border-color: {{ previewScheme.mainBorder }};'>
        <div ng-attr-style='background-color: {{ previewScheme.mainBorder }};'>About this Topic</div>
        <div class="avatar">
          <img src='/images/avatar.png' alt='avatar' ng-attr-style="border-color: {{ bcc.memberColours.facilitator }};" />
          <div class="outerbox"><div class="triangle"></div><div class="innerbox">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</div></div>
        </div>
        <div class="buttonsContainer">
          <span class="chatMiddleButtons glyphicon glyphicon-facetime-video" ng-attr-style="color: {{ previewScheme.consoleButtonActive }}; border-color: {{ previewScheme.consoleButtonActive }};" aria-hidden="true"></span>
          <span class="chatMiddleButtons glyphicon glyphicon-volume-up" aria-hidden="true"></span>
          <span class="chatMiddleButtons glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span class="chatMiddleButtons glyphicon glyphicon-file" aria-hidden="true"></span>
        </div>
        <div class="whiteboardContainer">
          <img src='/images/whiteboard.png' alt='whiteboard' />
        </div>
      </div>
      <div class='col-xs-8 chatContainer forumTypeRight' ng-attr-style='background-color: {{ previewScheme.mainBackground }}; border-color: {{ previewScheme.mainBorder }};'>
        <div class="userMessagesContainer">
          <div ng-repeat="msg in [1, 2, 3, 4, 5, 6]">
            <div class="userMessageContainer">
              <div class="userNameContainer">User</div>
              <div class="messageTextContainer">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</div>
              <div class="smileContainer"><img src='/images/avatar.png' alt='Avatar' /></div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='input-group footer'>
              <span class='input-group-addon circle-addon border-radius-none'>
                <img src='/icons/smile.png' alt='Circle here' />
              </span>
              <input type='text' class='form-control message-input border-radius-none ng-autofocus-skip' placeholder='Message'>
              <span class='input-group-addon border-radius-none post-button'>
                POST
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
