<section id='GalleryController' ng-controller='GalleryController as gc'>
  <ng-include src="'/js/ngApp/components/dashboard-resources-gallery/' + gc.currentPage.page + '.html'"></ng-include>
</section>

<section id='GalleryController' ng-controller='GalleryController'>
  <form ng-submit="submitIdsForMassAction(action)">

    <div class="row">

      <h2 class="text-center margin-top-30">Gallery</h2>
      <h4 class="text-center has-error text-red-dark ng-binding"></h4>
      <h4 class="text-center ng-binding"></h4>
    </div>

    <div class="gallery col-md-12">
      <div class="gallery pull-right margin-right-15">
        <button class="btn btn-addNewElement btn-green gallery-btn-width" type='button' ng-click="setView('panel')" ng-if="checkType(viewType, 'table')">
          <span class='glyphicon glyphicon-th' aria-hidden='true'></span>
        </button>

        <button class="btn btn-addNewElement btn-green gallery-btn-width" type='button' ng-click="setView('table')" ng-if="checkType(viewType, 'panel')">
          <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
        </button>

        <button ng-if="backButton" ng-click="backButtonClickHandle()" class='btn btn-addNewElement btn-green gallery-btn-width' type='button'  data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
           Go Back
        </button>

        <button class='btn btn-addNewElement btn-green gallery-btn-width' type='button' id='uploadResourceDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
           Add New Resource
        </button>

        <ul class='dropdown-menu gallery-dropdown-margin' aria-labelledby='uploadResourceDropdown' >
          <li class='text-right text-size-dashboard' ng-repeat="upload in uploads">
            <a ng-click="uploadResourceForm(upload.fileType)" data-toggle='modal' >
              {{upload.uploadText}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="gallery col-md-12">
      <div class='col-md-12 category-selection'>
        <div class='col-md-6 margin-bottom-10'>
          <input id="selectall" ng-click="selectAllResources()" name="selectAll" type="checkbox" value="selectAll" ng-checked="isAll"/>
          <label for="selectAll" class="margin-right-10">Select All</label>
          <button type='submit' ng-disabled="idsForAction == 0" class='btn btn-addNewElement btn-green no-margin gallery-btn-width' ng-click="actionDelete('delete')">
            <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
          </button>
          <button type='submit' ng-disabled="idsForAction == 0" class='btn btn-addNewElement btn-green no-margin gallery-btn-width' ng-click="actionDownload('download')">
            <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span>
          </button>
        </div>

        <div class='col-md-6 no-padding'>
          <a class="pull-right green-text" ng-click="filterBy('')">All({{getCount("")}})</a>
          <a class="pull-right margin-right-10 green-text" ng-repeat="upload in uploads" ng-click="filterBy(upload.fileType)">{{upload.filterText}}({{getCount(upload.fileType)}})</a>
        </div>

      </div>

    <!-- Table view -->
      <div class="gallery-body col-md-12" ng-if="checkType(viewType, 'table')">
        <table class="table table-hover table-responsive" >
          <tbody ng-repeat="resource in resources | filter: { resourceType: filterType }">
            <tr class="ng-scope">
              <td class="ng-binding vertical-align-middle ">
                <input class='margin-left-6' type="checkbox" value="{{resource.id}}" ng-click="resourcesSelected(resource.id)" ng-checked="resource.checked" ng-model="resource.checked"/>
              </td>
              <td class="ng-binding" ng-if="checkType(resource.JSON.type, 'video') || checkType(resource.JSON.type, 'youtubeUrl')">
                <span class='glyphicon glyphicon-facetime-video border-green gallery-list-icon' aria-hidden='true'></span>
              </td>
              <td class="ng-binding" ng-if="checkType(resource.JSON.type, 'image') || checkType(resource.JSON.type, 'brandLogo')">
                <div class="gallery-table-image-box border-green">
                  <div class="responsive-container">
                    <div class="dummy"></div>

                    <div class="img-container">
                      <img ng-src='{{ getResourceThumbUrl(resource) }}'/>
                    </div>
                  </div>
                </div>
              </td>

              <td class="ng-binding" ng-if="checkType(resource.JSON.type, 'audio')">
                <span class='glyphicon glyphicon-music border-green gallery-list-icon' aria-hidden='true'></span>
              </td>

              <td class="ng-binding" ng-if="checkType(resource.JSON.type, 'pdf')">
                <span class='glyphicon glyphicon-file border-green gallery-list-icon' aria-hidden='true'></span>
              </td>

              <td class="ng-binding vertical-align-middle">
                {{ resource.JSON.title }}
              </td>

              <td class="vertical-align-middle">
                <p class="uppercase">{{ resource.JSON.format }}</p>
                <a ng-if="!checkType(resource, 'youtubeUrl')" href="{{ resource.JSON.url }}" target="_blank">
                  {{ resource.JSON.url | limitTo: 30 }}{{resource.JSON.url.length > 30 ? '...' : ''}}
                </a>
              </td>
              <td>

                <button type='submit' class='btn btn-addNewElement btn-green pull-right margin-right-10 gallery-btn-width' ng-click="deleteResources(resource.id)">
                  <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                </button>

                <a type='submit' download="{{resource.JSON.matchName}}" ng-if="!checkType(resource.JSON.type, 'youtubeUrl')" class='btn btn-addNewElement btn-green pull-right margin-right-10 gallery-btn-width'
                   href="{{ + resource.JSON.name}}">
                  <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span>
                </a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <!-- Panel view -->
      <div ng-if="checkType(viewType, 'panel')" ng-repeat="resource in resources | filter: { resourceType: filterType }">
        <div class="col-xs-4 col-md-4">
          <div class="panel panel-success border-green">
            <div class="panel-body">

              <div class="responsive-container" ng-if="checkType(resource.JSON.type, 'youtubeUrl')">
                  <div class="dummy"></div>
                  <div class="embed-responsive-youtube">
                    <div class="embed-responsive embed-responsive-4by3" ng-bind-html="renderHtml(resource.JSON.message)"></div>
                  </div>
              </div>


              <div class="responsive-container" ng-if="checkType(resource.JSON.type, 'image') || checkType(resource.JSON.type, 'brandLogo')">
                <div class="dummy"></div>

                <div class="img-container">
                  <img ng-src='{{ getResourceNameUrl(resource) }}' class="center-block vertical-align img-responsive img-max-height-width"/>
                </div>
              </div>

              <div class="responsive-container" ng-if="checkType(resource.JSON.type, 'audio')">
                <div class="dummy"></div>

                <div class="img-container">
                  <span class='glyphicon glyphicon-music icon-200' aria-hidden='true'></span>
                </div>
              </div>

              <div class="responsive-container" ng-if="checkType(resource.JSON.type, 'video')">
                <div class="dummy"></div>

                <div class="img-container">
                  <span class='glyphicon glyphicon-facetime-video icon-200' aria-hidden='true'></span>
                </div>
              </div>

              <div class="responsive-container" ng-if="checkType(resource.JSON.type, 'pdf')">
                <div class="dummy"></div>

                <div class="img-container">
                  <span class='glyphicon glyphicon-file icon-200' aria-hidden='true'></span>
                </div>
              </div>

            </div>

            <div class="panel-footer">
              <input class='pull-left col-md-1' type="checkbox"
                     value="{{resource.id}}" ng-click="resourcesSelected(resource.id)"
                     ng-checked="resource.checked" ng-model="resource.checked"/>

              {{ resourceTitle(resource.JSON.title) }}

              <button type='submit' class='btn btn-addNewElement btn-green pull-right margin-only-right-10 gallery-btn-width' ng-click="deleteResources(resource.id)">
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
              </button>

              <a type='submit' download="{{resource.JSON.matchName}}" ng-if="!checkType(resource.JSON.type, 'youtubeUrl')" class='btn btn-addNewElement btn-green margin-only-right-10 pull-right gallery-btn-width'
                 href='{{getResourceNameUrl(resource)}}'>
                <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span>
              </a>

              <div class='pull-right'>
                <p ng-if="!checkType(resource.JSON.type, 'youtubeUrl')" class="uppercase margin-right-10">
                  {{ resource.JSON.format }}
                </p>
                <a ng-if="checkType(resource.JSON.type, 'youtubeUrl')" href="{{ resource.JSON.url }}" target="_blank"
                   class="btn green-text no-margin negative-top-margin pull-right gallery-btn-width uppercase">link</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>

  <!-- resourceModal -->
  <div class='modal fade' id='uploadResource' role='dialog'>
    <div class='modal-dialog changePasswordModal' >
      <div class='modal-content border-green border-radius-none'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' ng-click="clearFormData()">&times;</button>
          <h2 class='modal-title text-center'>New {{ uploadTypeForTitle }} resource.</h2>
          <p class='modal-title text-center'>Maximum file size is 5MB.</p>
        </div>
        <form ng-submit="submitForm(newResource)">
          <div class='modal-body'>

            <div class="form-group">
              <label for="title">Title</label>
              <input ng-model="newResource.title" type="text" class="form-control center-block" name="title" id="title" placeholder="Title" required>
            </div>

            <div ng-if="checkType(newResource.type, 'youtubeUrl')" class="form-group">
              <label for="youtubeUrl">Youtube Url</label>
              <input ng-model="newResource.youtubeUrl" type="text" class="form-control center-block" name="youtubeUrl" id="youtubeUrl" placeholder="Youtube URL" required>
            </div>

            <div ng-if="!checkType(newResource.type, 'youtubeUrl')" class="form-group">
              <label for="fileTst">File</label>
              <div ngf-drop ngf-select ng-model="newResource.fileTst" ng-change="uploadTst()" class="drop-box"
                ngf-drag-over-class="'dragover'" accept="{{allowToUpload}}">
                Drop images here or click to upload</div>
              <div ngf-no-file-drop >File Drag/Drop is not supported for this browser</div>
              <div class="row">
                <div class="col-xs-10">
                  <p class="text-max-width">
                    {{ newResource.fileTst.name  }}
                  </p>
                </div>
              </div>
            </div>

            <div class='form-group' ng-if='app.accountUser.isAdmin'>
              <div class='checkbox checkbox-sm checkbox-success survey-input'>
                <input class='styled' id='checkbox' type='checkbox' name='checkbox' ng-model='newResource.private'>
                <label for='checkbox'>Private?</label>
              </div>
            </div>
          </div>
          <div class='modal-footer'>
            <button class="btn btn-addNewElement pull-left no-margin btn-green gallery-btn-width" data-dismiss='modal' ng-click="clearFormData()">Cancel</button>
            <input type='submit' class='btn btn-addNewElement pull-right no-margin btn-green gallery-btn-width' ng-disabled="submitIsDisabled">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
