<section style="font-size: 16px;" id='GalleryController' ng-controller='GalleryController'>

  <div class="gallery col-md-12">
    <div class="dashboard-container">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">
          <h2 class="text-center">Gallery</h2>
          <h4 class="text-center has-error text-red-dark ng-binding"></h4>
          <h4 class="text-center ng-binding"></h4>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-addNewElement btn-green" type='button' ng-click="show=!show; setView('thumbView')" ng-class="{hidden:!show,chaldean:show}">
            <span class='glyphicon glyphicon-th' aria-hidden='true'></span>   
          </button>

          <button class="btn btn-addNewElement btn-green" type='button' ng-click="show=!show; setView('listView')" ng-class="{hidden:show,chaldean:!show}">
            <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>   
          </button>

          <button class='btn btn-addNewElement btn-green' type='button' id='uploadResourceDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style="margin-left: 10px;">
            <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
            Add New Resource
          </button>
          <ul class='pull-right dropdown-menu header-dropdown-ul' aria-labelledby='uploadResourceDropdown'>
            <li class='text-right text-size-dashboard'>
              <a ng-click="uploadResourceForm('image')" data-toggle='modal' style="cursor:pointer;">
                Upload Image
              </a>
            </li>

            <li class='text-right text-size-dashboard'>
              <a ng-click="uploadResourceForm('brandLogo')" data-toggle='modal' style="cursor:pointer;">
                Upload Brand Logo
              </a>
            </li>

            <li class='text-right text-size-dashboard'>
              <a ng-click="uploadResourceForm('audio')" data-toggle='modal' style="cursor:pointer;">
                Upload Audio
              </a>
            </li>

            <li class='text-right text-size-dashboard'>
              <a ng-click="uploadResourceForm('pdf')" data-toggle='modal' style="cursor:pointer;">
                Upload PDF
              </a>
            </li>

            <li class='text-right text-size-dashboard'>
              <a ng-click="uploadResourceForm('youtubeUrl')" data-toggle='modal' style="cursor:pointer;">
                Save Youtube URL
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
      <!-- div class='col-md-12'>
        <button class='pull-right btn' type='button' id='uploadResourceDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style="margin-left: 10px;">
          <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
          Add New
        </button>

        <button class="pull-right btn" type='button' ng-click="show=!show; setView('thumbView')" ng-class="{hidden:!show,chaldean:show}">
          <span class='glyphicon glyphicon-th' aria-hidden='true'></span>   
        </button>

        <button class="pull-right btn" type='button' ng-click="show=!show; setView('listView')" ng-class="{hidden:show,chaldean:!show}">
          <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>   
        </button>

        
      </div> -->


  </div>

  <div class="gallery col-md-12">
    <!-- Table view -->
    <form ng-submit="submitIdsForMassAction(action)">
      <div class='col-md-12'>
        <input id="selectall" ng-click="selectAllResources()" 
               style="margin-left: 7px;" class='pull-left' 
               id="selectAll" name="selectAll" type="checkbox" value="selectAll" />
        <label class='pull-left' for="selectAll" style="margin-left: 5px;">Select All</label>

        <input style="margin-left: 50px;" type='submit' 
               class='pull-left btn-dashboard-plans btn' ng-disabled="idsForAction == 0" 
               value="Delete" ng-click="actionDelete('delete')">
        
        <input style="margin-left: 10px;" type='submit' ng-disabled="idsForAction == 0" 
               class='pull-left btn-dashboard-plans btn' 
               value="Download" ng-click="actionDownload('download')">

        

<!--         <a ng-click="filters.type = ''">clear filter</a>
        <div ng-repeat="link in links | filter:filters">
          <strong>{{link.name}}</strong>
          <a class="pull-right" style="margin-left: 10px;" ng-click="filters.type = resource.resourceType">
            {{link.type}}
          </a>
        </div> -->

      </div>
      <hr>
      <br>
      <br>
      <div class="gallery-body col-md-12" ng-class="{hidden:!show,chaldean:show}">

        <table class="table table-responsive table-dashboardElements" ng-repeat="resource in resources" > 
          <tbody>
            <tr ng-if="resource.resourceType != 'tmp'" class="ng-scope">
              <td class="ng-binding">
                <input class='pull-left' type="checkbox" 
                       value="{{resource.id}}" ng-click="resourcesSelected(resource.id)"
                       ng-checked="resource.checked" ng-model="resource.checked"/>
              </td>
              <td class="ng-binding" ng-if="resource.JSON.type == 'video'">
                <img src="/chat_room/resources/images/youtubeThumb.png" alt="youtube" width="100" height="61">
              </td>
              <td class="ng-binding" ng-if="resource.JSON.type == 'image'">
                <img src="/chat_room/uploads/{{resource.JSON.name}}" alt="{{resource.JSON.matchName}}" width="100" height="61">
              </td>
              <td class="ng-binding" ng-if="resource.JSON.type == 'audio'">
                <img src="/chat_room/resources/images/audioThumb.png" alt="audio" width="100" height="61">
              </td>
              <td class="ng-binding">
                <p class="pull-left">
                  {{resource.JSON.matchName | limitTo: 20 }} {{resource.JSON.matchName < 20 ? '' : '...'}}
                  </p>
              </td>
              <td class="text-right dashboardElementsEditRemove">
                {{resource.resourceType}}
              </td>
              <td>
                <img src="/icons/dashboardElement_remove.png" alt="" ng-click="deleteResources(resource.id)" class="pull-right ng-scope" role="button" tabindex="0">

                <a download="{{resource.JSON.matchName}}" 
                   class='pull-right btn-dashboard-plans btn' 
                   href="{{'/chat_room/uploads/' + resource.JSON.name}}">
                  <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span>  
                </a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      
      <!-- Panel view -->
      <div ng-class="{hidden:show,chaldean:!show}" ng-repeat="resource in resources">
        <div class="col-xs-6 col-md-4" ng-if="resource.resourceType != 'tmp'">  
              <!-- {{ resource.JSON }} -->
          <div class="panel panel-success border-green">
            <div class="panel-body">
              
              <div ng-bind-html="renderHtml(resource.JSON.message)" ng-if="resource.JSON.type == 'video'"></div>
              
              <div  ng-if="resource.JSON.type == 'image'">
                <img class="img-responsive" src="/chat_room/uploads/{{resource.JSON.name}}" alt="{{resource.JSON.matchName}}">
              </div>
            
              <div ng-if="resource.JSON.type == 'audio'">
                <img src="/chat_room/resources/images/audioThumb.png" alt="{{resource.JSON.matchName}}">
              </div>

              <div ng-if="resource.JSON.type == 'pdf'">
                <img src="/chat_room/resources/images/pdf.png" alt="{{resource.JSON.matchName}}">
              </div>

            </div>

            <div class="panel-footer">
              <input class='pull-left col-md-1' type="checkbox" 
                     value="{{resource.id}}" ng-click="resourcesSelected(resource.id)"
                     ng-checked="resource.checked" ng-model="resource.checked"/>

              {{ resource.JSON.title }}

              <div class='pull-right col-md-2'>
                {{ resource.JSON.format }}
              </div>
            </div>
            <!-- <div class="panel-heading">
              {{resource.JSON.title}}
              <input class='pull-left' type="checkbox" 
                     value="{{resource.id}}" ng-click="resourcesSelected(resource.id)"
                     ng-checked="resource.checked" ng-model="resource.checked"/>
            </div>

            <div class="panel-body">
              <div>
                <button class='pull-left btn-dashboard-plans btn' 
                        ng-click="deleteResources(resource.id)">
                  Delete
                </button>
                <a download="{{resource.JSON.matchName}}" 
                   class='pull-right btn-dashboard-plans btn' 
                   href="{{'/chat_room/uploads/' + resource.JSON.name}}">
                  Download
                </a>
              </div>
            </div>
            <ul class="list-group">
            <li class="list-group-item">
              <b>Type:</b> 
              {{resource.resourceType}}
            </li>
            <li class="list-group-item">
              <b>File name:</b> 
              <div ng-if="resource.JSON.type != 'video'">  
                {{resource.JSON.matchName | limitTo: 20 }} {{resource.JSON.matchName < 20 ? '' : '...'}}
              </div>
            </li>
            <li class="list-group-item">
              <div ng-if="resource.JSON.type == 'video'">
                <img src="/chat_room/resources/images/youtubeThumb.png" alt="youtube" width="200" height="112">
              </div> 

              <div ng-if="resource.JSON.type == 'image'">
                <img src="/chat_room/uploads/{{resource.JSON.name}}" alt="{{resource.JSON.matchName}}" width="200" height="112">
              </div>  

              <div ng-if="resource.JSON.type == 'audio'">
                <img src="/chat_room/resources/images/audioThumb.png" alt="audio" width="200" height="112">
              </div>
            </li>
          </ul>
          </div> -->
        </div>
      </div> 
    </form>
  </div>

  <!-- resourceModal -->
  <div class='modal fade' id='uploadTST' role='dialog'>
    <div class='modal-dialog changePasswordModal' style="width: 400px">
      <div class='modal-content border-green border-radius-none'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'>&times;</button>
          <h2 class='modal-title text-center'>New {{ uploadTypeForTitle }} resource.</h2>
        </div>
        <form ng-submit="submitForm(newResource)">
          <div class='modal-body'>

            <div class="form-group">
              <label for="title">Title</label>
              <input ng-model="newResource.title" type="text" class="form-control center-block" name="title" id="title" placeholder="Title">
            </div>

            <div ng-if="newResource.type == 'youtubeUrl'" class="form-group">
              <label for="youtubeUrl">Youtube Url</label>
              <input ng-model="newResource.youtubeUrl" type="text" class="form-control center-block" name="youtubeUrl" id="youtubeUrl" placeholder="Youtube URL">
            </div>

            <div ng-if="newResource.type !== 'youtubeUrl'" class="form-group">
              <label for="fileTst">File</label>
              <div ngf-drop ngf-select ng-model="newResource.fileTst" ng-change="uploadTst()" class="drop-box"
                ngf-drag-over-class="'dragover'" >
                Drop images here or click to upload</div>
              <div ngf-no-file-drop >File Drag/Drop is not supported for this browser</div>
              {{ newResource.fileTst.name }}
            </div> 
          </div>
          <div class='modal-footer'>
            <div type='button' class='pull-left btn-dashboard-plans go-back-btn' data-dismiss='modal'>Cancel</div>
            <input type='submit' class='pull-right btn-dashboard-plans btn'>
          </div>
        </form>   
      </div>
    </div>
  </div>

</section>
