<section style="font-size: 16px;" id='GalleryController' ng-controller='GalleryController'>

  <div class="gallery">
  	<div class="gallery-header"> 
	  	<div class='col-md-12'>
        <button class='pull-right btn' type='button' id='uploadResourceDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style="margin-left: 10px;">
          <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
          Add New
        </button>

	  		<button class="pull-right btn" type='button' ng-click="show=!show" ng-class="{hidden:show,chaldean:!show}">
          <span class='glyphicon glyphicon-th' aria-hidden='true'></span>   
        </button>

        <button class="pull-right btn" type='button' ng-click="show=!show" ng-class="{hidden:!show,chaldean:show}">
          <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>   
        </button>

        <ul class='pull-right dropdown-menu header-dropdown-ul' aria-labelledby='uploadResourceDropdown'>
          <li class='text-right text-size-dashboard'>
            <a ng-click="uploadResourceForm('image')" data-toggle='modal' style="cursor:pointer;">
              Upload Image
            </a>
          </li>

          <li class='text-right text-size-dashboard'>
            <a ng-click="uploadResourceForm('brandLogo')" data-toggle='modal' style="cursor:pointer;">
              Upload Brand Logo
            </a>
          </li>

          <li class='text-right text-size-dashboard'>
            <a ng-click="uploadResourceForm('audio')" data-toggle='modal' style="cursor:pointer;">
              Upload Audio
            </a>
          </li>

          <li class='text-right text-size-dashboard'>
            <a ng-click="uploadResourceForm('pdf')" data-toggle='modal' style="cursor:pointer;">
              Upload PDF
            </a>
          </li>

          <li class='text-right text-size-dashboard'>
            <a ng-click="uploadResourceForm('youtubeUrl')" data-toggle='modal' style="cursor:pointer;">
              Save Youtube URL
            </a>
          </li>

        </ul>
	  	</div>

      <br>
      <br>

	  	<div class='col-md-12'>
		  	<a class="pull-left" style="cursor:pointer;" ng-click='downloadResources()'> Download </a>
		  	<a class="pull-left" style="margin-left: 10px; cursor:pointer;" ng-click='deleteResources()'> Delete </a>

		  	<a class="pull-right" href="#" style="margin-left: 10px;">All(0)</a>
		  	<a class="pull-right" href="#" style="margin-left: 10px;">Images(0)</a>
		  	<a class="pull-right" href="#" style="margin-left: 10px;">Brand Logos(0)</a>
		  	<a class="pull-right" href="#" style="margin-left: 10px;">Audio(0)</a>
		  	<a class="pull-right" href="#" style="margin-left: 10px;">Youtube(0)</a>
		  	<a class="pull-right" href="#" style="margin-left: 10px;">PDF's(0)</a>
  		</div>
  	</div>

    <br>
    <br>
    <br>

	  <div class="gallery-body col-md-12" ng-class="{hidden:!show,chaldean:show}">
      Pupadi
	  </div>
	  
	  <div class="gallery-body col-md-12" ng-class="{hidden:show,chaldean:!show}">
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
      <div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
	  	<div class="pull-left" style="width: 250px; height: 250px; border: solid 1px; display:inline-block;"></div>
	  </div> 
	</div>



    <!-- plansModal -->
    <div class='modal fade' id='uploadTST' role='dialog'>
        <div class='modal-dialog changePasswordModal' style="width: 800px">
            <div class='modal-content border-green border-radius-none'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>&times;</button>
                    <h1 class='modal-title text-center'>Learn More about the {{up.currentPlan.name}}</h1>
                </div>
                <div class='modal-body'>

                    <div>
                        <div ngf-drop ngf-select ng-model="fileTst" ng-change="uploadTst( 'profile')" class="drop-box"
                             ngf-drag-over-class="'dragover'"  accept="image/*"
                             ngf-pattern="'image/*'">Drop images here or click to upload</div>
                        <div ngf-no-file-drop >File Drag/Drop is not supported for this browser</div>
                    </div>



                </div>
                <div class='modal-footer'>
                    <div type='button' class='pull-left btn-dashboard-plans go-back-btn' data-dismiss='modal'>Go
                        Back
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
