<div class='dashboard-container'>
  <div class='modal-header'>
    <button type='button' class='close' ng-click='closeModal()'>&times;</button>
    <h2 class='modal-title text-center'>New {{ uploadTypeForTitle }} resource.</h2>
  </div>
  <div class='modal-body text-gray-medium'>
    <form class='form-horizontal' role='form'>

      <div class="form-group">
        <label for="resource">File</label>
<!--         <div ngf-drop ngf-select ng-model="resource.file" ng-change="resource.fileUpload(resource.file)" class="drop-box"
             ngf-drag-over-class="'dragover'"  accept="image/*"
             ngf-pattern="'image/*'">Drop images here or click to upload</div>
        <div ngf-no-file-drop >File Drag/Drop is not supported for this browser</div>
             -->
        <input type="file" ng-model="resource.file" ng-change="fileUpload(resource.file)" />
      <div class='row'>
        <div class='col-md-12'>
          <div class='row'>
            <div class='col-xs-6'>
              <button ng-click='submitForm()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-left btn-md'>Save</button>
            </div>
            <div class='col-xs-6'>
              <button ng-click='closeModal()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-right btn-md'>Cancel</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
