/* 
Title:		generic styles for all media
Author: 	bkannenberg@gmail.com
*/

/* MAIN TYPOGRAPHY */
html { font-size: 62.5%; font-family: helvetica, "microsoft sans serif", arial, sans-serif; }
strong, th, thead td, h1, h2, h3, h4, h5, h6 { font-weight: bold; }
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var, input[type='text'], textarea { font-size: 92%; font-family: monaco, "Lucida Console", courier, mono-space; }
del { text-decoration: line-through; color: #666; }
ins, dfn { border-bottom: 1px solid #ccc; }
small, sup, sub { font-size: 85%; }
abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

/* QUOTES */
blockquote { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; }
blockquote *:first-child:before { content: "\201C"; }
blockquote *:first-child:after { content: "\201D"; }

/* language specific quotes! */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
:lang(af), :lang(nl), :lang(pl) { quotes: '\201E' '\201D' '\201A' '\2019'; }
:lang(bg), :lang(cs), :lang(de), :lang(is), :lang(lt), :lang(sk), :lang(sr), :lang(ro) { quotes: '\201E' '\201C' '\201A' '\2018'; }
:lang(da), :lang(hr) { quotes: '\00BB' '\00AB' '\203A' '\2039'; }
:lang(el), :lang(es), :lang(sq), :lang(tr) { quotes: '\00AB' '\00BB' '\2039' '\203A'; }
:lang(en-GB) { quotes: '\2018' '\2019' '\201C' '\201D'; }
:lang(fi), :lang(sv) { quotes: '\201D' '\201D' '\2019' '\2019'; }
:lang(fr) { quotes: '\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a'; }

/* NOTE: safari refuses to support the quotes syntax. I only added the english language quotes for safari to save space. */
html[lang|='en'] q:before   { content: '\201C'; }
html[lang|='en'] q:after    { content: '\201D'; }
html[lang|='en'] q q:before { content: '\2018'; }
html[lang|='en'] q q:after  { content: '\2019'; }

body { font-size: 1.2em; }

/*
-----------------------------
CONTENT ONLY
-----------------------------
*/

/* BASE SIZES */
#content-wrap h1 { font-size: 1.6em; }
#content-wrap h2 { font-size: 1.5em; }
#content-wrap h3 { font-size: 1.4em; }
#content-wrap h4 { font-size: 1.3em; }
#content-wrap h5 { font-size: 1.2em; }
#content-wrap h6 { font-size: 1em; }

/* HR */
#content-wrap hr { display: block; background: #aaa; color: #aaa; width: 100%; height: 1px; border: none; }

/* LISTS */
#content-wrap ul li { text-indent: -.85em; margin-left: .85em; }
#content-wrap ul li:before { content: "\2022\00a0\00a0"; }
#content-wrap ol { list-style-position: outside; list-style-type: decimal; }
#content-wrap dt { font-weight: bold; }

/* TABLES */
#content-wrap table { border-top: 1px solid #ccc;  border-left: 1px solid #ccc; }
#content-wrap th, #content-wrap td { border-bottom: 1px solid #ddd; border-right: 1px solid #ccc; }

/* MARGINS & PADDINGS */
#content-wrap blockquote *:first-child { margin: .8em 0; }
#content-wrap hr, #content-wrap p, #content-wrap ul, #content-wrap ol, #content-wrap dl, #content-wrap pre, #content-wrap blockquote, #content-wrap address, #content-wrap table { margin-bottom: 1.6em; }
#content-wrap p+p { margin-top: -.8em; }
/* NOTE: Calulate header margins: TOP: 1.6em/size, BOTTOM: 1.6em/size/2 */
#content-wrap h1 { margin: 1em 0 .5em;  }
#content-wrap h2 { margin: 1.07em 0 .535em; }
#content-wrap h3 { margin: 1.14em 0 .57em; }
#content-wrap h4 { margin: 1.23em 0 .615em; }
#content-wrap h5 { margin: 1.33em 0 .67em; }
#content-wrap h6 { margin: 1.6em 0 .8em; }
#content-wrap th, #content-wrap td { padding: .8em; }
#content-wrap caption { padding-bottom: .8em; } /* padding instead of margin for IE */
#content-wrap blockquote { padding: 0 1em; margin: 1.6em 0; }
#content-wrap dt { margin-top: .8em; margin-bottom: .4em; }
#content-wrap ul { margin-left: 1.5em; }
/*ol { margin-left: 2.35em; }*/ /*delete  alex*/
ol ol, ul ol { margin-left: 2.5em; }

/* COLORS */
#content-wrap a:link { text-decoration: underline; color: #36c; }
#content-wrap a:visited { text-decoration: underline; color: #99c; }
#content-wrap a:hover { text-decoration: underline; color: #c33; }
#content-wrap a:active, #content-wrap a:focus { text-decoration: underline; color: #000; }
#content-wrap code, #content-wrap pre { color: #c33; } /* very optional, but still useful. W3C uses about the same colors for codes */