<!--<div class="row row-centered">-->
<!--<div class='col-md-offset-1 col-md-10 сol-centered dashboard-index text-center'>-->
<div class='col-xs-12 col-sm-12 col-md-12'>
    <div class='text-center remove-link-line'>
        <!-- dashboard menu buttons-->
        <div class="row row-centered text-center">
            <div class="col-sm-3">
                <div class="btn-dashboard-menu pull-right" ui-sref-active="active" ui-sref="dashboard.accountProfile.upgradePlan">Upgrade Plan</div>
            </div>
            <div class="col-sm-3">
                <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.accountProfile.accountManagers">Account Managers</div>
            </div>
            <div class="col-sm-3">
                <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.accountProfile.bannerUpload">Upload Banner</div>
            </div>
        </div>

    </div>

</div>

<!--Here you can manage your Account Profile by upgrading your Plan and adding Account Managers.-->


<div ui-view="accountProfileContent"></div>

