<div class='col-xs-12 col-sm-12 col-md-12'>
    <div class='text-center remove-link-line'>
        <!-- dashboard menu buttons-->
        <div class="row">
            <div class="col-sm-6">
                <div class="btn-dashboard-menu pull-right" ui-sref-active="active" ui-sref="dashboard.accountProfile.upgradePlan">Upgrade Plan</div>
            </div>
            <div class="col-sm-6">
                <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.accountProfile.accountManagers">Account Managers</div>
            </div>
        </div>

    </div>

</div>

<!--Here you can manage your Account Profile by upgrading your Plan and adding Account Managers.-->
<div ui-view="accountProfileContent" class="row"></div>
