<div class='modal fade' id='registrationDialogModal' role='dialog'>
  <div class='modal-dialog registrationDialogModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-body'>
        <h4><center><%= errors.dialog.message %></center></h4>
      </div>
      <div class='modal-footer'>
        <% if(errors.dialog.link == null) { %>
          <button type="button" onclick='jQuery("#registrationDialogModal").modal("hide");' class="btn btn-standart btn-red btn-small pull-right">Close</button>
        <% } else { %>
          <a type="button" href="<%= errors.dialog.link.url %>" class="btn btn-standart btn-green btn-small pull-right"><%= errors.dialog.link.title %></a>
        <% } %>
      </div>
    </div>
  </div>
</div>
