<% include header %>
<div id="close-session-response-container">
  <h1 class="text-center">Thank you</h1>
  <div class="text-center close-session-message"><%= message %></div>
</div>

<% include footer %>
