  <footer id="footer" class="text-center">
      © Kliiko
      |
      <a href="#">Privacy policy</a>
      |
      <a href="#">Terms and conditions</a>
    </footer>


  <!-- null modal == fader -->
  <div class='modal fade' id='null' role='dialog'>

  </div>

  </body>
</html>
