
  <footer id="footer" class="text-center">
    <% var terms_of_use_url = (locals.user && locals.user.role == "participant") ? '/terms_of_use_participant' : '/terms_of_use'; %>

    © klzii | <a href='/privacy_policy' target='_blank'>Privacy Policy</a> | <a href='<%= terms_of_use_url %>' target='_blank'>Terms & Conditions</a> | Version: 0.0.2
  </footer>


  <!-- null modal == fader -->
  <div class='modal fade' id='null' role='dialog'></div>

  <script type="text/javascript">
    var array = [
      { id: "#mobilePhone", hidden: "#phoneCountryData" },
      { id: "#landline_number", hidden: "#landlineNumberCountryData" },
    ];

    array.map(function(element) {
      var field = $(element.id);
      field.intlTelInput({
        nationalMode: false,
        defaultCountry: 'au',
        preferredCountries: ['au'],
        utilsScript: '/js/vendors/intl-tel-input/src/utils.js',
        autoFormat: true,
        autoPlaceholder: true
      });


      var data = $(element.hidden).val();
      if(data) {
        field.intlTelInput('setCountry', JSON.parse(data).iso2 || 'au');
      }
    });

    $('#register').submit(function() {
      array.map(function(element) {
        var field = $(element.id);
        var phoneData = field.intlTelInput('getSelectedCountryData');
        var json = JSON.stringify(phoneData);
        $(element.hidden).val(json);
      });
    });
  </script>
  <script>
    var error = $('#warning-email-password');
    $('#warning-email-password > .close').click(function() {
      error.hide();
    });
    if(!$('#warning-email-password > .error-field').text().length) {
      error.hide();
    }
  </script>
  <script>
    !function() {
      var e=document.createElement("script"),
          t=document.getElementsByTagName("script")[0];

      e.async=1,
      e.src="https://inlinemanual.com/embed/player.4d477842920267622ba2d80045849e23.js",
      e.charset="UTF-8",
      t.parentNode.insertBefore(e,t)
    }();
  </script>
</body>
</html>
