  <footer id="footer" class="text-center">
      © klzii
      |
      <a href="#">Privacy Policy</a>
      |
      <a href="#">Terms and Conditions</a>
    </footer>


  <!-- null modal == fader -->
  <div class='modal fade' id='null' role='dialog'>

  </div>

  <script type="text/javascript">
    var mobilePhone = $("#mobilePhone");
    mobilePhone.intlTelInput({
      preferredCountries: ["au"],
      initialCountry: "au"
    });

    var landline_number = $("#landline_number");
    landline_number.intlTelInput({
      preferredCountries: ["au"],
      initialCountry: "au"
    });

    var data = $("#phoneCountryData").val();
    if(data) {
      mobilePhone.intlTelInput("setCountry", JSON.parse(data).iso2);
    }

    data = $("#landlineNumberCountryData").val();
    if(data) {
      landline_number.intlTelInput("setCountry", JSON.parse(data).iso2);
    }


    $('#register').submit(function() {
      var phoneData = mobilePhone.intlTelInput("getSelectedCountryData");
      var phoneCountryData = {
        iso2: phoneData.iso2,
        dialCode: phoneData.dialCode,
        countryName: phoneData.name
      };
      var json = JSON.stringify(phoneCountryData);
      $("#phoneCountryData").val(json);

      phoneData = landline_number.intlTelInput("getSelectedCountryData");
      phoneCountryData = {
        iso2: phoneData.iso2,
        dialCode: phoneData.dialCode,
        countryName: phoneData.name
      };
      json = JSON.stringify(phoneCountryData);
      $("#landlineNumberCountryData").val(json);
    });
  </script>
  </body>
</html>
