  <footer id="footer" class="text-center">
      <a href="#">© Kliiko</a>
      |
      <a href="#">Privacy police</a>
      |
      <a href="#">Terms and conditions</a>
    </footer>


  </body>
</html>
