  <footer id="footer" class="text-center">
      © klzii
      |
      <a href="#">Privacy Policy</a>
      |
      <a href="#">Terms & Conditions</a>
      |
      Version: 0.0.2
    </footer>


  <!-- null modal == fader -->
  <div class='modal fade' id='null' role='dialog'>

  </div>

  <script type="text/javascript">
    var array = [
      { id: "#mobilePhone", hidden: "#phoneCountryData" },
      { id: "#landline_number", hidden: "#landlineNumberCountryData" },
    ];

    array.map(function(element) {
      var field = $(element.id);
      field.intlTelInput({
        nationalMode: false,
        defaultCountry: 'au',
        preferredCountries: ['au'],
        utilsScript: 'js/vendors/intl-tel-input/src/utils.js',
        autoFormat: true,
        autoPlaceholder: true
      });


      var data = $(element.hidden).val();
      if(data) {
        field.intlTelInput('setCountry', JSON.parse(data).iso2 || 'au');
      }
    });

    $('#register').submit(function() {
      array.map(function(element) {
        var field = $(element.id);
        var phoneData = field.intlTelInput('getSelectedCountryData');
        var json = JSON.stringify(phoneData);
        $(element.hidden).val(json);
      });
    });
  </script>
  </body>
</html>
