<% include header %>

<div class="login-container center-block">
  <ul class="nav nav-tabs">
    <li class="active">
      <a class="background-yellow text-font-family-tabs text-white text-shadow-gray btn login-kliiko-tab" href="/login">Login to klzii</a>
    </li>
  </ul>
  <div class="tab-content border-yellow text-font-family">
    <div id="login" class="tab-pane fade in active">
      <% if (success) { %>
        <div class="reset-password-success-message">
        <h5 class="text-center text-gray-dark">
          We’ve sent you an email that will contain a link to reset your password.
        </h5>
        <h5 class="text-center text-gray-dark">
          If the email does not arrive within few minutes, please check your spam folder.
        </h5>
        </div>
      <% } else { %>
        <h1 class="text-center text-gray-dark">Forgot Password</h1>
        <h5 class="text-center text-gray-dark">
          Please enter your Account email address. Check your inbox for your
          confirmation email and follow the links to create your new password.
        </h5>
        <div class="error-column has-error text-center" id="warning-email-password">
          <div class="error-field"><%= error %></div>
          <button type="button" class="close">×</button>
        </div>
        <form class="non-resubmitable" method="post" action="/forgotpassword" novalidate>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-no-inside-borders text-left text-gray-dark table-v-content-middle">
                  <tr>
                    <td class="form-group">
                      <label class="pull-right" for="email">Email</label>
                    </td>
                    <td class="form-group text-center">
                      <img src="/icons/user.png" />
                    </td>
                    <td class="form-group">
                      <input type="email" value="<%= email %>" class="form-control center-block border-brown" name="email" id="email" placeholder="E-mail">
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <button type="submit" value="Submit" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Submit</button>
              </div>
            </div>
          </div>
        </form>
      <% } %>
    </div>
  </div>
</div>

<% include footer %>
