<% include layout %>

<main class="main-first-page-registration">
    <div class="container">
        <h1 id="welcome">Welcome!</h1>
        <div class="tab-content">
            <div id="signup" class="tab-pane fade in active">
                <h2>Forgot your password?</h2>

                <form method="post" action="/forgotpassword">
                    <div class="form-group">
                        <div class="has-error"><%= error %></div>
                        <sdiv class="has-success"><%= success %></div>
                        <label for="email">E-mail*</label>
                        <input type="email" value="<%= email %>" class="form-control center-block" name="email" id="email" placeholder="E-mail" required>
                    </div>

                    <div class="form-group center-block">
                        <div class="check center-block">
                            <button type="submit" value="Submit" class="btn login">Submit</button>
                        </div>
                    </div>
                    <br /><br /><br /><br /><br /><br /><br />
                </form>
            </div>
        </div>
    </div>
</main>
