<% include header %>

<div class="login-container center-block">
  <ul class="nav nav-tabs">
    <li class="active">
      <a class="background-yellow text-white text-shadow-gray btn" href="#login">Login to Kliiko</a>
    </li>
  </ul>
  <div class="tab-content border-yellow">
    <div id="login" class="tab-pane fade in active">
      <h2>Forgot Password</h2>
      <p>
        Please enter your Account email address. Check your inbox for your
        </br>
        confirmation email and follow the links to create your new password.
      </p>
      <div id="warning-email-password"><%= error %></div>
      <form method="post" action="/forgotpassword" novalidate>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-no-inside-borders text-left text-gray-dark table-v-content-middle">
                <tr>
                  <td class="form-group">
                    <label for="email">E-mail</label>
                  </td>
                  <td class="form-group text-center">
                    <img src="icons/user.png" />
                  </td>
                  <td class="form-group">
                    <input type="email" value="<%= email %>" class="form-control center-block" name="email" id="email" placeholder="E-mail">
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
              <button type="submit" value="Submit" class="btn border-yellow text-yellow-dark background-transp pull-right">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% include footer %>