<% include header %>

<main class="main-first-page-registration">
    <div class="container">
        <h1 id="welcome">Welcome, James!</h1>
        <h3 id="welcome">Congratulations! You have 1 free Chat Session to get started </h3>

        <h2 id="welcome">Here's how it Works...</h2>
        <h4 id="welcome">Introduction Overview</h4>
        <div align="center" class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
                <source src=/video/video_landing_page.mp4 type=video/mp4>
            </video>
        </div>
<br>
        <a id="download-pdf" href="/pdf/IF_Wireframe_Start.pdf" download><h4 id="welcome-download-pdf">Download PDF</h4></a>
        <br>
        <button type="submit" id="btn-go" class="btn-default go center-block">
            let's GO</button>

    </div>
</main>

<% include footer %>
