<% include header %>

<main class="main-welcome">
  <div class="welcome"> 
    <h1>Welcome to Kliiko!</h1>
    <h4>Watch the video to see how it works.</h4>

    <div id="video-placeholder" class="box-shadow border-yellow" data-video-src="https://www.youtube.com/embed/H8PC1_3fjvs?rel=0&autoplay=1">
      <div class="play-btn"></div>
    </div>

  </div>



</main>

<% include footer %>