<% include layout %>

<main class="main-first-page-registration">
    <div class="container">
        <h1 id="welcome">Welcome, James!</h1>
        <h3 id="welcome">Congratulations! You have 1 free Chat Session to get started </h3>

        <h2 id="welcome">Here's how it Works...</h2>
        <h4 id="welcome">Introduction Overview</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/22428395"></iframe>
        </div>
        <a id="download-pdf" href="#"><h4 id="welcome-download-pdf">Download PDF</h4></a>
    <button type="submit" class="btn-default go center-block">let's GO</button>

    </div>
</main>


