<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--build:css css/lib.css-->
    <!--bower:css-->

    <!-- endbower-->
    <!--endbuild-->

    <!--build:css css/app.css-->
    <!-- inject:css-->

    <!-- endinject-->
    <!--endbuild-->


    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <!-- <link href="stylesheets/style.css" rel="stylesheet"> -->

  </head>
  <body>
    <% if(user) { %>
      You are logged in as <%= user.display_name %>
      <a href="/logout" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
    <%}else {%>
      <a href="/login" class="btn btn-danger"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
    <% }%>

    <!--build:js js/lib.js-->

    <!-- bower:js -->

    <!-- endbower -->
    <!--endbuild-->

    <!--build:js js/app.js-->
    <!--inject:js-->

    <!--endinject-->

    <!--inject:templates:js-->
    <!--endinject-->

    <!--endbuild-->
  </body>
</html>
