<% include layout %>

<main class="main-first-page">
    <div class="container">
        <h1 id="welcome">Welcome!</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#login">LOG IN</a></li>
            <li><a href="/registration">SIGN UP</a></li>
        </ul>
        <div class="tab-content">
            <div id="login" class="tab-pane fade in active">
                <h2>Log in to your account</h2>
                <form method="post" action='/login'>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name='email' class="form-control center-block" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-group center-block">
                        <label for="password">Password</label>
                        <input type="password" name='password' class="form-control center-block" id="password"
                               placeholder="Password">
                    </div>
                    <div class="form-group center-block">
                        <div class="check center-block">
                            <input type="checkbox" class="checkbox-login" name='thing' value='valuable'
                                   id="thing"/><label for="thing">
                                <div id="remember">Remember</div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="check center-block">
                            <button type="submit" class="btn login">Login</button>
                        </div>
                    </div>
                    <a id="forgot-password">Forgot your password?</a>

                    <h2 id="or">Or</h2>
                </form>
                <div class="form-group center-block">
                    <div class="check-google center-block">
                        <a class="btn btn-block btn-social btn-google">
                            <i class="fa fa-google"></i> Log in with Google
                        </a>
                    </div>
                </div>
                <div class="form-group center-block">
                    <div class="check-facebook center-block">
                        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i> Log in with Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $('#password').password().on('show.bs.password', function(e) {
                $('#eventLog').text('On show event');
                $('#methods').prop('checked', true);
            }).on('hide.bs.password', function(e) {
                $('#eventLog').text('On hide event');
                $('#methods').prop('checked', false);
            });
            $('#methods').click(function() {
                $('#password').password('toggle');
            });
        });
    </script>
</main>
