<% include header %>

<main class="main-first-page">
    <div class="login-container center-block">
        <ul class="nav nav-tabs">
            <li class="active">
              <a class="background-yellow text-white text-shadow-gray btn" href="#login">Login to Kliiko</a>
            </li>
            <li>
              <a class="background-green text-white" href="/registration">SIGN UP</a>
            </li>
        </ul>
        <div class="tab-content border-yellow">
            <div id="login" class="tab-pane fade in active">
                <h2>Welcome!</h2>
                <div id="warning-email-password"><%= error %></div>
                <form method="post" action='/login'>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-no-inside-borders text-left text-gray-dark table-v-content-middle">
                          <tr>
                              <td class="form-group">
                                <label for="email">E-mail</label>
                              </td>
                              <td class="form-group text-center">
                                <img src="icons/user.png" />
                              </td>
                              <td class="form-group">
                                <input type="email" name='email' class="form-control center-block" id="email" placeholder="E-mail">
                              </td>
                          </tr>
                          <tr>
                              <td class="form-group">
                                <label for="password">Password</label>
                              </td>
                              <td class="form-group text-center">
                                <img src="icons/lock.png" />
                              </td>
                              <td class="form-group">
                                <input type="password" name='password' class="form-control center-block" id="password" placeholder="Password">
                              </td>

                          </tr>
                          <tr>
                            <td></td>
                            <td class="text-center">
                                 <input type="checkbox" class="checkbox-login" name="rememberMe"id="rememberMe"/>
                                 <label for="rememberMe">
                                 </label>
                            </td>
                            <td>Remember me</td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <!--<div class="row">
                      <div class="col-md-12">
                        <div class="form-group center-block">
                          <div class="check center-block">
                             <input type="checkbox" class="checkbox-login" name="rememberMe"id="rememberMe"/>
                             <label for="rememberMe">
                             <div id="remember">Remember</div>
                             </label>
                          </div>


                        </div>
                      </div>
                    </div>-->

                    <div class="row">
                      <div class="col-md-12 form-group">
                        <button type="submit" class="btn border-yellow text-yellow-dark background-transp pull-right">Login</button>
                        <a class="btn border-red text-red-dark text-no-decoration pull-left" href="/forgotpassword" id="forgot-password">Forgot your password?</a>
                      </div>
                    </div>

                  </div>

                </form>
            </div>
        </div>
    </div>
</main>

<% include footer %>
