<% include header %>

<div class='col-xs-12 col-md-offset-3 col-md-6'>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt"><span style="letter-spacing: normal"><b>klzii
  Privacy Policy</b></span></font></p>
  <p style="margin-bottom: 0in; letter-spacing: normal; line-height: 100%">
  <br/>

  </p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><b>Effective
  from 1st July 2016</b></span></font></p>
  <p style="margin-bottom: 0.17in; letter-spacing: normal; line-height: 100%">
  <br/>
  <br/>

  </p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">At
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  your privacy is extremely important to us. We will never sell or use
  any of your contact details, nor any contact details of those within
  your Contact Lists.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">This
  policy will give you information on how we manage the information we
  collect when you use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="4" style="font-size: 14pt"><i><b>I
  created a Session so what are my privacy rights?</b></i></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>All
  information you collect during your Session is owned by you</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  will never use, sell or disclose any information collected by you to
  any third party, unless you give us permission or we are </font><font size="3" style="font-size: 12pt"><span style="background: #ffffff">compelled
  by a subpoena. </span></font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Your
  Guests' email addresses are safe</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you either upload an existing Contact List, or create one using </font><font size="3" style="font-size: 12pt"><b>klzii
  Recruiter</b></font><font size="3" style="font-size: 12pt">, these
  lists belong to you and </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  only stores them for your access only. We don’t sell these email
  addresses, and we use them only as directed by you and in accordance
  with this policy. </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>We
  hold your data securely</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  use Google Cloud servers globally, and if you need further
  information on their security check out this link
  <a href="https://cloud.google.com/security/">https://cloud.google.com/security/</a></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="4" style="font-size: 14pt"><b>Privacy
  For Account Managers</b></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><i><b>What
  information does klzii collect?</b></i></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">When
  you use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">,
  we collect information relating to you and your use of our services
  from a variety of sources. </font>
  </p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Information
  we collect directly from you</b></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Registration
  information</b></font><font size="3" style="font-size: 12pt">&nbsp; </font>
  </p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">When
  you register a new Account, we collect your username, password and
  email address. If you choose to register by using a third party
  account (such as Google or Facebook), please see “Information from
  third parties” below.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Billing
  information</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you make a payment to </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">,
  we require you to provide your billing details, such as a name,
  address, email address and financial information corresponding to
  your selected method of payment (e.g. a credit card number and
  expiration date). Your billing address will be regarded as the
  location of the Account holder.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Contact
  Lists</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">You
  can upload your existing Contact Lists which include email addresses,
  or you can create Contact Lists using </font><font size="3" style="font-size: 12pt"><b>klzii
  Recruiter</b></font><font size="3" style="font-size: 12pt">. </font><font size="3" style="font-size: 12pt">Your
  Contact Lists are stored on a secure Google Cloud server. We don’t,
  under any circumstances, sell your Contact Lists. If someone on your
  Contact List complains or contacts us, we may then contact that
  person. Only authorized employees have access to view Contact Lists. </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Conversation
  Text</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%">&nbsp;<font size="3" style="font-size: 12pt">We
  store your conversation text, as well as any templates you have
  set-up to conduct a Session, for you as long as you have a paid
  Account </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Other
  data you intentionally share</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  may collect your personal information or data if you submit it to us
  in other contexts. For example, if you provide us with a testimonial.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>We
  don’t share or abuse your respondents’ email addresses</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"> <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not email your Session Guests or people in your Contact
  Lists, except at your direction. We never sell those email addresses
  to any third parties.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Information
  we collect about you indirectly or passively when you interact with
  us</b></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Inline
  Manual People Tracking</b></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font color="#333333"><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">klzii</span></b></font></font><font color="#333333"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">
  utilizes the </span></font></font><a href="https://inlinemanual.com/"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Inline
  Manual</span></font></a><font color="#333333"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">
  platform to provide our Contextual Help system, including
  walk-throughs and tool-tips.</span></font></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font color="#333333"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">In
  order to fine-tune our platform for a better User Experience, Inline
  Manual tracks </span></font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">klzii</span></b></font></font><font color="#333333"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">
  users and displays reports to the </span></font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">klzii</span></b></font></font><font color="#333333"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">
  site Administrators </span></font></font><font color="#333333"><font size="3" style="font-size: 12pt"><u><span style="background: #ffffff">only</span></u></font></font><font color="#333333"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">,
  describing who they are and how they behave. These reports can be
  used to find out where a user is from, which tutorials they did and
  their latest activity.</span></font></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt">All
  People Tracking information is strictly confidential to </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">,
  and will not be shared with any other party.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><br/>

  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Usage
  data</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  collect usage data about you whenever you interact with our services.
  This may include which web pages you visit, what you click on, when
  you performed those actions, and so on. Additionally, like most
  websites today, our web servers keep log files that record data each
  time a device accesses those servers. The log files contain data
  about the nature of each access, including originating IP addresses,
  operating system versions, and timestamps.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Device
  data</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  collect data from the device and application you use to access our
  services, such as your IP address, operating system version, device
  type, system and performance information, and browser type. We may
  also infer your geographic location based on your IP address.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Referral
  data</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you arrive at the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  website from an external source (such as a link on another website or
  in an email), we record information about the source that referred
  you to us.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Information
  from third parties</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  may collect your personal information or data from third parties if
  you give permission to those third parties to share your information
  with us. For example, you have the option of registering and signing
  into </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  with your Facebook account details. If you do this, the
  authentication of your logon details is handled by Facebook and we
  only collect information about your Facebook account that you
  expressly agree to share with us at the time you give permission for
  your </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  account to be linked to your Facebook account.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Information
  from page tags</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  use third party tracking services that employ cookies and page tags
  (also known as&nbsp;<a href="http://en.wikipedia.org/wiki/Web_bug">web
  beacons</a>) to collect aggregated and anonymized data about visitors
  to our websites. This data includes usage and user statistics.&nbsp;Emails</font><font color="#333333"><font size="3" style="font-size: 12pt">
  </font></font><font size="3" style="font-size: 12pt">sent by </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  or by users through our services may include page tags that allow the
  sender to collect information about who opened those emails and
  clicked on links in them. We do this to allow the email sender to
  measure the performance of their email messaging and to learn how to
  improve email deliverability and open rates.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt"><i><b>How
  does klzii use the information I collect?</b></i></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Your
  Session information is private to you</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  know that you want to keep your Session questions and responses
  private. We do not use your Session data other than as described in
  this Privacy Policy or unless we have your written consent. And we
  will never sell your Session data to third parties without your
  permission.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>To
  provide you with our services</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">In
  order to help you setting up your Session it may require us accessing
  your information. </font>
  </p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you choose to link your </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  account to a third party account (such as your Google or Facebook
  account), we may use the information you allow us to collect from
  those third parties to provide you with additional features,
  services, and personalised content.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>To
  improve our services</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">Just
  like you, we do our own homework and chat to customers, and run our
  own data analysis to manage and monitor our performance.  This helps
  us develop new tips and features to make using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  easier for you.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>To
  facilitate Account creation and the logon process</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you choose to link your </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  account to a third party account (such as your Google or Facebook
  account), we use the information you allowed us to collect from those
  third parties to facilitate the account creation and login process.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>To
  contact you about your service or account</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  occasionally send you communications of a transactional nature that
  you can't opt-out of. These are emails that relate to your Account
  and the service </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  provides to you.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>To
  contact you for marketing purposes</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">When
  you sign-up for your </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  account you  have the option of opting out of marketing
  communication. We also hate lots of emails, so will only send you
  tips and general information on how to get the most value out of
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.
   You can unsubscribe to these marketing messages by the link at the
  bottom of the email. </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>To
  respond to legal requests and prevent harm</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  we receive a subpoena or other legal request, we may need to inspect
  the data we hold to determine how to respond.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><i><b>With
  whom do we share or disclose your information?</b></i></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">Unless
  you tell us to, or we are required by law, we don't share with
  anyone.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><i><b>When
  might we disclose your Session data to third parties?&nbsp;</b></i></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">Only
  for a limited number of reasons. We share your information with our
  service providers who help us to provide our services to you. We
  contractually bind these service providers to keep your information
  confidential and to use it only for the purpose of providing their
  services. For example, we use payment processors who help us to
  process credit card transactions. By using our services, you
  authorize </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  to sub-contract in this manner on your behalf. In rare circumstances,
  we may share information if required by law, or in a corporate
  restructuring or acquisition context (see below for more details).</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>We
  may disclose:</b></font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Your
  information to our service providers</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  use service providers who help us to provide you with our services.
  We give relevant persons working for some of these providers access
  to your information, but only to the extent necessary for them to
  perform their services for us. We also implement reasonable
  contractual and technical protections to ensure the confidentiality
  of your personal information and data is maintained, used only for
  the provision of their services to us, and handled in accordance with
  this Privacy Policy. Examples of service providers include payment
  processors, hosting services, email and SMS service providers, and
  web traffic analytics tools.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Your
  account details to your billing contact</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  your details (as the Account holder) are different to the billing
  contact listed for your Account, we may disclose your identity and
  Account details to the billing contact upon their request (we also
  will usually attempt to notify you of such requests). By using our
  services and agreeing to this Privacy Policy, you consent to this
  disclosure.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Your
  email address to your organization</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  the email address under which you’ve registered your Account
  belongs to, or is controlled by an organization, we may disclose that
  email address to that organization in order to help it understand who
  associated with that organization uses </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">,
  and to assist the organization with its enterprise Accounts. Please
  do not use a work email address for our services unless you are
  authorized to do so, and are therefore comfortable with this
  disclosure.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>The
  presence of a cookie to advertise our services</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  may ask advertising networks and exchanges to display ads promoting
  our services on other websites. We may ask them to deliver those ads
  based on the presence of a cookie, but in doing so will not share any
  other personal information with the advertiser. Our advertising
  network partners may use cookies and page tags or web beacons to
  collect certain non-personal information about your activities on
  this and other websites to provide you with targeted advertising
  based upon your interests. If you do not wish to have this
  information used for the purpose of serving you such targeted ads,
  you may opt-out at </font><a href="http://preferences-mgr.truste.com/"><font color="#0070c0"><font size="3" style="font-size: 12pt"><u>http://preferences-mgr.truste.com/</u></font></font></a><font size="3" style="font-size: 12pt">
  </font><font size="3" style="font-size: 12pt">or, if you’re located
  in the European Union, at </font><a href="http://www.youronlinechoices.eu/"><font color="#0070c0"><font size="3" style="font-size: 12pt"><u>http://www.youronlinechoices.eu</u></font></font></a><font size="3" style="font-size: 12pt">
   You will continue to receive generic ads.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Your
  information if required or permitted by law</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  may disclose your information as required or permitted by law, or
  when we believe that disclosure is necessary to protect our rights,
  protect your safety or the safety of others, and/or to comply with a
  judicial proceeding, court order, subpoena, or other legal process
  served on us.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Your
  information if there’s a change in business ownership or structure</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  ownership of all or substantially all of our business changes, or we
  undertake a corporate reorganization (including a merger or
  consolidation) or any other action or transfer between </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  entities, you expressly consent to </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  transferring your information to the new owner or successor entity so
  that we can continue providing our services. If required, </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will notify the applicable data protection agency in each
  jurisdiction of such a transfer in accordance with the notification
  procedures under applicable data protection laws.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Information
  you expressly consent to be shared</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">For
  example, we may expressly request your permission to provide your
  contact details to third parties for various purposes, including to
  allow those third parties to contact you for marketing purposes. (You
  may later revoke your permission, but if you wish to stop receiving
  communications from a third party to which we provided your
  information with your permission, you will need to contact that third
  party directly.)</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt"><i><b>What
  are your rights to your information?</b></i></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">You
  can:</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Update
  your Account details</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">You
  can update your registration and other Account information on your </font><a href="https://www.surveymonkey.com/user/account/"><font size="3" style="font-size: 12pt"><b>My</b></font></a><font size="3" style="font-size: 12pt"><b>
  Details</b></font><font size="3" style="font-size: 12pt"> page.
  Information is updated immediately.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Access
  and correct your personal information</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">You
  may access and correct the personal information that </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  holds about you. This right may be exercised by visiting your </font><font size="3" style="font-size: 12pt"><b>My
  Details</b></font><font size="3" style="font-size: 12pt"> page or by
  contacting </font><a href="mailto:support@klzii.com"><font size="3" style="font-size: 12pt">support@klzii.com</font></a><font size="3" style="font-size: 12pt">
  This right is subject to some exceptions, such as where giving you
  access would have an unreasonable impact on the privacy of other
  individuals. We will respond to your request for access or correction
  within a reasonable time and, where reasonable and practicable to do
  so, we will provide access to your personal information in the manner
  requested by you.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Delete
  your Session data</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">Deleting
  Session data in the ways described in Help will not permanently
  delete survey data immediately. As long as you maintain an Account
  with us, we may retain your deleted data for a limited time in case
  you delete something by accident and need to restore it (which you
  can request by contacting </font><a href="mailto:support@klzii.com"><font size="3" style="font-size: 12pt">support@klzii.com</font></a><font size="3" style="font-size: 12pt">.
  To the extent permitted by law, we will permanently delete your data
  if you request to cancel your Account. </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Cancel
  your Account.</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">To
  cancel and delete your Account, you can just stop paying your
  subscription; or you can contact us and we will remove you from the
  system <a href="mailto:contact@klzii.com">contact@klzii.com</a>
  Deleting your Account will cause all the Session data, as well as
  your Contact Lists in the Account to be permanently deleted from our
  systems within a reasonable time period, as permitted by law.  </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><i><b>For
  how long do we retain your data?</b></i></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  generally retain your data for as long as you have an Account with
  us, or to comply with our legal obligations, resolve disputes, or
  enforce our agreements. Data that is deleted from our servers may
  remain as residual copies on offsite backup media for up to
  approximately 12 months afterward. </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Changes
  to this Privacy Policy</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  may modify this Privacy Policy at any time, but if we do so, we will
  notify you by publishing the changes on this website. If we determine
  the changes are material, we will provide you with additional,
  prominent notice as is appropriate under the circumstances, such as
  via email or in another conspicuous manner reasonably designed to
  notify you. If, after being informed of these changes, you do not
  cancel your subscription and continue to use our services beyond the
  advance-notice period, you will be considered as having expressly
  consented to the changes in our Privacy Policy. If you disagree with
  the terms of this Privacy Policy or any updated Privacy Policy, you
  may close your Account at any time.</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Blogs
  and Forums</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">The
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  </font><font size="3" style="font-size: 12pt"><b>Community</b></font><font size="3" style="font-size: 12pt">
  is a publicly accessible forum. You should be aware that any
  information you provide in these areas may be read, collected, and
  used by others who access them. We’re not responsible for any
  personal information you choose to submit in these areas of our site.
  To request removal of your personal information from our blog or
  community forum <a href="mailto:contact@klzii.com">contact@klzii.com</a>
  In some cases, we may not be able to fulfil your request and we will
  let you know why. </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Online
  Tracking</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  currently do not process or comply with any web browser’s “do not
  track” signal or other similar mechanism that indicates a request
  to disable online tracking of individual users who visit our websites
  or use our services (unless otherwise stated in a service-specific
  privacy statement).</font></p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Safety
  of Children and COPPA.</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">Our
  services are not intended for and may not permissibly be used by
  individuals under the age of 13. </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  does not knowingly collect personal data from persons under 13 or
  allow them to register. If it comes to our attention that we have
  collected personal data from such a person, we may delete this
  information without notice. If you have reason to believe that this
  has occurred, please contact us at </font><a href="mailto:support@klzii.com"><font size="3" style="font-size: 12pt">support@klzii.com</font></a><font size="3" style="font-size: 12pt">
  </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 115%"><font size="3" style="font-size: 12pt"><b>Account
  Managers located in Australia</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you are the Account Manager and located in Australia then this
  section applies to you. We are subject to the operation of the</font><font size="3" style="font-size: 12pt">
  </font><span style="display: inline-block; border: none; padding: 0in"><font size="3" style="font-size: 12pt"><span style="font-style: normal"><em>Privacy
  Act 1988</span></span></font></em><font size="3" style="font-size: 12pt">(“</font><span style="display: inline-block; border: none; padding: 0in"><font size="3" style="font-size: 12pt"><b>Australian
  Privacy Act</span></font></b><font size="3" style="font-size: 12pt">”).
  You need to be aware of the following:</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">Where
  we say we assume an obligation about Personal Information then we are
  also requiring our subcontractors to undertake a similar obligation,
  where relevant.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  will not use or disclose personal information for the purpose of our
  direct marketing to you unless: you have consented to receive direct
  marketing; you would reasonably expect us to use your personal
  details for the marketing; or we believe you may be interested in the
  material but it is impractical for us to obtain your consent. You may
  opt out of any marketing materials we send to you through an
  unsubscribe mechanism or by contacting us directly </font><a href="mailto:contact@klzii.com"><font size="3" style="font-size: 12pt">contact@klzii.com</font></a><font size="3" style="font-size: 12pt">.
  If you have requested not to receive further direct marketing
  messages, we may nevertheless continue to provide you with messages
  that are not regarded as “direct marketing” under the Australian
  Privacy Act, including changes to our terms, system alerts and other
  information related to your Account.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">Our
  Google Cloud servers and/or our subcontractors, may utilise cloud
  technology to store or process personal information, which may result
  in storage of data outside Australia. It is not practicable for us to
  specify in advance which country will have jurisdiction over such
  off-shore activities. All of our subcontractors, however, are
  required to comply with the Australian Privacy Act in relation to the
  transfer or storage of Personal Information overseas.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you think the information we hold about you is inaccurate, out of
  date, incomplete, irrelevant or misleading, we will take reasonable
  steps, consistent with our obligations under the Australian Privacy
  Act, to correct that information if you so request at
  </font><font size="3" style="font-size: 12pt"><a href="mailto:contact@klzii.com">contact@klzii.com</a>.</font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">If
  you are unsatisfied with our response to a privacy matter then you
  may consult either an independent advisor or contact the Office of
  the Australian Information Commissioner for additional help. We will
  provide our full cooperation if you pursue this course of action.</font></p>
  <p style="margin-bottom: 0.16in; line-height: 100%"><br/>
  <br/>

  </p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="4" style="font-size: 14pt"><i><b>I
  am a Guest in a Session, so what privacy rights do I have?</b></i></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt"><b>Please
  note: </b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">that
  if you firstly participated in a mini-survey built in the </font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b>klzii</b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">
  system, known as </font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b>Recruiter</b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">,
  before being invited to a Chat Session, all of your following privacy
  rights apply equally to data collected in that survey.</font></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt"><b>The
  difference between your Host and the Account Manager</b></font></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt">Within
  </font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b>klzii</b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">
  the Account Manager is the person that owns the Session and its
  information. They may also be the Host or they can outsource
  that role.  If outsourced the Host is the legal representative
  of the Account Manager.</font></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt"><b>Sessions
  are managed by your Host</b></font></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt">You
  were invited to attend a Session by the Host of that Session.
  We store the text gathered during each Session on the </font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b>klzii</b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">
  platform. If you have any questions about a Session you are involved
  with, please contact the Host directly via their contact
  information in the signature of your Invitation email. </font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b>klzii</b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">
  is not responsible for the content of that Session or your responses
  to it. The Host is the person that invited you to participate
  in the Session, and sometimes they may have their own Privacy Policy.</font></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt"><b>We
  don’t sell your responses to third parties</b></font></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt"><b>klzii</b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">
  doesn’t sell or share your comments within a Session with third
  party advertisers or marketers (although the Account Manager might,
  so check with them). </font></font><font color="#333333"><font size="3" style="font-size: 12pt"><b>klzii</b></font></font><font color="#333333"><font size="3" style="font-size: 12pt">
  merely acts as a custodian on behalf of </font></font><font size="3" style="font-size: 12pt">the
  Account Manager/Host who controls your comments.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Private
  Messaging</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt">During
  the Chat Session you are able to exchange instant private messages
  with the Host via the Private Messaging facility, but not with
  any other Guests. This is will assist you or the Host
  being able to raise any immediate concerns while the Session is
  running, or talk about any general matters or queries relating to the
  Session.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><br/>

  </p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><i><b>What
  information does klzii collect?</b></i></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt">When
  you participate in Sessions hosted by </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">,
  we collect, on behalf and upon instructions (including the ones
  provided in this Privacy Policy) of the Account Manager and
  Host, information relating to you and your use of our services
  from a variety of sources. These are listed below. The sections
  afterward describe what we do with this information.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><br/>

  </p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Information
  we collect directly from you</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><br/>

  </p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Session
  text.</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  collect and store the Session text, Whiteboard content and Pinboard
  images that you submit. The Account manager is responsible for this
  data and manages it or may assign management to a Host. If you
  have any questions about a Session you are participating in, please
  contact the Host as the Account Managers representative
  directly, as </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is not responsible for the content of the session. The Host is
  usually the same person that invited you to participate in the
  Session and sometimes they may have their own Privacy Policy.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><br/>

  </p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Are
  your Session responses anonymous?</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt">Sessions
  are just like a discussion group, so you are expressing your opinions
  within a select group of people. So everyone involved with the
  Session will be able to see your response i.e. other Guests in
  your Session, the Host, the Account Manager, and invited
  Spectators. Only your First Name or your selected Nickname is
  displayed in the Chat Session. On occasion a special type of Session
  may only identify Guests by the name of their assigned colour.
  However your personal details and comments cannot be shared with the
  general public unless you have given specific permission by the
  Account Manager or their representative your Session Host.</font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Information we collect
  about you from other sources</b></font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Usage
  data</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  collect usage data about you whenever you interact with our services.
  This may include which web pages you visit, what you click on, when
  you performed those actions, and so on. Additionally, as with most
  websites today, our web servers keep log files that record data each
  time a device accesses those servers. The log files contain data
  about the nature of each access, including originating IP addresses,
  operating system versions, and timestamps. Note that we do not link
  this usage data to your Session responses and content.</font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Device
  data</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  collect data from the device and application you use to access our
  services, such as your IP address, operating system version, device
  type, system and performance information, and browser type. We may
  also infer your geographic location based on your IP address. </font>
  </p>
  <p style="margin-top: 0.19in; margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Referral
  data</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  record information about the source that referred you to the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  platform(e.g. a link on a website or in an email).</font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Information
  from page tags</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  use third party tracking services that employ cookies and page tags
  (also known as&nbsp;<a href="http://en.wikipedia.org/wiki/Web_bug">web
  beacons</a>) to collect aggregated and anonymized data about visitors
  to our websites. This data includes usage and user statistics.</font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Your
  email address</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">The
  Account Manager/Host uses the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  email invitation system to send you a Session invitation. We collect
  your email address when the Account Manager/Host provides it
  to us. We don’t use this to send you email except at the direction
  of an Account Manager/Host. The emails we send on behalf of
  the Session Host come from the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  system, but the Host's email address is included in their
  email signature. If you no longer want to be contacted by an Account
  Manager/Host, please contact them directly.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%">
   <font size="3" style="font-size: 12pt"><b>	Providing Session
  responses is voluntary</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt">	Remember, you can always
  choose not to provide an answer to any given Session Topic. However,
  this may be deemed not completing the Session by the Host and
  they may choose not to reward you with the incentive to participate.
  If you are concerned about any particular Topic within the Session
  please contact your Host for clarification.</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt"><i><b>How
  does klzii use the information we collect?</b></i></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Your
  Session responses are owned and managed by the Account Manager, and
  we treat that information as private to the Account Manager</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">Please
  contact the Account Manager's representative, the Host of your
  Session directly, to understand how they will use your Session
  responses. Some Account Managers may provide you with a Privacy
  Policy or notice at the time you initiate your Session participation
  by accepting their Invitation. If so, we encourage you to review that
  to understand how the Account Manager will handle your responses.
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  does not sell Session responses to third parties without the Account
  Manager's permission and we do not use any contact details collected
  in our customers’ Sessions to contact Session Guests.</font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt">	We also use the information
  we collect from you (including usage data, device data, referral data
  and information from page tags) to manage and improve our services,
  for research purposes, and for the various purposes described in the
  Account Manager version of this Privacy Policy.</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font size="3" style="font-size: 12pt"><b>With
  whom do we share or disclose your information?</b></font></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>klzii
  does not sell your Session responses unless you expressly permit us
  to</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  will share your session responses with third parties only as
  described in this privacy policy.</font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>We disclose:</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Your
  Session responses to Account Managers and Hosts</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  host Sessions for Account Managers, and they are the primary owner of
  the Session data. Anything you expressly disclose in your Session
  responses will, naturally, be provided to them. Please contact the
  Host directly to understand how they might share your Session
  responses. Please see the Account Manager section of this Privacy
  Policy to understand what </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  tells Account Managers about how we handle Session responses, and to
  whom </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  may disclose Session responses.</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>What
  are your rights to your information?</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>How
  do I update my personal information.</b></font><font size="3" style="font-size: 12pt">&nbsp;
  </font>
  </p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">Your
  personal contact information is held on our system on behalf of the
  Account Manager, and can be updated in the </font><font size="3" style="font-size: 12pt"><b>My
  Details</b></font><font size="3" style="font-size: 12pt"> menu</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Opt
  out of receiving surveys.</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">You
  may opt out of receiving email invitations to participate in </font><font size="3" style="font-size: 12pt"><b>klzii
  </b></font><font size="3" style="font-size: 12pt">Sessions which are
  sent by Account Managers/Hosts by clicking on Unsubscribe at
  the bottom of the email.</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Security,
  cookies and other important information</b></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Changes
  to this Privacy Policy</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  may modify this Privacy Policy at any time, but if we do so, we will
  notify you by publishing the changes on this website. If we determine
  the changes are material, we will provide you with additional,
  prominent notice as is appropriate under the circumstances, such as
  via email or in another conspicuous manner reasonably designed to
  notify you. If, after being informed of the changes, you continue to
  use our services beyond the advance-notice period, you will be
  considered as having expressly consented to the changes in our
  Privacy Policy. If you disagree with the terms of this Privacy Policy
  or any updated Privacy Policy, you may close your Account (if you
  have one) at any time or opt out of participating in a Session.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Security.</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">Details
  about </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  security practices are available in our </font><font color="#0070c0"><font size="3" style="font-size: 12pt"><u>Security
  Statement</u></font></font><font size="3" style="font-size: 12pt">.
  We are committed to handling your personal information and data with
  integrity and care. However, regardless of the security protections
  and precautions we undertake, there is always a risk that your
  personal data may be viewed and used by unauthorized third parties as
  a result of collecting and transmitting your data through the
  internet.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Data
  locations</b></font></p>
  <p style="margin-bottom: 0.14in; line-height: 115%"><font size="3" style="font-size: 12pt">We
  use Google Cloud servers globally, and if you need further
  information on their security check out this link
  <a href="https://cloud.google.com/security/">https://cloud.google.com/security/</a></font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Cookies</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  and our partners use cookies and similar technologies on our
  websites. Cookies are small bits of data we store on the device you
  use to access our services so we can recognize repeat users. Each
  cookie expires after a certain period of time, depending on what we
  use it for. We use cookies and similar technologies for several
  reasons:</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Remembering
  your Password</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt">If you used the “Remember
  me” feature when you sign into your Account, we may store your
  username in a cookie to make it quicker for you to sign in whenever
  you return to </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>		For
  security reasons</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt">We use cookies to authenticate
  your identity, such as confirming whether you are currently logged
  into </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>		To
  improve our services.</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt">We use cookies to measure your
  usage of our websites and track referral data, as well as to
  occasionally display different versions of content to you. This
  information helps us to develop and improve our services and optimize
  the content we display to users.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>		Google
  Analytics.</b></font><font size="3" style="font-size: 12pt">&nbsp;</font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt">In addition to the above, we
  have implemented on our websites and other services certain Google
  Analytics features that support Display Advertising, including
  re-targeting. Visitors to our websites may opt out of certain types
  of Google Analytics tracking. If you do not wish to participate in
  Google Analytics, you may also download the&nbsp;<a href="https://tools.google.com/dlpage/gaoptout/">Google
  Analytics opt-out browser add-on</a>.</font></p>
  <p style="margin-top: 0.19in; margin-bottom: 0.17in; line-height: 100%">
  <font size="3" style="font-size: 12pt">We don’t believe cookies are
  sinister, but you can still choose to remove or disable cookies via
  your browser. Refer to your&nbsp;<a href="http://www.aboutcookies.org/Default.aspx?page=1">web
  browser’s configuration documentation</a>&nbsp;to learn how to do
  this. Please note that doing this may adversely impact your ability
  to use our services. Enabling cookies ensures a smoother experience
  when using our websites. To manage flash cookies,&nbsp;<a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">click
  here</a>. By using our websites and agreeing to this Privacy Policy,
  you expressly consent to the use of cookies as described in this
  policy.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Blogs
  and Forums.</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">Our
  websites may offer publicly accessible blogs and community forums.
  You should be aware that any information you provide in these areas
  may be read, collected, and used by others who access them. We’re
  not responsible for any personal information you choose to submit in
  these areas of our site. To request removal of your personal
  information from our blog or community forum, contact us</font><font size="3" style="font-size: 12pt">
  at <a href="mailto:contact@klzii.com">contact@klzii.com</a></font><font size="3" style="font-size: 12pt">.
  In some cases, we may not be able to fulfil your request and we will
  let you know why. </font>
  </p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Online
  Tracking</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">We
  currently do not process or comply with any web browser’s “do not
  track” signal or other similar mechanism that indicates a request
  to disable online tracking of individual users who visit our websites
  or use our services (unless otherwise stated in a service-specific
  privacy statement).</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Social
  Media Features</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">Our
  websites may include social media features or widgets, such as the
  Facebook Like button. Use of these features may allow them to collect
  your IP address, detect which page you are visiting on our site, and
  set a cookie to enable the feature to function properly. Your
  interactions with these features are governed by the privacy policy
  of the third party providing it.</font></p>
  <p style="margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Safety
  of Minors and COPPA</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">Our
  services are not intended for and may not be used by minors. “Minors”
  are individuals under the age of majority in their place of residence
  (or under 13 in the United States). klzii does not knowingly collect
  personal data from minors or allow them to register. If it comes to
  our attention that we have collected personal data from a minor, we
  may delete this information without notice. If you have reason to
  believe that this has occurred, please contact us at
  </font><font size="3" style="font-size: 12pt"><a href="mailto:contact@klzii.com">contact@klzii.com</a>.</font></p>
  <p style="margin-top: 0.33in; margin-bottom: 0in; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Questions
  and Concerns</b></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">If
  you have any questions or comments, or if you want to update, delete,
  or change any Personal Information we hold, or you have a concern
  about the way in which we have handled any privacy matter you can
  email us</font><font size="3" style="font-size: 12pt"> at
  <a href="mailto:contact@klzii.com">contact@klzii.com</a></font></p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><font size="3" style="font-size: 12pt">Thank
  you for reading :)</font></p>
  <p style="margin-top: 0.17in; margin-bottom: 0.17in; line-height: 100%">
  <br/>
  <br/>

  </p>
  <p style="margin-bottom: 0.17in; line-height: 100%"><br/>
  <br/>

  </p>
</div>

<div class='col-xs-12'>
  <% include footer %>
</div>
