<% include layout %>

<main class="main-first-page-registration">
    <div class="container">
        <div class="tab-content">
            <div id="signup" class="tab-pane fade in active">
                <h2>Reset password</h2>

                <% if (user) { %>
                <form method="post" action="/resetpassword/<%=token%>">
                    <div class="form-group">
                        <label for="password">Password*</label>
                        <span class="has-error"><%= errors.password %></span>
                        <input type="password" class="form-control center-block" name="password" id="password"
                               placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Re-enter password*</label>
                        <span class="has-error"><%= errors.password1 %></span>
                        <input type="password" class="form-control center-block" name="repassword" id="repassword"
                               placeholder="Password" required>
                    </div>
                    <div class="form-group center-block">
                        <div class="check center-block">
                            <button type="submit" value="Save" class="btn login">Save</button>
                        </div>
                    </div>
                </form>
                <% } else { %>
                <div class="has-error"> Your token is expired or invalid </div>
                <% } %>
            </div>
        </div>
    </div>
</main>

