<% include header %>

<div class="login-container center-block">
  <div class="tab-content border-yellow text-font-family">
    <div id="login" class="tab-pane fade in active">
      <% if (user) { %>
        <h1 class="text-center text-gray-dark">Your new password</h1>
        <div class="error-column has-error text-center" id="warning-email-password"></div>
        <form method="post" action="/resetpassword/<%=token%>">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-no-inside-borders text-left text-gray-dark table-v-content-middle">
                  <tr>
                    <td class="form-group">
                      <label for="password">Password*</label>
                    </td>
                    <td class="form-group text-center">
                      <img src="../icons/lock.png" />
                    </td>
                    <td class="form-group">
                      <input type="password" value="" class="form-control center-block border-brown" name="password" id="password" placeholder="Password">
                    </td>
                  </tr>

                  <span class="has-error"><%= errors.password %></span>

                  <tr>
                    <td class="form-group">
                      <label for="re-password">Re-enter password*</label>
                    </td>
                    <td class="form-group text-center">
                      <img src="../icons/lock.png" />
                    </td>
                    <td class="form-group">
                      <input type="password" value="" class="form-control center-block border-brown" name="repassword" id="repassword" placeholder="Re-enter password">
                    </td>
                  </tr>

                  <span class="has-error"><%= errors.repassword %></span>

                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <button type="submit" value="Submit" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Submit</button>
              </div>
            </div>
          </div>
        </form>
      <% } else { %>
        <h4 class="text-center text-gray-dark">
          <div class="has-error"> Your token is expired or invalid </div>
        </h4>
      <% } %>
    </div>
  </div>
</div>

<% include footer %>
