<% include header %>
<div class="system-requirements-page">
    <div class="line"></div>
    <div class="container text-gray-dark">
        <div class="text-gray-dark requirements-content border-green col-md-6">
            <h1 class="text-gray-dark text-center"><%= title %></h1>
            <div class="container article-section">
                IF is a web application that works in most web browsers. There's no need to download or install any software to your computer to use IF. Since you'll be working in a web browser while using IF, there are a few browser-related settings you'll need to make sure are enabled.
            </div>
            <section class="container article-section" id="compatible">
                <h3 class="text-center">Compatible browsers</h3>
                <ul>
                    <li><a href="http://www.google.com/chrome" title="Chrome">Google Chrome - version 19.x or above</a></li>
                    <li><a href="https://www.mozilla.org/en-US/firefox/new/" title="Firefox">Mozilla Firefox - version 21.0 or above</a></li>
                    <li><a href="http://www.apple.com/safari/" title="Safari">Safari - 5.1.x or above</a></li>
                    <li><a href="https://www.microsoft.com/en-us/windows/microsoft-edge" title="Edge">Microsoft Edge</a></li>
                    <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" title="IE">Microsoft Internet Explorer - version 9 or above (IE10 and greater is preferred)</a></li>
                </ul>
            </section>
            <section class="container article-section" id="settings">
                <h3 class="text-center">Browser settings</h3>
                <ul>
                    <li>To make sure that application is working as expected you must enable cookies in your browser</li>
                    <li>Javascript should be enabled</li>
                    <li>HTML5 support is required to view videos on our web site</li>
                </ul>
            </section>
            <section class="container article-section" id="mobile">
                <h3 class="text-center">Compatible mobile devices</h3>
                <ul>
                    <li>iOS - version 6.x or above with the default Safari browser</li>
                    <li>Android - version 4.1.1 or above with the default Chrome browser</li>
                </ul>
            </section>
            <div class="container">
                <a href="/login" class="btn btn-standart btn-green btn-large pull-right">Go to login page</a>
            </div>
        </div>
    </div>
</div>
<% include footer %>
