<% include header %>

<div class='col-xs-12 col-md-offset-3 col-md-6'>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font color="#333333"><font size="3" style="font-size: 12pt"><b>klzii
  Guest Terms of Use</b></font></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><i>Effective from 1st July
  2016</i></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Thanks for using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">!
  These Terms of Use can seem daunting, but they are really important
  for understanding your rights when using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.
  These Terms are for users of </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  as a Guest, and forms a legally binding agreement between the
  Guest and </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">If you have any questions
  regarding this agreement you can contact us at <a href="mailto:legal@klzii.com">legal@klzii.com</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Other documents that will help
  are:</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.21cm; margin-bottom: 0.21cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">	<a href='/pdf/klzii_Privacy_Policy_Participants.pdf' target='_blank'>Privacy Policy</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.21cm; margin-bottom: 0.21cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">	<a href='/pdf/klzii_Anti-spam_requirements.pdf' target='_blank'>Anti-Spam Policy</a> </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <br/>
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Changes</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">From time to time it will
  become necessary to update or revise these Terms. Any changes will be
  posted on our website <a href="http://www.klzii.com/">www.klzii.com</a>
  or can be viewed when logging into your Session.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Upgrading </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is an important part of delivering you the best service, so we may
  upgrade features to both the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  platform or website at any time.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>Your Password</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">It's
  your responsibility to keep your Contact details including your
  Password confidential. You must immediately notify us of any
  unauthorized use of your Password.<b>klzii</b>
  is not responsible for any loss of your Content in your Chat Room
  Session if your Password has been stolen or hacked.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Session Incentives</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Being incentivized by the
  organization that invited you is at their</font><font size="3" style="font-size: 12pt"><b>
  </b></font><font size="3" style="font-size: 12pt">discretion and
  cost. </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is not liable for fulfilling any incentive to anyone who is invited
  to join a </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  Session, and will not enter into correspondence with you, the
  Guest, on this matter. This is entirely the responsibility of
  the Account Manager/Facilitator who invited you, and you should
  contact them for any queries.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Your Content</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0.42cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Please note: </b></font><font size="3" style="font-size: 12pt">that
  if you firstly participated in the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  system mini-survey, known as </font><font size="3" style="font-size: 12pt"><b>Recruiter,</b></font><font size="3" style="font-size: 12pt">
  before participating in the Chat Session, all of the following Policy
  items apply equally to question content presented in that survey.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  does not claim any ownership to any content you submit within a </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  Chat Session. We have no rights or licenses to your Content, except
  for the limited rights needed for us to provide the subscription
  tool, and as otherwise described in these Terms.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">However</font><font size="3" style="font-size: 12pt"><b>
  </b></font><font size="3" style="font-size: 12pt">if you provide
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  with feedback about us we may use your feedback without any
  obligation to you.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Content Review</b></font><font size="3" style="font-size: 12pt">
  </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">From time to time </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  may be required to review any unlawful Content, or Content not
  compliant with this Policy. If we find it is not compliant, we may
  modify, prevent access to, delete, or refuse to display content that
  we believe violates the law or these Terms. However, </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not monitor your Content and will only act if a report has been
  made.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Session Participation
  Policy</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Participating in a </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  discussion Session should be an enjoyable experience for everyone
  involved. This policy covers key aspects of maintaining that positive
  experience.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">If you are involved in a
  Session that you feel doesn't meet one or more of these policies,
  please contact your Facilitator via the email address in the
  signature of your Invitation Email.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Scamming and Security</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">As all content within Sessions
  are visible by all Guests, Topics that request confidential,
  personal, sensitive information is not permitted. </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is not responsible for an Account Manager/Facilitator listing a Topic
  requesting this information. However if it comes to our attention we
  will immediately delete the Topic and query the Account
  Manager/Facilitator to determine their intention behind the question.
  </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">If at the discretion of </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  it is felt that the Account Manager/Facilitator is not conducting the
  Session within these policies then we reserve the right to delete the
  Account.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Privacy and Impersonation</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">As a</font><font size="3" style="font-size: 12pt"><b>
  klzii</b></font><font size="3" style="font-size: 12pt"> Chat Room
  Guest you are entitled to expect that your information will be
  handled respectfully and not abused.</font></p>
  <ul>
    <li/>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">We encourage Hosts to
    disclose their privacy practices in their Sessions and, if they do
    so, we require those Hosts to act in accordance with those
    practices.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Your Facilitator may not
    claim that a Session is anonymous when it is not.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Your Facilitator may not
    impersonate others when facilitating your Session.</font></p>
  </ul>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Spam</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">We treat our users’ email
  addresses with respect and expect our users who collect email
  addresses in </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  to do the same.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Our services must be used in
  accordance with our </font><font size="3" style="font-size: 12pt"><u>Anti-Spam
  Policy</u></font><font size="3" style="font-size: 12pt">.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Violence and Hate Speech</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">When participating in a
  discussion Session you may not agree with an individual's comments,
  but this does not give you the right to be hateful in your reply.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">The Facilitator of each
  Session has the ability to delete any comments that they feel
  inappropriate.  They also have the right to inform law enforcement
  authorities if they believe that, a genuine risk of physical harm or
  direct threat to public safety exists.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Our services may not be used
  to credibly threaten others, or to organize or incite violence. This
  includes content which attacks people, or incites attacks on people,
  based on their ethnicity, national origin, religion, gender, sexual
  orientation, genetic predisposition, disability or medical condition.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Our services may not be used
  to promote or glorify self-harm.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Bullying and Harassment</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Our services may not be used
  to bully or harass a private individual.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Criminal Activity</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Our services may not be used
  in furtherance of any criminal activity or in violation of any
  applicable law.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Pornography and Offensive
  Graphic Material</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">We acknowledge nudity,
  pornography and gore may have a legitimate place in certain types of
  Sessions. However, we discourage the gratuitous inclusion of such
  materials in Sessions.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Session Hosts have
  agreed in their Terms of Use to:</font></p>
  <ul>
    <li/>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Not include gratuitous
    graphic violent material or pornography in Sessions.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Add a conspicuous warning
    before displaying any material which may be offensive in nature.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Strictly prohibit, and will
    report to law enforcement any display of sexual or pornographic
    content (including in cartoon form) involving minors.</font></p>
  </ul>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Intellectual Property
  Infringement</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Please respect the
  intellectual property rights of others.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.26cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">You must have the appropriate
  rights to any content included in your Sessions.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>How to Report Policy
  Violations</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">If you identify content which
  you believe is in violation of this policy, you may file an abuse
  report to </font><a href="mailto:legal@klzii.com"><font size="3" style="font-size: 12pt">legal@klzii.com</font></a><font size="3" style="font-size: 12pt">.
  Please include the Name of the Session at issue.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><i><b>If you are looking for
  more information of the Terms of Use for Account Managers or
  Hosts, the following are the Terms of Use they have agreed to
  when setting up an Account with klzii.</b></i></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><i><b>Who can be an Account
  Manager with klzii?</b></i></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">You need to be at least 18
  years old, agree to these Terms, and when completing the registration
  process provide true, complete and up-to-date information.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">However if you have been
  invited to attend a Session by an Account Manager/Facilitator you
  need to be </font><font size="3" style="font-size: 12pt">above the
  age of 13.  We also recommend parental guidance of minors when
  participating in any </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  Session.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">If you are opening an Account
  on behalf of a company, you do so with permission of that company,
  and on behalf of that company you are agreeing to these Terms. </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">By using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  you agree to all the conditions above, and agree not to use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  in any unlawful manner.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font color="#333333"><font size="3" style="font-size: 12pt">
  </font></font><font size="3" style="font-size: 12pt">may refuse
  service, close Accounts of any users, and change eligibility
  requirements at any time.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Changes</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">From time to time it will
  become necessary to update or revise these Terms. Any changes will be
  posted on our website <a href="http://www.klzii.com/">www.klzii.com</a>
  , plus you will be notified by email.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Upgrading </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is an important part of delivering you the best service, so we may
  upgrade features to both the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  platform or website at any time.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>Your Account and Password</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">It's
  your responsibility to keep your Account Name and Password
  confidential. You are also responsible for your Account if you give
  access to another person. You must immediately notify us of any
  unauthorized use of your Account(s). <b>klzii</b>
  is not responsible for any loss of Content within your Session
  set-up, or Chat Room Session if your Password has been stolen or
  hacked.</font></p>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt"><b>Update
  your Contact Details</b></font></p>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">From
  time-to-time we will need to contact you about your Account,
  information that can be critical to the use and security of your
  Account. To do this you must keep us informed of any changes to your
  contact details.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>Account Disputes</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt"><b>klzii</b>
  will not be held responsible for any of your internal business
  conflicts that may arise regarding the ownership of the Account.
  <b>klzii</b>
  can only act on the information presented to us when an individual
  signs up for an Account. However we will do our best to assist in
  resolving your concerns if you send an email enquiry to
  <a href="mailto:info@klzii.com">info@klzii.com</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Session Incentives</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  recommends you incentivize Guests that attend your Session.
  However this is at your own discretion and cost. Any mention of
  incentives within our Tips, set-up Help or Email Templates are
  designed as guidelines only. </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is not liable for fulfilling any incentive to anyone who you invite
  to join your </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  Session, and will not enter into correspondence with Guests.
  This is entirely your responsibility.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Fees and Payments</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">At the time of selecting a
  Subscription Plan, and entering your payment method, you are agreeing
  to pay </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  for the Plan you purchased. </font><font size="3" style="font-size: 12pt">Fees
  paid by you are non-refundable, except as provided in these Terms or
  when required by law.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Subscriptions are billed in
  advance and are either monthly or annual depending on your Plan.</font><font size="3" style="font-size: 12pt">
  Payments are due for any month on the same or closest date to the day
  you made your first monthly payment.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Any cancelation of your
  Account will take effect from the next subscription date. You can
  cancel your Account by removing the auto-billing function under &quot;My
  Details&quot; or contact us at <a href="mailto:support@klzii.com">support@klzii.com</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Any changes to the price of
  Plans will be communicated via the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  website.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>Credit Cards</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">It's
  your responsibility to ensure you have provided us with a valid
  credit card, and that you authorize us to deduct the subscription fee
  from that credit card to continue your current agreed pricing Plan at
  the beginning of the next billing period. </font>
  </p>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">It's
  your responsibility to update any expired credit card with a valid
  one. By entering credit card details you warrant that you are
  authorized to use that credit card, and that any and all charges may
  be billed to that credit card, and won’t be rejected. </font>
  </p>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">If
  we’re unable to process your credit card auto-billing, we’ll try
  to contact you by email and suspend your Account until your payment
  can be processed.  However if after 2 weeks you have not responded to
  our requests to update your credit card information we may cancel
  your Account.  You will no longer be able to access your Session or
  Contact List data. </font>
  </p>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">Cancelled
  accounts will revert to Free Accounts and will be subject to the
  restrictions of that Account.</font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <br/>
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>SMS Credits</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  recommends you send SMS messages to your Guests to remind them
  of Sessions start-times and/or other quick messages.  As part of your
  paid subscription Plan you have a number of SMS credits included.
  These credits do not accumulate from month to month. If they are not
  used in the subscription period, they expire. In some cases you may
  want to purchase additional credits, which can be done under the My
  Details tab when you log into your Account.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Note:</b></font><font size="3" style="font-size: 12pt">
  Free Accounts do not have access to SMS Credits. However during the
  Free Trial period you do have a limited number of credits so you can
  experience the benefits.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Taxes</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Unless otherwise stated, you
  are responsible for any Taxes related to you or your company or
  duties associated with the sale of the subscription tool (</font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">),
  including any related penalties or interest. You will pay </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  for the subscription plan you have selected without any reduction for
  Taxes. If </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is obliged to collect or pay Taxes, the Taxes will be invoiced to
  you. </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Account Expiry</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Your Account expires if you
  have not paid your subscription renewal. When your Free Trial period
  has ended, your Account reverts to a Free Account, with the
  restrictions of that level of Account. However we will give you
  plenty of notice via email to give you the opportunity to keep your
  Paid Account active. Once your Account has expired you may lose
  access to your Session or Contact List data. This is dependent on the
  Paid Account type and level of benefits.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">If we have had no reply from
  you within 14 days of the expiry date your data may be lost to you.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">If you have let your Account
  lapse and you reinstate at a future date, all Session and Contact
  List data from your previous Account may be lost to you.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Cancelling your Account</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">You can cancel your Account by
  not renewing your subscription, or sending us formal notification to
  <a href="mailto:support@klzii.com">support@klzii.com</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">If you cancel during a billing
  period </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not refund you for the balance of the billing period.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  can terminate your Account if you have breached any of the conditions
  in these Terms, and there will not be a refund for the remaining time
  period on your subscription. Once terminated your Session data will
  be deleted from the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  server.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Your Content</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">Your Content belongs to you,
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  does not claim any ownership of your Content. We have no rights or
  licenses to your Content, except for the limited rights needed for us
  to provide the subscription tool, and as otherwise described in these
  Terms.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">However</font><font size="3" style="font-size: 12pt"><b>
  </b></font><font size="3" style="font-size: 12pt">if you provide
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  with feedback about us we may use your feedback without any
  obligation to you.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Content Review</b></font><font size="3" style="font-size: 12pt">
  </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">From time to time </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  may be required to review any unlawful Content, or Content not
  compliant with our Session Content Policy. If we find it is not
  compliant, we may modify, prevent access to, delete, or refuse to
  display content that we believe violates the law or these Terms.
  However, </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not monitor your Content and will only act if a report has been
  made.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Remember to Backup</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">You are responsible for
  maintaining, protecting, and making backups of your Content. To the
  extent permitted by applicable law, </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not be liable for any failure to store, or for loss or
  corruption of your Content.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><i><b>Under what conditions
  can you use klzii?</b></i></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is providing you the tools to communicate with others in a relaxed
  chat environment. We provide guidelines on how to use </font><font size="3" style="font-size: 12pt"><b>klzii,</b></font><font size="3" style="font-size: 12pt">
  but we are not responsible for your content or any communication you
  have with others you invite to use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.
  Below is a list of items you need to adhere to when using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Your Responsibilities</b></font></p>
  <ul>
    <li/>
  <p lang="en-US" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
    <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    is not responsible for your conduct, any Content you place within
    your Session and your communication to Guests or Spectators
    about your Session, using any </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    communication method.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
    <font size="3" style="font-size: 12pt">Don't misuse </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    by interfering with any of the functionality, or attempt to access
    the platform or website in any way other than through the interfaces
    and links we provide.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
    <font size="3" style="font-size: 12pt">Don't probe, scan or test the
    vulnerability of the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    system or network, unless we have given you permission in writing.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
    <font size="3" style="font-size: 12pt">Don't reverse engineer </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    (or attempt to), either the website or platform.</font></p>
    <li/>
  <p lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><font size="3" style="font-size: 12pt">Be
    respectful of <b>klzii's</b>
    proprietary rights as to our trademarks, trade secrets and
    copyrights.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
    <font size="3" style="font-size: 12pt">Don't use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    to pass on any (or links) to viruses, malware, or any type of
    software intended to do harm.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
    <font size="3" style="font-size: 12pt">Don't use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    to actively break the terms of others rights in regards to
    intellectual property.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Don't use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    to send spam. For the definition of spam see</font><font size="3" style="font-size: 12pt">&nbsp;</font><span style="display: inline-block; border: none; padding: 0cm"><font color="#00000a"><font size="3" style="font-size: 12pt"><a href="http://www.spamhaus.org/definition.html">Spamhaus
    website</span></font></font></a><font size="3" style="font-size: 12pt">.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Don't use purchased, rented,
    or third-party lists of email addresses; unless they have specific
    research permissions.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-bottom: 0.21cm; line-height: 100%">
    <font size="3" style="font-size: 12pt">Only use material in your
    Session that you own or have permission to use.  This includes any
    visual aids used within your Sessions</font></p>
  </ul>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>Your rights as an Account Manager</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">Any
  audio, visual or documents you upload to your<b>klzii</b>
  account remain your property.</font>
  </p>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>Privacy Policy</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><font size="3" style="font-size: 12pt">Check
  out this link for our detailed <a href='/privacy_policy' target='_blank'>Privacy Policy</a>.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.32cm; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Disclaimers and Limitations
  of Liability</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Disclaimers</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">While </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will do it's best to provide you with a great tool to help your
  business, and we will try to keep our online services up, but for a
  variety of reasons they may become unavailable, some things are out
  of our control so we cannot promise.  EXCEPT AS EXPRESSLY PROVIDED IN
  THESE TERMS AND TO THE EXTENT PERMITTED BY APPLICABLE LAW, THE
  SERVICES ARE PROVIDED “AS IS” AND </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">
  DOES NOT MAKE WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, OR STATUTORY,
  INCLUDING THOSE OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
  AND NON-INFRINGEMENT OR ANY REGARDING AVAILABILITY, RELIABILITY, OR
  ACCURACY OF THE SERVICES.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Exclusion of Certain
  Liability</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">TO THE EXTENT PERMITTED BY
  APPLICABLE LAW, </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">,
  ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS, AND LICENSORS
  WILL NOT BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, SPECIAL,
  INCIDENTAL, PUNITIVE, OR EXEMPLARY DAMAGES WHATSOEVER, INCLUDING
  DAMAGES FOR LOST PROFITS, LOSS OF USE, LOSS OF DATA, ARISING OUT OF
  OR IN CONNECTION WITH THE SERVICES AND THESE TERMS, AND WHETHER BASED
  ON CONTRACT, INFRINGMENT, STRICT LIABILITY, OR ANY OTHER LEGAL
  THEORY, EVEN IF </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">
  HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND EVEN IF A
  REMEDY FAILS OF ITS ESSENTIAL PURPOSE.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Limitation of Liability</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">TO THE EXTENT PERMITTED BY
  APPLICABLE LAW, THE AGGREGATE LIABILITY OF EACH OF </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">,
  ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS, AND LICENSORS
  ARISING OUT OF OR IN CONNECTION WITH THE SERVICES WILL NOT EXCEED
  MORE THAN WHAT YOU PAID </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">
  FOR THE SERVICE FOR THE MONTH BEFORE.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Businesses</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">If you are a business, you
  will indemnify and hold harmless </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  and its affiliates, officers, agents, and employees from all
  liabilities, damages, and costs (including settlement costs and
  reasonable attorneys’ fees) arising out of a third party claim
  regarding or in connection with your use of the Services or a breach
  of these Terms, to the extent that such liabilities, damages and
  costs were caused by you.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>No Warranties</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="display: inline-block; border: none; padding: 0cm"><font size="3" style="font-size: 12pt"><span style="font-weight: normal">To
  the maximum extent permitted by law, we provide the material on the
  Website and the Service as is. That means we don’t provide
  warranties of any kind, either express or implied, including but not
  limited to warranties of merchantability and fitness for a particular
  purpose. </span><b>klzii</b><span style="font-weight: normal">
  can be used for a variety of purposes, so </span><b>klzii</b><span style="font-weight: normal">
  cannot guarantee that it will meet your specific needs.</span></span></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Governing Law.</b></font><font size="3" style="font-size: 12pt">
  </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">These terms are governed by
  the laws of Queensland, Australia.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Assignment</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">You may not transfer these
  Terms without </font><font size="3" style="font-size: 12pt"><b>klzii's</b></font><font size="3" style="font-size: 12pt">
  prior written consent, which may be withheld in </font><font size="3" style="font-size: 12pt"><b>klzii's</b></font><font size="3" style="font-size: 12pt">
  sole discretion. </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  may assign these Terms at any time without notice to you.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt"><b>Independent Contractors</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 0.48cm">
  <font size="3" style="font-size: 12pt">The relationship between you
  and </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is that of independent contractors, and not legal partners,
  employees, or agents of each other.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.85cm; margin-bottom: 0.21cm">
  <font size="3" style="font-size: 12pt"><b>Force Majeure</b></font></h2>
  <p lang="en-US" style="margin-bottom: 0.42cm; line-height: 100%"><font size="3" style="font-size: 12pt">We
  won’t be held liable for any delays or failure in performance of
  any part of the Service, from any cause beyond our control. This
  includes, but is not limited to, acts of God, changes to law or
  regulations, embargoes, war, terrorist acts, riots, fires,
  earthquakes, nuclear accidents, zombie apocalypse, floods, strikes,
  power blackouts, volcanic action, unusually severe weather
  conditions, and acts of hackers or third-party internet service
  providers.</font></p>
  <p lang="en-US" style="margin-top: 0.42cm; margin-bottom: 0.42cm; line-height: 100%">
  <font size="3" style="font-size: 12pt">Well
  done...that's it :)</font>
  </p>
</div>

<div class='col-xs-12'>
  <% include footer %>
</div>
