<% include header %>

<div class='col-xs-12 col-md-offset-3 col-md-6'>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font color="#333333"><font size="4" style="font-size: 14pt"><b>klzii
  Terms of Use &nbsp;</b></font></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><i>Effective from 1st July
  2016</i></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Thanks for using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">!
  These Terms of Use can seem daunting, but they are really important
  for understanding your rights when using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.
  These Terms are for users of </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  as either an Account Manager, Facilitator, Participant, or Observer,
  and forms a legally binding agreement between the user and </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">If you have any questions
  regarding this agreement you can contact us at <a href="mailto:legal@klzii.com">legal@klzii.com</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Other documents that will help
  are:</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.08in; margin-bottom: 0.08in; line-height: 100%">
  <font size="3" style="font-size: 12pt">	Anti-Spam Policy (link to
  all)</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.08in; margin-bottom: 0.08in; line-height: 100%">
  <font size="3" style="font-size: 12pt">	Privacy Policy</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.08in; margin-bottom: 0.08in; line-height: 100%">
  <font size="3" style="font-size: 12pt">	Chat Session Content Policy</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">By opening an Account and
  clicking/tapping of the Accept Terms box you are agreeing to these
  Terms.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">If you will be using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  on behalf of an organization, you agree to these Terms on behalf of
  that organization and you represent that you have the authority to do
  so. </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.13in; line-height: 100%">
  <font size="3" style="font-size: 12pt"><i><b>Who can be an Account
  Manager with klzii?</b></i></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.13in; line-height: 100%">
  <font size="3" style="font-size: 12pt">You need to be at least 18
  years old, agree to these Terms, and when completing the registration
  process provide true, complete and up-to-date information.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">However if you have been
  invited to attend a Session by an Account Manager/Facilitator you
  need to be </font><font size="3" style="font-size: 12pt">above the
  age of 13.  We also recommend parental guidance of minors when
  participating in any </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  Session.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">If you are opening an Account
  on behalf of a company, you do so with permission of that company,
  and on behalf of that company you are agreeing to these Terms. </font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">By using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  you agree to all the conditions above, and agree not to use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  in any unlawful manner.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font color="#333333"><font size="3" style="font-size: 12pt">
  </font></font><font size="3" style="font-size: 12pt">may refuse
  service, close Accounts of any users, and change eligibility
  requirements at any time.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Changes</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">From time to time it will
  become necessary to update or revise these Terms. Any changes will be
  posted on our website <a href="http://www.klzii.com/">www.klzii.com</a>
  , plus you will be notified by email.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Upgrading </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is an important part of delivering you the best service, so we may
  upgrade features to both the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  platform or website at any time.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.33in; margin-bottom: 0.08in">
  <font face="Calibri, serif"><font size="3" style="font-size: 12pt">Your
  Account and Password</font></font></h2>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">It's
  your responsibility to keep your Account Name and Password
  confidential. You are also responsible for your Account if you give
  access to another person. You must immediately notify us of any
  unauthorized use of your Account(s). </font><font face="Calibri, serif"><b>klzii</b></font><font face="Calibri, serif">
  is not responsible for any loss of Content within your Session
  set-up, or Chat Room Session if your Password has been stolen or
  hacked.</font></font></font></p>
  <p lang="en-US" style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif"><b>Update
  your Contact Details</b></font></font></font></p>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">From
  time-to-time we will need to contact you about your Account,
  information that can be critical to the use and security of your
  Account. To do this you must keep us informed of any changes to your
  contact details.</font></font></font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.33in; margin-bottom: 0in">
  <font face="Calibri, serif"><font size="3" style="font-size: 12pt">Account
  Disputes</font></font></h2>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif"><b>klzii</b></font><font face="Calibri, serif">
  will not be held responsible for any of your internal business
  conflicts that may arise regarding the ownership of the Account.
  </font><font face="Calibri, serif"><b>klzii</b></font><font face="Calibri, serif">
  can only act on the information presented to us when an individual
  signs up for an Account. However we will do our best to assist in
  resolving your concerns if you send an email enquiry to
  <a href="mailto:info@klzii.com">info@klzii.com</a></font></font></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Session Incentives</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  recommends you incentivize Participants that attend your Session.
  However this is at your own discretion and cost. Any mention of
  incentives within our Tips, set-up Help or Email Templates are
  designed as guidelines only. </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is not liable for fulfilling any incentive to anyone who you invite
  to join your </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  Session, and will not enter into correspondence with Participants.
  This is entirely your responsibility.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Fees and Payments</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">At the time of selecting a
  Subscription Plan, and entering your payment method, you are agreeing
  to pay </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  for the Plan you purchased. </font><font size="3" style="font-size: 12pt">Fees
  paid by you are non-refundable, except as provided in these Terms or
  when required by law.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Subscriptions are billed in
  advance and are either monthly or annual depending on your Plan.</font><font size="3" style="font-size: 12pt">
  Payments are due for any month on the same or closest date to the day
  you made your first monthly payment.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Any cancelation of your
  Account will take effect from the next subscription date. You can
  cancel your Account by removing the auto-billing function under &quot;My
  Details&quot; or contact us at <a href="mailto:support@klzii.com">support@klzii.com</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Any changes to the price of
  Plans will be communicated via the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  website.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.33in; margin-bottom: 0in">
  <font face="Calibri, serif"><font size="3" style="font-size: 12pt">Credit
  Cards</font></font></h2>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">It's
  your responsibility to ensure you have provided us with a valid
  credit card, and that you authorize us to deduct the subscription fee
  from that credit card to continue your current agreed pricing Plan at
  the beginning of the next billing period. </font></font></font>
  </p>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">It's
  your responsibility to update any expired credit card with a valid
  one. By entering credit card details you warrant that you are
  authorized to use that credit card, and that any and all charges may
  be billed to that credit card, and won’t be rejected. </font></font></font>
  </p>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">If
  we’re unable to process your credit card auto-billing, we’ll try
  to contact you by email and suspend your Account until your payment
  can be processed.  However if after 2 weeks you have not responded to
  our requests to update your credit card information we may cancel
  your Account.  You will no longer be able to access your Session or
  Contact List data. </font></font></font>
  </p>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">Cancelled
  accounts will revert to Free Accounts and will be subject to the
  restrictions of that Account.  </font></font></font>
  </p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <br/>
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>SMS Credits</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  recommends you send SMS messages to your Participants to remind them
  of Sessions start-times and/or other quick messages.  As part of your
  paid subscription Plan you have a number of SMS credits included.
  These credits do not accumulate from month to month. If they are not
  used in the subscription period, they expire. In some cases you may
  want to purchase additional credits, which can be done under the My
  Details tab when you log into your Account.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Note:</b></font><font size="3" style="font-size: 12pt">
  Free Accounts do not have access to SMS Credits. However during the
  Free Trial period you do have a limited number of credits so you can
  experience the benefits.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Taxes</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Unless otherwise stated, you
  are responsible for any Taxes related to you or your company or
  duties associated with the sale of the subscription tool (</font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">),
  including any related penalties or interest. You will pay </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  for the subscription plan you have selected without any reduction for
  Taxes. If </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is obliged to collect or pay Taxes, the Taxes will be invoiced to
  you. </font>
  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Account Expiry</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Your Account expires if you
  have not paid your subscription renewal. When your Free Trial period
  has ended, your Account reverts to a Free Account, with the
  restrictions of that level of Account. However we will give you
  plenty of notice via email to give you the opportunity to keep your
  Paid Account active. Once your Account has expired you may lose
  access to your Session or Contact List data. This is dependent on the
  Paid Account type and level of benefits.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">If we have had no reply from
  you within 14 days of the expiry date your data may be lost to you.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">If you have let your Account
  lapse and you reinstate at a future date, all Session and Contact
  List data from your previous Account may be lost to you.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Cancelling your Account</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">You can cancel your Account by
  not renewing your subscription, or sending us formal notification to
  <a href="mailto:support@klzii.com">support@klzii.com</a></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">If you cancel during a billing
  period </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not refund you for the balance of the billing period.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  can terminate your Account if you have breached any of the conditions
  in these Terms, and there will not be a refund for the remaining time
  period on your subscription. Once terminated your Session data will
  be deleted from the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  server.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0in; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Your Content</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">Your Content belongs to you,
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  does not claim any ownership of your Content. We have no rights or
  licenses to your Content, except for the limited rights needed for us
  to provide the subscription tool, and as otherwise described in these
  Terms.</font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">However</font><font size="3" style="font-size: 12pt"><b>
  </b></font><font size="3" style="font-size: 12pt">if you provide
  </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  with feedback about us we may use your feedback without any
  obligation to you.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Content Review</b></font><font size="3" style="font-size: 12pt">
  </font>
  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">From time to time </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  may be required to review any unlawful Content, or Content not
  compliant with our Session Content Policy. If we find it is not
  compliant, we may modify, prevent access to, delete, or refuse to
  display content that we believe violates the law or these Terms.
  However, </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not monitor your Content and will only act if a report has been
  made.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Remember to Backup</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">You are responsible for
  maintaining, protecting, and making backups of your Content. To the
  extent permitted by applicable law, </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will not be liable for any failure to store, or for loss or
  corruption of your Content.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 100%">
  <font size="3" style="font-size: 12pt"><i><b>Under what conditions
  can you use klzii?</b></i></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is providing you the tools to communicate with others in a relaxed
  chat environment. We provide guidelines on how to use </font><font size="3" style="font-size: 12pt"><b>klzii,</b></font><font size="3" style="font-size: 12pt">
  but we are not responsible for your content or any communication you
  have with others you invite to use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.
  Below is a list of items you need to adhere to when using </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Your Responsibilities</b></font></p>
  <ul>
    <li/>
  <p lang="en-US" style="margin-bottom: 0in; line-height: 0.19in">
    <font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    is not responsible for your conduct, any Content you place within
    your Session and your communication to Participants or Observers
    about your Session, using any </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    communication method.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
    <font size="3" style="font-size: 12pt">Don't misuse </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    by interfering with any of the functionality, or attempt to access
    the platform or website in any way other than through the interfaces
    and links we provide.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
    <font size="3" style="font-size: 12pt">Don't probe, scan or test the
    vulnerability of the </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    system or network, unless we have given you permission in writing.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
    <font size="3" style="font-size: 12pt">Don't reverse engineer </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    (or attempt to), either the website or platform.</font></p>
    <li/>
  <p lang="en-US" style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">Be
    respectful of </font><font face="Calibri, serif"><b>klzii's</b></font><font face="Calibri, serif">
    proprietary rights as to our trademarks, trade secrets and
    copyrights.</font></font></font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
    <font size="3" style="font-size: 12pt">Don't use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    to pass on any (or links) to viruses, malware, or any type of
    software intended to do harm.</font></p>
    <li/>
  <p lang="en-US" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
    <font size="3" style="font-size: 12pt">Don't use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    to actively break the terms of others rights in regards to
    intellectual property.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 100%">
    <font size="3" style="font-size: 12pt">Don't use </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
    to send spam. For the definition of spam see</font><font size="3" style="font-size: 12pt">&nbsp;</font><span style="display: inline-block; border: none; padding: 0in"><font color="#00000a"><font size="3" style="font-size: 12pt"><a href="http://www.spamhaus.org/definition.html">Spamhaus
    website</span></font></font></a><font size="3" style="font-size: 12pt">.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 100%">
    <font size="3" style="font-size: 12pt">Don't use purchased, rented,
    or third-party lists of email addresses; unless they have specific
    research permissions.</font></p>
    <li/>
  <p lang="en-US" class="western" style="margin-bottom: 0.08in; line-height: 100%">
    <font size="3" style="font-size: 12pt">Only use material in your
    Session that you own or have permission to use.  This includes any
    visual aids used within your Sessions</font></p>
  </ul>
  <h2 lang="en-US" class="western" style="margin-top: 0.33in; margin-bottom: 0.08in">
  <font face="Calibri, serif"><font size="3" style="font-size: 12pt">Your
  rights as an Account Manager</font></font></h2>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">Any
  audio, visual or documents you upload to your </font><font face="Calibri, serif"><b>klzii</b></font><font face="Calibri, serif">
  account remain your property. </font></font></font>
  </p>
  <h2 lang="en-US" class="western" style="margin-top: 0.33in; margin-bottom: 0.08in">
  <font face="Calibri, serif"><font size="3" style="font-size: 12pt">Privacy
  Policy</font></font></h2>
  <p lang="en-US" style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">Check
  out this link for our detailed </font><font face="Calibri, serif">Privacy
  Policy.</font></font></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.13in; line-height: 100%">
  <font size="3" style="font-size: 12pt"><b>Disclaimers and Limitations
  of Liability</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Disclaimers</b></font></p>
  <p lang="en-US" class="western" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">While </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  will do it's best to provide you with a great tool to help your
  business, and we will try to keep our online services up, but for a
  variety of reasons they may become unavailable, some things are out
  of our control so we cannot promise.  EXCEPT AS EXPRESSLY PROVIDED IN
  THESE TERMS AND TO THE EXTENT PERMITTED BY APPLICABLE LAW, THE
  SERVICES ARE PROVIDED “AS IS” AND </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">
  DOES NOT MAKE WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, OR STATUTORY,
  INCLUDING THOSE OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
  AND NON-INFRINGEMENT OR ANY REGARDING AVAILABILITY, RELIABILITY, OR
  ACCURACY OF THE SERVICES.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Exclusion of Certain
  Liability</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">TO THE EXTENT PERMITTED BY
  APPLICABLE LAW, </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">,
  ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS, AND LICENSORS
  WILL NOT BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, SPECIAL,
  INCIDENTAL, PUNITIVE, OR EXEMPLARY DAMAGES WHATSOEVER, INCLUDING
  DAMAGES FOR LOST PROFITS, LOSS OF USE, LOSS OF DATA, ARISING OUT OF
  OR IN CONNECTION WITH THE SERVICES AND THESE TERMS, AND WHETHER BASED
  ON CONTRACT, INFRINGMENT, STRICT LIABILITY, OR ANY OTHER LEGAL
  THEORY, EVEN IF </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">
  HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND EVEN IF A
  REMEDY FAILS OF ITS ESSENTIAL PURPOSE.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Limitation of Liability</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">TO THE EXTENT PERMITTED BY
  APPLICABLE LAW, THE AGGREGATE LIABILITY OF EACH OF </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">,
  ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS, AND LICENSORS
  ARISING OUT OF OR IN CONNECTION WITH THE SERVICES WILL NOT EXCEED
  MORE THAN WHAT YOU PAID </font><font size="3" style="font-size: 12pt"><b>KLZII</b></font><font size="3" style="font-size: 12pt">
  FOR THE SERVICE FOR THE MONTH BEFORE.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Businesses</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">If you are a business, you
  will indemnify and hold harmless </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  and its affiliates, officers, agents, and employees from all
  liabilities, damages, and costs (including settlement costs and
  reasonable attorneys’ fees) arising out of a third party claim
  regarding or in connection with your use of the Services or a breach
  of these Terms, to the extent that such liabilities, damages and
  costs were caused by you.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.33in; margin-bottom: 0in">
  <font face="Calibri, serif"><font size="3" style="font-size: 12pt">No
  Warranties</font></font></h2>
  <p lang="en-US" style="margin-bottom: 0in; line-height: 100%"><span style="display: inline-block; border: none; padding: 0in"><font size="3" style="font-size: 12pt"><font face="Calibri, serif"><span style="font-weight: normal"><font face="Times New Roman, serif">To
  the maximum extent permitted by law, we provide the material on the
  Website and the Service as is. That means we don’t provide
  warranties of any kind, either express or implied, including but not
  limited to warranties of merchantability and fitness for a particular
  purpose. </span></font><b><font face="Calibri, serif">klzii</font></b><font face="Calibri, serif"><span style="font-weight: normal">
  can be used for a variety of purposes, so </span></font><b><font face="Calibri, serif">klzii</font></b><font face="Calibri, serif"><span style="font-weight: normal">
  cannot guarantee that it will meet your specific needs.</span></span></font></font></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <br/>

  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Governing Law.</b></font><font size="3" style="font-size: 12pt">
  </font>
  </p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">These terms are governed by
  the laws of Queensland, Australia.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Assignment</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">You may not transfer these
  Terms without </font><font size="3" style="font-size: 12pt"><b>klzii's</b></font><font size="3" style="font-size: 12pt">
  prior written consent, which may be withheld in </font><font size="3" style="font-size: 12pt"><b>klzii's</b></font><font size="3" style="font-size: 12pt">
  sole discretion. </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  may assign these Terms at any time without notice to you.</font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt"><b>Independent Contractors</b></font></p>
  <p lang="en-US" class="western" style="margin-bottom: 0in; line-height: 0.19in">
  <font size="3" style="font-size: 12pt">The relationship between you
  and </font><font size="3" style="font-size: 12pt"><b>klzii</b></font><font size="3" style="font-size: 12pt">
  is that of independent contractors, and not legal partners,
  employees, or agents of each other.</font></p>
  <h2 lang="en-US" class="western" style="margin-top: 0.33in; margin-bottom: 0in">
  <font face="Calibri, serif"><font size="3" style="font-size: 12pt">Force
  Majeure</font></font></h2>
  <p lang="en-US" style="margin-bottom: 0.17in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">We
  won’t be held liable for any delays or failure in performance of
  any part of the Service, from any cause beyond our control. This
  includes, but is not limited to, acts of God, changes to law or
  regulations, embargoes, war, terrorist acts, riots, fires,
  earthquakes, nuclear accidents, zombie apocalypse, floods, strikes,
  power blackouts, volcanic action, unusually severe weather
  conditions, and acts of hackers or third-party internet service
  providers.</font></font></font></p>
  <p lang="en-US" style="margin-top: 0.17in; margin-bottom: 0.17in; line-height: 100%">
  <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font face="Calibri, serif">Well
  done...that's it :) </font></font></font>
  </p>
</div>

<div class='col-xs-12'>
  <% include footer %>
</div>
