<% include header %>
<main class="main-first-page">
  <div class='login-container center-block text-font-family'>
    <div class='tab-content border-green'>
      <h1 class='text-gray-dark text-center'>Unsubscribe</h1>
      <p class='text-center'> <%= result %> </p>
    </div>
  </div>
</main>
<% include footer %>
