<% include header %>

<main class="main-welcome">
  <div class="welcome">
    <h1 class="text-gray-dark text-center">Welcome to cliizii!</h1>
    <h4 class="text-gray-dark text-center">Sorry, but your confirmation link is not valid or has expired.</h4>
    
    <div class="row landing-btn-group">
      <div class="col-md-12 form-group">
          <a class="btn btn-standart btn-full-green btn-large btn-go pull-right" href="/">
            Go to Home
          </a>
      </div>
    </div>
  </div>
</main>

<% include footer %>