<% include header %>

<div class='login-container center-block text-font-family'>
  <ul class='nav nav-tabs'>
    <li><a class="background-yellow text-white text-shadow-gray btn login-kliiko-tab" style='visibility:hidden'>Login to Kliiko</a></li>
    <li class='active'><a class='background-green text-white text-center login-signup-tab' data-toggle='tab'>Get a Kliiko Account</a>
    </li>
  </ul>

  <div class='tab-content border-green'>
    <h1 class='text-gray-dark text-center'>Congratulations!</h1>
    <p class='text-center'>Your Kliiko Account has beem successfully created. Check your emails for confirmation.</p>
  </div>
</div>

<% include footer %>
