<% include header %>

<main class="main-welcome">
  <div class="welcome">
    <h1 class="text-gray-dark text-center">Welcome to cliizii!</h1>
    <h4 class="text-gray-dark text-center">We're here to help <i class="fa fa-smile-o"></i></h4>
    
    <div id="play-video">
      <div id="video-placeholder" class="box-shadow border-yellow">
        <div id="video">
          <div id="player">
            <iframe src='//player.vimeo.com/video/257834241' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row landing-btn-group">
      <div class="col-md-12 form-group">
        <form method="post" id="welcomeForm">
          <button class="btn btn-standart btn-full-green btn-large btn-go pull-right" type='submit'>
            Let's Go!
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  var holder = $('#video-placeholder');
  holder.click(function() {
    holder.find('.play-btn').css('display', 'none');
    holder.find('#video').css('display', 'block');
    holder.off('click');
  });
</script>

<% include footer %>

<% include _notConfirmedEmailDialogModal %>

<% if(isConfirmed == false) {%>
  <script type='text/javascript'>
    $('#notConfirmedEmailDialogModal').modal('show');
  </script>
<% } %>

<script type="text/javascript">
var capterra_vkey = 'f1288b37b4f3febeb8a82d4b89715e01', capterra_vid = '2112676', capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com'); 
(function() { var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true; ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s); })();
</script>