<section id="step-1">
    <h2>Our plans come with all there included extras:</h2>

    <div class="row benefits">
        <div class="col-md-6">
            <p>Recruiter: build a new instant contact list with a quick customised survey</p>
            <p>Your Brand logo & custom colours</p>
            <p>Video and text hep menu</p>
            <p>Video and text hep menu</p>
            <p>Discussion Guide Tips</p>
            <p>Whiteboard functionality</p>
            <p>Multimedia management and storage</p>
        </div>
        <div class="col-md-6">
            <p>Import a database and manage interaction with your Contact List</p>
            <p>Reporting functions</p>
            <p>Available on tablet and mobile platforms</p>
            <p>Custom email invitation & reminder messages</p>
            <p>Unlimited Topics</p>
            <p>Secure applications (SSL)</p>
        </div>
    </div>

    <h2>Choose a plan</h2>

    <!-- pricing tables -->
    <section class="container plans-table">
        <div class="row">
            <!-- single plan -->
            <div class="col-sm-4 col-xs-12">
                <div class="list-group">
                    <h4 class="list-group-item-heading yellow-header-bg">Single Plan</h4>
                    <div class="price-label yellow-bg">
                        <h5 class="outline"><sup>$US</sup>180</h5>
                        <p>12 Month to use</p>
                    </div>
                    <p class="list-group-item-text yellow-light-bg"><b>1</b> Session</p>
                    <p class="list-group-item-text yellow-light-bg">Up to <b>8 Participants</b> per sessions</p>
                    <p class="list-group-item-text yellow-light-bg">Up to <b>15 Observers</b> per sessions</p>
                    <p class="list-group-item-text yellow-light-bg">Up to <b>35 Paid SMS</b> reminders tp Participants<sup>*</sup></p>
                    <p class="list-group-item-text yellow-light-bg"><b>Unlimited</b> Contact List members allowed</p>
                    
                </div>
            </div><!--/single plan-->

            <!-- Monthly plan -->
            <div class="col-sm-4 col-xs-12">
                <div class="list-group">
                    <h4 class="list-group-item-heading green-header-bg">Monthly Plan</h4>
                    <div class="price-label green-bg">
                        <h5 class="outline"><sup>$US</sup>50</h5>
                        <p>Get 1 month free is you have not used your free trial</p>
                    </div>
                    <p class="list-group-item-text green-light-bg"><b>UNLIMITED</b> Session</p>
                    <p class="list-group-item-text green-light-bg">Up to <b>8 Participants</b> per sessions</p>
                    <p class="list-group-item-text green-light-bg">Up to <b>15 Observers</b> per sessions</p>
                    <p class="list-group-item-text green-light-bg">Up to <b>35 Paid SMS</b> reminders tp Participants<sup>*</sup></p>
                    <p class="list-group-item-text green-light-bg"><b>Unlimited</b> Contact List members allowed</p>
                </div>
            </div><!--/Monthly plan-->

            <!-- Yearly plan -->
            <div class="col-sm-4 col-xs-12">
                <div class="list-group">
                    <h4 class="list-group-item-heading blue-header-bg">Annual Plan</h4>

                    <div class="price-label blue-bg">
                        <img id="best-value-badge" src="/images/pricing-plans/best-value-badge.png" alt="">
                        <h5 class="outline"><sup>$US</sup>550</h5>
                        <p>Save $50 a year, compared to monthly plan</p>
                    </div>
                    <p class="list-group-item-text blue-light-bg"><b>UNLIMITED</b> Session</p>
                    <p class="list-group-item-text blue-light-bg">Up to <b>8 Participants</b> per sessions</p>
                    <p class="list-group-item-text blue-light-bg">Up to <b>15 Observers</b> per sessions</p>
                    <p class="list-group-item-text blue-light-bg">Up to <b>35 Paid SMS</b> reminders tp Participants<sup>*</sup></p>
                    <p class="list-group-item-text blue-light-bg"><b>Unlimited</b> Contact List members allowed</p>
                    
                </div>
            </div><!--/ Yearly plan-->

        </div><!--/row-->
    </section><!--/pricing tables .container.plans-table -->

    <div id="disclaimer">
        <p>
            <b>Please Note:</b> Depending on the nature of your project, you may also need to provide appropriate Incentive-Gifts to your group-Session Participants
        </p>
        <p>
            *Your credit card will be charged for any additional SMS.
        </p>

    </div>
</section>