.remove-link-line > a {
  text-decoration: none; }

.btn-dashboard-menu {
  background-color: inherit;
  width: 13%;
  min-width: 180px;
  height: 36px;
  margin-left: 36px;
  margin-top: 30px;
  padding-top: 4px;
  padding-left: 15px;
  vertical-align: middle;
  border: 2px solid #4DC0E9;
  border-radius: 0px;
  font-family: SourceSansPro-Regular;
  color: #4DC0E9;
  line-height: 26px;
  text-align: left; }
  .btn-dashboard-menu:hover {
    color: #3DB0D9;
    border-color: #3DB0D9; }
  .btn-dashboard-menu span {
    display: inline-block;
    width: calc(100% - 19px); }
  .btn-dashboard-menu img {
    margin-bottom: 3px; }

.btn-header-dropdown, .btn-header-green, .btn-header-red {
  margin-left: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: SourceSansPro-Regular;
  height: 36px;
  border-radius: 0px;
  border: none;
  color: white;
  background-color: #F0E935;
  font-weight: bold;
  text-shadow: 2px 2px #58595b; }

.btn-header-green {
  background-color: #4CB649; }

.btn-header-red {
  background-color: #E51D39; }

.btn-simple {
  margin-left: 10px;
  font-family: SourceSansPro-Regular;
  height: 36px;
  border-radius: 0px;
  background-color: inherit; }

.changePasswordModal {
  width: 20%;
  padding-top: 100px; }

.contactDetailsModal {
  width: 80%;
  padding-top: 100px; }

#nav-tabs-main {
  text-align: center;
  border: 0px; }
  #nav-tabs-main > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 10px;
    vertical-align: top; }
    #nav-tabs-main > li > a {
      border: 2px solid #58595B;
      border-bottom: 0;
      border-radius: 0;
      color: #58595B;
      padding-top: 8px;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 18px;
      font-weight: bold;
      font-family: SourceSansPro-Regular;
      height: 44px; }
      #nav-tabs-main > li > a:hover {
        background-color: #4DC0E9; }
      #nav-tabs-main > li > a > img {
        padding-left: 20px;
        padding-bottom: 3px; }

#nav-tabs-main > li.active > a,
#nav-tabs-main > li.active > a:hover,
#nav-tabs-main > li.active > a:focus {
  border: 2px solid #4DC0E9;
  background-color: #4DC0E9;
  padding-top: 2px;
  color: white;
  height: 45px; }

@media (max-width: 768px) {
  #nav-tabs-main > li > a {
    width: 584px; } }

@media (min-width: 768px) {
  #nav-tabs-main > li > a {
    width: 100%; } }

.table-no-inside-borders tbody > tr > td {
  border: none !important; }

@font-face {
  font-family: SourceSansPro-Black;
  src: url(/fonts/SourceSansPro-Black.otf); }

@font-face {
  font-family: SourceSansPro-BlackIt;
  src: url(/fonts/SourceSansPro-BlackIt.otf); }

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(/fonts/SourceSansPro-Bold.otf); }

@font-face {
  font-family: SourceSansPro-BoldIt;
  src: url(/fonts/SourceSansPro-BoldIt.otf); }

@font-face {
  font-family: SourceSansPro-ExtraLightIt;
  src: url(/fonts/SourceSansPro-ExtraLight.otf); }

@font-face {
  font-family: SourceSansPro-ExtraLightIt;
  src: url(/fonts/SourceSansPro-ExtraLightIt.otf); }

@font-face {
  font-family: SourceSansPro-It;
  src: url(/fonts/SourceSansPro-It.otf); }

@font-face {
  font-family: SourceSansPro-Light;
  src: url(/fonts/SourceSansPro-Light.otf); }

@font-face {
  font-family: SourceSansPro-LightIt;
  src: url(/fonts/SourceSansPro-LightIt.otf); }

@font-face {
  font-family: SourceSansPro-Regular;
  src: url(/fonts/SourceSansPro-Regular.otf); }

@font-face {
  font-family: SourceSansPro-Semibold;
  src: url(/fonts/SourceSansPro-Semibold.otf); }

@font-face {
  font-family: SourceSansPro-SemiboldIt;
  src: url(/fonts/SourceSansPro-SemiboldIt.otf); }

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(/fonts/bootstrap/glyphicons-halflings-regular.eot); }

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(/fonts/bootstrap/glyphicons-halflings-regular.svg); }

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(/fonts/bootstrap/glyphicons-halflings-regular.ttf); }

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(/fonts/bootstrap/glyphicons-halflings-regular.woff); }

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(/fonts/bootstrap/glyphicons-halflings-regular.woff2); }

/* Borders */
.border-radius-none {
  border-radius: 0; }

.border-brown,
.border-yellow,
.border-red,
.border-green,
.border-blue {
  border-width: 2px;
  border-style: solid; }

.border-brown {
  border-color: #58595B; }

.border-yellow {
  border-color: #F0E935; }

.border-red {
  border-color: #E51D39; }

.border-green {
  border-color: #2F9F69; }

.border-blue {
  border-color: #4DC0E9; }

.dashboard-index {
  background-color: inherit;
  margin-top: 30px;
  margin-bottom: 15%;
  color: #58595B;
  font-size: 30px;
  font-family: SourceSansPro-Regular;
  text-align: center; }

.dashboard-header {
  position: relative;
  z-index: 1050;
  height: 100px;
  background-color: white;
  border: 0;
  margin-bottom: 50px;
  box-shadow: 0px 20px 30px -30px #58595b; }

.login-header {
  height: 100px;
  margin-top: 30px; }

.page-banner {
  margin-bottom: 50px; }

.header-dropdown-ul {
  left: 320px; }

body {
  background-color: #eeeeee;
  margin: 0 0 50px;
  /* bottom = footer height */ }

html {
  position: relative;
  min-height: 100%; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center; }
  footer a {
    color: #58595B;
    line-height: 50px;
    font-size: 14px; }

.box-shadow {
  box-shadow: 0 50px 60px -50px #58595b; }

/* Backgrounds */
.background-transp {
  background-color: transparent; }

.background-yellow {
  background-color: #F0E935 !important; }

.background-green {
  background-color: #2F9F69 !important; }

.background-red {
  background-color: #E51D39 !important; }

/* Typography */
.text-login-page {
  font-size: 16px; }

.text-no-decoration {
  text-decoration: none; }

.text-no-bold {
  font-weight: normal !important; }

.text-font-family {
  font-family: Sofia Pro Condensed; }

.text-left {
  text-align: left; }

.text-font-family-tabs {
  font-family: Source sans pro black; }

/* Text COLOR */
.text-shadow-gray {
  text-shadow: 0 0 5px #58595b !important; }

.text-white {
  color: #fff !important; }

.text-yellow-dark {
  color: #F0E935; }

.text-red-dark {
  color: #E51D39; }

.text-gray-dark {
  color: #58595b; }

.text-gray-light {
  color: #ababab; }

.text-gray-medium {
  color: #737373; }

.text-green-dark {
  color: #2F9F69; }

.text-brown-light {
  color: #7F7426; }

.text-brown-dark {
  color: #58595B; }

/* Responsive design */
@media (min-width: 300px) {
  .container {
    width: auto; }
  .tab-content {
    width: auto;
    background-color: #fff; }
  .dashboard-container {
    background-color: #fff;
    width: auto; }
  .login-container {
    max-width: 500px;
    padding-top: 11vh; } }

@media (min-width: 768px) {
  .container {
    width: auto; }
  .login-container {
    width: 75%; } }

@media (min-width: 992px) {
  .container {
    width: 90%; }
  .dashboard-container {
    width: 90%;
    margin: 0 auto; }
  .login-container {
    width: 50%; }
  .dashboard-header {
    padding-top: 30px; } }

/* Buttons */
.btn-white {
  background-color: white; }

.dashboard-header .my-details-container {
  height: 20px;
  margin-left: 10px; }

.dashboard-header .text-size-dashboard {
  font-size: 13px; }

/*  These stules are needed so the subDomain and currentAccount.fullName would be in the same line  */
.current-domain-name {
  font-style: italic;
  margin-top: 13px; }

.nav-button-top-margin {
  margin-top: 3px; }

.logo-min-width {
  min-width: 306px; }

/*  END  */
#login .submit-btn-size {
  height: 45px; }

#login h5 {
  font-size: 16px; }

.login-container .login-signup-tab {
  width: 180px;
  margin-left: 85px; }

.login-container .login-kliiko-tab {
  width: 180px;
  margin-left: 25px; }

.login-container .nav-tabs > li > a {
  border-radius: 0; }

.login-container #login .forgot-password-padding {
  padding: 10px; }

.login-container #login .login-btn-size {
  height: 45px; }

.login-container #login input[class=checkbox-login] {
  display: none; }

.login-container #login input[class=checkbox-login] + label {
  background: url("/icons/login_checkbox.jpeg") no-repeat;
  height: 22px;
  width: 22px;
  margin-top: 1px;
  margin-left: 0;
  margin-bottom: 0;
  background-size: contain;
  cursor: pointer; }

.login-container #login input[class=checkbox-login]:checked + label {
  background: url("/icons/login_checkbox_chk.jpeg") no-repeat;
  height: 22px;
  width: 22px;
  background-size: contain;
  margin-top: 1px; }

.login-container #login .form-control {
  border-width: 2px;
  height: 40px;
  border-radius: 0; }

.login-container #login .has-error {
  color: #f00;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 475px;
  display: inline-block; }

.login-container #login .table td {
  padding-left: 0;
  padding-right: 0; }

.login-container #login .table.error-column {
  padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 17px; }

.login-container #login .table-v-content-middle td {
  vertical-align: middle; }

#signup {
  /* Radio buttons custom design */ }
  #signup .has-error {
    color: #f00;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 370px;
    display: inline-block; }
  #signup .btn-radius-padding-left {
    padding-left: 25px !important; }
  #signup .btn-radius-text {
    font-size: 16px !important;
    padding-right: 30px; }
  #signup .singup-btn-size {
    height: 45px; }
  #signup .form-control {
    border-width: 2px;
    height: 40px;
    border-radius: 0; }
  #signup .checkbox-signup {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    padding-left: 9px;
    font-size: 13px; }
  #signup input[class=checkbox-login] {
    display: none; }
  #signup input[class=checkbox-login] + label {
    background: url("/icons/login_checkbox.jpeg") no-repeat;
    height: 22px;
    width: 22px;
    margin-top: 1px;
    margin-left: 0;
    margin-bottom: 0;
    background-size: contain; }
  #signup input[class=checkbox-login]:checked + label {
    background: url("/icons/login_checkbox_chk.jpeg") no-repeat;
    height: 22px;
    width: 22px;
    background-size: contain;
    margin-top: 1px; }
  #signup label.radio-button input[type="radio"] {
    position: absolute;
    left: -999999px; }
  #signup label.radio-button input[type="radio"]:focus + span:after {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  #signup label.radio-button input[type="radio"] + span {
    position: relative; }
    #signup label.radio-button input[type="radio"] + span:after {
      content: "";
      position: absolute;
      top: -7px;
      right: -13px;
      border: 2px solid #ccc;
      border-radius: 50%;
      background: none;
      background-image: none;
      height: 34px;
      width: 34px;
      -webkit-transition: background-image 0.9s ease;
      transition: background-image 0.9s ease; }
  #signup label.radio-button input[type="radio"]:checked + span:after {
    background: #ccc; }
  #signup .table td {
    padding-left: 2px;
    padding-right: 5px;
    border: 1px solid #f00;
    margin-left: -25px; }
    #signup .table td:first-of-type {
      padding-right: 15px;
      white-space: nowrap; }
    #signup .table td.error-column {
      padding: 0;
      padding-top: 3px;
      padding-bottom: 3px;
      height: 17px; }
  #signup .table-v-content-middle td {
    vertical-align: middle; }

.main-welcome .welcome {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #58595B; }
  .main-welcome .welcome .landing-btn-group {
    margin-top: 50px;
    margin-bottom: 100px; }
  .main-welcome .welcome h1 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .main-welcome .welcome h4 {
    margin: 0 0 20px 0; }

.main-welcome #video-placeholder {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  cursor: pointer;
  cursor: hand; }

.main-welcome #video {
  margin-top: 20px;
  height: 540px; }

.main-welcome .hide {
  display: none; }

.main-welcome .play-btn {
  display: inline-block;
  margin-top: 23%;
  margin-bottom: 23%;
  background-color: white;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 110px solid #F0e935;
  border-right: none; }

.upload-banner input[type="file"] {
  display: inline; }
