<% include ../header %>

<div class='login-container login-container-wide invite center-block text-font-family'>
  <div class='tab-content border-green'>
    <center><br/><img alt='email' src="/images/email-icon.png"/></center>
    <h1 class='text-gray-dark text-center'>Thanks for accepting our invitation!</h1>
    <p class='text-center info-message-text'>
      Your Confimation Email with Login link is on its way.<br/>
      Don't forget to check your spam folder if you can't see the email.
    </p>
  </div>
</div>

<% include ../footer %>
