<% include ../header %>

<div class="login-container center-block">
  <div class="tab-content border-yellow text-font-family">
    <div id="login" class="tab-pane fade in active">
      <h1 class="text-center text-gray-dark">Accept Invite</h1>

      <h5 class="text-center text-gray-dark">
        To accept invite you must provide password and account name.
      </h5>
      <div class="error-column has-error text-center" id="warning-email-password"><%= error %></div>
      <form class="non-resubmitable" method="post" action="/invite/<%= invite.token %>/accept" novalidate>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-no-inside-borders text-left text-gray-dark table-v-content-middle">
                <tr>
                  <td class="form-group">
                    <label class="pull-right" for="accountName">Account Name</label>
                  </td>
                  <td class="form-group text-center">
                    <img src="/icons/user.png" />
                  </td>
                  <td class="form-group">
                    <input type="text" value="" class="form-control center-block border-brown" name="accountName" id="accountName" placeholder="Account Name">
                  </td>
                </tr>
                <tr>
                  <td class="form-group">
                    <label class="pull-right" for="password">Password</label>
                  </td>
                  <td class="form-group text-center">
                    <img src="/icons/lock.png" />
                  </td>
                  <td class="form-group">
                    <input type="password" value="" class="form-control center-block border-brown" name="password" id="password" placeholder="Password">
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <a href="/invite/<%= invite.token %>/decline" class="btn submit-btn-size border-yellow text-brown-light background-transp">Decline</a>
          <button type="submit" value="Submit" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Accept</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../footer %>
