<% include ../header %>

<div class="login-container center-block">
  <div class="tab-content border-yellow text-font-family">
    <div id="login" class="tab-pane fade in active">
      <h1 class="text-center text-gray-dark">Decline Invite</h1>
      <h5 class="text-center text-gray-dark">
        To decline invite you must press the button.
      </h5>
      <div class="error-column has-error text-center" id="warning-email-password"><%= error %></div>
      <form method="post" action="/invite/decline/<%= invite.token %>">
        <div>
          <button type="submit" value="Submit" class="btn submit-btn-size border-yellow text-brown-light background-transp">Decline</button>
          <a href="/invite/accept/<%= invite.token %>" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Go to accept</a>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../footer %>
