<% include ../header %>

<div class="login-container center-block">
  <div class="tab-content border-yellow text-font-family">
    <div id="login" class="tab-pane fade in active">
      <%if(Object.keys(invite).length == 0) { %>
        <h1 class="text-center text-gray-dark">Invite not found</h1>
      <% } else { %>
        <h1 class="text-center text-gray-dark">Invite</h1>
        <h5 class="text-center text-gray-dark">
          You have been invited to join Kliiko, choose to accept or decline.
        </h5>
        <div class="error-column has-error text-center" id="warning-email-password"><%= error %></div>
        <div class="container-fluid">
          <a href="/invite/<%= invite.token %>/decline" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Decline</a>
          <a href="/invite/<%= invite.token %>/accept" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Accept</a>
        </div>
      <% } %>
    </div>
  </div>
</div>

<% include ../footer %>
