<% include ../header %>
<div class='login-container center-block'>
  <div class='tab-content border-yellow text-font-family'>
    <div id='login' class='tab-pane fade in active'>
      <h5 class='text-center text-gray-dark'>
        You have been invited to join klzii, click accept or decline.
      </h5>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-12 invisible'>#</div>
          <div class='col-xs-6'>
            <a href='/invite/<%= invite.token %>/accept' class='btn border-yellow text-brown-light background-transp pull-right'>Let's Go</a>
          </div>
          <%if(invite.accountId) { %>
          <div class='col-xs-6'>
            <a href='/invite/<%= invite.token %>/decline' class='btn border-yellow text-brown-light background-transp pull-left'>Cancel</a>
          </div>
          <% } %>
          <div class='col-xs-12 invisible'>#</div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../footer %>
