<% include ../header %>

<div class="login-container center-block">
  <div class="tab-content border-yellow text-font-family">
    <div id="login" class="tab-pane fade in active">
      <h1 class="text-center text-gray-dark">Invite not found</h1>
    </div>
  </div>
</div>

<% include ../footer %>
