<% include ../header %>
<div class='login-container center-block'>
  <div class='tab-content border-green text-font-family'>
    <div id='login' class='tab-pane fade in active'>
      <h1 class='text-center text-gray-dark'>
        Sorry!
      </h1>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-12 invisible'>#</div>
          <center>This invitation is no longer valid.</center>
          <center>Please contact your Facilitator for more information.</center>
          <div class='col-xs-12 invisible'>#</div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../footer %>
