<% include ../header %>
<div class='login-container center-block'>
  <div class='tab-content border-green text-font-family'>
    <div id='login' class='tab-pane fade in active'>
      <h1 class='text-center text-gray-dark'>
        Session Full
      </h1>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-12 invisible'>#</div>
          <center>So sorry, we've already reached the full number of Guests for this Session!</center>
          <center>Thank you very much for your interest, your Host will be in touch soon.</center>
          <div class='col-xs-12 invisible'>#</div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../footer %>
