<section id='promotion-code-content' ng-controller='PromotionCodeController'>
  <div class='col-md-12'>
    <div class='dashboard-container'>
      <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
          <h2 class='text-center'>Promotion Codes</h2>
          <h4 class='text-center has-error text-red-dark'>{{ error }}</h4>
          <h4 class='text-center'>{{ message }}</h4>
        </div>
        <div class='col-md-3 text-right'>
          <div class='btn btn-addNewElement' ng-click='openModal()'>Add New Promotion Code</div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12 fixed-bottom-margin'>
    <div class='dashboard-container'>
      <table class='table table-responsive table-dashboardElements'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Discount</th>
            <th>Promotion Code</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='promo in promos'>
            <td>{{ promo.name }}</td>
            <td>{{ promo.startDate | date: dateFormat }}</td>
            <td>{{ promo.endDate | date: dateFormat }}</td>
            <td>{{ promo.discountValue }}{{ discountTypeString(promo) }}</td>
            <td>{{ promo.code }}</td>
            <td class='text-right dashboardElementsEditRemove'>
              <img src='/icons/dashboardElement_edit.png' alt='' ng-click='openModal(promo)' />
              <img src='/icons/dashboardElement_remove.png' alt='' ng-click='removePromoCode(promo)' />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
