<section id="session-builder-content" ng-controller="SessionBuilderController as sbc">
    <div class="row row-centered">
        <div class='col-md-offset-1 col-md-10 сol-centered dashboard-index text-center'>

            <div class="row">
                <div class="col-md-3">
                    <div class="btn-standart btn-green" ui-sref="dashboard.chatSessions">
                        <img class="ic" src="icons/back_green.png" alt="Go Back">
                        Back to Chat Sessions
                    </div>
                </div>
                <div class="col-md-6"><h1>Chat Session Builder</h1></div>

                <div class="col-md-3">
                    <div ng-hide="sbc.session.active == false" class="btn-standart btn-red" ng-click="sbc.closeSession()">
                        Close Chat Session
                        <img class="ic" src="icons/ic_close_session.png" alt="Close Session">
                    </div>
                    <div  ng-show="sbc.session.active == false" class="btn-standart btn-green" ng-click="sbc.openSession()">
                        Activate Chat Session
                        <!--<img class="ic" src="icons/ic_close_session.png" alt="">-->
                    </div>
                </div>
            </div>


            <p class="warning" ng-if="sbc.expireWarning"><img src="icons/ic_attention.png" class="ic">&nbsp; Session is about to expire in {{ sbc.expireWarning.days }} day<span ng-if="sbc.expireWarning.days > 1">s</span> <br></p>
            <br>

            <div class="row">
                <div class=" col-md-12">
                    <div id="steps-row" style="margin: 0 auto">
                        <div class="step-container">
                            <span class="step-number"
                                  ng-class="{'active': sbc.stepsClassIsActive(1), 'done':sbc.stepsClassIsDone(1)}">1</span>
                            <span class="step-name"
                                  ng-class="{'active': sbc.stepsClassIsActive(1), 'done':sbc.stepsClassIsDone(1)}">Set-Up Chat Session</span>
                        </div>
                        <div class="step-container">
                            <span class="step-number"
                                  ng-class="{'active': sbc.stepsClassIsActive(2), 'done':sbc.stepsClassIsDone(2)}">2</span>
                            <span class="step-name"
                                  ng-class="{'active': sbc.stepsClassIsActive(2), 'done':sbc.stepsClassIsDone(2)}">Facilitator and Topics</span>
                        </div>
                        <div class="step-container">
                            <span class="step-number"
                                  ng-class="{'active': sbc.stepsClassIsActive(3), 'done':sbc.stepsClassIsDone(3)}">3</span>
                            <span class="step-name"
                                  ng-class="{'active': sbc.stepsClassIsActive(3), 'done':sbc.stepsClassIsDone(3)}">Manage Session Emails</span>
                        </div>
                        <div class="step-container">
                            <span class="step-number"
                                  ng-class="{'active': sbc.stepsClassIsActive(4), 'done':sbc.stepsClassIsDone(4)}">4</span>
                            <span class="step-name"
                                  ng-class="{'active': sbc.stepsClassIsActive(4), 'done':sbc.stepsClassIsDone(4)}">Manage Session Participants</span>
                        </div>
                        <div class="step-container">
                            <span class="step-number"
                                  ng-class="{'active': sbc.stepsClassIsActive(5), 'done':sbc.stepsClassIsDone(5)}">5</span>
                            <span class="step-name"
                                  ng-class="{'active': sbc.stepsClassIsActive(5), 'done':sbc.stepsClassIsDone(5)}">Invite Session Observers</span>
                        </div>
                    </div>
                </div>

            </div>

            <ng-include src="sbc.basePath+'steps/'+sbc.currentPageToDisplay()"></ng-include>


            <div class="row" ng-hide--="sbc.stepsClassIsActive(1)">

                <div class="col-md-3 btn-standart btn-green" ng-click="sbc.goToStep('back')"
                     ng-hide="sbc.stepsClassIsActive(1)">
                     Previous step
                </div>

                <div class="col-md-2 btn-standart pull-right btn-green" ng-click="sbc.goToStep('next')"
                     ng-class="{'btn-forbidden': sbc.cantMoveNextStep}"
                     >
                    Next step
                </div>
                <div ng-if="sbc.session.chatRoomUrl" class="col-md-2 btn-standart pull-right btn-blue margin020" ng-click="sbc.goToChat(sbc.session)">
                    Enter Chat Room
                </div>

            </div>

        </div>

    </div>

    <!----------- MODALS ---------------------->
    <section>
        <!-- plansModal -->
        <div class='modal fade' id='plansModal--' role='dialog'>
            <div class='modal-dialog changePasswordModal' style="width: 800px">
                <div class='modal-content border-green border-radius-none'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal'>&times;</button>
                        <h1 class='modal-title text-center'>Learn More about the {{sbc.currentPlan.name}}</h1>
                    </div>
                    <div class='modal-body'>

                        <ng-include src="sbc.currentPlanModalContentTpl"></ng-include>
                    </div>
                    <div class='modal-footer'>
                        <div type='button' class='pull-left btn-dashboard-plans go-back-btn' data-dismiss='modal'>Go
                            Back
                        </div>
                        <div type='submit' class='pull-right btn-dashboard-plans i-want-btn'
                             ng-click="sbc.upgradeToPlan(sbc.currentPlan.id)">I Want This Plan
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>
