<section id='resources-topics' class='row create-new-topic' ng-controller='TopicsController as topics'>
  <div class='col-md-12'>
    <div class='dashboard-container margin-top-3rem'>
      <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
          <h2 class='text-center'>Topics</h2>
          <h4 class='text-center has-error text-red-dark'>{{ topics.error }}</h4>
          <h4 class='text-center'>{{ topics.message }}</h4>
        </div>
        <div class='col-md-3 text-right' ng-hide="!topics.list.length">
          <div class="btn btn-standart btn-green btn-large inline-block text-center" ng-click="topics.openModal('new')">
            Create New Topic &nbsp;<img id="btn-create-new-topic" src="/icons/add_new_list_green.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12 fixed-bottom-margin margin-top-2rem'>
    <div class='dashboard-container'>
      <div id="no-topics-in-list" class="row" ng-show="!topics.list.length">
        <div class="col-md-12"><h4>You don't have any topics. Add one.</h4></div>
        <div class="col-md-12 margin-top-2rem">
          <div class="btn btn-standart btn-green btn-large" ng-click="topics.openModal('new')">
            Create New Topic &nbsp;<img id="btn-create-new-topic" src="/icons/add_new_list_green.png" alt="">
          </div>
        </div>
      </div>

      <div id="topics-list">
        <div class="topic-list-item" ng-repeat="t in topics.list">
          <uib-accordion close-others="false">
            <uib-accordion-group is-open="up.modContentBlock.recruiter" heading="true">
              <uib-accordion-heading>
                <div class="panel-label">
                  <span ng-if="topics.editBlockHelper != $index">
                    {{t.name}}
                  </span>
                  <span ng-if="topics.editBlockHelper == $index">
                    <input id="topic-name-input-{{ $index }}" type="text" ng-model="t.name" maxlength="{{ ::topics.nameMaxSize}}" ng-blur="topics.saveInline($index, t.name)">
                    <span class="inline-editor-help">Characters left: {{ topics.nameMaxSize - t.name.length }}</span>
                  </span>
                </div>
              </uib-accordion-heading>

              <div class="row">
                <div class="col-md-10" ng-if="t.SessionTopics.length < 1 || !t.SessionTopics">
                  This topic does not belong to any session.
                </div>
                <div class="col-md-12" ng-if="t.SessionTopics.length > 0">
                  <div class="">
                    <table class='table table-dashboardElements'>
                      <thead>
                        <tr class='background-green'>
                          <th>Name</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class='{{ csc.rowClass(session) }}' ng-repeat='sessionTopic in t.SessionTopics'>
                          <td>{{ sessionTopic.Session.name }}</td>
                          <td>{{ sessionTopic.Session.startTime | date:dateFormat }}</td>
                          <td>{{ sessionTopic.Session.endTime | date:dateFormat }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </uib-accordion-group>
          </uib-accordion>
          <div class="control-block">
            <img class="pull-right ic" ng-click="topics.deleteTopic(t.id)" src="/icons/dashboardElement_remove.png" alt="" title="Delete">
            <img class="pull-right ic" src="/icons/dashboardElement_edit.png" alt="" title="Edit" ng-click="topics.openModal('edit', t)">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals -->
  <section>
    <ng-include src="'/js/ngApp/components/dashboard-resources-topics/topicsModals.html'"></ng-include>
  </section>


</section>
