<section id='resources-topics' class='row create-new-topic' ng-controller='TopicsController as topics'>
  <div class='col-md-12'>
    <div class='dashboard-container margin-top-3rem'>
      <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
          <h2 class='text-center'>Topics</h2>
          <h4 class='text-center has-error text-red-dark'>{{ topics.error }}</h4>
          <h4 class='text-center'>{{ topics.message }}</h4>
        </div>
        <div class='col-md-3 text-right' ng-hide="!topics.list.length">
          <div class="btn btn-standart btn-green btn-large inline-block text-center margin-top-2rem" ng-click="topics.openModal('new')">
            Create New Topic &nbsp;<img id="btn-create-new-topic" src="/icons/add_new_list_green.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12 fixed-bottom-margin margin-top-2rem'>
    <div class='dashboard-container'>
      <div class="row text-center" ng-show="!topics.list.length">
        <div class="col-md-12"><h4>You don't have any topics. Add one.</h4></div>
        <div class="col-md-12 margin-top-2rem">
          <div class="btn btn-standart btn-green btn-large" ng-click="topics.openModal('new')">
            Create New Topic &nbsp;<img id="btn-create-new-topic" src="/icons/add_new_list_green.png" alt="">
          </div>
        </div>
      </div>

      <div id="topics-list">
        <div class="col-xs-12 col-md-4" ng-repeat="t in topics.list">
          <div class='panel panel-default'>
            <div class='panel-heading' ng-click='t._showPanel = !t._showPanel'>
              <div class='row'>
                <h3 class='panel-title'>
                  {{ t.name }}
                  <span ng-click="$event.stopPropagation()">
                    <img class='pull-right ic' ng-click='topics.deleteTopic(t.id)' src='/icons/dashboardElement_remove.png' title='Delete'>
                    <img class='pull-right ic' ng-click="topics.openModal('edit', t)" src='/icons/dashboardElement_edit.png' title='Edit'>
                  </span>
                </h3>
              </div>
            </div>

            <div class='panel-body' ng-if='t._showPanel'>
              <div class='col-md-12' ng-if='!t.SessionTopics || !t.SessionTopics.length'>
                This topic does not belong to any session.
              </div>

              <div class='col-md-12' ng-if='t.SessionTopics.length'>
                <table class='table table-dashboardElements'>
                  <thead>
                    <tr class='background-green'>
                      <th>Name</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat='sessionTopic in t.SessionTopics'>
                      <td>{{ sessionTopic.Session.name }}</td>
                      <td>{{ sessionTopic.Session.startTime | date:dateFormat }}</td>
                      <td>{{ sessionTopic.Session.endTime | date:dateFormat }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals -->
  <section>
    <ng-include src="'/js/ngApp/components/dashboard-resources-topics/topicsModals.html'"></ng-include>
  </section>


</section>
