<div class='modal fade' id='topicModalWindow' role='dialog'>
  <div class='modal-dialog changePasswordModal' style="width: 800px">
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <h1 class='modal-title text-center'>{{ topics.topicModalTitle }}</h1>
      </div>
      <div class='modal-body'>
        <form>
          <div class='form-group'>
            <label for='topicName'>Name</label>
            <input type='text' class='form-control' id='topicName' placeholder='Name' maxlength='{{ topics.validations.name }}' ng-model='topics.topicData.name'>
            <span class='help-block'>Characters left: {{ topics.validations.name - topics.topicData.name.length }}</span>
          </div>

          <div class='form-group'>
            <label for='topicBoard'>Board Message</label>
            <textarea rows='3' class='form-control' id='topicBoard' placeholder='Board Message' maxlength='{{ topics.validations.board }}' required ng-model='topics.topicData.boardMessage' />
            <span class='help-block'>Characters left: {{ topics.validations.board - topics.topicData.boardMessage.length }}</span>
          </div>
        </form>
      </div>

      <div class='modal-footer'>
        <div type='button' class='pull-left btn-standart btn-red btn-small text-center' data-dismiss='modal'>
          Cancel
        </div>
        <div type='submit' class='pull-right btn-standart btn-green btn-small text-center' ng-click="topics.submitModalForm()">
          Save
        </div>
      </div>
    </div>
  </div>
</div>
