<div class='modal fade' id='topicModalWindow' role='dialog'>
  <div class='modal-dialog changePasswordModal' style="width: 800px">
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <h1 class='modal-title text-center'>{{ topics.topicModalTitle }}</h1>
      </div>
      <div class='modal-body'>
        <form>
          <div class='form-group'>
            <label for='topicName'>Name Your Topic</label>
            <input type='text' class='form-control' id='topicName' placeholder='Name Your Topic' maxlength='{{ topics.validations.name }}' ng-model='topics.topicData.name' ng-disabled="topics.topicData.sessionId">
            <span class='help-block'>Characters left: {{ topics.charactersLeft("name") }}</span>
          </div>

          <div class='form-group'>
            <label for='topicBoard'>Host Billboard</label>
            <span emoji-picker="topics.topicData.boardMessage" placement="right" title="Emoji" recent-limit="10" output-format="unicode" emoji-picker-helper close-emoji-popup-in-modal='topicModalWindow' emoji-focus-to="topicBoard"></span>
            <textarea rows='3' class='form-control' id='topicBoard' placeholder='Host Billboard' alt-maxlength='{{ topics.validations.boardMessage }}' required ng-model='topics.topicData.boardMessage' />
            <span class='help-block'>Characters left: {{ topics.charactersLeft("boardMessage") }}</span>
          </div>

          <div class='form-group'>
            <label for='topicSign'>Message Sign</label>
            <input type='text' class='form-control' id='topicSign' placeholder='Message Sign' maxlength='{{ topics.validations.sign }}' ng-model='topics.topicData.sign' ng-disabled='topics.topicData.landing'>
            <span class='help-block'>Characters left: {{ topics.charactersLeft("sign") }}</span>
          </div>

          <div class='form-group' ng-if='app.accountUser.isAdmin && !topics.topicData.id'>
            <div class='checkbox checkbox-sm checkbox-success survey-input'>
              <input class='styled' id='checkbox' type='checkbox' name='checkbox' ng-model='topics.topicData.stock'>
              <label for='checkbox'>Stock?</label>
            </div>
          </div>
        </form>
      </div>

      <div class='modal-footer'>
        <div type='button' class='pull-left btn-standart btn-red btn-small text-center' data-dismiss='modal'>
          Cancel
        </div>
        <div type='submit' class='pull-right btn-standart btn-green btn-small text-center' ng-click="topics.submitModalForm()">
          Save
        </div>
      </div>
    </div>
  </div>
</div>
