#resources-topics {
  .dashboard-container {
    .btn-green {
      img {
        padding: 27px 25px 0px 0px;
        background-size: auto;
        width: 0px;
        height: 0px;
         background-image: url('/icons/add_new_list_green.png')
      }
      &:hover,
      &:focus {
        img#btn-create-new-topic {
          background-image: url('/icons/add_new_list_white.png') !important;
        }
      }
    }

  }

  .panel {
    border: 0;
    border-radius: 0;
    background: $lightGray;

    .panel-heading {
      outline: 0;
      .panel-title {
        line-height: 1.9;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .panel-body {
      padding-bottom: 5px;
      background: white;
      border: 3px solid $lightGray;
      border-top: none;
    }
  }

  .ic {
    margin: 0 3px;
    cursor: pointer;
  }

  #topicModalWindow {
    .form-control {
      border-width: 2px;
      min-height: 40px;
      border-radius: 0;
    }
  }

}
