#resources-topics {


  #no-topics-in-list { text-align: center; }


  .topic-list-item { position: relative; }

  .panel {
    width: 100%;
    border: none;
    border-radius: 0;
    background: $lightGray;

    &:hover {
      background: $lightGreen;
    }
  }

  .panel-label { padding : 3px; }

  .ic {
    margin: 3px;
    cursor: pointer;
  }

  .panel-heading { background: none}

  .control-block {
    position: absolute;
    top: 10px;
    right: 2%;
  }

  .panel-body {
    background: white;
    border: 3px solid $lightGray;
    border-top: none;

    div.row {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: $lightGreen;
      }
    }

    &:hover { border-color: $lightGreen }

  }
}