#resources-topics {
  .panel {
    border: 0;
    border-radius: 0;
    background: $lightGray;

    .panel-heading {
      outline: 0;
      .panel-title {
        line-height: 1.9;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .panel-body {
      padding-bottom: 5px;
      background: white;
      border: 3px solid $lightGray;
      border-top: none;
    }
  }

  .ic.img-responsive {
    width: 30px;
    height: 30px;
  }

  .ic {
    margin: 0 3px;
    cursor: pointer;
    background-color: #F6F8F7;
  }

  #topicModalWindow {
    .form-group {
      label {
        color: #737373;
        font-weight: normal;
      }
      .help-block {
        font-style: italic;
      }
      .form-control {
        border-width: 2px;
        min-height: 40px;
        border-radius: 0;
        resize: none;
      }
    }
  }

  .green-text.filter-section {
    a, a:hover {
      color: #2D8C5E;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .type-selected-all #typeAll, .type-selected-stock #typeStock, .type-selected-notStock #typeNotStock {
    font-weight: bold;
  }
}

.panel-title.topic-stock, .topic-list-item.topic-stock  {
  color: #919191;
  cursor: default !important;
}

.panel-title.topic-not-stock, .topic-list-item.topic-not-stock {
  color: #428BCA;
}