<p>This gives you the flexibility to have one Chat Session over a 12 month period. Great for internal discussions that
    involve the same group of people. If you need more than one, the Monthly or Annual Plans are better value.</p>


<uib-accordion close-others="false">
    <uib-accordion-group is-open="up.modContentBlock.recruiter">
        <uib-accordion-heading>
            <div class="panel-label">
                Recruiter <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': up.modContentBlock.recruiter, 'glyphicon-chevron-right': !up.modContentBlock.recruiter}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            Build an instant new Contact List with a quick, customised survey.  Easy-to-use templates with the added advantage of including audio & video files.
        </p>
    </uib-accordion-group>


    <uib-accordion-group is-open="up.modContentBlock.database">
        <uib-accordion-heading>
            <div class="panel-label">
                Import a Database <i class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': up.modContentBlock.database, 'glyphicon-chevron-right': !up.modContentBlock.database}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            This gives you the flexibility to upload any existing database, with up to 25 fields. Including the essential contact details, plus customisable Participant profiling.
        </p>
    </uib-accordion-group>


    <uib-accordion-group is-open="up.modContentBlock.brand">
        <uib-accordion-heading>
            <div class="panel-label">
                Your Brand & Colours <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': up.modContentBlock.brand, 'glyphicon-chevron-right': !up.modContentBlock.brand}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            Customise the look & feel of your Chat Session.
        </p>
    </uib-accordion-group>


    <uib-accordion-group is-open="up.modContentBlock.sms">
        <uib-accordion-heading>
            <div class="panel-label">
                Paid SMS <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': up.modContentBlock.sms, 'glyphicon-chevron-right': !up.modContentBlock.sms}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            Paid SMS is a very useful tool for keeping in touch with Participants, by sending reminders and quick updates.  Our experience shows increased response rates with this feature.  You have credit for 35 SMS texts, which is plenty to run your Session.  Additional SMS credits will be charged in blocks of 35 at the rate of $US0.10 per message.
        </p>
    </uib-accordion-group>


    <uib-accordion-group is-open="up.modContentBlock.whiteboard">
        <uib-accordion-heading>
            <div class="panel-label">
                Whiteboard Functionality <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': up.modContentBlock.whiteboard, 'glyphicon-chevron-right': !up.modContentBlock.whiteboard}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            A fun & creative way of engaging with Participants. Use it like you would any whiteboard e.g. mark-up brand visuals, or turn it into a Pinboard so Participants can post their own images.
        </p>
    </uib-accordion-group>


    <uib-accordion-group is-open="up.modContentBlock.multimedia">
        <uib-accordion-heading>
            <div class="panel-label">
                Multimedia Console <i class="pull-right glyphicon"
                     ng-class="{'glyphicon-chevron-down': up.modContentBlock.multimedia, 'glyphicon-chevron-right': !up.modContentBlock.multimedia}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            Where you can upload Videos, Audio Clips, Images and PDFs, and even vote on them.
        </p>
    </uib-accordion-group>

    <uib-accordion-group is-open="up.modContentBlock.facilitators">
        <uib-accordion-heading>
            <div class="panel-label">
                Facilitators <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': up.modContentBlock.facilitators, 'glyphicon-chevron-right': !up.modContentBlock.facilitators}"></i>
            </div>

        </uib-accordion-heading>
        <p>
            You can build and facilitate the Chat Session yourself, using our Contextual help and handy tips - we've made it fast and easy.  You can also delegate someone else to do it for you.
        </p>
    </uib-accordion-group>



    <uib-accordion-group is-open="up.modContentBlock.observers">
        <uib-accordion-heading>
            <div class="panel-label">
                Observers <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': up.modContentBlock.observers, 'glyphicon-chevron-right': !up.modContentBlock.observers}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            You can invite up to 15 people to view your Chat Session, but not participate.  This is a great way to have members of your management team looking on,  and if needed they can contact the Facilitator to ask for further questions.
        </p>
    </uib-accordion-group>


    <uib-accordion-group is-open="up.modContentBlock.reporting">
        <uib-accordion-heading>
            <div class="panel-label">
                Reporting <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': up.modContentBlock.reporting, 'glyphicon-chevron-right': !up.modContentBlock.reporting}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            No more waiting! At any time during, or at the end of your Chat Session you can export the full discussion transcript to PDF; CSV or TXT.
        </p>
    </uib-accordion-group>

</uib-accordion>


