<div class="row">
  <div class="col-md-12 caption">
    Order Summary
  </div>

  <div class="table-content" ng-if="!up.viewForFixedPlans(up.selectedPlan.plan.id)">
    <div class="row table-header" >
      <div class="col-sm-3">Plan</div>
      <div class="col-sm-4">Duration</div>
      <div class="col-sm-4">Total</div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        {{up.selectedPlan.plan.name}}
      </div>
      <div class="col-sm-4">
        {{ up.selectedPlan.plan.period }}
        {{ up.selectedPlan.plan.period_unit }}
      </div>
      <div class="col-sm-4">
        {{ up.showCalculatedPrice(up.selectedPlan.chargeEstimate.amount_due) | currency:"USD$":0 }}
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-5 total">Order Total</div>
      <div class="col-sm-3">{{ up.showCalculatedPrice(up.selectedPlan.chargeEstimate.sub_total) | currency:"USD$":0 }}</div>
    </div>
  </div>

  <div class="table-content" ng-if="up.viewForFixedPlans(up.selectedPlan.plan.id)">
    <div class="row table-header" >
      <div class="col-sm-1"></div>
      <div class="col-sm-3">Plan</div>
      <div class="col-sm-4">Duration</div>
      <div class="col-sm-4">Total</div>
    </div>

    <!-- FIXED MONTHLY -->
    <div class="row">
      <div class="col-sm-1">
        <input type="radio" name="plan" ng-click="up.switchPlan(up.fixedMonthly)" ng-checked="up.selectedPlan == up.fixedMonthly"/>
      </div>
      <div class="col-sm-3">
        Fixed
      </div>
      <div class="col-sm-4">
        {{ up.fixedMonthly.plan.period }}
        {{ up.fixedMonthly.plan.period_unit }}
      </div>
      <div class="col-sm-4">
        {{ up.showCalculatedPrice(up.fixedMonthly.chargeEstimate.amount_due) | currency:"USD$":0 }}
      </div>
    </div>

    <!-- FIXED YEARLY -->
    <div class="row">
      <div class="col-sm-1">
        <input type="radio" name="plan" ng-click="up.switchPlan(up.fixedYearly)" ng-checked="up.selectedPlan == up.fixedYearly"/>
      </div>
      <div class="col-sm-3">
        Fixed
      </div>
      <div class="col-sm-4">
        {{ up.fixedYearly.plan.period }}
        {{ up.fixedYearly.plan.period_unit }}
      </div>
      <div class="col-sm-4">
        {{ up.showCalculatedPrice(up.fixedYearly.chargeEstimate.amount_due) | currency:"USD$":0 }}
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-5 total">Order Total</div>
      <div class="col-sm-3">{{ up.showCalculatedPrice(up.selectedPlan.chargeEstimate.sub_total) | currency:"USD$":0 }}</div>
    </div>
  </div>

</div>
