<div class="row">
  <div class="col-md-12 caption">
    Order Summary
  </div>

  <div class="table-content">
    <div class="row table-header" >
      <div class="col-sm-1"></div>
      <div class="col-sm-2">Plan</div>
      <div class="col-sm-3">Duration</div>
      <div class="col-sm-3">Amount Due</div>
      <div class="col-sm-2">
        <a href="#" data-toggle="tooltip" title="{{ up.whatIsCredits }}">Credits</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <input type="radio" name="select-sub-plan" id='select-sub-plan' ng-click="up.switchPlan(up.monthlyPlan)" ng-checked="up.checkRadioButton(up.selectedPlan, up.monthlyPlan)"/>
      </div>
      <div class="col-sm-2">
        {{ up.monthlyPlan.plan.name }}
      </div>
      <div class="col-sm-3">
        {{ up.monthlyPlan.plan.period }}
        {{ up.monthlyPlan.plan.period_unit }}
      </div>
      <div class="col-sm-3">
        {{ up.showCalculatedPrice(up.monthlyPlan.chargeEstimate.amount_due) | currency:"$":0 }}
      </div>
      <div class="col-sm-2">
        {{ up.showCalculatedPrice(up.monthlyPlan.chargeEstimate.credits_applied) | currency:"$":0 }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <input type="radio" name="select-sub-plan" id='select-sub-plan' ng-click="up.switchPlan(up.yearlyPlan)" ng-checked="up.checkRadioButton(up.selectedPlan, up.yearlyPlan)"/>
      </div>
      <div class="col-sm-2">
        {{ up.monthlyPlan.plan.name }}
      </div>
      <div class="col-sm-3">
        {{ up.yearlyPlan.plan.period }}
        {{ up.yearlyPlan.plan.period_unit }}
      </div>
      <div class="col-sm-3">
        {{ up.showCalculatedPrice(up.yearlyPlan.chargeEstimate.amount_due) | currency:"$":0 }}
      </div>
      <div class="col-sm-2">
        {{ up.showCalculatedPrice(up.yearlyPlan.chargeEstimate.credits_applied) | currency:"$":0 }}
      </div>
    </div>
  </div>
</div>
