<div class="row">
  <div class="col-md-12 caption">
    Order Summary
  </div>
  <div class="table-content">
    <div class="row table-header" >
      <div class="col-sm-3 col-md-3">Plan</div>
      <div class="col-sm-4 col-md-4">Duration</div>
      <div class="col-sm-4 col-md-4">Total</div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        {{up.selectedPlan.plan.name}}
      </div>
      <div class="col-sm-4 col-md-4">
        {{ up.selectedPlan.plan.period }} 
        {{ up.selectedPlan.plan.period_unit }}
      </div>
      <div class="col-sm-4 col-md-4">
        {{ up.selectedPlan.chargeEstimate.amount_due / 100 | currency:"USD$":0 }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-5 col-md-5 total">Order Total</div>
      <div class="col-sm-3 col-md-3">{{ up.selectedPlan.chargeEstimate.sub_total / 100 | currency:"USD$":0 }}</div>
    </div>
  </div>
</div>