// Fonts
$s-pro: Source Sans Pro;

// Colors

$m-blue: #58BCE3;
$w: #FFFFFF;
$orange: #EC7A23;
$border: #389043;
$background: #72ad4f;
$color_main: #5F4A3E;

$btn-buy-chat: #5f493e;
$btn-orange: #ec7a23;

$text-summary: #9d928a;
$text-sessions: #eeeceb;

$blue: #4DC0E9;
$blueHover: #3DB0D9;

$yellow: #F0E935;
$yellowDarker: #e6df33;

$grey: #58595b;
$light-grey: #E8EAED;

$green: #2F9F69;
$greenHover: #2D8C5E;
$greenDarker: #49a046;
$greenHeader: #4CB649;
$greenLight: #4CB344;
$lightGreen: rgba(174, 239, 137, 0.5);

$red: #E51D39;
$redDarker: #cf1d36;

$font-color: #58595B;

$lightGray: #ddd;
