// Fonts
$s-pro: Source Sans Pro;

// Colors

$m-blue: #58BCE3;
$w: #FFFFFF;
$orange: #EC7A23;
$border: #389043;
$background: #72ad4f;
$color_main: #5F4A3E;

$btn-buy-chat: #5f493e;
$btn-orange: #ec7a23;

$text-summary: #9d928a;
$text-sessions: #eeeceb;