<div class='row'>
  <div class='col-xs-3'>
    <label class='text-no-bold'>Talk Radio</label><br />
    <div class='input-group'>
      <input type='text' class='form-control border-radius-none ng-autofocus-skip' placeholder='Morning Story' disabled>
      <span class='input-group-addon border-radius-none'><span class='glyphicon glyphicon-chevron-down' aria-hidden='true'></span></span>
    </div>
  </div>

  <div class='col-xs-9'>
    <img class='pull-right logo' width='20%' src='/icons/Klzii_RGB_72.png'/>
    <span class='headerButtons pull-right glyphicon glyphicon-off' aria-hidden='true' ng-attr-style='background-color: {{ previewScheme.headerButton }};'></span>
    <span class='headerButtons pull-right glyphicon glyphicon-question-sign' aria-hidden='true' ng-attr-style='background-color: {{ previewScheme.headerButton }};'></span>
    <span class='headerButtons pull-right glyphicon glyphicon-comment' aria-hidden='true' ng-attr-style='background-color: {{ previewScheme.headerButton }};'></span>
  </div>
</div>
