<div id='confirmInviteRemoveModal' class='modal fade' role='dialog'>
  <div class='modal-dialog confirmInviteRemoveModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Are you sure?</h2>
      </div>

      <div class='modal-body'>
        <div class='form-group'>
          <center>This person will be removed from the Session Invited list.</center>
          <center>If they click Accept or Check In from their email,</center>
          <center>They will not be able to entere the Chat Room.</center>
          <center>This does not Delete them from the Contact List.</center>
        </div>
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn-standart btn-red pull-left' data-dismiss='modal'>Cancel</button>
        <button type='button' class='btn-standart btn-green pull-right' ng-click="lastStepsController.removeInvite()">Continue</button>
      </div>
    </div>
  </div>
</div>
