<div id='rejectedInviteRemoveModal' class='modal fade' role='dialog'>
  <div class='modal-dialog rejectedInviteRemoveModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Sorry?</h2>
      </div>

      <div class='modal-body'>
        <div class='form-group'>
          <center>You cannot delete a Participent has Posted in your Session</center>
        </div>
      </div>

      <div class='modal-footer'>
        <div type='button' class='btn-standart btn-green pull-right' data-dismiss='modal'>Continue</div>
      </div>
    </div>
  </div>
</div>
