<div id='sessionBuilder-sendSmsModal' class='modal fade' role='dialog'>
  <div class='modal-dialog sendSmsModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' ng-click="clc.modalWindowHandler('cancel')" data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Send SMS</h2>
      </div>

      <div class='modal-body text-gray-medium'>
        <div class='form-group'>
          <label>
            To: <span class='text-no-bold' ng-repeat='member in sbc.sendSmsTo'>{{ member.firstName }} {{ member.lastName }}; </span>
          </label>
        </div>
        <div class='form-group'>
          <label for='sendSmsTextare'>Message (320 chars max):</label>
          <textarea ng-model='sbc.sendSmsMessage' id='sendSmsTextare' class='form-control no-border-radius' rows='6'></textarea>
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            <button type='button' class='btn-standart btn-red pull-left' ng-click="clc.modalWindowHandler('cancel')" data-dismiss='modal'>Cancel</button>
            <button type='button' class='btn-standart btn-green pull-right' ng-click="clc.modalWindowHandler('sendSms')">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
