<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Join Kliiko</title>
    <meta name="description" content="">
</head>
<body>
<p>You have been requested to join Kliiko.</p>
<p>Click link to invite: <a href='<%= url %>'><%= url %></a></p>
</body>
</html>
