<section id="upgrade-plan-content" ng-controller="PlanController as up">
  <div class="row row-centered">
    <div class='col-md-offset-1 col-md-10 сol-centered dashboard-index text-center'>
      <h1>Upgrade Plan</h1>
      <br>
      <div class="row">
        <div class=" col-md-12">
          <div id="steps-row">
            <div class="step-container" ng-repeat="step in up.steps">
              <span ng-class="up.stepIsActive(step.number, 'step-number')">{{ step.number }}</span>
              <span ng-class="up.stepIsActive(step.number, 'step-name')">{{ step.title }}</span>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="up.currentStep == 1" ng-include src="'js/ngApp/components/dashboard-accountProfile-upgradePlan/steps/selectPlan.tpl.html'"></div>
      <div ng-show="up.currentStep == 2" ng-include src="'js/ngApp/components/dashboard-accountProfile-upgradePlan/steps/confirmation.tpl.html'"></div>
      <div ng-show="up.currentStep == 3" ng-include src="'js/ngApp/components/dashboard-accountProfile-upgradePlan/steps/submited.tpl.html'"></div>

      <div class="row">
        <!-- <div class="col-md-5 btn-dashboard-plans btn-md btn-green"
             ui-sref="dashboard.accountProfile"
             ng-show="up.stepsClassIsActive(5)">
            Back to account profile
        </div> -->

        <div class="check-element animate-show" ng-show="up.currentStep == 2">
          <div class="col-md-4 btn-dashboard-plans btn-md pull-right btn-standart btn-red" ng-click="up.submitOrder(up.purchaseTos)">
              Submit My Order
          </div>
        </div>
        {{up.purchaseTos}}

        <!-- <div class="col-md-3 btn-dashboard-plans btn-md pull-right btn-standart btn-red" ui-sref="dashboard"
             ng-show="up.stepsClassIsActive(5) && !up.cantMoveNextStep">
            Build new session
        </div> -->
      </div>
    </div>
  </div>

    <!----------- MODALS ---------------------->
  <section>
      <!-- plansModal -->
    <div class='modal fade' id='plansModal' role='dialog'>
      <div class='modal-dialog changePasswordModal' style="width: 800px">
        <div class='modal-content border-green border-radius-none'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
            <h1 class='modal-title text-center'>Learn More about the {{up.currentPlan.name}}</h1>
          </div>
          <div class='modal-body'>
            <ng-include src="up.currentPlanModalContentTpl"></ng-include>
          </div>
          <div class='modal-footer'>
            <div type='button' class='pull-left btn-dashboard-plans go-back-btn' data-dismiss='modal'>Go
                Back
            </div>
            <div type='submit' class='pull-right btn-dashboard-plans i-want-btn'
                 ng-click="up.upgradeToPlan(up.currentPlan.id)">I Want This Plan
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</section>
