#upgrade-plan-content {
  .plan-option-dark-grey{background-color: #dedede;}
  .plan-option-light-grey{background-color: #cdcdcd;}

  .most-popular{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    top: -20px;
    right: 0;
    background-image: url('/icons/MostPopular.png');
  }

  .get-quote-note{
    font-size: 14px;
    color: grey;
  }

  textarea, input{
    border-width: 2px;
    border-radius: 0;
  }

  .contact-us-btn-red{
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    color: #e51d39;
    border:solid 2px #e51d39;
    a, a:focus, a:active, a:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .contact-us-btn-red:hover{
    cursor: pointer;
    background-color: #e51d39;
    color: #fff;
  }

  .contact-us{
    text-align: left;
    border: solid 2px #e51d39;
    padding: 10px 20px;
    margin-top: 60px;
    margin-bottom: 40px;

    span{
      color: #e51d39;
      font-size: 22px;
    }

    p{
      margin-top: 20px;
      font-size: 15px;
    }
  }

  .align-vertical-parent {
    display: table;
    width: 100%;
    height: 60px;
    margin-bottom: 2px;
  }

  .align-vertical-child {
    font-size: 15px;
    vertical-align: middle;
    padding: 0 0 0 5px;
    text-align: center;
  }

  .plan-option-list{
    padding-right: 2px;
    .option-btn-red{
      margin-top: 110px;
      display: inline-block;
      font-size: 14px;
      color: #e51d39;
      border:solid 2px #e51d39;
    }
    .option-btn-red:hover, .option-btn-red.active{
      cursor: pointer;
      color: #fff;
      background-color: #e51d39;
    }
    .white-space-pre-line {
      white-space: pre-line;
    }
    .align-vertical-child{
      text-align: left;
    }
  }

  .not-included{
    text-decoration: line-through;
  }

  .wrapper {
    height: 101px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101px;
    padding:0;
  }

  h2 {
    margin: 45px;
    font-size: .8em;
    font-weight: bolder;
  }

  #steps-row {
    width: 440px;
    display: inline-block;
    .step-container {
      display: block;
      margin-left: 38px;
      float: left;
      width: 100px;
      font-size: .5em;
    }

    span.step-number {
      display: block;
      float: left;
      width: 61px;
      margin: 0 20px 5px 20px;
      padding: 9px;
      color: white;
      font-size: 2em;
      text-align: center;
      background: $lightGray;

      &.active,
      &done{
        background: #4DC0E9;
      }
    }

    span.step-name {
      color: $lightGray;

      &.active,
      &.done {
        color: $grey;
      }
    }

  }


  .benefits {
    margin-left: 5%;

    p {
      margin: 0 0 -10px 0;
      padding: 10px 100px 10px 30px;

      font-size: 1.9rem;
      text-align: left;

      border-left: 3px solid $green;

      &::before {
        content:  url('./../icons/ic_tick.png');
        display: block;
        margin-left: -70px;
        margin-top: 5px;
        position: absolute;
      }
    }
  }

  .plans-table {
    table {
      width: 90%;
      padding: 0;
      margin: 0 auto;
      th {
        text-align: center;
        width: 20%;
        border-right: 2px solid #ffffff;
        margin: 0;
        .list-group-item-heading {
          margin-bottom: 0;
        }
        .flex-box {
          padding: 5px 10px;
        }

        .plan-block {
          height: 100%;
        }
      }

      th.plan-option-price-block {
        min-height: 100px;
      }

      td {
        border: 2px solid #ffffff;
        font-size: 15px;
        padding: 5px 10px;
      }

      .plan-option-feature {
        text-align: left;
      }

      //dark
      tr:nth-child(even) {
        .plan-option-feature{background-color: #ededed;}
        .junior_monthly, .junior_yearly{background-color: #cae8c8;}
        .core_monthly, .core_yearly{background-color: #afe3f6;}
        .senior_monthly, .senior_yearly{background-color: #cae8c8;}
        .free_account {background-color: #faf8c3;}
      }
      //light
      tr:nth-child(odd) {
        .plan-option-feature{background-color: #dedede;}
        .junior_monthly, .junior_yearly{background-color: #dbf1dc;}
        .core_monthly, .core_yearly{background-color: #caecf9;}
        .senior_monthly, .senior_yearly{background-color: #dbf1dc;}
        .free_account {background-color: #fdfad7;}
      }

    }

    .plan-block {
      padding-left: 0px;

      h4 {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        font-family: sans-serif
      }
    }

    .included-plan-fader {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      opacity: .8;
      z-index: 100;
      > .label {
        position: absolute;
        top:320px;
        left: 0;
        color: #E51D39;
        font-size: calc(100vw/45);
        font-weight: bold;

        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

      }
    }

    .list-group {
      border: none;
      box-shadow: none;
        -webkit-box-shadow: none;
    }

    #best-value-badge {
      position: absolute;
      top:-4px;
      right: -4px;
      z-index: 100;
    }



    .price-label {
      display: block;
      position: relative;
      padding: 10px 0px;

      h5 {
        font-size: 35px;
        font-weight: 900;
        color: white;
        margin-bottom: 10px;
        padding: 10px;
        sub {
          font-size: 14px;
        }
      }
      .outline {
        color: white;
        //http://stackoverflow.com/questions/4919076/outline-effect-to-text
        text-shadow:
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey;
      }

      @media (max-width: 1200px) {
        .outline {
          font-size: 16px
        }
      }

      p {
        font-size: 12px;
        color: #fff;
        margin-bottom: 0px;
      }
    }

    .list-group-item-text {
      padding: 10px;
      width: 100%;
      font-size: 16px;
      margin-bottom: 3px;
    }

    .junior_monthly_header, .junior_yearly_header{background-color: #72c46e;}
    .core_monthly_header, .core_yearly_header{background-color: #41b2e3;}
    .senior_monthly_header, .senior_yearly_header{background-color: #72c46e;}
    .free_account_header {background-color: #f5f072;}

    .junior_monthly_btn, .junior_yearly_btn {
      border-color: #6ebc95;
      background-color: #fff;
      color: #96d393 !important;
      width: 95%;
      margin: 5px auto;
    }

    @mixin setupPlanBtn($border, $text-color) {
      border-color: $border;
      background-color: #fff;
      color: $text-color;
      width: 95%;
      margin: 5px auto;
    }

    .free_account_btn {
      @include setupPlanBtn(#bdb795, #bdb795);
    }

    .core_monthly_btn, .core_yearly_btn{
      @include setupPlanBtn(#4CC0E9, #40b0df);
    }

    .senior_monthly_btn, .senior_yearly_btn{
      @include setupPlanBtn(#82cc81, #96d393);
    }

    .senior_monthly_btn:hover, .senior_yearly_btn:hover,
    .core_monthly_btn:hover, .core_yearly_btn:hover, .free_account_btn:hover,
    .junior_monthly_btn:hover, .junior_yearly_btn:hover {
      background-color: rgba(10, 10, 10, 0.3);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    .yellow-bg {background: $yellow;}
    .yellow-light-bg {background: #FDFAD7;}
    .yellow-header-bg {background: #F8F49B;}
    .green-bg {background: #4CB648;}
    .green-light-bg {background: #DBF1DC;}
    .green-header-bg {background: #A5DAA4;}
    .blue-bg {background: #4CC0E9;}
    .blue-light-bg {background: #DBF1FC;}
    .blue-header-bg {background: #A5DFF3;}
  }

  .btn-dashboard-plans {
    display: block;
    padding: 9px 10px;
    font-size: 16px;
    border: solid 3px $grey;
    cursor: pointer;
    text-align: center;
    &.btn-back,
    &.btn-submit {
      padding: 3px;
    }
  }
  .buttons-area {
    margin-top: 18px !important;
    padding: 0 !important;
  }

  .learn {margin-left: 5px;}
  .want {margin-left: 5px;}

  .modal-footer {
    font-size: 2rem;

    .go-back-btn {color: $grey; border-color: $grey; }
    .i-want-btn {color:$grey; border-color: $yellow;}
  }



  #plansModal {
    top: -85px;
    h1 {
      padding: 15px;
      font-size: 3.3rem;
      font-weight: 100;
    }

    p {
      font-size: 2rem;
      color: $grey;
    }

    .panel {
      border-radius: 0px;
      color: $grey;
    }

    a.accordion-toggle {
      text-decoration: none;

      &:hover { text-decoration: none }
    }

    .panel-title {
      font-size: 2rem;
      text-align: left;
      color: $grey;
    }
    .panel-heading {
      border: none;
      background: #F6F8F7;

      &:hover {
        background: #F8F49B;
      }
    }

    .panel-body {
      p {
        font-size: 1.9rem;
        text-align: left;
        color: $grey;
      }
    }
  }

  #disclaimer {
    color: $grey;
    font-size: 1.5rem;
    padding: 0 25px;
  }


  .ng-custom-select {


    .ncs-select {
      position: relative;
      color: $grey;
      font-size: 1.5rem;
      text-align: left;

      .ncs-input-field {
        display: block;
        padding: 9px;

        background: $lightGray;
      }

      .ncs-arrow-bnt {
        position: absolute;
        top:13px; right: 2rem;
        cursor: pointer;
      }

      .ncs-content {
        position: absolute;
        z-index: 3000;
        margin-top: -3px;
        width: 100%;
        max-height: 200px;
        overflow-y: scroll;
        border: 3px solid $lightGray;
        background: white;

        .ncs-content-item {
          padding: 3px 10px;
          cursor: pointer;

          &:hover {
            background: $yellow;
          }
        }
      }
    }

    .ncs-click-anywhere {
      display: block;
      position: absolute;
      width: 200vw;
      height: 200vh;
      background: black;

      top:-100vh; left: -100vw;
    }
  }

  #countryAndCurrencySelect {

    .modal-body {padding: 36px;}

    #country-select {
      width: 75%;
      float: left;
    }

    #currency-select {
      width: 21%;
      float: left;
    }

    .modal-header, .modal-footer { border:none; }
    .modal-footer {
      padding: 0
    }

    .ok-btn {
      margin-top: 20px;
      color: $red;
      border-color: $red;
    }
  }


  @import "./steps/step2";
  @import "./steps/step3-4";

  #step-5 {
    margin-top: 55px;
    margin-bottom: 100px;

    iframe#paymentModal-iframe {
      margin-top: 20px;

      width: 80vh;
      height: 90vw;
    }

  }

}
