#upgrade-plan-content {
  h2 {
    margin: 45px;
    font-size: .8em;
    font-weight: bolder;
  }

  #steps-row {
    display: block;
    width: 405px;
    width: 600px;
    margin: 0 auto;

    .step-container {
      display: block;
      margin: 10px;
      float: left;
      width: 100px;
      font-size: .5em;
    }

    span.step-number {
      display: block;
      float: left;
      width: 61px;
      margin: 0 20px 5px 20px;
      padding: 9px;
      color: white;
      font-size: 2em;
      text-align: center;
      background: $lightGray;

      &.active {
        color: white;
        background: $blue;
      }

      &.done {
        background: rgba(88, 188, 227, 0.65);
      }
    }

    span.step-name {
      color: $lightGray;

      &.active,
      &.done {
        color: $grey;
      }
    }

  }


  .benefits {
    margin-left: 5%;

    p {
      margin: 0 0 -10px 0;
      padding: 10px 100px 10px 30px;

      font-size: 1.9rem;
      text-align: left;

      border-left: 3px solid $green;

      &::before {
        content:  url('./../icons/ic_tick.png');
        display: block;
        margin-left: -70px;
        margin-top: 5px;
        position: absolute;
       // background: url('./../icons/ic_tick.png') no-repeat;
      }
    }
  }



  .plans-table {

    .list-group {
      border: none;
      box-shadow: none;
        -webkit-box-shadow: none;
    }

    #best-value-badge {
      position: absolute;
      top:-4px;
      right: -4px;
      z-index: 100;
    }

    h4 {
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 5px;
      padding: 6px;
      font-size: 3.3rem;
      font-weight: bold;
      font-style: italic;

    }

    .price-label {
      display: block;
      position: relative;
      padding-top: 40px;
      height: 190px;

      h5 {

        font-size: 6rem;
        font-weight: 900;
        color: white;

      }
      .outline {
        color: white;
        //http://stackoverflow.com/questions/4919076/outline-effect-to-text
        text-shadow:
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .list-group-item-text {
      margin: 4px auto;
      padding: 10px;
      width: 90%;
      font-size: 2.1rem;
    }

    .yellow-bg {background: $yellow;}
    .yellow-light-bg {background: #FDFAD7;}
    .yellow-header-bg {background: #F8F49B;}
    .green-bg {background: #4CB648;}
    .green-light-bg {background: #DBF1DC;}
    .green-header-bg {background: #A5DAA4;}
    .blue-bg {background: #4CC0E9;}
    .blue-light-bg {background: #DBF1FC;}
    .blue-header-bg {background: #A5DFF3;}
  }

  .btn-dashboard-plans {
    display: block;
    height: 50px;
    margin: 5px 0;
    padding: 9px 20px;
    font-size: 2.3rem;
    border: solid 3px $grey;
    cursor: pointer;
  }
  .buttons-area {
    margin-top: 18px !important;
    padding: 0 !important;
  }
  .btn-brown {$thisColor: #979137; color:$thisColor; border-color: $thisColor;}
  .btn-green {$thisColor: #4CB344; color:$thisColor; border-color: $thisColor}
  .btn-blue {$thisColor: #65C8EE; color:$thisColor; border-color: $thisColor}

  .learn {width: 160px;}
  .want {width: 200px;}

  .modal-footer {
    font-size: 2rem;

    .go-back-btn {color: $grey; border-color: $grey; }
    .i-want-btn {color:$grey; border-color: $yellow; width: 200px;}
  }



  #plansModal {
    top: -85px;
    h1 {
      padding: 15px;
      font-size: 3.3rem;
      font-weight: 100;
    }

    p {
      font-size: 2rem;
      color: $grey;
    }

    .panel {
      border-radius: 0px;
      color: $grey;
    }
    .panel-title {
      font-size: 2rem;
      text-align: left;
      color: $grey;
    }
    .panel-heading {
      border: none;
      background: #F6F8F7;

      &:hover {
        background: #F8F49B;
      }
    }

    .panel-body {
      p {
        font-size: 1.9rem;
        text-align: left;
        color: $grey;
      }
    }
  }

  #disclaimer {
    margin-top: 60px;
    color: $grey;
    font-size: 1.5rem;

  }
}



