#upgrade-plan-content {

  .get-quote-note{
    font-size: 14px;
    color: grey;
  }

  textarea{
    border-width: 2px;
    border-radius: 0;
  }

  .contact-us{
    text-align: left;
    border: solid 2px #e51d39;
    padding: 10px 20px;
    margin-top: 60px;
    margin-bottom: 40px;

    .contact-us-btn-red{
      display: inline-block;
      padding: 10px 20px;
      font-size: 22px;
      color: #e51d39;
      border:solid 2px #e51d39;
    }

    .contact-us-btn-red:hover{
      cursor: pointe;
      background-color: #e51d39;
      color: #fff;
    }

    span{
      color: #e51d39;
      font-size: 22px;
    }

    p{
      margin-top: 20px;
      font-size: 15px;
    }
  }

  .align-wertical-parent {
    display: table;
    width: 100%;
    height: 60px;
    margin-bottom: 3px;
  }

  .align-wertical-child {
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0px 10px 20px;
    text-align: center;
  }

  .plan-option-list{
    .option-btn-red{
      margin-top: 110px;
      display: inline-block;
      width: 48%;
      font-size: 14px;
      color: #e51d39;
      border:solid 2px #e51d39;
    }
    .option-btn-red:hover{
      cursor: pointe;
      color: #fff;
      background-color: #e51d39;
    }
    .option-btn-red-active{
      color: #fff;
      background-color: #e51d39;
    }
    .white-space-pre-line {
      white-space: pre-line;
    }
    .align-wertical-child{
      text-align: left;
    }
  }

  .not-included{
    text-decoration: line-through;
  }

  .wrapper {
    height: 101px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101px;
    padding:0;
  }

  h2 {
    margin: 45px;
    font-size: .8em;
    font-weight: bolder;
  }

  #steps-row {
    width: 440px;
    display: inline-block;
    .step-container {
      display: block;
      margin-left: 38px;
      float: left;
      width: 100px;
      font-size: .5em;
    }

    span.step-number {
      display: block;
      float: left;
      width: 61px;
      margin: 0 20px 5px 20px;
      padding: 9px;
      color: white;
      font-size: 2em;
      text-align: center;
      background: $lightGray;

      &.active,
      &done{
        background: #4DC0E9;
      }
    }

    span.step-name {
      color: $lightGray;

      &.active,
      &.done {
        color: $grey;
      }
    }

  }


  .benefits {
    margin-left: 5%;

    p {
      margin: 0 0 -10px 0;
      padding: 10px 100px 10px 30px;

      font-size: 1.9rem;
      text-align: left;

      border-left: 3px solid $green;

      &::before {
        content:  url('./../icons/ic_tick.png');
        display: block;
        margin-left: -70px;
        margin-top: 5px;
        position: absolute;
       // background: url('./../icons/ic_tick.png') no-repeat;
      }
    }
  }



  .plans-table {
    .plan-block {
      display: block;
      padding-left: 0px;
      padding-right: 15px;
    }

    .included-plan-fader {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      opacity: .8;
      z-index: 100;
      > .label {
        position: absolute;
        top:320px;
        left: 10px;
        color: #E51D39;
        font-size: calc(100vw/36);
        font-weight: bold;

        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

      }
    }

    .list-group {
      border: none;
      box-shadow: none;
        -webkit-box-shadow: none;
    }

    #best-value-badge {
      position: absolute;
      top:-4px;
      right: -4px;
      z-index: 100;
    }

    h4 {
      max-width: 70%;
      margin: 0 auto;
      margin-bottom: 5px;
      padding: 6px;
      font-size: 2.3rem;
      font-weight: bold;
      font-style: italic;
    }

    .price-label {
      display: block;
      position: relative;
      padding: 10px 0px;

      h5 {
        font-size: 3rem;
        font-weight: 900;
        color: white;
        margin-bottom: 20px;
      }
      .outline {
        color: white;
        //http://stackoverflow.com/questions/4919076/outline-effect-to-text
        text-shadow:
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey,
                0 0 4px $grey, 0 0 4px $grey;
      }

      p {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 0px;
      }
    }

    .list-group-item-text {
      padding: 10px;
      width: 100%;
      font-size: 16px;
      margin-bottom: 3px;
    }

    .junior_monthly_dark, .junior_yearly_dark{background-color: #6ebc95;}
    .junior_monthly_light, .junior_yearly_light{background-color: #d6ece0;}

    .core_monthly_dark, .core_yearly_dark{background-color: #4CC0E9;}
    .core_monthly_light, .core_yearly_light{background-color: #A5DFF3;}

    .senior_monthly_dark, .senior_yearly_dark{background-color: #82cc81;}
    .senior_monthly_light, .senior_yearly_light{background-color: #dbf1dc;}

    .junior_monthly_btn, .junior_yearly_btn{
      border-color: #6ebc95 !important;
      background-color: #fff !important;
      color: #6ebc95 !important;
      width: 60%;
      margin: 0 auto;
    }

    .core_monthly_btn, .core_yearly_btn{
      border-color: #4CC0E9;
      background-color: #fff;
      color: #4CC0E9;
      width: 60%;
      margin: 0 auto;
    }

    .senior_monthly_btn, .senior_yearly_btn{
      border-color: #82cc81;
      background-color: #fff;
      color: #82cc81;
      width: 60%;
      margin: 0 auto;
    }

    .yellow-bg {background: $yellow;}
    .yellow-light-bg {background: #FDFAD7;}
    .yellow-header-bg {background: #F8F49B;}
    .green-bg {background: #4CB648;}
    .green-light-bg {background: #DBF1DC;}
    .green-header-bg {background: #A5DAA4;}
    .blue-bg {background: #4CC0E9;}
    .blue-light-bg {background: #DBF1FC;}
    .blue-header-bg {background: #A5DFF3;}
  }

  .btn-dashboard-plans {
    display: block;
    margin: 5px 0;
    padding: 9px 10px;
    font-size: 16px;
    border: solid 3px $grey;
    cursor: pointer;
    text-align: center;
  }
  .buttons-area {
    margin-top: 18px !important;
    padding: 0 !important;
  }
  .btn-brown {$thisColor: #979137; color:$thisColor; border-color: $thisColor;}
  .btn-green {$thisColor: #4CB344; color:$thisColor; border-color: $thisColor}
  .btn-blue {$thisColor: #65C8EE; color:$thisColor; border-color: $thisColor}

  .learn {margin-left: 5px;}
  .want {margin-left: 5px;}

  .modal-footer {
    font-size: 2rem;

    .go-back-btn {color: $grey; border-color: $grey; }
    .i-want-btn {color:$grey; border-color: $yellow;}
  }



  #plansModal {
    top: -85px;
    h1 {
      padding: 15px;
      font-size: 3.3rem;
      font-weight: 100;
    }

    p {
      font-size: 2rem;
      color: $grey;
    }

    .panel {
      border-radius: 0px;
      color: $grey;
    }

    a.accordion-toggle {
      text-decoration: none;

      &:hover { text-decoration: none }
    }

    .panel-title {
      font-size: 2rem;
      text-align: left;
      color: $grey;
    }
    .panel-heading {
      border: none;
      background: #F6F8F7;

      &:hover {
        background: #F8F49B;
      }
    }

    .panel-body {
      p {
        font-size: 1.9rem;
        text-align: left;
        color: $grey;
      }
    }
  }

  #disclaimer {
    margin-top: 60px;
    color: $grey;
    font-size: 1.5rem;
    padding: 0 25px;
  }


  .ng-custom-select {


    .ncs-select {
      position: relative;
      color: $grey;
      font-size: 1.5rem;
      text-align: left;

      .ncs-input-field {
        display: block;
        padding: 9px;

        background: $lightGray;
      }

      .ncs-arrow-bnt {
        position: absolute;
        top:13px; right: 2rem;
        cursor: pointer;
      }

      .ncs-content {
        position: absolute;
        z-index: 3000;
        margin-top: -3px;
        width: 100%;
        max-height: 200px;
        overflow-y: scroll;
        border: 3px solid $lightGray;
        background: white;

        .ncs-content-item {
          padding: 3px 10px;
          cursor: pointer;

          &:hover {
            background: $yellow;
          }
        }
      }
    }

    .ncs-click-anywhere {
      display: block;
      position: absolute;
      width: 200vw;
      height: 200vh;
      background: black;

      top:-100vh; left: -100vw;
    }


  }



  #countryAndCurrencySelect {

    .modal-body {padding: 36px;}

    #country-select {
      width: 75%;
      float: left;
    }

    #currency-select {
      width: 21%;
      float: left;
    }

    .modal-header, .modal-footer { border:none; }
    .modal-footer {
      padding: 0
    }

    .ok-btn {
      margin-top: 20px;
      color: $red;
      border-color: $red;
    }
  }


  @import "./steps/step2";
  @import "./steps/step3-4";

  #step-5 {
    margin-top: 55px;
    margin-bottom: 100px;

    iframe#paymentModal-iframe {
      margin-top: 20px;

      width: 80vh;
      height: 90vw;
    }

  }

}
