<section id='account-session-rating-content' ng-controller='SessionRatingController as rc'>
  <div class='col-md-12'>
    <div class='dashboard-container'>
      <div class='row'>
        <div class='col-md-offset-3 col-md-6'>
          <h2 class='text-center'>Session Rating</h2>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12 fixed-bottom-margin'>
    <div class='dashboard-container'>
      <table class='table table-dashboardElements'>
        <thead>
          <tr class='green-background'>
            <th>Account Name</th>
            <th class='pull-right'>Account Rating</th>
          </tr>
        </thead>
      </table>

      <div ng-repeat='account in rc.accounts'>
        <uib-accordion close-others='false'>
          <uib-accordion-group is-open='account.open'>
            <uib-accordion-heading>
              <div class='row'>
                <div class='col-xs-6'>
                  <span class='glyphicon' ng-class="{'glyphicon-chevron-down': account.open, 'glyphicon-chevron-right': !account.open}"></span>
                  {{ account.name | human2Camel : true }}
                </div>
                <div class='col-xs-6'>
                  <span class='pull-right'>
                    <uib-rating class='session-rating-stars-small no-pointer-events' ng-model='account.rating' max='5' aria-labelledby='default-rating' readonly='true'></uib-rating>
                  </span>
                </div>
              </div>
            </uib-accordion-heading>

            <div class='row' ng-repeat='session in account.sessions'>
              <div class='col-xs-offset-1 col-xs-5'>
                {{ session.name }}
              </div>

              <div class='col-xs-6'>
                <uib-rating class='session-rating-stars-small no-pointer-events' ng-model='session.rating' max='5' aria-labelledby='default-rating' readonly='true'></uib-rating>
              </div>
              <div class='col-xs-offset-1 col-xs-10'>
                <hr ng-if='acItem.Sessions.length > 1' />
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
  </div>
</section>
