<p class='lead survey-title'>{{ sc.manageTemp.survey.name || sc.manage.survey.name }}
  <span class='help-block'>
    <small>{{ sc.manageTemp.survey.description || sc.manage.survey.description }}</small>
  </span>
</p>
<hr />

<div ng-repeat='question in sc.listQuestions() track by question.order' ng-init='sq = sc.surveySelect.SurveyQuestions[question.id] = {}'>
  <div class='panel no-border-radius' ng-class='sc.pickValidClass(sq.error, "panel")'>
    <div class='panel-heading no-border-radius'>
      <h3 class='panel-title'><small>{{ question.name }}</small><span class='panel-title help-block'>{{ question.question }}</span></h3>
    </div>

    <div class='panel-body no-border-radius'>
      <span class='has-error'>
        <span class='help-block'>{{ sq.error }}</span>
      </span>

      <div ng-if='question.type == "radio"' ng-repeat='answer in question.answers'>
        <div class='radio radio-sm survey-input' ng-class='sc.pickValidClass(sq.error, "radio")'>
          <input type='radio' name='radio_{{ question.order }}' id='radio_{{ question.order }}_{{ answer.order }}'
          ng-value='answer.order' ng-model='sq.answer' ng-change='sc.onChange(sq)'>

          <label for='radio_{{ question.order }}_{{ answer.order }}'>{{ answer.name }}</label>
        </div>
      </div>

      <div ng-if='question.type == "textarea"' ng-repeat='answer in question.answers'>
        <textarea class='form-control no-border-radius' ng-class='sc.pickValidClass(sq.error, "panel")' placeholder='Answer' rows='5'
          ng-model='sq.answer' ng-change='sc.onChange(sq)'></textarea>
      </div>

      <div ng-if='question.type == "checkbox"' ng-repeat='answer in question.answers'>
        <div class='form-group col-sm-12'>
          <div class='col-sm-12 checkbox checkbox-sm survey-input' ng-class='sc.pickValidClass(sq.error, "checkbox")'>
            <input class='styled' id='checkbox_{{ question.order }}_{{ answer.order }}' type='checkbox'
              ng-model='sq.answer' ng-init='sq.answer = false' ng-change='sc.onChange(sq, answer.contact)'>

            <label for='checkbox_{{ question.order }}_{{ answer.order }}'>{{ answer.name }}</label>
          </div>
        </div>

        <div class='form-group' ng-if='answer.contact' ng-repeat='contact in answer.contact'>
          <div class='col-xs-offset-2 col-xs-10'>
            <span class='has-error'>
              <span class='help-block'>{{ sc.contactList[contact.model].error }}</span>
            </span>
          </div>
          <label class='col-xs-2 control-label' for='contact_{{ contact.model }}'>{{ contact.name }}</label>

          <div class='col-xs-10'>
            <input type='text' class='form-control no-border-radius' id='contact_{{ contact.model}}' placeholder='{{ contact.name }}'
               ng-class='sc.pickValidClass(sc.contactList[contact.model].error, "panel")' ng-model='sc.contactList[contact.model].answer' ng-init='sc.contactList[contact.model].answer = ""' ng-disabled='!sq.answer'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
