<div class='row col-sm-12'>
  <div class='col-sm-2'>
    <label class='control-label' for='questionName_{{object.order}}'>Name</label>
  </div>

  <div class='col-sm-6'>
    <span class='has-error text-red-dark'>{{ sc.createTemp.survey.SurveyQuestions[object.order].errors.name }}</span>
    <input type='text' class='form-control' id='questionName_{{object.order}}' placeholder='Name' ng-change='sc.questionChange(object.order, questions[object.order])' ng-string ng-model='sc.createTemp.survey.SurveyQuestions[object.order].name'>
  </div>
  <div class='col-sm-4'>
    <img class='pull-right' ng-click='sc.validateQuestion(object.order, sc.createTemp.survey.SurveyQuestions[object.order])'
      ng-src="{{ sc.chooseValidIcon(sc.createTemp.survey.SurveyQuestions[object.order].active) }}" alt='' />
  </div>
</div>

<div class='row col-sm-12'>
  <br />
  <div class='col-sm-8'>
    <span class='has-error text-red-dark'>{{ sc.createTemp.survey.SurveyQuestions[object.order].errors.question }}</span>
    <textarea class='form-control' id='questionAnswer_{{object.order}}' placeholder='Question' ng-string ng-change='sc.questionChange(object.order, questions[object.order])' ng-model='sc.createTemp.survey.SurveyQuestions[object.order].question' ng-maxlength='500' rows='5'></textarea>
    <br />
  </div>
</div>
