<div class='form-horizontal' ng-if='!object.hardcodedName'>
  <div class='form-group'>
    <label class='col-xs-2 control-label' for='questionName_{{object.order}}'>Name</label>

    <div class='col-xs-10 col-sm-6'>
      <div class='input-group'>
        <input type='text' class='form-control' id='questionName_{{object.order}}' placeholder='Name'
          ng-change='sc.questionChange(object.order, question)' ng-string ng-model='question.name'>
        <span class='input-group-addon'>@</span>
      </div>

      <span class='has-error'>
        <span class='help-block'>{{ question.errors.name }}</span>
      </span>
    </div>
  </div>
</div>

<div class='form-horizontal' ng-if='object.hardcodedName'>
  <div class='form-group'>
    <label class='col-md-2 control-label' for='questionName_{{object.order}}' style='text-align:left;'>{{ object.name }}</label>
  </div>
</div>

<div class='form-horizontal'>
  <div class='form-group'>
    <div class='col-sm-8'>
      <span class='has-error'>
        <span class='help-block'>{{ question.errors.question }}</span>
      </span>

      <textarea class='form-control' id='questionAnswer_{{object.order}}' placeholder='Question'
        ng-string ng-change='sc.questionChange(object.order, question)' ng-model='question.question' ng-maxlength='500' rows='5'></textarea>
    </div>
  </div>
</div>

<div class='form-horizontal' ng-if='object.audioVideo'>
  <div class='form-group'>
    <label class='col-xs-2 control-label' for='audioVideo_{{object.order}}'>Audio/Video</label>

    <div class='col-xs-10 col-sm-6'>
      <div class='input-group'>
        <input type='text' class='form-control' id='audioVideo_{{object.order}}' placeholder='Audio/Video'
          ng-string ng-change='sc.questionChange(object.order, question)' ng-model='question.audioVideo'>
        <span class='input-group-addon'>@</span>
      </div>

      <span class='has-error'>
        <span class='help-block'>{{ question.errors.audioVideo }}</span>
      </span>
    </div>
  </div>
</div>
