{
  "development": {
    "username": "root",
    "password": "toor",
    "database": "kliiko_development",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "staging": {
    "use_env_variable": "DATABASE_URL"
  },
  "test": {
    "username": "root",
    "password": "toor",
    "database": "kliiko_test",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "logging": false
  },
  "production": {
    "use_env_variable": "DATABASE_URL"
  }
}
