{
  "mode": "development",
  "server":{
    "port": 8080,
    "baseDomain": ".focus.com",
    "domain": "insider.focus.com",
    "chatUrl": "/chat",
    "baseSubdomain": "insider"
  },
  "redisSession": {
    "host": "127.0.0.1",
    "port": "6379",
    "db": 7
  },
  "mail": {
    "fromName": "Insider Focus",
    "fromEmail":"insiderfocus.noreply@gmail.com",
    "transport": {
      "service": "gmail",
      "auth": {
        "user": "insiderfocus.noreply",
        "pass": "ifs_Zupper!pwd"
      }
    }
  },
  "webAppSettings": {
    "restApiUrl": "/api",
    "paymentModules": {
      "chargebee": {
        "apiEndPoint": "/chargebee"
      }
    }
  },
  "twilioAccountSid": "ACf88baabe9d669c23950914a5be8f8a1e",
  "twilioAuthToken": "c23ece04ae316b8f10aec5849db9b8f9",
  "twilioSenderNumber": "+15005550006",
  "sessionSecret": "c4be0a2cc8658004a3f2417e62281f65e995ac7c564e39e727d764a62d69e836",
  "cookieSecret": "ee9b7f3df25f0759a0876762da2b721cdeba47b1f5df4003807c6383c581f409",
  "facebookclientID": "895147450520688",
  "facebookClientSecret": "5c18ba36fe2a55ae05fd64fe41bcb002",
  "facebookCallbackURL": "http://insider.focus.com:8080/auth/facebook/callback",
  "googleClientID": "101229485448-fr8fu02du6g1gafm83sq7e71ihc7rt4j.apps.googleusercontent.com",
  "googleClientSecret": "dur3PoHn_rz8hDRnta1ZdcqY",
  "googleCallbackURL": "http://insider.focus.com:8080/auth/google/callback",
  "openexchangeratesAppId": "fc9b3ecd71274202a9f7935766e449a1",
  "chatConf":{
    "mode": "live",
    "conflict": "drop existing",
    "copyright": "2011 - 2014 ThirdWaveMedia Pty. Ltd.",
    "port": "8080",
    "domain": "insider.focus.com",
    "paths": {
      "fsPath": "/home/lauris/code/Kliiko/chatRoom",
      "urlPath": "http://insider.focus.com:8080/",
      "serverPath": "server/",
      "configPath": "config/",
      "adminPath": "admin/",
      "chatRoomPath": "chat_room/",
          "convertPath": "/usr/bin/convert",
          "identifyPath": "/usr/bin/identify"
    }
  },
  "chargebee": {
    "site" : "kliikotst-test",
    "api_key" : "test_M84JneCGcdmd5Zp8jpDqLtH9twyR9EWUr"
  }
}
