<foreignObject height='100%' width='100%' y='45%' x='3.5%'>
  <div>
    <center>
      <span class='chatMiddleButtons glyphicon glyphicon-facetime-video' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-volume-up' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-camera' style='color: {{ previewScheme.consoleButtonActive }}; border-color: {{ previewScheme.consoleButtonActive }};' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-ok' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-file' aria-hidden='true'></span>
    </center>
  </div>
</foreignObject>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='10%' y='25%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='40%' x='10%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[1] }}'/>
</g>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='30%' y='10%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='25%' x='30%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[2] }}'/>
</g>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='60%' y='10%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='25%' x='60%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[3] }}'/>
</g>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='80%' y='25%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='40%' x='80%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[4] }}'/>
</g>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='80%' y='55%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='70%' x='80%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[5] }}'/>
</g>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='60%' y='70%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='85%' x='60%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[6] }}'/>
</g>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='30%' y='70%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='85%' x='30%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[7] }}'/>
</g>

<g>
  <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='10%' y='55%' viewBox='0 0 248.349 248.349' width='15%' height='15%'
    ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'">
  </svg>
  <rect height='5%' width='15%' y='70%' x='10%' stroke-linecap='null' stroke-linejoin='null' fill='{{ previewScheme.participants[8] }}'/>
</g>
