<foreignObject height='100%' width='100%' y='40%' x='-1%'>
  <div>
    <center>
      <span class='chatMiddleButtons glyphicon glyphicon-facetime-video' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-volume-up' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-camera' ng-attr-style='color: {{ previewScheme.consoleButtonActive }}; border-color: {{ previewScheme.consoleButtonActive }};' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-ok' aria-hidden='true'></span>
      <span class='chatMiddleButtons glyphicon glyphicon-file' aria-hidden='true'></span>
    </center>
  </div>
</foreignObject>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='0%' y='15%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[1] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='20%' y='0%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[2] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='50%' y='0%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[3] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='70%' y='15%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[4] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='70%' y='45%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[5] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='50%' y='60%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[6] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='20%' y='60%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[7] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>

<svg xmlns:xlink='http://www.w3.org/1999/xlink' x='0%' y='45%' width='30%' height='30%' viewBox='0 0 360 360'>
  <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
  <path fill='{{ bcc.memberColours.participants[8] }}' d="m1,242l313,0l0,61.399506l-313,0"/>
</svg>
