<svg height='100%' width='100%' xmlns='http://www.w3.org/2000/svg'>
  <svg width='75%'>
    <svg xmlns:xlink='http://www.w3.org/1999/xlink' x='0%' y='0%' width='22%' height='22%' fill='{{ bcc.memberColours.facilitator }}' viewBox='0 0 360 360'>
      <g ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/user.html'"></g>
      <path d="m1,242l313,0l0,61.399506l-313,0"/>
    </svg>

    <g>
      <rect height='19%' width='25%' y='0%' x='20%' stroke-linecap='null' stroke-linejoin='null' fill='#E3A6C4'/>
      <foreignObject height='19%' width='25%' y='0%' x='20%' font-size='75%'>
        <p xmlns="http://www.w3.org/1999/xhtml">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
        </p>
      </foreignObject>
    </g>

    <g>
      <rect stroke-width='4' stroke='grey' height='18%' width='45%' y='1%' x='50%' stroke-linecap='null' stroke-linejoin='null' fill='white'/>
    </g>
  </svg>

  <g>
    <foreignObject height='100%' width='25%' y='0%' x='75%' font-size='75%'>
      <div class='media'>
        <div class='media-left media-bottom'>
          <img class='img-responsive' src='/icons/circle.png' alt='Circle here' />
        </div>
        <div class='media-body'>
          <p class='lime-background' xmlns="http://www.w3.org/1999/xhtml">
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
          </p>
        </div>
      </div>

      <div class='media'>
        <div class='media-left media-bottom'>
          <img class='img-responsive' src='/icons/circle.png' alt='Circle here' />
        </div>
        <div class='media-body'>
          <p class='lime-background' xmlns="http://www.w3.org/1999/xhtml">
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
          </p>
        </div>
      </div>

      <div class='media'>
        <div class='media-left media-bottom'>
          <img class='img-responsive' src='/icons/circle.png' alt='Circle here' />
        </div>
        <div class='media-body'>
          <p class='lime-background' xmlns="http://www.w3.org/1999/xhtml">
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
          </p>
        </div>
      </div>
    </foreignObject>
  </g>

  <svg y='22%' height='90%' width='75%' ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/grid.html'"></svg>
</svg>
