<section id='account-manager-content' ng-controller='AccountManagerController as amc'>
  <div class='col-md-12'>
    <div class='dashboard-container'>
      <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
          <h2 class='text-center'>Account Managers</h2>
        </div>
        <div class='col-md-3 text-right'>
          <div class='btn btn-addNewElement' ng-click='amc.openModal(amc.createNewModalTitle, "new")'>Add New Account Manager</div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12 fixed-bottom-margin'>
    <div class='dashboard-container'>
      <table class='table table-responsive table-dashboardElements'>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='accountUser in amc.accountUsers'>
            <td>{{ accountUser.firstName }}</td>
            <td>{{ accountUser.lastName }}</td>
            <td>{{ accountUser.gender }}</td>
            <td>{{ accountUser.email }}</td>
            <td>{{ accountUser.mobile }}</td>
            <td>{{ accountUser.status }}</td>
            <td class='text-right dashboardElementsEditRemove'>
              <img src='/icons/dashboardElement_edit.png' alt='' / ng-click="amc.openModal(amc.editModalTitle, 'edit', accountUser)">
              <img src='/icons/dashboardElement_remove.png' alt='' ng-click='amc.removeAccountUser(accountUser)' ng-if='!amc.isAccountOwner(accountUser)' />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div class='modal fade' id='accountManagerModal' role='dialog'>
    <div class='modal-dialog changePasswordModal' style="width: 800px">
      <div class='modal-content border-green border-radius-none'>
        <ng-include src="amc.modalPath"></ng-include>
      </div>
    </div>
  </div>
</section>
