<div class='modal-header'>
  <button type='button' class='close' ng-click='closeModal()'>&times;</button>
  <h2 class='modal-title text-center'>Add new AccountManager</h2>
</div>
<div class='modal-body text-gray-medium'>
  <form class='form-horizontal' role='form'>
    <div class='col-md-6'>
      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='firstName'>First name<span class='text-red-dark'>*</span></label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.firstName }}</span>
          <input type='text' class='form-control' id='firstName' placeholder='First name' ng-model='user.firstName'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='lastName'>Last name<span class='text-red-dark'>*</span></label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.lastName }}</span>
          <input type='text' class='form-control' id='lastName' placeholder='Last name' ng-model='user.lastName'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='email'>Email<span class='text-red-dark'>*</span></label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.email }}</span>
          <input type='email' class='form-control' id='email' placeholder='Email' ng-model='user.email'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='gender'>Gender<span class='text-red-dark'>*</span></label>
        <div class='col-md-8'>
          <div class='has-error text-red-dark'>{{ errors.gender }}</div>
          <label class='radio-inline'><input type='radio' value='male' name='radio_gender' ng-model='user.gender'>Male</label>
          <label class='radio-inline'><input type='radio' value='female' name='radio_gender' ng-model='user.gender'>Female</label>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='mobile'>Mobile number</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.mobile }}</span>
          <input type='text' class='form-control' id='mobile' placeholder='Mobile number' ng-model='user.mobile'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='landlineNumber'>Landline number</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.landlineNumber }}</span>
          <input type='text' class='form-control' id='landlineNumber' placeholder='Landline number' ng-model='user.landlineNumber'>
        </div>
      </div>
    </div>

    <div class='col-md-6'>
      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='postalAddress'>Postal address</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.postalAddress }}</span>
          <input type='text' class='form-control' id='postalAddress' placeholder='Postal address' ng-model='user.postalAddress'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='city'>City</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.city }}</span>
          <input type='text' class='form-control' id='city' placeholder='City' ng-model='user.city'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='state'>State</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.state }}</span>
          <input type='text' class='form-control' id='state' placeholder='State' ng-model='user.state'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='postcode'>Postcode</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.postcode }}</span>
          <input type='text' class='form-control' id='postcode' placeholder='Postcode' ng-model='user.postcode'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='country'>Country</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.country }}</span>
          <input type='text' class='form-control' id='country' placeholder='Country' ng-model='user.country'>
        </div>
      </div>

      <div class='form-group'>
        <label class='control-label col-md-4 text-no-bold text-login-page' for='companyName'>Company name</label>
        <div class='col-md-8'>
          <span class='has-error text-red-dark'>{{ errors.companyName }}</span>
          <input type='text' class='form-control' id='companyName' placeholder='Company name' ng-model='user.companyName'>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <button ng-click='closeModal()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-right btn-md'>Close</button>
        <button ng-click='submitForm()' type='button' class='btn border-red text-red-dark border-radius-none background-transp pull-right btn-md'>Invite</button>
      </div>
    </div>
  </form>
</div>
