<section id='step-contactlists' ng-controller='ContactListController as clc'>
  <div ng-init="clc.hideStuff = true; clc.setSessionId(sbc.session.id); clc.initLists(sbc.isSelectObserverStep() && 'observers' || '');">

    <div class='row'>
      <div class='btn-standart btn-red increased-margin' ng-hide="sbc.showContactsList" ng-click='sbc.finishSelectingMembers()'>
        Cancel
      </div>
      <div class='btn-standart btn-green increased-margin' ng-hide="sbc.showContactsList" ng-click='sbc.finishSelectingMembers(clc.lists.activeList)'>
        Select Contacts to Invite
      </div>

      <div class='btn-standart btn-red increased-margin' ng-show="sbc.showContactsList" ng-click='sbc.showContactsList = null'>
        Finish With Adding
      </div>
    </div>

    <ng-include ng-init="clc.listIgnoring = sbc.listIgnoring" id='dashboard-contact-lists' class='side-margin' src="'/js/ngApp/components/dashboard-resources-contactLists/index.html'"></ng-include>

  </div>
</section>
