#step-3 {
  text-align: left;
  font-size: 2rem;

  #sessionBuilder-incentive {
    width: 50%;
    margin: 0 5px;
    padding: 5px;
    border: 2px solid #2F9F69;

    &.has-error {
      border-color: $red;
    }
  }

  .wysiwyg, iframe#templateContent-wysiwyg-iframe {
    width: 100% !important;
    height: 500px;
  }

  iframe#templateContent-wysiwyg-iframe {
    height: 471px;
  }

  input.dis {
    width: 75%;
    cursor: default;
    border: none;
    outline: none;
    background: white !important;
  }

  .centeredWarning {
    padding: 0;
    line-height: 2;
    font-size: 2rem;
  }
  .input-group-btn {
    .btn {
      margin-left: 0;
      margin-top: -1px;
      border: 0;
    }
  }
}
