#step-4-participants,
#step-5-observers {
  .btn-standart {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .tableRate {
    white-space: nowrap !important;
    .session-rating-stars i {
      font-size: 1em;
      @media (max-width: 1470px) {
        font-size: 0.8em;
        margin-left: -3px;
      }
      @media (max-width: 1410px) {
        font-size: 0.6em;
        margin-left: -5px;
      }
      @media (max-width: 1360px) {
        font-size: 0.4em;
        margin-left: -8px;
      }
    }
  }

  .table-dashboardElements tr[disabled] td{
    color: silver !important;
  }
}

#memberCommentModal {
  .btn-standart {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

#step-contactlists {
  .increased-margin {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

#step-contactlists,
#step-4-participants,
#step-5-observers {
  font-size: 14px;
  .invite-status-sentDone{
    color: #2f9f69;
  }
  .invite-status-waiting{
    color: #f6c560;
  }
  .invite-status-failed{
    color: #ff0000;
  }
  .dashboard-container {
    width: 100%;
  }
  #no-contacts-in-list {
    height: auto;
  }

  .filter-row {
    > a {
      margin: 1px 4px;

      &.active {
        font-weight: bold;
        opacity:.65;
        text-decoration: none;
        cursor: default;
      }
    }
  }
}
