#step-1 {

  .data-time-content-wrapper {
    position: relative;
    display: flex;
    height: 44px;
    margin: 40px 20px;
  }

  text-align: left;
  font-size:  2rem;
  label {

  }

  input {
    margin: 0 5px;
    padding: 5px;
    border: 2px solid $green;
  }

  code {
    padding: 9px;
  }
  span.date-time-label {
    margin-top: 7px;
    padding: 0 25px;

    &.end {
      margin-right: 9px;
    }
  }

  ///// datepicker
  .md-datepicker-input-container {
    margin: 0 !important;
    border: none !important;
  }

  .md-datepicker-triangle-button.md-icon-button.md-button {
    background: none;
  }

  .md-datepicker-button {
    display: none;
  }
  .md-datepicker-input {
    overflow: hidden;
    width: 135px;
    height: 44px;
  }
  .md-datepicker-expand-triangle {
    position: relative;
    top: 9px;
    left: 0px;
  }

  .datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
  //////// eof datepicker


  .date-time-ico {
    position: relative;
    padding: 7px;
    border: 2px solid $green;

    &.time {
      margin-left: 10px;
    }
  }


  table.timepicker-wrapper {
    position: relative;
    top: -28px;
    left: 0px;

    td {
      input, button {
        margin-top: -6px;
        height: 44px;
        border-radius: 0;
        border: 2px solid $green;
        background-color: white;
        background-image: none;
        outline: none;

      }
    }

    span.glyphicon.glyphicon-chevron-up {
      position: relative;
      top: 7px;
    }
    span.glyphicon.glyphicon-chevron-down {
      position: relative;
      top: -6px;
    }


  }


  #GalleryController {
    .panel {
      cursor: pointer;
      padding: 10px;
      background: #F6F8F7;

      &:hover {
        background: $lightGreen
      }
    }
    img  {
      max-width: 100%;
      padding: 20px;
      border: 2px solid $green;
      background: white;
    }

  }



  #create-color-scheme-area {
    padding: 20px;
  }
}