#step-4-participants,
#step-5-observers, {
  font-size: 14px;
  .btn-standart {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .dashboard-container {
    width: 100%;
  }
}
