<section  ng-controller="SessionStep2Controller as step2Controller" ng-init="step2Controller.initController()">
    <section class="global-wrapper" ng-controller='TopicsController as topics'>
        <section id="step-2" class="animated fadeIn" >

            <h3 class="text-center">Topics</h3>

            <div class="row" id='resources-topics' >
                <div class="col-md-12 text-center" ng-show="!topics.list.length" >
                    <br><br>
                    There is no topics yet
                    <div id="create-new-btn" class="btn-standart btn-green" ng-click="topics.createNew()">
                        Create New Topic&nbsp;<img src="icons/add_new_list_green.png" alt="">
                    </div>
                </div>
                <div class="col-md-6" ng-hide="!topics.list.length">
                    <h3>Select topic</h3>
                    <br>
                    <div>
                        <div class="flex">
                            <div class="check">
                                <input id="select-all-topics"  ng-click="step2Controller.selectAllTopics(topics.list)" class="kliiko-checkbox checkbox-btn btn-green"  type="checkbox" ng-checked="step2Controller.allTopicsSelected">
                                <label for="select-all-topics" ></label> Select all
                            </div>

                            <div id="create-new-btn" class="btn-standart btn-green" ng-click="topics.createNew()">
                                Create New Topic&nbsp;<img src="icons/add_new_list_green.png" alt="">
                            </div>
                        </div>

                        <div id="topics-list">
                            <div class="topic-list-item" ng-repeat="t in topics.list"
                                 ng-drag="true" ng-drag-data="t" ng-drag-success="step2Controller.topicsOnDropComplete($data,$event)">
                                <div class="panel-label">
                                        <span ng-if="topics.editBlockHelper != $index">

                                            <div class="check">
                                                <input id="memberSelectet{{ $index }}" class="kliiko-checkbox checkbox-btn btn-green" ng-checked="step2Controller.selectedTopics[t.id]" ng-click="step2Controller.topicSelectClickHandle(t)" type="checkbox" >
                                                <label for="memberSelectet{{ $index }}" class="kliiko-checkbox" ></label>
                                            </div>

                                            {{t.name}}
                                        </span>
                                        <span ng-if="topics.editBlockHelper == $index">
                                            <input id="topic-input-{{ $index }}" type="text" ng-model="t.name"
                                                   maxlength="{{ ::topics.nameMaxSize}}"
                                                   ng-blur="topics.saveInline($index, t.name)">
                                            <span class="inline-editor-help">Characters left: {{ topics.nameMaxSize - t.name.length }}</span>
                                        </span>
                                </div>
                                <div class="control-block">
                                            <span id="edit-block-{{ $index }}" class="edit-block animated slideInRight"
                                                  style="display: none">
                                                <img src="/icons/ic_edit.png" alt="" title="Rename" ng-click="topics.edit($index, 'topic-input-'+$index)">
                                            </span>
                                    <img class="pull-right ic" ng-click="topics.deleteTopic(t.id)"
                                         src="/icons/dashboardElement_remove.png" alt="" title="Delete">
                                    <img class="pull-right ic" src="/icons/dashboardElement_edit.png" alt=""
                                         title="Edit" ng-click="topics.toggleEditBlock($index)">
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="col-md-6" ng-hide="!topics.list.length">
                    <h3>Chat Session topics</h3>
                    <div>
                        <div class="drop-area" ng-drop="true">Drop Selected Topics Here</div>
                        <br>

                        <div class="topic-list-item" ng-repeat="t in step2Controller.chatSessionTopicsList | orderBy:'order' "  ng-drag="true" ng-drag-data="t">
                            <div class="panel-label" ng-drop="true" ng-drop-success="step2Controller.reorderTopics($data, t)">
                                <span ng-if--="topics.editBlockHelper != $index">
                                    <img src="icons/ic_move.png">
                                    {{t.name}}
                                </span>

                                <img class="ico-active-unactive" ng-show="t.active" src="/icons/unlocked.png" ng-click="t.active = !t.active; t.update()"  alt="Active" title="Active">
                                <img class="ico-active-unactive" ng-show="!t.active" src="/icons/locked.png"  ng-click="t.active = !t.active; t.update()" alt="Not Active" title="Not Active">

                            </div>

                            <div class="control-block">
                                <img class="pull-right ic" ng-click="step2Controller.removeTopicFromList(t.id)"
                                     src="/icons/dashboardElement_remove.png" alt="" title="Delete">
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </section>

        <section>
            <!-- plansModal -->
            <div class='modal fade' id='createNewTopic' role='dialog'>
                <div class='modal-dialog changePasswordModal' style="width: 800px">
                    <div class='modal-content border-green border-radius-none'>
                        <div class='modal-header'>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1 class='modal-title text-center'>Create New Topic</h1>
                        </div>
                        <div class='modal-body'>

                            <form ng-submit="topics.validateNewAndAdd()">
                                <div class="row">
                                    <div class="text-center">
                                        <input id="new-topic-input" type="text" maxlength="15"
                                               ng-model="topics.newTopicName">
                                        <br>
                                        <div id="new-topic-input-help">
                                            Characters left: {{ topics.nameMaxSize - topics.newTopicName.length }}
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class='modal-footer'>
                            <div type='button' class='pull-left btn-standart btn-red'
                                 data-dismiss='modal'>
                                Cancel
                            </div>

                            <div type='submit' class='pull-right btn-standart btn-green'
                                 ng-click="topics.validateNewAndAdd()">Create
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </section>

    </section>
</section>
