#step-2  {
  font-size: medium;
  text-align: left;

  .create-new-topic-area {
    line-height: 2.2;
    .check {
      margin-left: 5px;
    }
  }

  .check {
    float: left;
  }

  #topics-list {
    margin-top: 16px;
    .topic-list-item {
      line-height: 2;
    }
  }

  .topic-list-item {
    height: 40.5px;
    padding: 5px;
    cursor: pointer;
    background: #F6F8F7;

    &:hover {
      background: $lightGreen;
    }
  }

  #topicModalWindow {
    font-size: medium;
    .modal-footer > .btn-standart {
      font-size: medium;
    }
  }
}
