<section id="step-3">
    <div class="row">
        <div class="col-md-6">
            <ng-include src="'js/ngApp/components/dashboard-accountProfile-upgradePlan/tpls/orderSummary.tpl.html'"></ng-include>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 table-header">
                    Contact Info <small class="change-link" ng-click="up.handleUserDataChangeClick()">(change)</small>
                </div>
                <dl>
                    <div class="col-md-12"><dt>First Name:</dt> <dd>{{up.userData.firstName}}</dd></div>
                    <div class="col-md-12"><dt>Last Name:</dt> <dd>{{up.userData.lastName}}</dd></div>
                    <div class="col-md-12"><dt>Email:</dt> <dd>{{up.userData.email}}</dd></div>
                    <div class="col-md-12"><dt>Mobile:</dt> <dd>{{up.userData.mobile || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>Land Line:</dt><dd>{{up.userData.landlineNumber || '(none)'}}</dd></div>
                </dl>

                <div class="col-md-12 table-header margin-top-2rem">
                    Billing Address <small class="change-link" ng-click="up.handleUserDataChangeClick()">(change)</small>
                </div>
                <dl>
                    <div class="col-md-12"><dt>Address Line:</dt> <dd>{{up.userData.postalAddress || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>City:</dt> <dd>{{up.userData.city || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>State:</dt> <dd>{{up.userData.state || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>Zip:</dt> <dd>{{up.userData.postCode || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>Country:</dt><dd>{{up.userData.country || '(none)'}}</dd></div>
                </dl>


            </div>
        </div>
        <div class="margin-top-2rem">&nbsp;</div>
    </div>
</section>
