<div ng-controller='GalleryController as gc'>
<section id="step-3" ng-controller="SessionStep3Controller as step3Controller">

  <h3 class="text-center">Manage Session Emails</h3>

  <uib-accordion close-others="false">
    <uib-accordion-group is-open="sbc.accordions.incentive">
      <uib-accordion-heading>
        <div class="panel-label">
          Participant Incentive
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sbc.accordions.incentive, 'glyphicon-chevron-right': !sbc.accordions.incentive}"></i>
          <span class="panel-value pull-right">{{ sbc.session.steps.step3.incentive_details }}</span>
        </div>
      </uib-accordion-heading>
      <label for="sessionBuilder-incentive">Enter Participant Incentive &nbsp; </label>
      <input id="sessionBuilder-incentive" type="text" ng-model="sbc.session.steps.step3.incentive_details"
             ng-blur="sbc.updateStep({'incentive_details':sbc.session.steps.step3.incentive_details});" ng-class="{'has-error':sbc.accordions.incentive == 'error'}"
             maxlength="50" placeholder="50 characters max">
    </uib-accordion-group>


    <uib-accordion-group is-open="sbc.accordions.emailTemplates">
      <uib-accordion-heading>
        <div class="panel-label">
          Email Templates (*Required)
          <i class="pull-right glyphicon"
             ng-class="{'glyphicon-chevron-down': sbc.accordions.emailTemplates, 'glyphicon-chevron-right': !sbc.accordions.emailTemplates}"></i>
        </div>
      </uib-accordion-heading>

      <section ng-if='sbc.accordions.emailTemplates' id="email-template-editor" ng-controller="EmailTemplateEditorController as ec" ng-init="step3Controller.editor = ec; ec.preInit({sessionBuilder:true, sessionId: sbc.session.id})">
        <h1 class="text-center">Edit Email Templates</h1>
        <div class="col-xs-12 centeredWarning fa fa-exclamation-triangle" aria-hidden="true">You must customize all required Email Templates before inviting Participants (Step 4)</div>

        <div class="list-group col-xs-3 mail-template-list-section">
          <div class="panel-heading mail-template-list-heading"><strong>Email Templates</strong></div>
          <div id="mail-template-list" class="mail-template-list">
            <a ng-repeat="(key, t) in ec.emailTemplates track by $index" class="list-group-item" ng-hide="t.hideIt" ng-class="{'active': ec.isCurrent(key), 'list-group-item-white' : t.AccountId}"
               ng-click="ec.startEditingTemplate(key, true, t.id, t); sbc.showEmailsTemplateEditeor = true;">
              <div ng-hide="t.AccountId">
                <img src="/icons/ic_arrow_right.png" class="pull-right" ng-hide="!ec.isCurrent(key)">

                <img ng-src="{{step3Controller.isCreated(t)}}" class="pull-left">
                  {{ t.name }}
                  <span>{{ step3Controller.isTemplateRequired(t) }}</span>
              </div>

              <div class="input-group input-group-sm display-flex" ng-hide="!t.AccountId" data-toggle="tooltip" data-placement="top" title="{{step3Controller.templateName(t.name)}}">
                <img src="/icons/ic_tick.png" alt="" ng-hide="!t.sessionId">
                <input type="text" class="form-control mail-list-input dis" aria-describedby="basic-addon4" value="{{step3Controller.templateName(t.name)}}" ng-class="{'inactive':!ec.isCurrent(key)}" readonly>
                <span class="input-group-btn" ng-hide="!ec.isCurrent(key)" id="basic-addon4">
                  <button class="btn glyphicon glyphicon-remove" type="button" ng-click="step3Controller.deleteTemplate(t, key, $event);"></button>
                </span>
              </div>
            </a>
          </div>
        </div>

        <div class="col-xs-8 mail-template-details">
          <table>
            <tr>
              <td>Subject:</td>
              <td>
                <div>
                  <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="ec.currentTemplate.subject">
                </div>
                <div class="has-error text-center">{{ec.currentTemplate.error.subject}}</div>
              </td>
            </tr>
          </table>
          <span>Content:</span>
          <textarea id="templateContent"></textarea>
          <div class="has-error text-center">{{ec.currentTemplate.error.content}}</div>

          <div class="row">
            <button type="submit" class="btn btn-standart btn-red pull-right btn-small margin-right-10" ng-click="step3Controller.resetMailTemplate()" ng-show="ec.resetButtonVisible(app.accountUser.isAdmin)">Cancel</button>
            <button type="submit" class="btn btn-standart btn-lightgreen pull-right btn-small margin-right-15" ng-click="ec.openModal()">Save As</button>
            <button type="submit" class="btn btn-standart btn-green pull-right btn-small margin-right-10" ng-click="step3Controller.modifyAndSave(false, true)">Apply</button>
            <button type="submit" class="btn btn-standart btn-blue pull-right btn-small margin-right-10" ng-click="ec.previewMailTemplate()">Preview</button>
          </div>

        </div>

        <!-- Modal Preview-->
        <div class='modal fade' id='previewMailTemplateModal' role='dialog'>
          <div class='modal-dialog'>
            <div class='modal-content border-green border-radius-none preview-content'>
              <div class='modal-header'>
                <h1 class='modal-title' id="mailTemplatePreviewSubject"></h1>
              </div>
              <div class='modal-body'>
                <iframe id="contentFrame" class="preview-frame"></iframe>
                <div class='modal-footer'>
                    <button type="submit" data-dismiss='modal'
                            class="btn btn-standart btn-red btn-small pull-left">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='modal fade' id='confirmDialog' role='dialog'>
          <div class='modal-dialog'>
            <div class='modal-content border-green border-radius-none'>
              <div class='modal-header'>
                <h1 class='modal-title text-center'>Delete template: {{ec.templateToDelete.template.name}}</h1>
              </div>

              <div class='modal-footer'>
                <form>
                  <div>
                    <span class="pull-right">
                      <button type="button" ng-click="ec.cancelTemplateDelete()" class="btn btn-standart btn-red btn-small pull-right">Cancel</button>&nbsp;&nbsp;
                      <button type="button" ng-click="ec.approveTemplateDelete()" class="btn btn-standart btn-green btn-small pull-right">Yes</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div ng-init='ec.initGallery(gc)'>
          {{ upload = ec.galleryDropdownData(gc.currentDependency); "" }}
          <ng-include src="gc.templatesDir + 'modalWindows.html'"></ng-include>
        </div>
        <ng-include src="'/js/ngApp/components/dashboard-resources-emailTemplates/modal.html'"></ng-include>
      </section>
    </uib-accordion-group>

  </uib-accordion>

</section>
</div>
