#step-3 {
  text-align: left;
  font-size: 2rem;

  #sessionBuilder-incentive {
    width: 50%;
    margin: 0 5px;
    padding: 5px;
    border: 2px solid #2F9F69;

    &.has-error {
      border-color: $red;
    }
  }

  @import "./../../dashboard-resources-emailTemplates/mail-templates";
  .wysiwyg, iframe#templateContent-wysiwyg-iframe {
    width: 100% !important;
    height: 500px;
  }

  iframe#templateContent-wysiwyg-iframe {
    height: 471px;
  }
}
