#step-2  {
  font-size: initial;
  text-align: left;

  #create-new-btn {
    background-image: url('/icons/add_new_list_green.png');
    background-repeat: no-repeat;
    background-position: 160px center;
    &:hover {
        background-image: url('/icons/add_new_list_white.png') !important;
        background-repeat: no-repeat !important;
        background-position: 160px center !important;
    }
  }

  .create-new-topic-area {
    line-height: 2.2;
    .check {
      margin-left: 5px;
    }
  }

  .check {
    float: left;
  }

  #topics-list {
    margin-top: 16px;
    .topic-list-item {
      line-height: 2;
    }
  }

  .topic-list-item {
    height: 40.5px;
    padding: 5px;
    cursor: pointer;
    background: #F6F8F7;

    &:hover {
      background: $lightGreen;
    }
  }

  #topicModalWindow {
    font-size: initial;
    .modal-footer > .btn-standart {
      font-size: initial
    }
  }
}
