#step-1 {
  .panel-group .panel-heading {
    .panel-label {
      .panel-value.pull-right {
        max-width: calc(100% - 400px);
      }
    } 
  }

  .search-contact{
    label{
      padding-top: 9px;
      margin-bottom: 0;
      text-align: right;
      font-size: 17px;
      color: #737373;
    }
    input{
      border-width: 2px;
      height: 45px;
      border-radius: 0;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
    }
  }

  .faciliator-paginate{
    .pagination > .active > a{
      background-color: #2F9F69;
      border-color: #2F9F69;
      color: #fff;
    }
    .pagination > li > a {
      color: #2F9F69;
    }
    .pagination > .disabled > a {
      color: #ddd;
    }
  }

  .data-time-content-wrapper {
    position: relative;
    display: flex;
    height: 44px;
    margin: 40px 20px;
    select {
      width: inherit;
      min-width: 590px;
    }
  }

  .calendar-error {
    margin-left: 40px;
    margin-top: -20px;
  }

  text-align: left;
  font-size:  2rem;

  .green-input{
    input {
      margin: 0 5px;
      padding: 5px;
      border: 2px solid $green;
    }

  }

  code {
    padding: 9px;
  }
  span.date-time-label {
    margin-top: 7px;

    &.start {
      margin-right: 70px;
    }
    &.end {
      margin-right: 80px;
    }
    &.timeZone {
      margin-top: 0px;
      margin-right: 13px;
    }
  }

  ///// datepicker
  .md-datepicker-input-container {
    margin: 0 !important;
    border: none !important;
  }

  .md-datepicker-triangle-button.md-icon-button.md-button {
    background: none;
  }

  .md-datepicker-button {
    display: none;
  }
  .md-datepicker-input {
    overflow: hidden;
    width: 135px;
    height: 44px;
  }
  .md-datepicker-expand-triangle {
    position: relative;
    top: 9px;
    left: 0px;
  }

  .datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
  //////// eof datepicker


  .date-time-ico {
    position: relative;
    padding: 7px;
    border: 2px solid $green;

    &.time {
      margin-left: 10px;
    }
  }


  table.timepicker-wrapper {
    position: relative;
    top: -28px;
    left: 0px;

    td {
      input, button {
        margin-top: -6px;
        height: 44px;
        border-radius: 0;
        background-color: white;
        background-image: none;
        outline: none;

      }
    }

    span.glyphicon.glyphicon-chevron-up {
      position: relative;
      top: 7px;
    }
    span.glyphicon.glyphicon-chevron-down {
      position: relative;
      top: -6px;
    }

  }

  #GalleryController {

    .gallerySelectModal {
      .panel {
        margin-bottom: 10px !important;
      }
    }
  }

  #create-color-scheme-area {
    padding: 20px;
  }

  .session-type {
    label {
      margin-right: 20px;
      font-weight: 400;
      cursor:pointer;
    }
    input[type='radio'] {
      cursor:pointer;
    }
  }

  .sessionTypeModal {
    font-size: 16px;
    color: #111;

    .red-block {
      font-size: 14px;
      border: 2px solid red;
      background-color: #f7f5f6;
      padding: 10px;
      margin-top: 10px;
    }
  }
}
