<section ng-controller="SessionStep2Controller as step2Controller">
  <section ng-controller='TopicsController as tc' ng-init="step2Controller.init(tc)">
    <section id="step-2" class="animated fadeIn">
      <h3 class="text-center">Topics</h3>

      <div class="row margin-bottom-20" id='resources-topics'>
        <div class="col-md-12 text-center" ng-if="!tc.list.length">
          There are no topics yet<br />
          <div id="create-new-btn" class="btn btn-standart btn-green btn-large text-left" ng-click="tc.openModal('new')">
            Create New Topic
          </div>
        </div>

        <div class="col-md-6" ng-if="tc.list.length">
          <h3>Select topic</h3>
          <div class="row create-new-topic-area">
            <div class="col-md-12">
              <div class="check">
                <input id="select-all-topics" ng-click="step2Controller.selectAllTopics(tc.list)" class="kliiko-checkbox checkbox-btn btn-green" type="checkbox" ng-checked="step2Controller.allTopicsSelected">
                <label for="select-all-topics"></label> Select all
              </div>
              <div id="create-new-btn" class="btn btn-standart btn-green btn-large text-left pull-right" ng-click="tc.openModal('new')">
                Create New Topic
              </div>
            </div>
          </div>

          <div id="topics-list">
            <div class="topic-list-item" ng-repeat="topic in tc.list" ng-drag="step2Controller.canDragElement(topic)" ng-drag-success="step2Controller.topicsOnDropComplete(topic)">
              <div class="check">
                <input id="memberSelectet{{ $index }}" class="kliiko-checkbox checkbox-btn btn-green" ng-checked="topic._selected" ng-click="topic._selected = !topic._selected" type="checkbox">
                <label for="memberSelectet{{ $index }}" class="kliiko-checkbox"></label>
              </div>

              &nbsp;{{ topic.name }}
              <img ng-drag="false" class="pull-right ic" ng-click="tc.deleteTopic(topic.id)" src="/icons/dashboardElement_remove.png" title="Delete">
              <img ng-drag="false" class="pull-right ic" src="/icons/dashboardElement_edit.png" title="Edit" ng-click="tc.openModal('edit', topic)">
            </div>
          </div>
        </div>

        <div class="col-md-6" ng-if="tc.list.length">
          <h3>Chat Session topics</h3>
          <div class="drop-area" ng-drop="true">Drop Selected Topics Here</div>

          <div class="margin-top-10" ui-sortable="step2Controller.sortableOptionsA" ng-model="step2Controller.sessionTopicsArray">
            <div class="topic-list-item" ng-repeat="topic in step2Controller.sessionTopicsArray">
              <span>
                <input type="radio" ng-model="topic.sessionTopic.landing" ng-value="true" ng-change='step2Controller.changeLandingState(topic)' ng-disabled="!topic.sessionTopic.active">
                {{ topic.sessionTopic.name }}
              </span>

              <img class="pull-right ic" ng-click="step2Controller.removeTopicFromList(topic.id)" src="/icons/dashboardElement_remove.png" title="Delete">
              <img class="pull-right ic" src="/icons/dashboardElement_edit.png" title="Edit" ng-click="tc.openModal('sessionTopic', topic.sessionTopic)">
              <div class="onoffswitch">
                <input ng-model="topic.sessionTopic.active" ng-change="step2Controller.changeActiveState(topic)" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{'myonoffswitch'+ topic.sessionTopic.id}}" checked>
                <label class="onoffswitch-label" for="{{'myonoffswitch'+ topic.sessionTopic.id}}">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>

<!--
              <img class="img-responsive pull-right ic" ng-if="topic.sessionTopic.active" src="/icons/unlocked.png" ng-click="step2Controller.changeActiveState(topic)" title="Active">
              <img class="img-responsive pull-right ic" ng-if="!topic.sessionTopic.active" src="/icons/locked.png" ng-click="step2Controller.changeActiveState(topic)" title="Not Active"> -->
            </div>
          </div>
        </div>

        <ng-include ng-init="topics = tc" src="'/js/ngApp/components/dashboard-resources-topics/topicsModals.html'"></ng-include>
      </div>
    </section>
  </section>
</section>
