.brandColours {
  font-size: 70%;
  .chatContainer {
    margin: 10px 0;
    border: 2px solid;
  }
  .chatSeparator {
    padding: 5px;
    border-bottom: 2px solid;
  }
  .chatTopic {
    padding: 2px;
    border: 1px solid;
  }
  .chatIcon {
    font-size: 2.5em;
  }

  .containerOuterBox {
    height: 50%;
  }
  .containerInnerBox {
    margin: 10px auto 10%;
  }

  .whiteBoardIcon {
    border: 1px solid;
  }
  .whiteBoardContent {
    padding: 20% 0;
    border: 2px solid;
  }

  .chatContent {
    padding: 125% 0;
    border: 2px solid;
  }

  .otherContent {
    padding: 20% 0;
    border: 2px solid;
  }

  .sidePadding {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.previewIconsSize {
  line-height: 1.7;
  font-size: 6.5em;
}

.thumbnailIconsSize {
  line-height: 1.7;
  font-size: 4.5em;
}
@media (min-width: 768px) {
  .thumbnailIconsSize {
    line-height: 4.3;
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  .thumbnailIconsSize {
    font-size: 0.9em;
    line-height: 5;
  }
}
@media (min-width: 1280px) {
  .thumbnailIconsSize {
    line-height: 2.5;
    font-size: 2.5em;
  }
}
