.manage-preview {
  padding-top: 1%;
  padding-bottom: 2%;
}

.color-input {
  @extend .color-input-addon;
  padding: 6px 8%;
}

.color-input-addon {
  font-size: 1em;
  margin: 0px !important;
}

.brandColours {
  font-size: 70%;
  .chatContainer {
    margin-top: 2%;
    border: 2px solid;
    padding-bottom: 3%;
    height: 100%;
  }

  .chatMiddleButtons {
    color: #ccc;
    border: 2px solid #ccc;
    padding: 1%;
    margin: auto;
    font-size: 160%;
  }

  .header {
    border: 1px solid #ccc;
    background-color: white;

    .headerButtons {
      font-size: 2em;
      color: white;
      margin: 3% 2%;
      padding: 2%;
    }
    label {
      padding-top: 6%;
    }
    .input-group {
      margin-bottom: 5%;
      .form-control {
        font-size: 1em;
        padding: 0;
        padding-left: 5%;
      }
      .form-control:disabled {
        background-color: inherit;
        cursor: pointer;
        height: 20px;
        border: 1px solid #ccc;
      }
      .input-group-addon {
        font-size: 1em;
        padding: 0px 3px;
        background-color: inherit;
      }
    }
  }

  .media-bottom {
    width: 25%;
  }

  .circle-addon {
    width: 5%;
    border: 0;
    padding: 0;
    padding-right: 5px;
    background-color: inherit;
  }

  .color-input-container {
    font-size: 0.8em;
  }

  p {
    padding: 4%;
  }
  p.lime-background {
    background-color: #CBEDC0;
    margin-bottom: -5%;
  }
  .containerInnerBox {
    margin: 10px auto 10%;
  }
}
