.col-width-15-percent{
  width: 15% !important;
}
.align-center{
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.margin-25-top-bottom{
  margin: 25px 0;
}

.green-background{
  background-color: #2D8C5E; 
}

.green-text{
  color: #2D8C5E; 
}

.green-text:hover{
  color: #2D8C5E; 
}

.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
  padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.img-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-container img {
  vertical-align: middle;
  display: inline-block;
}

.gallery-list-icon{
  padding: 10px;
  font-size: 60px;
}

.vertical-align-middle{
  vertical-align: middle !important;
}

.no-margin{
  margin: 0;
}

.margin-top-30{
  margin-top: 30px;
}

.margin-left-6{
  margin-left: 6px !important;
}

.margin-right-10{
  margin-right: 10px !important;
}

.margin-right-15{
  margin-right: 15px !important;
}


.uppercase{
  text-transform: uppercase !important;
}

.icon-200{
  margin-top: 25%;
  margin-left: 20px;
  font-size: 200px;
}
.gallery-table-image-box{
  display: block;
  width: 88px;
  height: 88px;
}

.col-width-15-percent{
  width: 15% !important;
}

.margin-only-right-10{
  margin-top: -8px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.gallery-btn-width{
  min-width: 47px !important;
}

.negative-top-margin{
  margin-top: -8px !important;
}

.no-padding{
  padding: 0;
}

.panel-mmin-height{
  min-height: 302px;
}

.center-youtube-video{
  margin: 53px 0px 52px 0px
}

.fill-panel-footer{
  padding-bottom: 30px;
}