#GalleryController {
  #filter-view {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    .btn-addNewElement {
      margin: 0;
      margin-bottom: 5px;
    }
    #select-section {
      input {
        margin-left: 8px;
      }
    }
    #filter-section {
      a {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
  #table-view {
    table > tbody > tr > td {
      vertical-align: middle;
    }
    .btn.btn-addNewElement.btn-green {
      margin-left: 5px;
    }
    .image-box {
      display: block;
      width: 88px;
      height: 88px;
    }
    .glyphicon.border-green {
      font-size: 75px;
      display: inline-block;
      padding: 10px 5px 0px 5px;
    }
  }

  #panel-view {
    .btn-addNewElement {
      margin: 0;
    }
    iframe {
      height: 245px;
      padding-top: 15px;
    }
    .panel-body {
      .glyphicon {
        font-size: 220px;
        padding-top: 30px;
      }
    }
    .panel-footer {
      .panel-name {
        height: 36px;
        line-height: 3;
      }
      .btn.btn-addNewElement.btn-green {
        margin-left: 5px;
      }
    }
  }

  .green-background {
    background-color: #2D8C5E;
  }

  .green-text {
    color: #2D8C5E;
  }

  .green-text:hover {
    color: #2D8C5E;
  }

  .gallery-btn-width {
    min-width: 47px !important;
  }
}
