#GalleryController {
  #filter-view {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    .btn-margin {
      margin: 0;
      margin-bottom: 5px;
    }
    #select-section {
      input {
        margin-left: 8px;
      }
    }
    #filter-section {
      a {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
  #table-view {
    table > tbody > tr > td {
      vertical-align: middle;
    }
    .btn-margin {
      margin-left: 5px;
    }
    .image-box {
      display: block;
      width: 88px;
      height: 88px;
    }
    .glyphicon.border-green {
      font-size: 75px;
      display: inline-block;
      padding: 10px 5px 0px 5px;
    }
  }

  #panel-view {
    iframe {
      display: block;
      height: 252px;
      padding-top: 15px;
      margin: 0 auto;
    }
    .panel-heading {
      .panel-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .panel-body {
      .glyphicon {
        font-size: 220px;
        padding-top: 30px;
      }
      img {
        max-width: 90%;
        height: 250px;
      }
    }
    .panel-footer {
      .btn-margin {
        margin-left: 5px;
      }
      .resource-format {
        padding-top: 9px;
      }
    }
    .glyphicon-youtube {
      a {
        color: $green;
      }
    }
  }

  .render-gallery {
    image, video, img {
      width: 300px;
    }
  }

  .green-text {
    color: #2D8C5E;
  }

  .green-text:hover {
    color: #2D8C5E;
  }

  .gallery-btn-width {
    min-width: 47px !important;
  }
}
