.dashboard-header {
  .my-details-container {
    height: 20px;
    margin-left: 10px;
  }
  .text-size-dashboard {
    font-size: 13px;
  }
}
/*  These stules are needed so the subDomain and currentAccount.fullName would be in the same line  */
.current-domain-name{
  font-style: italic;
  margin-top: 13px;
}

.nav-button-top-margin{
  margin-top: 3px;
}

.logo-min-width{
  min-width: 306px;
}
/*  END  */