.login-container.invite {
  max-width: 700px;
  li {
    width: 100%;
  }
  .invite-tab {
    margin-left: 45%;
    min-width: 235px;
    margin-right: 50px;
  }
}

.login-container {
  .welcome-page {
    color: grey;
    margin: 10px 60px;
  }

  .invite-tab {
    margin-left: 50%;
  }
  .login-signup-tab {
    width: 180px;
    margin-right: 25px;
    margin-left: 25px;
  }
  .login-kliiko-tab {
    width: 180px;
    margin-left: 25px;
  }

  .signup-via-sales-page {
    width: 180px;
    margin-left: 270px;
  }
  .nav-tabs > li > a{
    border-radius: 0;

  }

  .nav-tabs > li:nth-child(2){
    float: right;
  }


  @media (max-width: 455px) {
     .login-signup-tab {
        width: 150px;
        margin-right: 15px;
        margin-left: 10px;
      }

      .login-kliiko-tab {
        width: 150px;
        margin-left: 15px;
      }

      #login .text-login-page, label.pull-right{
          padding-right:10px;
      }
  }

  @media (max-width: 360px) {
     .login-signup-tab {
        width: 150px;
        margin-right: 10px;
        margin-left: 10px;
      }

      .login-kliiko-tab {
        width: 120px;
        margin-left: 10px;
      }
  }

  .row > div
  {
      display: inline-block;
      width: 100%;
  }

  #login{

    .forgot-password-padding {
      padding: 10px;
    }
    .login-btn-size {
      height: 45px;
    }

    #warning-email-password {
      position:relative;
      border: 3px solid $red;
      color: $red;
      padding: 15px 25px;
      margin: 10px 15px;
      width: 95%;
      height: 85px;
      font-size: 1.2em;
      background-color: #f7f5f6;

      > div {
        width: 88%;
      }
      .close {
        font-weight: unset;
        position: absolute;
        top: 7px;
        right: 10px;
      }
    }

    input[class=checkbox-login] {
      display: none;}

    input[class=checkbox-login] + label {
      background: url("/icons/login_checkbox.jpeg") no-repeat;
      height: 22px;
      width: 22px;
      margin-top: 1px;
      margin-left: 0;
      margin-bottom: 0;
      background-size: contain;
      cursor: pointer;
    }

    input[class=checkbox-login]:checked + label {
      background: url("/icons/login_checkbox_chk.jpeg") no-repeat;
      height: 22px;
      width: 22px;
      background-size: contain;
      margin-top: 1px;
    }

    .form-control {
      border-width: 2px;
      height: 40px;
      border-radius: 0;
    }

    .has-error {
      color: #f00;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 475px;
      display:none;
    }


    .table {
      td {
        padding-left: 0;
        padding-right: 6px;
      }
      &.error-column {
        padding: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 17px;
      }

    }
    .table-v-content-middle {
      td{
        vertical-align: middle;
      }
    }
  }
}
