.login-container {

  .login-signup-tab {
    width: 180px;
    margin-left: 85px;
  }
  .login-kliiko-tab {
    width: 180px;
    margin-left: 25px;
  }
  .nav-tabs > li > a{
    border-radius: 0;

  }

  #login{


    .forgot-password-padding {
    padding: 10px;
    }
    .login-btn-size {
    height: 45px;
    }

    input[class=checkbox-login] {
      display: none;}

    input[class=checkbox-login] + label {
      background: url("/icons/login_checkbox.jpeg") no-repeat;
      height: 22px;
      width: 22px;
      margin-top: 1px;
      margin-left: 0;
      margin-bottom: 0;
      background-size: contain;
      cursor: pointer;
    }

    input[class=checkbox-login]:checked + label {
      background: url("/icons/login_checkbox_chk.jpeg") no-repeat;
      height: 22px;
      width: 22px;
      background-size: contain;
      margin-top: 1px;
    }

    .form-control {
      border-width: 2px;
      height: 40px;
      border-radius: 0;
    }

    .has-error{
        color: #f00;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 475px;
        display: inline-block;
      }
      
    .table {
      td {
        padding-left: 0;
        padding-right: 0;
      }
      &.error-column {
        padding: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 17px;
      }

    }
    .table-v-content-middle {
      td{
        vertical-align: middle;
      }
    }
  }
}
