#signup {
  .has-error {
  color: #f00;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 88%;
  display: inline-block;
}
  .btn-radius-padding-left {
    padding-left: 25px !important;
  }
  .btn-radius-text {
    font-size: 16px !important;
    padding-right: 30px;
  }
  .singup-btn-size {
  height: 45px;
  }
  .form-control {
    border-width: 2px;
    height: 40px;
    border-radius: 0;
  }
  .checkbox-signup {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    padding-left: 9px;
    font-size: 13px;
  }


  @media (max-width: 469px) {
    .checkbox-signup {
        width:240px;

    }
  }

  input[class=checkbox-login] {
    display: none; }

  input[class=checkbox-login] + label {
    background: url("/icons/login_checkbox.jpeg") no-repeat;
    height: 22px;
    width: 22px;
    margin-top: 1px;
    margin-left: 0;
    margin-bottom: 0;
    background-size: contain;
  }

  input[class=checkbox-login]:checked + label {
    background: url("/icons/login_checkbox_chk.jpeg") no-repeat;
    height: 22px;
    width: 22px;
    background-size: contain;
    margin-top: 1px;
  }

  .table {

    td {
      padding-left: 2px;
      padding-right: 5px;
      border: 1px solid #f00;
      margin-left: -25px;

      &:first-of-type {
      padding-right: 15px;
      white-space: nowrap;
    }

      &.error-column {
        padding: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 17px;
      }
    }
  }
  .table-v-content-middle {
    margin-bottom: 0;
    td{
      vertical-align: middle;
      padding-bottom: 0;
    }
  }

  .registration-progress-bar {
    margin: 25px auto 0 auto;
    background-image: none;
    width: 60%;
    background-color: #c1c1c1;
    height: 40px;
    border-radius: 0;

    .progress-status {
      line-height: 40px;
      color: #ffffff;
      text-align: center;
      width: 100%;
      float: none !important;
      position: absolute;
      left: 0;
    }
    .progress-bar {
      width: 50%;
      background-image: none;
    }
  }
}

/*Blue checkbox could be outside registration/login scope*/
input[class=checkbox-blue] {
  display: none;
}

input[class=checkbox-blue] + label {
  background: url("/icons/checkbox_blue.jpg") no-repeat;
  height: 22px;
  width: 22px;
  margin-top: 1px;
  margin-left: 0;
  margin-bottom: 0;
  background-size: contain;
}

input[class=checkbox-blue]:checked + label {
  background: url("/icons/checkbox_blue_chk.jpg") no-repeat;
  height: 22px;
  width: 22px;
  background-size: contain;
  margin-top: 1px;
}

#registrationDialogModal {
  @media (max-width: 767px) {
    top: 75px!important;
  }
  .registrationDialogModal {
    @media (max-width: 767px) {
      top: 75px;
    }
    @media (min-width: 768px) {
      width: 730px;
    }
    .modal-body h4 {
      line-height: 1.5;
    }
    .modal-footer a{
      min-width: 80px;
      width: auto;
      max-width: 300px;
    }
  }
}
