apiVersion: v1
kind: Service
metadata:
  name: admin
  labels:
    name: admin
spec:
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    name: admin
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: admin
  labels:
    name: admin
spec:
  replicas: 1
  selector:
    matchLabels:
      name: admin
  template:
    metadata:
      labels:
        name: admin
    spec:
      imagePullSecrets:
        - name: docker-hub-secret
      containers:
      - image: "index.docker.io/klzii/kliiko:stable"
        command: ['/bin/sh', './start_server.sh']
        imagePullPolicy: Always
        name: admin
        ports:
        - containerPort: 8080
        env:
        - name: REDIS_HOST
          value: "redis-master"
        - name: NODE_ENV
          value: "production"
        - name: SERVER_CHAT_DOMAIN_URL
          value: "https://chat.klzii.chat"
        - name: EVENT_SOCKET_SERVER_URL
          value: "wss://chat.klzii.chat/socketDashboard"
        - name: SERVER_CHAT_DOMAIN_PORT
          value: "443"
        - name: FACEBOOK_CALLBACK_URL
          value: "https://www.klzii.chat/auth/facebook/callback"
        - name: FACEBOOK_CLIENT_ID
          value: "1740610496152274"
        - name: FACEBOOK_CLIENT_SECRET
          value: "7d0f78d9fdd0052c20cdf5c2aeda7b33"
        - name: GOOGLE_CALLBACK_URL
          value: "https://www.klzii.chat/auth/google/callback"
        - name: GOOGLE_CLIENT_ID
          value: "570903251504-hvev7sqcqqvl977djc1kqv722sqgidp3.apps.googleusercontent.com"
        - name: GOOGLE_CLIENT_SECRET
          value: "i_S2xLucKbRL14sp6hHSRVA_"
        - name: MAIL_TRANSPORT_SERVICE
          value: "smtp.mailgun.org"
        - name: MAIL_FROM_EMAIL
          value: "noreply@klzii.com"
        - name: MAIL_FROM_NAME
          value: "klzii"
        - name: MAIL_TRANSPORT_AUTH_USER
          value: "noreply@klzii.com"
        - name: MAIL_TRANSPORT_AUTH_PASS
          value: "27fb503f87359a78e747d5c120e7c2cb"
        - name: MAIL_TRANSPORT_SECURE_CONNECTION
          value: "false"
        - name: MAIL_TRANSPORT_PORT
          value: "2525"
        - name: REDIS_PORT
          value: "6379"
        - name: DATABASE_NAME_PROD
          value: "klzii_production"
        - name: DATABASE_USER_PROD
          value: "postgres"
        - name: DATABASE_PASSWORD_PROD
          value: "nWD44LS3bYs29JeP"
        - name: DATABASE_HOST_PROD
          value: "postgres-master"
        - name: DATABASE_DIALECT_PROD
          value: "postgres"
        - name: AIRBRAKE_PROJECT_ID
          value: "121542"
        - name: AIRBRAKE_API_KEY
          value: "607e87c9e8b7500497bb84c51162b0a8"
        - name: SERVER_BASE_DOMAIN
          value: ".klzii.chat"
        - name: SERVER_DOMAIN
          value: www.klzii.chat
        - name: SERVER_BASE_SUBDOMAIN
          value: "www"
        - name: SERVER_SKIP_SUBDOMAINS
          value: "www"
        - name: SESSION_COOKIES_NAME
          value: "klzii"
        - name: SESSION_SECRET
          value: "d31ffc942a0c160844117563d3c3003b7c7625d8f01771300189d8afb6602f0d2e3676fea88b2722704792546b16daad66ff57fb4ec31e5f504da0859c1c7719"
        - name: COOKIE_SECRET
          value: "384ea4460f93543b5df82b039ff9da764bfd6393e16dd0913dfaf91b380baa409ed7587865b76d8cb2ac70bd5a7db538280778ac6bc2c73b737709e5ef7df98e"
        - name: TWILIO_ACCOUNT_SID
          value: "AC979a928c7e46eb715283177d0bf69d23"
        - name: TWILIO_AUTH_TOKEN
          value: "40c3e7b2fb16608f28bafbd53466c2dc"
        - name: TWILIO_SENDER_NUMBER
          value: "+61428805081"
