
<button ng-if='upload.modal.upload' class='btn btn-standart btn-green btn-large btn-margin dropdown-toggle' id='uploadResourceDropdown'
data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
  <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
  <span>Add New Resource</span>
</button>

<ul ng-if='upload.modal.upload' class='dropdown-menu' ng-class="gc.currentPage.main ? 'dropdown-menu-right' : '' " aria-labelledby='uploadResourceDropdown' style="width: 200px;">
  <li ng-repeat='u in upload.types' class='cursor-pointer' ng-if='u.format'>
    <a ng-click='gc.openUploadModal(u, upload)' data-toggle='modal'>
      {{ u.text }}
    </a>
  </li>
</ul>

<button ng-if='upload.modal.select' class='btn btn-standart btn-margin btn-green btn-large' ng-click='gc.openSelectModal(upload)' data-toggle='modal'>
  <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
  <span>Select From Gallery</span>
</button>

<button ng-if='upload.dependency.resource' class='btn btn-standart btn-margin btn-green btn-small-x' ng-click='gc.removeDependency(upload.dependency)'>
  <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
  <span>Remove</span>
</button>
