<div class='panel panel-success border-green'>
  <div class='panel-heading'>
    <div class='row'>
      <div class='col-xs-12 panel-name text-center' ng-if='gc.hideElements'>
        {{ resource.name }}
      </div>

      <div class='col-xs-12 panel-name' ng-if='!gc.hideElements'>
        <input type='checkbox' ng-click='resource.checked = !!resource.checked' ng-model='resource.checked' />
        <span>{{ resource.name }}</span>
      </div>
    </div>
  </div>

  <div class='panel-body'>
    <div class='row text-center' ng-if='typeOf.image || typeOf.brandLogo'>
      <img ng-src='{{ resource.url.gallery_thumb }}'/>
    </div>

    <div class='row text-center' ng-if='typeOf.audio'>
      <span class='glyphicon glyphicon-music' aria-hidden='true'></span>
    </div>

    <div class='row text-center glyphicon-youtube' ng-if='typeOf.youtube'>
      <a ng-href='{{ gc.normalYoutubeUrl(resource.url.full) }}' target='_blank'>
        <span class='glyphicon glyphicon-facetime-video' aria-hidden='true'></span>
      </a>
    </div>

    <div class='row text-center' ng-if='typeOf.video'>
      <span class='glyphicon glyphicon-facetime-video' aria-hidden='true'></span>
    </div>

    <div class='row text-center' ng-if='typeOf.pdf'>
      <span class='glyphicon glyphicon-file' aria-hidden='true'></span>
    </div>

    <div class='row text-center' ng-if='typeOf.zip'>
      <span class='glyphicon glyphicon-lock' aria-hidden='true'></span>
    </div>
  </div>

  <div class='panel-footer'>
    <div class='row'>
      <div class='col-xs-12' ng-if='!gc.hideElements'>
        <button class='margin-left-5 btn btn-standart btn-green pull-right btn-small-x' ng-if='!resource.stock' ng-click='gc.removeResources([resource.id])'>
          <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
        </button>

        <div ng-if='resource.url.full && !typeOf.youtube'>
          <a href='{{ resource.url.full }}' download class='margin-left-5 btn btn-standart btn-green pull-right btn-small-x'>
            <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span>
          </a>
        </div>

        <div ng-if='!resource.url.full'>
          <button class='margin-left-5 btn btn-standart btn-green pull-right btn-small-x' ng-click='gc.refreshResource(resource)'>
            <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>
          </button>
        </div>

        <div class='pull-right'>
          <a ng-if='typeOf.youtube' ng-href='{{ gc.normalYoutubeUrl(resource.url.full) }}' target='_blank' class='margin-left-5 btn btn-standart btn-green pull-right text-uppercase'>
            <span class='glyphicon glyphicon-facetime-video'></span>
          </a>
        </div>

        <span class='resource-format pull-left'>
          {{ resource.extension || resource.scope | uppercase }}
          <span ng-if='resource.stock && app.accountUser.isAdmin'>(<u ng-click='gc.replaceStockResource(resource.id)'>Replace stock file</u>)</span>
        </span>
      </div>
    </div>
  </div>
</div>
