<div class='gallery-body col-md-12'>
  <table class='table table-hover table-responsive'>
    <tbody>
      <tr ng-repeat='resource in gc.currentList' ng-init='typeOf = gc.isTypeOf(resource)'>
        <td>
          <input type='checkbox' value='{{ resource.id }}' ng-click='resource.checked = !!resource.checked' ng-model='resource.checked' />
        </td>

        <td ng-if='typeOf.video || typeOf.videoService'>
          <span class='glyphicon glyphicon-facetime-video border-green' aria-hidden='true'></span>
        </td>

        <td ng-if='typeOf.image || typeOf.brandLogo'>
          <div class='image-box border-green'>
            <img class='img-responsive' ng-src='{{ resource.url.gallery_thumb }}'/>
          </div>
        </td>

        <td ng-if='typeOf.audio'>
          <span class='glyphicon glyphicon-music border-green' aria-hidden='true'></span>
        </td>

        <td ng-if='typeOf.pdf'>
          <span class='glyphicon glyphicon-file border-green' aria-hidden='true'></span>
        </td>

        <td ng-if='typeOf.zip'>
          <span class='glyphicon glyphicon-lock border-green' aria-hidden='true'></span>
        </td>

        <td>
          {{ resource.name }}
        </td>

        <td>
          <a ng-if='!typeOf.videoService' href='{{ resource.url.full }}' target='_blank'>
            <span class='text-uppercase'>{{ resource.type }}/{{ resource.extension || resource.scope }}</span>
          </a>
          <a ng-if='typeOf.videoService' ng-href='{{ gc.normalYoutubeUrl(resource.url.full) }}' target='_blank'>
            <span class='text-uppercase'>{{ resource.type }}/{{ resource.extension || resource.scope }}</span>
          </a>
          <span ng-if='resource.stock && app.accountUser.isAdmin'>(<u ng-click='gc.replaceStockResource(resource, upload)'>Replace stock file</u>)</span>
        </td>

        <td>
          <button class='margin-left-5 btn btn-standart btn-green pull-right btn-small-x' ng-if='!resource.stock' ng-click='gc.removeResources([resource.id])'>
            <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
          </button>

          <div ng-if='resource.url.full && !typeOf.videoService'>
            <a href='{{ resource.url.full }}' download class='margin-left-5 btn btn-standart btn-green pull-right btn-small-x'>
              <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span>
            </a>
          </div>

          <div ng-if='!resource.url.full'>
            <button class='margin-left-5 btn btn-standart btn-green pull-right btn-small-x' ng-click='gc.refreshResource(resource)'>
              <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
