{{ typeOf = gc.isTypeOf(resource); "" }}
<iframe type='text/html' ng-src='{{ gc.videoServiceUrl(resource.url.full, resource.source) }}' frameBorder='0' ng-if='typeOf.videoService' />

<img ng-src='{{ resource.url.thumb }}' ng-if='typeOf.image || typeOf.brandLogo'/>

<span class='glyphicon glyphicon-music' aria-hidden='true' ng-if='typeOf.audio'></span>

<span class='glyphicon glyphicon-facetime-video' aria-hidden='true' ng-if='typeOf.video'></span>

<span class='glyphicon glyphicon-file' aria-hidden='true' ng-if='typeOf.pdf'></span>

<span class='glyphicon glyphicon-lock' aria-hidden='true' ng-if='typeOf.zip'></span>
