#dashboard-contact-lists {

  h2, h3 {
    margin: 45px 30px 30px 30px;
  }

  h4 {

    margin: 30px 0px;
    font-weight: bold;
  }



  thead { background: $green; }
  .druggable {
    cursor: ew-resize;
    .th-name {
      cursor: pointer !important;
    }
  }

  @media (min-width: 584px){
    #contact-lists-left-column {
      padding-right: 5px;
      padding-left: 5px;
    }

    #contact-lists-right-column {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  @media (min-width: 1800px){
    #contact-lists-left-column {
      padding-right: 15px;
      padding-left: 15px;
    }

    #contact-lists-right-column {
      padding-right: 15px;
      padding-left: 15px;

      .btn-add-new-contact {
          padding-right: 50px;
          background-image: url('/icons/account_manager_green.png');
          background-position: 150px center;
          background-repeat: no-repeat;
          &:hover,
          &:focus {
              background-image: url('/icons/account_manager_white.png') !important;
              background-position: 150px center !important;
              background-repeat: no-repeat !important;
          }
        }
    }
  }

  #contact-lists-left-column {

    #list-of-contacts {
      margin-top: 47px;
      padding: 0;
      border: 3px solid $green;

      .header {
        color: white;
        font-weight: bold;
        background: $green;
        padding: 16px;
      }

      .item {
        cursor: pointer;
        display: block;
        position: relative;
        padding: 16px;
        margin-top: 2px;
        font-size: 1.3rem;
        background: #EEEEEE;

        .glyphicon {
          visibility: hidden;
          float: right;
          margin-top: -3px;
          color: $green;
          font-size: 2rem;
          font-weight: 100;
        }

        &:hover { background: $lightGreen }

        &:focus { outline: none !important; }

        &.active {

          background: $lightGreen;

          .glyphicon {visibility: visible}
        }
      }

      .item-name {
        width: 90%;
        word-wrap: break-word;
        .row > .col-md-4,
        .row > .col-md-8 {
          padding-left: 0;
          padding-right: 0;
        }
        .row > .col-md-8 {
          padding-left: 5px;
        }
      }

      .item-selection-mark {
        position: absolute;
        right: 12px;
        top: 33%;
      }

    }

    #under-list-of-contacts-btns {
      margin-top: 5px;
      .btn-standart {
        margin-top: 10px;
      }
      img {
        padding: 25px 25px 0px 0px;
        background-size: auto;
        width: 0px;
        height: 0px;
      }
      .btn-green {
        img {
           background-image: url('/icons/add_new_list_green.png')
        }
        &:hover,
        &:focus {
          img#btn-add-new-contact-list {
            background-image: url('/icons/add_new_list_white.png') !important;
          }
        }
      }
      .btn-blue {
        img {
           background-image: url('/icons/recruiter_blue.png')
        }
        &:hover,
        &:focus {
          img#btn-recruiter {
            background-image: url('/icons/recruiter_white.png') !important;
          }
        }
      }

      .btn-large {
        display: inline-block !important;
        min-width:100px;
        width: 100%;
        max-width: none;
        height: 36px;

        span {
          text-align: left;
          width: calc(100% - 25px);
          white-space: nowrap;
          overflow:hidden !important;
          text-overflow: ellipsis;
        }
      }
    }

  }

  #dashboard-contact-lists-main-table {
    position: relative;
    top: 11px;
    width: 100%;
    overflow: auto;
  }

  ///////////

  table{
    table-layout: auto;
  }

  th.th-header {
    position: relative;
    margin-right: 0;
    color: white !important;
  }
  th, td {
    overflow: hidden;
    min-width: 60px;

    &.row-actions {
      min-width: 100px;
    }
  }

  ////////

  #contact-lists-right-column {

    overflow: inherit;

    #list-mass-actions {
      .check {
        float: left;
        margin-right: 20px;
      }
    }

    .table-item-edit-group {
      min-width: 70px;
      display: block;

      visibility: hidden;
    }


    span.sorting-order-arrow {
      position: absolute;
      top: 26px;
      left: 0px;
      margin-left: 3px;
      margin-right: 3px;
    }

    td.selection-column {
      width: 30px;
    }

    th {
      span.th-name {
        left: 8px;
        position: relative;
        white-space: nowrap;
        margin-right: 5px;
      }

      &:hover {
        span.th-name {  text-decoration: underline; }
      }


      .glyphicon {
        font-size: 1rem;
      }
    }

    tr.member-row {
      &:hover {
        background: $lightGreen;

        .table-item-edit-group {
          visibility: visible;
        }
      }

      &.selected { background: $lightGreen; }

      .kliiko-checkbox {
        margin-left: 4px;
      }

      .member-column {
        padding-left: 15px;
      }
    }
  }

  .modal-title {
    margin-bottom: 40px;
  }

  .delimiter {
    border-top: 2px solid $green;
    margin-bottom: 30px;
  }

  #contactList-addNewListModal {

    .modals-btn {
      margin-top: 30px;
    }

    #new-list-name-input {
      margin: 60px auto;
      width: 60%;
      padding: 9px;
      font-size: 2rem;
    }

    #new-list-name-help-text {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 30px;


      p {
        font-size: 1.6rem;

      }
    }

    #new-list-custom-fields {
      margin: 20px;
    }


    input.custom-fields {
      margin: 6px;
      width:90%;
      padding: 10px;
    }


    input.custom-fields.error {
      border: 1px solid $red;
      outline-color: $red;
    }

  }

  .fields-to-show {
    margin: 10px 0;
    text-align: left;

    label {
      margin-right: 10px;
    }
  }

  .custom-select-directive {
   .dd-directive {
      padding: 3px 20px !important;
      text-align: left !important;
    }

    ul.dropdown {
      left:-2px;
      width: 200px;
      border: 2px solid $green;
      border-top: none;
      z-index:300 !important;

      li {
        padding: 0 7px;

        &:hover {
          color: white;
          background: $green;

          a {
            color: white;
          }
        }
      }
    }
  }

  .contactCommentsModal {
    width: 700px;

    .pagination-sm {
      margin-bottom: 0px;
    }

    .modal-title {
      margin: 0px;
      margin-bottom: 20px;
    }
  }

  @import "particles/modals-excel-csv-import";

}
