<!DOCTYPE html>
<html lang="en" ng-app="KliikoApp.Root" ng-controller="AppController as app">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <% include ../dashboard/headerIncludes %>
</head>
<body ng-controller='DashboardController as myDashboard'>
  <div class='dashboard-header' ng-show='myDashboard.accountUsers'>
    <div class='col-xs-2 logo-min-width'>
      <a href='/'><img class='row' src='/icons/Klzii_logo_lines.png'></a>
    </div>
    <div class='col-xs-1 current-domain-name'>
    </div>
    <div class='col-xs-12 col-md-7 btn-group remove-link-line nav-button-top-margin text-right' role='group'>
      <span id='welcome-user' class='hidden'>Welcome, {{ app.accountUser.firstName }}!</span>

      <button class='btn-header-red' type='button'>
        Help
        <span class='glyphicon glyphicon-question-sign' aria-hidden='true'></span>
      </button>

      <button class='btn-header-yellow' type='button' id='headerDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        My Details
        <span class='glyphicon glyphicon-menu-hamburger' aria-hidden='true'></span>
      </button>

      <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='headerDropdown'>
        <li class='text-right text-size-dashboard'><a ng-click='app.openModal("contactDetailsModal")'>Contact Details<img class="my-details-container" src='/icons/contact_list_red.png' alt='' /></a></li>
        <li role="separator" class="divider"></li>
        <li class='text-right text-size-dashboard'><a ng-click='app.openModal("changePasswordModal")'>Change Password<img class="my-details-container" src='/icons/password_green_flat.png' alt='' /></a></li>
        <li role="separator" class="divider"></li>
        <li class='text-right text-size-dashboard' ng-if='myDashboard.canCreateNewAccount'><a ng-click='app.openModal("createNewAccountModal")'>Create New Account<img class="my-details-container" src='/icons/user_plus_grey.png' alt='' /></a></li>
        <li role="separator" class="divider" ng-if='myDashboard.canCreateNewAccount'></li>
        <li class='text-right text-size-dashboard'><a href='/logout'>Logout<img class="my-details-container" src='/icons/logout_yellow.png' alt='' /></a></li>
      </ul>
    </div>

    <nav class="navbar navbar-default dashboard-header-mobile">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-left collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src='/icons/Klzii_logo_mobile.png'></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='' class="navbar-title">My Details</a></li>
                    <li><a ng-click='app.openModal("contactDetailsModal")'><img class="my-details-container" src='/icons/contact_list_red.png' alt='' />Contact Details</a></li>
                    <li><a ng-click='app.openModal("changePasswordModal")'><img class="my-details-container" src='/icons/password_green_flat.png' alt='' />Change Password</a></li>
                    <li ng-if='myDashboard.canCreateNewAccount' data-toggle="collapse" data-target="#navbar"><a ng-click='app.openModal("createNewAccountModal")'><img class="my-details-container" src='/icons/user_plus_grey.png' alt='' />Create New Account</a></li>
                    <li><a href='/logout'><img class="my-details-container" src='/icons/logout_yellow.png' alt='' />Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

  </div>


  <% include ../dashboard/_changePasswordModal %>
  <% include ../dashboard/_contactDetailsModal %>
  <% include ../dashboard/_createNewAccountModal %>
