<div ng-init='dashboard.initMyDashboard()'>
  <ul class='nav nav-tabs' id='nav-tabs-main' ng-if='!dashboard.hideTabs'>
    <li ng-class='dashboard.activeClass("participant")' ng-click='dashboard.changeTab("participant")' ng-if='dashboard.sessions'>
      <a>Participant ({{ dashboard.sessions.length }})</a>
    </li>

    <li ng-repeat='au in dashboard.accountUsers' ng-class='dashboard.activeClass(au.field)' ng-click='dashboard.changeTab(au.field)'>
      <a>{{ au.name }} ({{ au.data.length }})</a>
    </li>
  </ul>
</div>
