<% include _header %>

<main class='main-first-page hidden'>
  <div class='container' ng-controller='DashboardController as myDashboard'>
    <div ng-init='myDashboard.initMyDashboard()'>
      <ul class='nav nav-tabs' id='nav-tabs-main' ng-if='!myDashboard.hideTabs'>
        <li id="btn-my-dashboard" ng-repeat='au in myDashboard.accountUsers' ng-class='myDashboard.activeClass(au.field)' ng-click='myDashboard.changeTab(au.field)'>
          <a>{{ au.name }} ({{ au.data.length }})</a>
        </li>
      </ul>
    </div>

    <div class='dashboard-container border-blue box-shadow'>
      <div class='row'>
        <div class='col-xs-12'>
          <div class='dashboard-container fixed-bottom-margin'>
            <h2 class='text-center'>My Dashboard</h2>

            <% include ./templates/_accountManagers %>
            <% include ./templates/_facilitators %>
            <% include ./templates/_participants %>
            <% include ./templates/_observers %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ../footer %>
