<% include _header %>

<main class='main-first-page'>
  <div class='container' ng-controller='DashboardController as dashboard'>
    <% include _navTabs %>

    <div class='dashboard-container border-blue box-shadow'>
      <div class='row'>
        <div class='col-xs-12'>
          <div class='dashboard-container fixed-bottom-margin'>
            <div class='row' ng-if="dashboard.currentTab == 'participant'">
              <h2 class='text-center'>Participating in following sessions</h2>
              <div class='col-xs-12'>
                <table class='table table-responsive table-dashboardElements'>
                  <thead>
                    <tr>
                      <th>Account Name</th>
                      <th>Session Name</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat='session in dashboard.sessions'>
                      <td>{{ session.Account.name }}</td>
                      <td>{{ session.name }}</td>
                      <td>{{ session.start_time | date:dashboard.dateFormat }}</td>
                      <td>{{ session.end_time | date:dashboard.dateFormat }}</td>
                      <td>{{ session.showStatus }}</td>
                      <td><span class='glyphicon glyphicon-play' aria-hidden='true'></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div ng-repeat='au in dashboard.accountUsers'>
              <div class='row' ng-if="dashboard.currentTab == au.field">
                <h2 class='text-center'>{{ au.name }} in accounts</h2>
                <div class='col-xs-12'>
                  <table class='table table-responsive table-dashboardElements'>
                    <thead>
                      <tr>
                        <th>Account Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat='accountUser in au.data'>
                        <td>{{ accountUser.Account.name }}</td>
                        <td>{{ accountUser.firstName }}</td>
                        <td>{{ accountUser.lastName }}</td>
                        <td>
                          <a href='{{ accountUser.dashboardUrl }}'>
                            <span class='glyphicon glyphicon-play' aria-hidden='true'></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ../footer %>
