<% include _header %>

<main class='main-first-page hidden'>
  <div class='container'>

    <div class="selectRoleMessage" ng-if="myDashboard.isSelectRoleMessageVisible()">
      <h2>Select your Role first!</h2>
    </div>

    <div class="btn-group" id='nav-tabs-mobile' ng-if='myDashboard.hasRoles && !myDashboard.hideTabs'>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span id="nav-tabs-mobile-title" ng-if="myDashboard.currentTab">{{ myDashboard.activeTabText() }}</span>
        <span class="caret"><span></span></span>
      </a>
      <ul class="dropdown-menu">
        <li id="btn-my-dashboard" ng-repeat='au in myDashboard.accountUsers' ng-class='myDashboard.activeClass(au.field)' ng-click='myDashboard.changeTab(au.field)' ng-init="myDashboard.initMobile('nav-tabs-mobile')">
          <a>{{ au.name }} ({{ au.data.length }})</a>
        </li>
      </ul>
    </div>

    <ul class='nav nav-tabs' id='nav-tabs-main' ng-if='!myDashboard.hideTabs'>
      <li id="btn-my-dashboard" ng-repeat='au in myDashboard.accountUsers' ng-class='myDashboard.activeClass(au.field)' ng-click='myDashboard.changeTab(au.field)' ng-init="myDashboard.initMobile('nav-tabs-main')">
        <a>{{ au.name }} ({{ au.data.length }})</a>
      </li>
    </ul>

    <div class='dashboard-container border-blue box-shadow'>
      <div class='row'>
        <div class='col-xs-12'>
          <div class='dashboard-container fixed-bottom-margin'>
            <div ng-if='myDashboard.hasRoles && !myDashboard.hideTabs'>
              <h2 class='text-center'>My Dashboard</h2>
              <% include ./templates/_accountManagers %>
              <% include ./templates/_facilitators %>
              <% include ./templates/_participants %>
              <% include ./templates/_observers %>
            </div>
            <div ng-if='!myDashboard.hasRoles' class="rolesInfoBlock">
              <center><h2>Sorry, you don't have any Sessions to attend at the moment.<br/>Or, why not start your own Chat Session!</h2></center>
            </div>
            <div ng-if='myDashboard.theOnlySessionIsClosed' class="rolesInfoBlock">
              <center><h2>Sorry, your Session is now closed, please contact your Host for more information.<br/>Or, why not start your own Chat Session!</h2></center>
            </div>
            <div ng-if='myDashboard.theOnlySessionIsPending' class="rolesInfoBlock">
              <center><h2>Sorry, your Session is yet to Open... but the countdown is on</h2></center>
              <ul id="PendingSessionCountdown" class="countdown withColor">
            	  <li><span class="days">00</span><p class="days_text">Days</p></li>
            		<li class="seperator">:</li>
            		<li><span class="hours">00</span><p class="hours_text">Hours</p></li>
            		<li class="seperator">:</li>
            		<li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
            		<li class="seperator">:</li>
            		<li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
            	</ul>
              <center><h2>Please log back in then.</h2></center>
              <span ng-init='myDashboard.initTimer()'></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if='myDashboard.showCreateNewAccountBanner' class='sales-banner'>
      <center>
        <a ng-click='app.openModal("createNewAccountModal")'>
          <img alt='Get your own klzii account now' src='/images/sales-banner.png'/>
        </a>
      </center>
    </div>

  </div>
</main>

<% include ../footer %>
