<section id="step-3">

  <div class="row">
    <div class="col-md-6">
      <ng-include src="'/js/ngApp/components/dashboard-accountProfile-upgradePlan/steps/orderSummary.tpl.html'"></ng-include>
    </div>
    <div class="col-md-6">
      <section id="chargebee-details">
        <div class="row">
          <div class="col-md-1 shake-this">
            <div class="check">
              <input ng-model="up.purchaseTos" ng-change="up.handleTosCheck()" type="checkbox" class="checkbox-btn btn-green" name="termsAndConditions" id="termsAndConditionsCC">
              <label for="termsAndConditionsCC"></label>
            </div>
          </div>
          <div class="col-md-11">
            <p class="shake-this">Click here to confirm you have read the <a href="/terms_of_use" target='_blank'>Terms & Conditions</a></p>
            <p>
              Your credit card account will be debited upon confirmation. Your plan will automatically renew, you can disable under Billing & Plan Details.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="check-element animate-show">
        <div class="col-md-4 btn-dashboard-plans btn-md pull-left btn-standart btn-red" ng-click="up.previouseStep()">
            Back
        </div>
      </div>

      <div class="check-element animate-show">
        <div class="col-md-4 btn-dashboard-plans btn-md pull-right btn-standart btn-red" ng-click="up.submitOrder(up.purchaseTos)">
            Submit My Order
        </div>
      </div>
    </div>
  </div>

</section>
