<!-- MODALS -->
<div class='modal fade' id='getQuoteModal' role='dialog'>
  <div class='modal-dialog getQuoteModal'>
    <div class='modal-content border-red border-radius-none'>
      <div class='modal-header'>
        <h1 class='modal-title text-center'>Get a Quote</h1>
      </div>
      <div class='modal-body' ng-controller='PhoneNumberController as pnc'>
        <span class='hidden'>{{ pnc.init(up.contactUsUser, 'getQuoteModal'); '' }}</span>

        <form class="form-horizontal">
          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='firstNameQuote'>First Name<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <input type='text' class='form-control' id='firstNameQuote' placeholder='First name' ng-model='up.contactUsUser.firstName'>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='lastNameQuote'>Last Name<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <input type='text' class='form-control' id='lastNameQuote' placeholder='Last name' ng-model='up.contactUsUser.lastName'>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='emailQuote'>Email<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <input type="email" class='form-control' id='emailQuote' placeholder='Email' ng-model='up.contactUsUser.email'>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='contactNumberQuote'>Contact Number<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <input type='tel'
                intl-tel-input
                intl-tel-input-controller='pnc.contactController'
                ng-model='up.contactUsUser.contactNumber'
                id='contactNumberQuote'
                class='form-control'>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='companyNameQuote'>Company Name<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <input type='text' class='form-control' id='companyNameQuote' placeholder='Company Name' ng-model='up.contactUsUser.companyName'>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='positionInCompanyQuote'>Position in Company<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <input type='text' class='form-control' id='positionInCompanyQuote' placeholder='Position in Company' ng-model='up.contactUsUser.positionInCompany'>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='companyUrlQuote'>Company URL<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <input type='text' class='form-control' id='companyUrlQuote' placeholder='Company URL' ng-model='up.contactUsUser.companyUrl'>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-4 text-no-bold text-login-page' for='commentsQuote'>Comments<span class='text-red-dark'>*</span></label>
            <div class='col-md-6'>
              <textarea rows="4" cols="50" type='text' class='form-control' id='commentsQuote' placeholder='Comments' ng-model='up.contactUsUser.comments'>
              </textarea>
            </div>
          </div>
        </form>
      </div>
      <p class='get-quote-note'>
        Please note: This information will help us understand your needs.
      </p>
      <div class='modal-footer'>
        <div type='button' data-dismiss='modal' class='btn btn-standart btn-red btn-medium pull-left'>
          Close
        </div>
        <div type='submit' class='btn btn-standart btn-green btn-medium pull-right' ng-click="up.submitContactusForm()">
          Get Quote
        </div>
      </div>
    </div>
  </div>
</div>
