<div class="row" ng-show='up.selectedPlan'>
  <div class="col-md-12 caption">
    Order Summary
  </div>

  <div class="table-content">
    <div class="row table-header" >
      <div class="col-sm-3">Plan</div>
      <div class="col-sm-3"># {{up.resourceToSellLbl}}s</div>
      <div class="col-sm-3">Amount Due</div>
      <div class="col-sm-2">Period</div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="dropdown plan-dropdown">
          <div class="dropdown-toggle selected-plan-name" type="button" id="plansDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{ up.selectedPlan.plan.name }}
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <select
          ng-if="up.resourceToSell === 'session'"
          class="form-control border-radius-none"
          ng-model="up.sessionCount"
          ng-options="val as val for val in up.possibleNumOfSessions"
          ng-selected="{{val == up.sessionCount}}"
          required>
        </select>
        <select
          ng-if="up.resourceToSell === 'brandColor' && !up.resourceToSellDisabled"
          class="form-control border-radius-none"
          ng-model="up.brandColorCount"
          ng-options="val as val for val in up.possibleNumOfBrandColors"
          ng-selected="{{val == up.brandColorCount}}"
          required>
        </select>
      </div>
      <div class="col-sm-3">
        {{ (up.selectedPlan.plan.price * (up.sessionCount || up.brandColorCount)) | price:up.currencySymbols[up.currentCurrency]:0 }}
      </div>
      <div class="col-sm-2">
        1&nbsp;<span class="text-capitalize">{{up.selectedPlan.plan.period_unit}}</span>
      </div>
    </div>
  </div>
</div>
