<div class="row">
  <div class="col-md-12 caption">
    Order Summary
  </div>

  <div class="table-content">
    <div class="row table-header" >
      <div class="col-sm-3">Plan</div>
      <div class="col-sm-3">Duration</div>
      <div class="col-sm-3">Amount Due</div>
      <div class="col-sm-2">
        <a href="#" data-toggle="tooltip" title="{{ up.whatIsCredits }}">Credits</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="dropdown plan-dropdown">
          <div class="dropdown-toggle selected-plan-name" type="button" id="plansDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{ up.selectedPlan.plan.name }}
            <span class="caret"><span>
          </div>
          <ul class="dropdown-menu" aria-labelledby="plansDropdownMenu">
              <li class="dropdown-header">Monthly</li>
              <li ng-repeat="planItem in up.monthlyPlans" class="{{up.isCurrentPlan(planItem) ? 'disabled' : ''}}">
                <a ng-click="up.dropdownSelectedPlan(planItem)">
                  {{planItem.plan.name}}
                  <span ng-if="up.isCurrentPlan(planItem)" class="glyphicon glyphicon-ok pull-right"/>
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Annual</li>

              <li ng-repeat="planItem in up.annualPlans" class="{{up.isCurrentPlan(planItem) ? 'disabled' : ''}}">
                <a ng-click="up.dropdownSelectedPlan(planItem)">
                  {{planItem.plan.name}}
                  <span ng-if="up.isCurrentPlan(planItem)" class="glyphicon glyphicon-ok pull-right"/>
                </a>
              </li>
          <ul>
        </div>
      </div>
      <div class="col-sm-3">
        {{ up.selectedPlan.plan.period }}
        {{ up.selectedPlan.plan.period_unit }}
      </div>
      <div class="col-sm-3">
        {{ up.showCalculatedPrice(up.selectedPlan.chargeEstimate.amount_due) | currency:"$":0 }}
      </div>
      <div class="col-sm-2">
        {{ up.showCalculatedPrice(up.selectedPlan.chargeEstimate.credits_applied) | currency:"$":0 }}
      </div>
    </div>
  </div>
</div>
