<section id="step-1">
  <h2>Choose a plan:</h2>
  <section class="plans-table" ng-if="up.subPlans.length">
      <table>
        <!-- Table headers-->
        <tr>
          <!-- compensate first column for monthly/yearly buttons-->
          <th></th>
          <th ng-repeat="subscriptionPlan in up.subPlans | orderBy:'additionalParams.priority' ">
            <div class="included-plan-fader" ng-if="up.isCurrentPlan(subscriptionPlan)"><div class="label">CURRENT</div></div>
            <div class="col-sm-1 pull-right">
              <div ng-if="up.mostPopular(subscriptionPlan.plan.id)" class="most-popular pull-right"></div>
            </div>
            <div class="plan-block {{ subscriptionPlan.plan.id }}" ng-if="up.showPlanInList(subscriptionPlan)">
              <div class="list-group-item-heading" ng-if= "subscriptionPlan.plan.price">
                <h4>{{subscriptionPlan.plan.name}}</h4>
                <div ng-include="'upgradePlanButton.html'"></div>
              </div>
            <div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="plan-option-list plan-option-feature">
              <div class='flex-box'>
                <div class="flex-el {{ up.buttonClassName('monthly') }}" ng-click="up.switchPlanView('monthly')">Monthly</div>
                <div class="flex-el {{ up.buttonClassName('annual') }}" ng-click="up.switchPlanView('annual')">Annual</div>
              </div>
            </div>
          </th>
          <th class="plan-option-price-block {{ subscriptionPlan.plan.id + '_header' }}" ng-repeat="subscriptionPlan in up.subPlans | orderBy:'additionalParams.priority' ">
            <div class="plan-block" ng-if="up.showPlanInList(subscriptionPlan)">
              <div class="price-label" ng-if= "subscriptionPlan.plan.price">
                <h5 class="outline">
                  ${{subscriptionPlan.plan.price | price:'':0 }}
                  <sub>/{{ up.pricePerEnding[up.annualOrMonthly] }}</sub>
                </h5>
                <p>Get 2 Moths FREE on all annual plans</p>
              </div>

              <div class="{{ subscriptionPlan.plan.id + '_header' }} list-group-item-heading" ng-if= "!subscriptionPlan.plan.price">
                <h4>{{subscriptionPlan.plan.name}}</h4>
                <div ng-include="'upgradePlanButton.html'"></div>
              </div>
            </div>

          </th>
        </tr>
        <!-- Table content-->
        <tr ng-repeat="feature in up.features">
          <!-- row title -->
          <td class="plan-option-feature align-vertical-child white-space-pre-line">
            {{feature.title}}
          </td>
          <!-- row content -->
          <td ng-repeat="subscriptionPlan in up.subPlans | orderBy:'additionalParams.priority' " class="{{ subscriptionPlan.plan.id }}">
            <span class="align-vertical-child">
              <span ng-if="feature.type=='Number'">
                {{up.displayFeatureValue(feature.key, subscriptionPlan.additionalParams)}}
              </span>
              <span ng-if="feature.type=='Boolean'">
                <span ng-if="up.displayFeatureValue(feature.key, subscriptionPlan.additionalParams)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </span>
            </span>
          </td>
        </tr>

        <!-- feature buy buttons -->
        <tr>
          <td/>
          <td ng-repeat="subscriptionPlan in up.subPlans | orderBy:'additionalParams.priority' " class="{{ subscriptionPlan.plan.id }}" on-finish-render="up.finishedRenderingPlans()">
            <div ng-include="'upgradePlanButton.html'"></div>
          </td>
        </tr>
      </table>
    </div>

    <script type="text/ng-template" id="upgradePlanButton.html">
      <div class="list-group-item-text buttons-area" >
        <div class="{{ up.selectPlanBtnColor(subscriptionPlan.plan.id) }} btn-dashboard-plans want" ng-click="up.wantThisPlan(subscriptionPlan)">
          {{up.upgradePlanText(subscriptionPlan.plan)}}
        </div>
      </div>
    </script>

    <div class="col-sm-'odd''even'">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="contact-us">
          <span>
            Enterprise Plan
          </span>

          <div class="btn btn-standart btn-green btn-medium pull-right" ng-click="up.openGetQuoteModal(app.user)">Get A Quote</div>

          <p>
            klzii Supports organizations large and small. If need more Managers,
            <br/>
            Active Sessions, contact lists or recruitment lists, contact our sales team for
            <br/>
            assistance.
          </p>
        </div>
      </div>

      <ng-include src="'/js/ngApp/components/dashboard-accountProfile-upgradePlan/steps/getAQuote.tpl.html'"></ng-include>
    </div>

    <div class="col-sm-8 col-sm-offset-2" id="disclaimer">
      <p>
        <b>Please Note:</b> Depending on the nature of your project, you may also need to provide appropriate Incentive-Gifts to your group-Session Guests
      </p>
      <p>
        *You can purchase additional SMS credits as required.
      </p>
    </div>

    <div class="col-sm-12">
      <a href='/account-hub#/smsCredits'><div class="contact-us-btn-red">Buy More SMS Credits</div></a>
    </div>
  </section>
</section>
