<section id="step-1">
  <h2>Choose a plan:</h2>
  <section class="plans-table">
    <div class="col-sm-12">
      <div class="col-sm-3 plan-option-list">
        <div class='flex-box'>
          <div class="flex-el {{ up.buttonClassName('monthly') }}" ng-click="up.switchPlanView('monthly')">Monthly</div>
          <div class="flex-el {{ up.buttonClassName('annual') }}" ng-click="up.switchPlanView('annual')">Annual</div>
        </div>
      </div>

      <div ng-repeat="subscriptionPlan in up.subPlans | orderBy:'additionalParams.priority' ">
        <div class="col-sm-3 plan-block" ng-if="up.showPlanInList(subscriptionPlan)">
          <h4 class="{{ subscriptionPlan.plan.id + '_light' }} list-group-item-heading ">
            {{subscriptionPlan.plan.name}}
          </h4>
          <div class="{{ subscriptionPlan.plan.id + '_dark' }} price-label">
            <div class="col-sm-1 pull-right">
              <div ng-if="up.mostPopular(subscriptionPlan.plan.id)" class="most-popular pull-right"></div>
            </div>
            <h5 class="outline">
              <sup>$US</sup>
              {{subscriptionPlan.plan.price | price:'':0 }}
              <sub>/{{ up.pricePerEnding[up.annualOrMonthly] }}</sub>
            </h5>
            <p>Get 2 Moths FREE</p>
            <p>on all annual plans</p>
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm-12">
        <div class="col-sm-3 plan-option-list">
          <div class="align-vertical-parent" ng-repeat="option in up.planOptions">
            <span class="{{ up.optionBackground(index) }} align-vertical-child white-space-pre-line">{{ option }}</span>
          </div>
        </div>

        <div ng-repeat="subscriptionPlan in up.subPlans | orderBy:'additionalParams.priority' ">
          <div class="col-sm-3 plan-block" ng-if="up.showPlanInList(subscriptionPlan)">
            <div class="included-plan-fader" ng-show="up.isCurrentPlan(subscriptionPlan)"><div class="label">CURRENT</div></div>
            <div class="list-group">

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  {{ up.checkTheCount(subscriptionPlan.additionalParams.sessionCount) }}
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  {{ up.checkTheCount(subscriptionPlan.additionalParams.contactListCount) }}
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  {{ up.checkTheCount(subscriptionPlan.additionalParams.recruiterContactListCount) }}
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.importDatabase" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.importDatabase">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.brandLogoAndCustomColors" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.brandLogoAndCustomColors">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  {{ up.checkTheCount(subscriptionPlan.additionalParams.contactListMemberCount) }}
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  {{ up.checkTheCount(subscriptionPlan.additionalParams.accountUserCount) }}
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.exportContactListAndParticipantHistory" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.exportContactListAndParticipantHistory">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.exportRecruiterSurveyData" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.exportRecruiterSurveyData">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.accessKlzziForum" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.accessKlzziForum">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.accessKlzziForum" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.accessKlzziForum">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.canInviteObserversToSession" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.canInviteObserversToSession">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  up to {{ up.checkTheCount(subscriptionPlan.additionalParams.planSmsCount) }}/mth
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.discussionGuideTips" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.discussionGuideTips">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.whiteboardFunctionality" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.whiteboardFunctionality">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.uploadToGallery" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.uploadToGallery">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.reportingFunctions" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.reportingFunctions">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.availableOnTabletAndMobilePlatforms" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.availableOnTabletAndMobilePlatforms">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.customEmailInvitationAndReminderMessages" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.customEmailInvitationAndReminderMessages">-</span>
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'even') }} align-vertical-parent">
                <span class="align-vertical-child">
                  {{ up.checkTheCount(subscriptionPlan.additionalParams.topicCount) }}
                </span>
              </div>

              <div class="{{ up.planOptionColor(subscriptionPlan.plan.id, 'odd') }} align-vertical-parent">
                <span class="align-vertical-child">
                  <span ng-if="subscriptionPlan.additionalParams.secureSsl" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <span ng-if="!subscriptionPlan.additionalParams.secureSsl">-</span>
                </span>
              </div>

              <div class="list-group-item-text buttons-area">
                <div class="{{ up.selectPlanBtnColor(subscriptionPlan.plan.id) }} btn-dashboard-plans want" ng-click="up.wantThisPlan(subscriptionPlan)">
                  Upgrade Plan
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-'odd''even'">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="contact-us">
          <span>
            Enterprise Plan
          </span>

          <div class="btn btn-standart btn-green btn-medium pull-right" ng-click="up.openGetQuoteModal(app.user)">Get A Quote</div>

          <p>
            klzii Supports organizations large and small. If need more Managers,
            <br/>
            Active Sessions, contact lists or recruitment lists, contact our sales team for
            <br/>
            assistance.
          </p>
        </div>
      </div>

      <ng-include src="'/js/ngApp/components/dashboard-accountProfile-upgradePlan/steps/getAQuote.tpl.html'"></ng-include>
    </div>

    <div class="col-sm-8 col-sm-offset-2" id="disclaimer">
      <p>
        <b>Please Note:</b> Depending on the nature of your project, you may also need to provide appropriate Incentive-Gifts to your group-Session Guests
      </p>
      <p>
        *You can purchase additional SMS credits as required.
      </p>
    </div>

    <div class="col-sm-12">
      <a href='/account-hub#/smsCredits'><div class="contact-us-btn-red">Buy More SMS Credits</div></a>
    </div>
  </section>
</section>
