<section id="step-1" class="animated fadeIn">
    <h2>Our plans come with all there included extras:</h2>

    <div class="row benefits">
        <div class="col-md-6">
            <p>Recruiter: build a new instant contact list with a quick customised survey</p>
            <p>Your Brand logo & custom colours</p>
            <p>Video and text hep menu</p>
            <p>Video and text hep menu</p>
            <p>Discussion Guide Tips</p>
            <p>Whiteboard functionality</p>
            <p>Multimedia management and storage</p>
        </div>
        <div class="col-md-6">
            <p>Import a database and manage interaction with your Contact List</p>
            <p>Reporting functions</p>
            <p>Available on tablet and mobile platforms</p>
            <p>Custom email invitation & reminder messages</p>
            <p>Unlimited Topics</p>
            <p>Secure applications (SSL)</p>
        </div>
    </div>

    <h2>Choose a plan</h2>

    <!-- pricing tables -->
    <section class="container plans-table">
        <div class="row">
            <!-- single plan -->
            <div class="col-sm-4 col-xs-12">
                <div class="list-group">
                    <h4 class="list-group-item-heading yellow-header-bg">{{up.plans.plan1.name}}</h4>
                    <div class="price-label yellow-bg">
                        <h5 class="outline"><sup>$US</sup>{{up.plans.plan1.price/100}}</h5>
                        <p>12 Month to use</p>
                    </div>
                    <p class="list-group-item-text yellow-light-bg"><b>1</b> Session to use over 12 month</p>
                    <p class="list-group-item-text yellow-light-bg">Up to <b>8 Participants</b> per sessions</p>
                    <p class="list-group-item-text yellow-light-bg">Up to <b>15 Observers</b> per sessions</p>
                    <p class="list-group-item-text yellow-light-bg">Up to <b>50 Paid SMS</b> reminders t0 Participants<sup>*</sup></p>
                    <p class="list-group-item-text yellow-light-bg"><b>Unlimited</b> Contact List members allowed</p>
                    <div class="list-group-item-text buttons-area">
                        <div class="btn-dashboard-plans pull-right learn" ng-click="up.openPlanDetailsModal('plan1')">Learn More </div>
                        <div class="btn-dashboard-plans pull-right want btn-brown" ng-click="up.upgradeToPlan('plan1')">I Want This Plan</div>
                    </div>

                </div>
            </div><!--/single plan-->

            <!-- Monthly plan -->
            <div class="col-sm-4 col-xs-12">
                <div class="list-group">
                    <h4 class="list-group-item-heading green-header-bg">{{up.plans.plan2.name}}</h4>
                    <div class="price-label green-bg">
                        <h5 class="outline"><sup>$US</sup>{{up.plans.plan2.price/100}}</h5>
                        <p>Get 1 month free is you have not used your free trial</p>
                    </div>
                    <p class="list-group-item-text green-light-bg"><b>10</b> Session to use over 12 month</p>
                    <p class="list-group-item-text green-light-bg">Up to <b>8 Participants</b> per sessions</p>
                    <p class="list-group-item-text green-light-bg">Up to <b>15 Observers</b> per sessions</p>
                    <p class="list-group-item-text green-light-bg">Up to <b>300 Paid SMS</b> reminders to Participants<sup>*</sup></p>
                    <p class="list-group-item-text green-light-bg"><b>Unlimited</b> Contact List members allowed</p>
                    <div class="list-group-item-text buttons-area">
                        <div class="btn-dashboard-plans pull-right learn" ng-click="up.openPlanDetailsModal('plan2')">Learn More </div>
                        <div class="btn-dashboard-plans pull-right want btn-green" ng-click="up.upgradeToPlan('plan2')">I Want This Plan</div>
                    </div>

                </div>
            </div><!--/Monthly plan-->

            <!-- Yearly plan -->
            <div class="col-sm-4 col-xs-12">
                <div class="list-group">
                    <h4 class="list-group-item-heading blue-header-bg">{{up.plans.plan3.name}}</h4>

                    <div class="price-label blue-bg">
                        <img id="best-value-badge" src="images/pricing-plans/best-value-badge.png" alt="">
                        <h5 class="outline"><sup>$US</sup>{{up.plans.plan3.price/100}}</h5>
                        <p>Save $50 a year, compared to monthly plan</p>
                    </div>
                    <p class="list-group-item-text blue-light-bg"><b>UNLIMITED</b> Session to use over 12 month</p>
                    <p class="list-group-item-text blue-light-bg">Up to <b>8 Participants</b> per sessions</p>
                    <p class="list-group-item-text blue-light-bg">Up to <b>15 Observers</b> per sessions</p>
                    <p class="list-group-item-text blue-light-bg">Up to <b>600 Paid SMS</b> reminders to Participants<sup>*</sup></p>
                    <p class="list-group-item-text blue-light-bg"><b>Unlimited</b> Contact List members allowed</p>
                    <p class="list-group-item-text blue-light-bg">Access to Text Analysis</p>
                    <div class="list-group-item-text buttons-area">
                        <div class="btn-dashboard-plans pull-right learn" ng-click="up.openPlanDetailsModal('plan3')">Learn More </div>
                        <div class="btn-dashboard-plans pull-right want btn-blue" ng-click="up.upgradeToPlan('plan3')">I Want This Plan</div>
                    </div>

                </div>
            </div><!--/ Yearly plan-->

        </div><!--/row-->
    </section><!--/pricing tables .container.plans-table -->

    <div id="disclaimer">
        <p>
            <b>Please Note:</b> Depending on the nature of your project, you may also need to provide appropriate Incentive-Gifts to your group-Session Participants
        </p>
        <p>
            *Your credit card will be charged for any additional SMS.
        </p>

    </div>
</section>