#step-2  {

  font-size: 2rem;

  .panel-title {
    font-size: 2rem;
    text-align: left;
    color: $grey;
  }

  a.accordion-toggle {
    text-decoration: none;

    &:hover { text-decoration: none }
  }

  .panel-heading {
    border: none;

    &:hover {
      color: $green;
      background: #A5DAA4;
    }
  }

  .panel-label {
    font-size: 2rem;
    text-align: left;
    color: $grey;

  }

  .panel-body {
    p {
      font-size: 1.9rem;
      text-align: left;
      color: $grey;
    }
  }

  td {
    padding: 8px 0;
  }

  input#duration-input,
  select#duration-input{
    padding:2px;
    float: left;
    width: 55px;
  }

  input#promocod-input {
    @extend #duration-input;
    width: 230px;
  }
}