<section id="step-2">
    <h2>STEP 2 GOES HERE</h2>
    <uib-accordion-group is-open="up.modContentBlock.facilitators">
        <uib-accordion-heading>
            <div class="panel-label">
                Your Selected Plan <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': up.modContentBlock.facilitators, 'glyphicon-chevron-right': !up.modContentBlock.facilitators}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            You can build and facilitate the Chat Session yourself, using our Contextual help and handy tips - we've made it fast and easy.  You can also delegate someone else to do it for you.
        </p>
    </uib-accordion-group>

    <uib-accordion-group is-open="up.modContentBlock.facilitators">
        <uib-accordion-heading>
            <div class="panel-label">
                Your Contact Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': up.modContentBlock.facilitators, 'glyphicon-chevron-right': !up.modContentBlock.facilitators}"></i>
            </div>
        </uib-accordion-heading>
        <p>
            You can build and facilitate the Chat Session yourself, using our Contextual help and handy tips - we've made it fast and easy.  You can also delegate someone else to do it for you.
        </p>
    </uib-accordion-group>

</section>