<section id="step-2">

    <uib-accordion close-others="false">
        <uib-accordion-group is-open="up.modContentBlock.selectedPlanDetails">
            <uib-accordion-heading>
                <div class="panel-label">
                    Your Selected Plan Details<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': up.modContentBlock.selectedPlanDetails, 'glyphicon-chevron-right': !up.modContentBlock.selectedPlanDetails}"></i>
                </div>
            </uib-accordion-heading>
                <span class="row">
                    <span class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Price</th>
                                <th>Duration</th>
                                <th>Promotional Code</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{up.selectedPlanName}}</th>
                                <td>{{ (up.plans[up.selectedPlanName].price * up.selectedCurrency.rate) | currency : up.selectedCurrency.symbol : 2}}</td>
                                <!--<td><input id="duration-input" type="number" ng-model="up.upgradeDuration" ng-value="1" min="1" size="3"></td>-->
                                <td>
                                    <select name="" id="duration-input" ng-model="up.upgradeDuration" >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>

                                    </select>
                                </td>
                                <td><input id="promocod-input" type="text" ng-model="up.promocode"></td>
                                <td>
                                    {{(up.plans[up.selectedPlanName].price * up.upgradeDuration * up.selectedCurrency.rate )|| (up.plans[up.selectedPlanName].price * up.selectedCurrency.rate) | currency : up.selectedCurrency.symbol : 2 }}
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </span>
                </span>
        </uib-accordion-group>


        <uib-accordion-group is-open="up.modContentBlock.contactDetails">
            <uib-accordion-heading>
                <div class="panel-label" ng-click="up.getUserData(up.modContentBlock.contactDetails)">
                    Your Contact Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': up.modContentBlock.contactDetails, 'glyphicon-chevron-right': !up.modContentBlock.contactDetails}"></i>
                </div>
            </uib-accordion-heading>
            <form ng-submit="up.updateUserData(up.userData)">
                <div class="form-group">
                    <table class="table table-no-inside-borders text-left text-gray-medium table-v-content-middle">
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="text-red-dark"> * <i>Required</i> </div>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-no-bold text-login-page" for="first-name_step2">First name</label>
                            </td>
                            <td>
                                <input id="first-name_step2" ng-model="up.userData.firstName" type="text" value="" class="form-control" name="first-name_step2"  placeholder="First name">
                            </td>
                            <td  class="text-red-dark">
                                *
                            </td>
                            <td>
                                <label class="text-no-bold text-login-page" for="postal-adress_step2">
                                    Postal
                                    <br>
                                    Address
                                </label>
                            </td>
                            <td>
                                <input type="text" ng-model="up.userData.postalAdress" value="" class="form-control" name="postal-adress_step2" id="postal-adress_step2" placeholder="Postal Address">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="error-column">
                                <span class="has-error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-no-bold text-login-page" for="last-name_step2">Last name</label>
                            </td>
                            <td>
                                <input type="text" ng-model="up.userData.lastName" value="" class="form-control" name="last-name_step2" id="last-name_step2" placeholder="Last name">
                            </td>
                            <td  class="text-red-dark">
                                *
                            </td>
                            <td>
                                <label class="text-no-bold text-login-page" for="city_step2">City</label>
                            </td>
                            <td>
                                <input type="text" ng-model="up.userData.city" value="" class="form-control" name="city_step2" id="city_step2" placeholder="City">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="error-column">
                                <span class="has-error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-no-bold text-login-page" for="email_step2">Email</label>
                            </td>
                            <td>
                                <input type="email" ng-model="up.userData.email" value="" class="form-control" name="email_step2" id="email_step2" placeholder="Email">
                            </td>
                            <td  class="text-red-dark">
                                *
                            </td>
                            <td>
                                <label class="text-no-bold text-login-page" for="state_step2">State</label>
                            </td>
                            <td>
                                <input type="text" ng-model="up.userData.state" value="" class="form-control" name="state_step2" id="state_step2" placeholder="State">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="error-column">
                                <span class="has-error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-no-bold text-login-page" for--="gender_step2">Gender</label>
                            </td>
                            <td>
                                <label for="gender_male_step2" class="radio-button">
                                    <input type="radio" ng-model="up.userData.gender" name="gender_step2" value="male" id="gender_male_step2" ng-class="{checked:up.userData.gender == 'male'}">

                                    <span class="checkbox-signup btn-radius-text">Male</span>
                                </label>

                                <label for="gender_female_step2" class="radio-button">
                                    <input type="radio" ng-model="up.userData.gender"  name="gender_step2" value="female" id="gender_female_step2" ng-class="{checked:up.userData.gender == 'female'}">
                                    <span class="checkbox-signup btn-radius-text btn-radius-padding-left">Female</span>
                                </label>
                            </td>
                            <td  class="text-red-dark">
                                *
                            </td>
                            <td>
                                <label class="text-no-bold text-login-page" for="postcode_step2">Postcode</label>
                            </td>
                            <td>
                                <input type="tel" ng-model="up.userData.postcode" value="" class="form-control" id="postcode_step2" name="postcode_step2" placeholder="Postcode">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="error-column">
                                <span class="has-error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-no-bold text-login-page" for="mobile_step2">
                                    Mobile
                                    <br>
                                    Number
                                </label>
                            </td>
                            <td>
                                <input type="tel" ng-model="up.userData.mobile" value="" class="form-control" id="mobile_step2" name="mobile_step2" placeholder="Mobile Number">
                            </td>
                            <td  class="text-red-dark">
                                *
                            </td>
                            <td>
                                <label class="text-no-bold text-login-page" for="country_step2">Country</label>
                            </td>
                            <td>
                                <input ng-model="up.userData.country" value="" class="form-control" id="country_step2" name="country_step2" placeholder="Country">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="error-column">
                                <span class="has-error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-no-bold text-login-page" for="landline-number_step2">
                                    Landline
                                    <br>
                                    Number
                                </label>
                            </td>
                            <td>
                                <input type="text" ng-model="up.userData.landlineNumber" value="" class="form-control" name="landline-number_step2" id="landline-number_step2" placeholder="LandlineNumber">
                            </td>
                            <td  class="text-red-dark">
                                *
                            </td>
                            <td>
                                <label class="text-no-bold text-login-page" for="copany-name_step2">
                                    Company
                                    <br>
                                    Name
                                </label>
                            </td>
                            <td>
                                <input type="text" ng-model="up.userData.companyName" value="" class="form-control" name="copany-name_step2" id="copany-name_step2" placeholder="Company Name">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="error-column">
                                <span class="has-error"></span>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn border-red text-red-dark border-radius-none background-transp pull-right btn-md">Update</button>
                            <div class="check">
                                <input ng-model="up.userData.tipsAndUpdate" type="checkbox" class="checkbox-login" name="tipsAndUpdate" id="tipsAndUpdate" value='receive-updates'/>
                                <label for="tipsAndUpdate"></label>
                                <span class="checkbox-signup" id="tipsAndUpdate_step2">Yes send me the Kliiko Newsletter which includes tips and updates.</span>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </uib-accordion-group>
    </uib-accordion>

</section>

