<section id="step-3">
    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12 caption">
                    Order Summary
                </div>
                <div class="table-content">
                    <div class="row table-header" >
                        <div class="col-sm-5 col-md-5">Plan</div>
                        <div class="col-sm-3 col-md-3">Duration</div>
                        <div class="col-sm-4 col-md-4">Total</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-5">{{up.selectedPlanName}}</div>
                        <div class="col-sm-3 col-md-3">{{up.upgradeDuration || 1}}</div>
                        <div class="col-sm-4 col-md-4">{{up.finalPrice | currency : up.selectedCurrency.symbol : 2}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-5">1 Free month</div>
                        <div class="col-sm-3 col-md-3">1</div>
                        <div class="col-sm-4 col-md-4">{{ 0 | currency : up.selectedCurrency.symbol : 2}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5 col-md-5 total">Order Total</div>
                        <div class="col-sm-3 col-md-3">{{up.upgradeDuration + 1}}</div>
                        <div class="col-sm-4 col-md-4">{{up.finalPrice | currency : up.selectedCurrency.symbol : 2}}</div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 table-header">
                    Payment Method
                </div>
                <div class="row detail-content">
                    <!--<div class="col-md-6" ng-show="up.paymentDetails.payPal.selected">PAYPAL</div>-->
                    <!--<div class="col-md-6" ng-show="up.paymentDetails.creditCard.selected">Credit Card</div>-->
                    <div class="col-md-6" ng-show="up.paymentDetails.chargebee.selected">Chargebee</div>
                    <div class="col-md-6 pull-left text-right">{{up.finalPrice | currency : up.selectedCurrency.symbol : 2}}</div>
                </div>
                <div class="col-md-12 table-header margin-top-2rem">
                    Contact Info <small class="change-link" ng-click="up.handleUserDataChangeClick()">(change)</small>
                </div>
                <dl>
                    <div class="col-md-12"><dt>First Name:</dt> <dd>{{up.userData.firstName}}</dd></div>
                    <div class="col-md-12"><dt>Last Name:</dt> <dd>{{up.userData.lastName}}</dd></div>
                    <div class="col-md-12"><dt>Email:</dt> <dd>{{up.userData.email}}</dd></div>
                    <div class="col-md-12"><dt>Mobile:</dt> <dd>{{up.userData.mobile || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>Land Line:</dt><dd>{{up.userData.landlineNumber || '(none)'}}</dd></div>
                </dl>

                <div class="col-md-12 table-header margin-top-2rem">
                    Billing Address <small class="change-link" ng-click="up.handleUserDataChangeClick()">(change)</small>
                </div>
                <dl>
                    <div class="col-md-12"><dt>Address Line:</dt> <dd>{{up.userData.postalAddress || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>City:</dt> <dd>{{up.userData.city || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>State:</dt> <dd>{{up.userData.state || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>Zip:</dt> <dd>{{up.userData.postcode || '(none)'}}</dd></div>
                    <div class="col-md-12"><dt>Country:</dt><dd>{{up.userData.country || '(none)'}}</dd></div>
                </dl>


            </div>

            <hr class="more-y-margin">

            <section id="payPal-details" ng-show="up.paymentDetails.payPal.selected">
                <div class="row" >
                    <div class="col-md-1">
                        <div class="check">
                            <input ng-model="up.paymentDetails.payPal.tos" type="checkbox" class="checkbox-btn btn-green" name="termsAndConditions" id="termsAndConditionsPP">
                            <label for="termsAndConditionsPP"></label>
                        </div>

                    </div>
                    <div class="col-md-11">
                        <p>Click here to confirm you have read the <a href="terms">Terms and Conditions</a></p>
                        <p>Your PayPal account will be debited upon confirmation. You plan will automatically renew, you can disable under Billing & Plan Details.</p>
                    </div>
                </div>
            </section>



            <section id="creditCard-details" ng-show="up.paymentDetails.creditCard.selected">
                <div class="col-md-12 table-header">
                    Check out with Credit Card
                </div>
                <div class="row" >
                    <div class="col-md-1">
                        <div class="check">
                            <input ng-model="up.paymentDetails.creditCard.tos" type="checkbox" class="checkbox-btn btn-green" name="termsAndConditions" id="termsAndConditionsCC">
                            <label for="termsAndConditionsCC"></label>
                        </div>

                    </div>
                    <div class="col-md-11">
                        <p>Click here to confirm you have read the <a href="terms">Terms and Conditions</a></p>
                        <p>
                            Your credit card account will be debited upon confirmation. Your plan will automatically renew, you can disable under Billing & Plan Details.
                        </p>
                    </div>
                </div>
            </section>




        </div>
    </div>
</section>
