#step-2  {
  .panel-title {
    font-size: 2rem;
    text-align: left;
    color: $grey;
  }

  a.accordion-toggle {
    text-decoration: none;

    &:hover { text-decoration: none }
  }

  .panel-heading {
    border: none;

    &:hover {
      color: $green;
      background: #A5DAA4;
    }
  }

  .panel-label {
    font-size: 2rem;
    text-align: left;
    color: $grey;

  }

  .panel-body {
    p {
      font-size: 1.9rem;
      text-align: left;
      color: $grey;
    }
  }
}