<section id="step-5">
  <div class="row">
    <section ng-if="up.purchaseWasSuccessfull">
      <p>Awesome! Thanks for joining the cliizii family.</p>
      <p class="small">&nbsp;</p>
      <p>Confirmation &amp; invoice on their way to your inbox.</p>
      <p class="small">&nbsp;</p>
      <p>New to cliizii?</p>
      <p>Check out Tutorials and Help </p>
      <img src="/images/red_up.png" style="position: absolute; margin-left: 220px; margin-top: -90px;"/>
    </section>

    <section ng-if="!up.purchaseWasSuccessfull">
      <h1>The purchase was not successful!</h1>
    </section>

  </div>
</section>
