<section id="step-5">
  <div class="row">
    <section ng-if="up.purchaseWasSuccessfull">
      <h1>Thank you</h1>
      <p>Your order confirmation and invoice have been emailed to you</p>
    </section>

    <section ng-if="!up.purchaseWasSuccessfull">
      <h1>The purchase was not successfull!</h1>
    </section>

    <section ng-if="app.user.selectedPlanOnRegistration">
      <div id="play-video" ng-click="up.videoVisible = true">
        <div id="video-placeholder" class="box-shadow border-yellow">
          <div class="play-btn" ng-if="!up.videoVisible"></div>
          <div id="video" ng-if="up.videoVisible">
            <div id="player">
              <iframe src='//player.vimeo.com/video/203036445' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
