.btn{
  border-radius: 0;
  

  &.blue {
    background-color: $m-blue;
    padding: 0px;
    font-family: $s-pro;
  }
}

.go {

}

#btn-go {
  border: 0px;
  color: green;
  width: 130px;
  height: 50px;
  line-height: 20px;
  font-size: 1.6em;
  font-weight: bold;
}

.input-group-addon, .input-group-btn {
  width: auto;
}

.input-group {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.btn-buy-chat {
  width: 100%;
  min-width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  color: white;
  background-color: $btn-buy-chat;
  margin-left: 10px;
  margin-top: 15px;

}

#btn-review-order {
  background-color: $btn-orange;
  color: white;
}

.btn-details-managers-etc {
  width: 100%;
  min-width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  color: white;
  background-color: $btn-orange;
  margin-left: 10px;
  margin-top: 5px;
}
