.remove-link-line > a {
  text-decoration: none;
}
.btn-md {
  height: 45px;
}
.btn-dashboard-menu {
  background-color: inherit;
  width: 13%;
  min-width: 180px;
  height: 36px;
  margin-left: 36px;
  margin-top: 30px;
  cursor: pointer;

  &.btn-green {
    color: $green;
    border-color: $green;
    background: white;

    &:hover, &.active {
      color: white;
      border-color: $green;
      background: $green;
    }
  }

  &.btn-short {
    min-width: 0 !important;
    max-width: 100px;
  }
  padding-top: 4px;
  padding-left: 15px;
  vertical-align: middle;
  border: 2px solid $blue;
  border-radius: 0px;
  font-family: SourceSansPro-Regular;
  color: $blue;
  line-height: 26px;
  text-align: left;

  &:hover{
    color: $blueHover;
    border-color: $blueHover;
  }
}


.btn-dashboard-menu.active {
  color: white;
  background-color: $blue;

  img {
    padding: 25px 25px 0px 0px;
    background-size: auto;
    width: 0px;
    height: 0px;
  }

  img.upgrade {
    background-image: url('/icons/upgrade_white.png');
  }

  img.account-manager {
    background-image: url('/icons/account_manager_white.png');
  }
}


.btn-header-dropdown {
  margin-left: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: SourceSansPro-Regular;
  height: 36px;
  border-radius: 0px;
  border: none;
  color: white;
  background-color: $yellow;
  font-weight: bold;
  text-shadow: 2px 2px $grey;
}

.btn-header-green {
  @extend .btn-header-dropdown;
  background-color: #4CB649;
}

.btn-header-red {
  @extend .btn-header-dropdown;
  background-color: $red;
}

.btn-addNewElement {
  @extend .btn-dashboard-menu;
  width: auto;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-simple {
  margin-left: 10px;
  font-family: SourceSansPro-Regular;
  height: 36px;
  border-radius: 0px;
  background-color: inherit;
}

/* Radio buttons custom design */
label.radio-button {
  input[type="radio"] {
    position: absolute;
    left: -999999px;
  }

  input[type="radio"]:focus + span {
    &:after{
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
  }


  input[type="radio"] + span{
    position: relative;
    padding-right: 35px;
    margin-right: 20px;
    &:after{
      content:"";
      position: absolute;
      top: -7px;
      right: -13px;
      border:2px solid #ccc;
      border-radius: 50%;
      background: none;
      background-image: none;
      height: 34px;
      width: 34px;
      transition: background-image 0.9s ease;
    }
}



  input[type="radio"]:checked + span{
    &:after{
    //background-image: -moz-radial-gradient(5px 5px 45deg, circle cover, #999 0%, #fff 100%);

    //background-image: -webkit-radial-gradient(15px 15px, circle, #666, #666,#666, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff);/* iistais!!! */

    //background-image: radial-gradient(5px 5px 45deg, circle cover, #000, #fff 100%, red 95%);
    background: #ccc;
  }
  }
}


.btn-standart {
  display: initial;
  padding: 9px;
  border: 3px solid lightgrey;
  cursor: pointer;
  background: white;

  &.btn-red {
    color: $red;
    border-color: $red !important;
  }

  &.btn-blue {
    color: $blue;
    border-color: $blue !important;
  }

  &.btn-green {
    color: $green;
    border-color: $green !important;

    &:hover {
      color: white;
      border-color: $green !important;
      background: $green;
    }
  }

  &.btn-text-middle {
    font-size: 80%;
  }

  &.btn-x {
    padding: 1px 6px !important;
  }

  &.btn-glyphonic {
    padding: 3px 4px 1px 4px;
  }
}

.btn-forbidden {
  cursor: not-allowed !important;
}
//////


