
.btn-dashboard-menu {
  font-family: SourceSansPro-Regular;
  width: 16%;
  min-width: 200px;
  height: 36px;
  border-radius: 0px;
  border: 2px solid $blue;
  color: $blue;
  background-color: inherit;
  margin-left: 36px;
  margin-top: 30px;
  line-height: 36px;
}

.btn-header-dropdown {
  font-family: SourceSansPro-Regular;
  height: 36px;
  border-radius: 0px;
  border: none;
  color: white;
  background-color: $yellow;
  margin-left: 36px;
  margin-top: 30px;
  line-height: 36px;
  font-weight: bold;
  text-shadow: 2px 2px grey;
}
