input.custom-checkbox {
  display: none;
}

.custom-checkbox-label {
  background: url('/icons/login_checkbox.jpeg') no-repeat;
  height: 22px;
  width: 22px;
  background-size: contain !important;
  margin-bottom: 0px;
  cursor: pointer;
}

input:checked.custom-checkbox + .custom-checkbox-label {
  @extend .custom-checkbox-label;
  background: url('/icons/login_checkbox_chk.jpeg') no-repeat;
}

input:disabled.custom-checkbox + .custom-checkbox-label {
  @extend .custom-checkbox-label;
  background: url('/icons/login_checkbox_chk.jpeg') no-repeat;
  cursor: not-allowed;
}
