.modal.fade {
  .modal-dialog {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.changePasswordModal {
  width: 20%;
}

.contactDetailsModal {
  width: 60%;
   .table td {
    padding-left: 2px;
    padding-right: 5px;
    border: 1px solid #f00;
    margin-left: -25px;
    max-width: 215px;

        &:first-of-type {
        padding-right: 15px;
        white-space: nowrap;
      }
      &.error-column {
        padding: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 17px;
      }
  }

  h2 { margin: 16px }

  input.form-control {
    border-width: 2px;
    height: 40px;
    border-radius: 0;
  }
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }
  .modal-body {
    padding-top: 0;
  }
  /* RADIO BUTTON */
  input[type="radio"]:checked + span{
    &:after{
      background: $red !important;
      border:2px solid $red !important;
    }
  }

/* CHECKBOX */
  input[class=checkbox-login] {
    display: none;
  }

  input[class=checkbox-login] + label {
    background: url("/icons/checkbox-out.jpeg") no-repeat;
    height: 22px;
    width: 22px;
    margin-top: 0px;
    margin-left: 0;
    margin-bottom: -5px;
    background-size: contain;
  }

  input[class=checkbox-login]:checked + label {
    background: url("/icons/checkbox-in.jpeg") no-repeat;
    height: 22px;
    width: 22px;
    background-size: contain;
    margin-top: 1px;
  }

  .modal-control-buttons, #remap-footer-btns{
    .pull-left div {
      float: left;
      margin-right: 5px;
    }
    .pull-right div {
      float: right;
      margin-left: 5px;
    }
  }
}

.accountDatabaseCommentModal {
  max-width: 768px;
}

.surveyPreviewModal {
  @extend .contactDetailsModal;
  width: 800px;
}

.gallerySelectModal {
  @extend .contactDetailsModal;
  width: 800px;
  .modal-body > .nav.nav-pills {
    margin-bottom: 10px;
  }
}

.brandColourPreviewModal {
  @extend .contactDetailsModal;
  width: 35%;

  .circle-addon img {
    width: 38px !important;
    height: 38px !important;
  }

  .modal-header .close {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.accountManagerModal {
  @extend .contactDetailsModal;
}

@media (max-width: 768px) {
  .accountDatabaseCommentModal,
  .surveyPreviewModal {
    width: auto;
  }
}

.modal-dialog{
  min-width:300px;
  
  .modal-tabs {
    margin-top: -46px;
    text-align: center;

    .modal-tab {
      display: inline-block;
      padding: 10px;
      min-width: 160px;
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      margin: 0px 8px;
      background: #fff;
      &.active {
        background: #2F9F69;
        color: #fff;
      }
    }
  }

  .selectItems {
    margin-right: -10px;
    margin-left: -10px;

    .col-xs-4 {
      padding: 0px 5px;
    }
    .panel {
      margin-bottom: 10px;
    }
    .panel-name {
      font-size: 13px;
      padding: 0px 10px;
      word-wrap: break-word;
    }
    .panel-footer {
      display: none;
    }
    .panel-body {
      padding: 10px;

      img {
        max-height: 80px;
        max-width: 100px;
      }
    }
  }
}

#selectOrUploadResource {
  .modal-dialog{
    width:610px !important;
  }
  .pagination {
    margin: 15px 0 5px 0;
  }
}

@media (max-width: 1330px) {
  @media (min-width: 992px) {
    #contactDetailsModal .container-fluid {
      .check {
        div {
          position:absolute;
          margin-top: 0px !important;
          margin-left: -30px;
          width: 450px;
        }
      }
      button {
        margin-top: 35px;
      }
    }
  }
}

@media (max-width: 991px) {
  @media (min-width: 768px) {
    #contactDetailsModal .container-fluid {
      margin-top: 10px;

      .check {
        div{
          position:absolute;
          margin-top: -70px !important;
          margin-left: 15px;
          width: 450px !important;
        }
      }
      .button{
        margin-top: 35px;
      }
      .btn.pull-right, .btn.btn-green{
        margin-top: -40px;
      }
    }
  }
}

@media (max-width: 767px) {
  .modal-backdrop
  {
    opacity:0 !important;
  }

  #contactDetailsModal
  {
    label.control-label, div.col-md-8{
      padding-left:0px !important;
      padding-right:0px !important;
    }
    .modal-header{
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;
    }
  }

  .modal {
    top: 72px !important;
    overflow-y:auto;
    position: absolute !important;
    min-height:100vh;
    height:auto !important;
    background-color:#fff;
    z-index: 1045;
    padding-left:0px !important;
    bottom:auto !important;

    .modal-dialog{
      padding: 0px !important;
      margin: 0px;
      position: relative;
      width: 100%;

      .modal-body{
        margin-right: 0px !important;
      }

      .modal-content{
        border: 0px;
        box-shadow: none;
      }

      .modal-footer, .container-fluid{
        border-top: 0px;

        .btn.pull-left, .btn.btn-red{
          top: -55px;
          position: absolute;
          left: 10px;
        }
        .btn.pull-right, .btn.btn-green{
          top: -55px;
          position: absolute;
          right: 15px;
        }
      }

      .container-fluid {
        .row {
          div{
            position:inherit;
          }
        }
        .pull-right{
          float: none !important;
        }
        .check {
          margin-top: -20px;
        }
        .btn.pull-left, .btn.btn-red,
        .btn.pull-right, .btn.btn-green{
          top: -70px;
        }
      }
    }

  }
}

@media (max-width: 479px) {
  .modal {
    .modal-dialog{
      .modal-title{
        font-size:24px;
        @media (max-width: 359px) {
          font-size:21px;
        }
        padding-bottom: 5px;
      }

      .modal-footer, .container-fluid{
        button.btn-red{
          background-color: #fff !important;
          background-image: url("/icons/back_red.png") !important;
        }
        button.btn-green{
          background-color: #fff !important;
          background-image: url("/icons/ic_tick.png") !important;
        }

        button{
          width: 36px;
          min-width: 36px;
          overflow: hidden;
          background-repeat: no-repeat !important;
          background-position: center !important;
          text-indent: 100px;
        }
      }

      .container-fluid {

        .check {
          label {
            margin-left: 22px;
            margin-top: -21px;
          }
        }
      }
    }

  }
}

#messenger-area .media .media-body {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  min-width: 100px;
  @media (min-width: 768px) {
    max-width: calc(20vw - 105px);
  }
}

.confirmModalText{
  line-height: 1.3;
}

.modal-footer.choiceButtons .btn {
  max-width: 100px;
  width: 100px;
}