// Main navigation
#nav-tabs-main {
  text-align: center;
  border: 0px;

  & > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 10px;
    vertical-align: top;
    width: 225px;

    & > a {
      border: 2px solid $font-color;
      border-bottom: 0;
      border-radius: 0;
      color: $font-color;
      font-size: 16px;
      font-weight: bold;
      padding-right: 50px;
      margin-right: 10px;
      height: 44px;
      background-repeat: no-repeat;
      background-position: 170px center;

      & > img{
        padding-left: 20px;
        padding-bottom: 3px;
      }
    }
  }

  & > li#dashboard-accountProfile {
    & > a {
      background-image: url('/icons/profile_grey.png');
    }
    &.active > a {
      background-image: url('/icons/profile_white.png');
    }
  }

  & > li#dashboard-chatSessions {
    & > a {
      background-image: url('/icons/session_grey.png');
    }
    &.active > a {
      background-image: url('/icons/session_white.png');
    }
  }

  & > li#dashboard-resources {
    & > a {
      background-image: url('/icons/resources_grey.png');
    }
    &.active > a {
      background-image: url('/icons/resources_white.png');
    }
  }

  & > li#btn-my-dashboard {
    width: 250px;
    & > a {
      padding-right: 15px;
    }
  }

}

#nav-tabs-main > li {
  outline: 0;
}


#nav-tabs-main > li.active > a {
  border: 2px solid $blue;
  background-color: $blue;
  color: white;
  height: 45px;
}

@media (max-width: 768px){
  #nav-tabs-main > li > a {
    width: 584px;
  }
}

@media (min-width: 768px){
  #nav-tabs-main > li > a {
    width: 100%;
  }
}

// DE1623: to query the user’s ability to hover over elements on the page with the primary pointing device
@media (hover: hover) {
  #nav-tabs-main {
    & > li:hover {
      outline: 0;
    }
    & > li.active > a:hover {
      border: 2px solid $blue;
      background-color: $blue;
      color: white;
      height: 45px;
    }
    & > li > a:hover {
      background-color: $blue;
      color: white;
    }
    & > li#dashboard-accountProfile > a:hover {
      background-image: url('/icons/profile_white.png');
    }

    & > li#dashboard-chatSessions > a:hover {
      background-image: url('/icons/session_white.png');
    }

    & > li#dashboard-resources > a:hover {
      background-image: url('/icons/resources_white.png');
    }
  }
}
// Main navigation end
