// Main navigation
#nav-tabs-main {
  text-align: center;
  border: 0px;

  & > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 10px;
    vertical-align: top;

    & > a {
      border: 2px solid $font-color;
      border-bottom: 0;
      border-radius: 0;
      color: $font-color;
      font-size: 16px;
      font-weight: bold;
      height: 44px;

      &:hover {
        background-color: $blue;
      }

      & > img{
        padding-left: 20px;
        padding-bottom: 3px;
      }
    }
  }
}

#nav-tabs-main > li,
#nav-tabs-main > li:hover,
#nav-tabs-main > li:focus,
#nav-tabs-main > li:active {
  outline: 0;
}

#nav-tabs-main > li.active > a,
#nav-tabs-main > li.active > a:hover,
#nav-tabs-main > li.active > a:focus {
  border: 2px solid $blue;
  background-color: $blue;
  color: white;
  height: 45px;
}

@media (max-width: 768px){
  #nav-tabs-main > li > a {
    width: 584px;
  }
}

@media (min-width: 768px){
  #nav-tabs-main > li > a {
    width: 100%;
  }
}
// Main navigation end
