.nav  {
  margin-top: 30px;
 // font-family: $s-pro;
}
.navbar{
  margin-bottom: 15px;
}
.btn .blue{
  padding-top: 5px;
}
.navbar-right >li >a{
  padding-top: 5px;
}
.navbar-nav > li > a{
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  color: #FFFFFF;
  font-size: 12px;
  background-color: $m-blue;
  margin-right: 10px;
  margin-top: 10px;
}
.navbar-nav > li > a:active{
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  color: #FFFFFF;
  font-size: 12px;
  background-color: $m-blue;
  margin-right: 10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: $border;
  padding-bottom: 6px;
}
.navbar-nav > li > a:hover{
  color: $w;
  background-color: $m-blue;
}
.navbar-brand {
  padding-top: 5px;
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */

}
.nav-tabs, .nav-pills {
  text-align:center;
}
.tab-content{
  text-align:center;
  color: $color_main;
}
.form-control{
  max-width: 300px;
}
#email{
  max-width: 300px;
  float: none;
}
#password{
  max-width: 300px;
  float: none;
}
.check
{
  max-width: 300px;

}
#checkbox-signup
{
  max-width: 300px;

}
.checkbox-signup{
  margin-top: -20px;
}
.check-google
{
  max-width: 300px;
  margin-top: 20px;
}
.check-facebook{
  max-width: 300px;
  margin-bottom: 40px;
}
.btn-google{
  margin-top: 20px;
}
.check-social
{
  max-width: 300px;
  height: 50px;

}
#remember{
  margin-left: 40px;
  line-height: 30px;
}
#remember3{
  margin-left: 40px;
  line-height: 30px;
  width: 200px;
}
input[class=checkbox-login] {
  display: none; }

input[class=checkbox-login] + label {
  background: url("/icons/login_checkbox.jpeg") no-repeat;
  height: 22px;
  width: 22px;
  margin-top: 1px;
  margin-left: 0;
  margin-bottom: 0;
  background-size: contain;
}

input[class=checkbox-login]:checked + label {
  background: url("/icons/login_checkbox_chk.jpeg") no-repeat;
  height: 22px;
  width: 22px;
  background-size: contain;
  margin-top: 1px;
}

input[class=checkbox-signup] {
  display: none; }

input[class=checkbox-signup] + label {
  background: url("/icons/checkbox_off.png") no-repeat;
  float: left;
  height: 32px;
  width: 32px;
  margin-top: -33px;
  margin-left: 210px;
}
#remember2{
  margin-left: 40px;
  margin-top: 8px;

}

input[class=checkbox-signup]:checked + label {
  background: url("/icons/checkbox_on.png") no-repeat;
  height: 32px;
  width: 32px;
}
.checkbox-signup{
  position: relative;
}

.tab-content{
  padding-top: 10px;
  background-color: white;
  margin-top: -3px;
}
.nav-tabs{
  border: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0px solid $border;
  border-bottom: 0px solid $border;;
}
.nav-tabs > li > a {
  background-color: $border;
  color: white;

}
.nav-tabs > li > a{
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
  font-weight: bold;
  //margin-left: -5px;
  margin-right: 10px;

}
.nav-tabs > li > a:hover {
  background-color: $border;
}
#nav-tabs-dashboard{
  border: 0px;
}
#nav-tabs-dashboard{
  border: 0px;

}
#nav-tabs-dashboard > li{

  margin-right: 10px;

}
#nav-tabs-dashboard > li.active > a,
.nav-tabs > li.active > a:hover{
  /*border: 0px solid $border;
  border-bottom: 0px solid $border;
  background-color: white;
  color: $border;
  padding-top: 6px;
  font-size: 13px;
  font-weight: bold;

  margin-bottom: -10px;
  padding-bottom: 2px;

  font-weight: bold;
  width: 100%;
  line-height: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;*/

  //float: left;


}
#nav-tabs-dashboard > li > a {
  background-color: $border;
  color: white;

}

#nav-tabs-dashboard > li > a{
  padding-top: 4px;
  font-size: 13px;
  font-weight: bold;
  margin-right: 0px;
  padding-bottom: 0px;

  padding-left: 15px;
  padding-right: 15px;
}
#nav-tabs-dashboard > li > a:hover {
}

.tab-content-payment{
  border-left: 2px solid $text-sessions;
  border-right: 2px solid $text-sessions;
  border-bottom: 2px solid $text-sessions;
  border-top: 0px solid $text-sessions;
  height: auto;
  margin-bottom: 20px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#nav-tabs-payments{

  width: 100%;
  border-left: 2px solid $text-sessions ;
  border-right: 2px solid $text-sessions ;
  border-top: 2px solid $text-sessions ;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;


}
#nav-tabs-payments > li.active > a, .nav-tabs > li.active > a:hover{
  margin: 0;
  background-color: white;
  color: $text-summary;
  border-radius: 0px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  line-height: 40px;
  border-bottom: 0px;
  border-top-left-radius: 8px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
}
#nav-tabs-payments > li.active {
  border-radius: 0px;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;

}
#nav-tabs-payments > li {
  color: $text-summary;
  border-radius: 0px;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;

}
#nav-tabs-payments > li > a{
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  line-height: 40px;
  background-color: $text-sessions;
  border-top-right-radius: 8px;
  border-top-left-radius: 0px;
  color: $text-summary;



  padding-top: 15px;
  padding-bottom: 10px;

  border-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#nav-tabs-payments > li > a:hover {

}
.login {
  color: white;
  background-color: #EC7A23;
  width: 300px;
  margin-top: 10px;
  line-height: 20px;}

.login:hover{
  color: white;
}
#or{
  margin-top: 20px;
}
#welcome{
  text-align: center;
  color: white;
}
.nav .nav-tabs .round {

  border: 1px solid ;
  background-color: green;
}
.main-first-page{
  background-image: url("/icons/background.png");
  height: 100%;

}

.main-first-page-registration{
  background-image: url("/icons/background.png");
  height: 110%;

}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {

   margin-top: -20px;
 }

html,body {
  height: 100%;

  margin: 0px;
  padding: 0px;
  font-family: $s-pro;
}

#welcome-download-pdf{
  text-decoration: underline;
  color: white;
  text-align: center;
  text-align: center;
  color: white;
}

.go{

  border: 0px;
  color: green;
  width: 100px;
  line-height: 20px;

}

.credit-card-label{
  text-align: right;
  float: right;
  line-height: 33px;
  right: 0px;
  width: 100%;
}

#card-name{

  margin-top: 8px;

}

.form-horizontal .control-label{
  text-align: right;

}

#label-right{

}
#card-confirmation{
  margin-top: 20px;
  margin-bottom: 20px;
}
