.table-no-inside-borders{
  tbody > tr > td{
    border: none !important;
  }
}

.table-dashboardElements {
  border: 0;
  border-collapse: separate;
  border-spacing: 0px 10px;
  margin-top: -10px;
  margin-bottom: 0px;
  text-align: left;
}

.table-dashboardElements > thead {
  color: white;
  background-color: $blue;
}

.table-dashboardElements > tbody {
  background-color: #F6F6F6;
  .dashboardElementsEditRemove {
    min-width: 15%;
    white-space:nowrap;
    .glyphicon, img {
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  tr.session-pending {
    background-color: #E6E6E6;
  }

  tr.session-open {
    background-color: #D6E9DF;
  }
}

.table-dashboardElements > tbody:nth-child(2n+1) {
  background-color: #F6FCFD;
}

.table-dashboardElements > tbody.status-Expired {
  background-color: $light-grey !important;
}

.table-dashboardElements > thead > tr > th,
.table-dashboardElements > tbody > tr > td {
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 0;
}

.table-dashboardElements > thead > tr > th:focus {
  outline: none;
}

.table-dashboardElements-mobile {
  display:none;
}

@media (max-width: 767px)
{
  .table-dashboardElements {
    display:none;
  }

  .table-dashboardElements-mobile
  {
    margin-top:10px;
    display:table !important;

    .dashboardElements-title {
      display:block;
      color:#4DC0E9;
      text-transform:uppercase;
    }

    .dashboardElements-type{
      padding-right: 85px;
      text-transform: capitalize;
    }

    td, th {
      padding: 8px !important;

      .dashboardElements-icons {
        position: absolute;
        right: 23px;
        margin-top: 5px;
      }

      .glyphicon:last-child {
        margin-right:5px !important;
      }
    }

    table {
      width: 100%;
      max-width:380px;

      td {
        padding: 8px 8px 0px 8px !important;
        vertical-align: top;
      }
      tr > td:first-child{
        padding-left:0px !important;
      }
    }
  }

}


.data-table {
  width: 100%;
  font-size: 15px;

  .data-row-header {
    background-color: #A8D08D;
    font-weight: bold;
  }

  .data-row-subheader {
    background-color: #C5E0B3;
  }

  .data-row {
    background-color: #E2EFD9;
    vertical-align: top;
  }

  .data-column-center {
    text-align: center;
  }

  .data-column-small {
    width: 80px;
  }

  .data-column-big {
    width: 30%;
  }

  .data-row-bottom-whitespace {
    border-bottom: 30px solid white;
  }

  td {
    padding: 10px;
  }

  .data-table-internal {
    margin: -10px;
    width: calc(100% + 20px);
  }
}