<section id="dashboard" class='row' ng-controller="DashboardController as dashboard">
    <div class='col-xs-12 col-sm-12 col-md-12'>
        <div class='text-center remove-link-line'>

            <!-- dashboard menu buttons-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-dashboard-menu pull-right" ui-sref-active="active" ui-sref="dashboard.accountProfile.upgradePlan"><span>Upgrade Plan</span><img src='/icons/upgrade_blue.png' alt='' /></div>
                </div>
                <div class="col-sm-6">
                    <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.accountProfile.accountManagers"><span>Account Managers</span><img src='/icons/account_manager_green_flat.png' alt='' /></div>
                </div>
            </div>

    <!--<div class='col-xs-12 col-sm-12 col-md-12'>-->
        <!--<div class='text-center remove-link-line'>-->
            <!--&lt;!&ndash; dashboard menu buttons&ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="btn-dashboard-menu pull-right" ui-sref-active="active" ui-sref="dashboard.accountProfile.upgradePlan">Upgrade Plan</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.accountProfile.accountManagers">Account Managers</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->

    <div id="back-nav-btn" class='col-md-3 btn-dashboard-menu btn-green btn-short'
         ng-hide="dashboard.$state.current.name === 'dashboard.accountProfile' || dashboard.$state.current.name === 'dashboard' "
         ui-sref--="dashboard.accountProfile" ng-click="dashboard.handleBackBtn()"
        >
       <img src="icons/ic_back_green.png" class="ic"> Back
    </div>

    <div class="row row-centered">
        <div class='col-md-offset-1 col-md-10 сol-centered dashboard-index text-center'>

            <div ui-view="dashboardContent"></div>

        </div>

    </div>

</section>
