<div class='row' ng-controller="Dashboard as dashboard">
    <div class='col-xs-12 col-sm-12 col-md-12'>
        <div class='text-center remove-link-line'>

            <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.accountProfile.upgradePlan">Upgrade Plan</div>
            <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.accountProfile.accountManagers">Account Managers</div>

            <!--<a href=''  >-->
                <!--<button type='button' class='btn-dashboard-menu'><img src='../icons/ic_tab_sessions_active.png' alt='' class='pull-right' /></button>-->
            <!--</a>-->
            <!--<button type='button' class='btn-dashboard-menu'>Account Managers<img src='../icons/ic_tab_sessions_active.png' alt='' class='pull-right' /></button>-->
        </div>

    </div>
    <div class='col-md-3'></div>
    <div class='col-md-6 dashboard-index text-center'>

        <div ui-view="dashboardContent"></div>

    </div>

</div>