#dashboard {

  #back-nav-btn {
    margin-bottom: -75px;
  }



  img.ic {
    margin-top: -4px;
  }

  p {
    &.warning {
      margin-top: 8px;
      color: $red;
      font-size: 1.6rem;
    }
  }
}