
#messenger-area {
  //display: block;
  position: fixed;
  top: 3%;
  right: 3%;
  margin: 33px;
  text-align: left;
  z-index: 99999999;
  //pointer-events: none;
  .animated {
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
  }
}
.message {
  margin: 4px;
  padding: 10px;
  font-size: 2rem;
  color: white;

  border: 2px solid grey;
  background-color: rgba(0, 0, 0, 0.86);
  box-shadow: 1px 1px 19px gray;

  &.ok {
    border-color: green;
    color: green;
    background: rgba(255, 255, 255, 0.95);
  }

  &.error {
    border-color: $red;
    color: $red;
    background: rgba(255, 255, 255, 0.95);
  }
  .message-text:first-letter {
    text-transform: uppercase;
  }
}
