.flex-box {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  .flex-el {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 2px;
  }
  .flex-el:last-child {
    margin-right: 0px;
  }
}

textarea {
  resize: none;
}

/* Borders */

.border-standart {
  border-width: 2px;
  border-style: solid;
}

@mixin borderColor($color) {
  @extend .border-standart;
    border-color: $color;
}
.border-red {@include borderColor($red);}
.border-yellow {@include borderColor($yellow);}
.border-green{@include borderColor($green);}
.border-blue{@include borderColor($blue);}
.border-brown{@include borderColor(#58595B);}


.dashboard-index {
  background-color: inherit;
  margin-top: 30px;
  margin-bottom: 15%;
  color: $font-color;
  font-size: 30px;
  text-align: center;
}

.dashboard-header {
  position: relative;
  z-index: 1060;
  height: 100px;
  background-color: white;
  border: 0;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.login-header {
  height: 100px;
  padding-top: 30px;
}

.page-banner {
  margin-bottom: 50px;
}

.header-dropdown-ul {
  left: 320px;
}

body{
  background-color: #eeeeee;
  margin: 0 0 50px; /* bottom = footer height */
  font-family: sans-serif;
  height:100%;
}

html {
  position: relative;
  min-height: 100%;
  height:100%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  a {
    color: #58595B;
    line-height: 50px;
    font-size: 14px;
  }
}

.box-shadow{
  box-shadow: 0 50px 60px -50px #58595b;
}

/* Backgrounds */

@mixin backgroundColor($color) {
  background-color: $color !important;
}
.background-red {@include backgroundColor($red);}
.background-yellow {@include backgroundColor($yellow);}
.background-green{@include backgroundColor($green);}
.background-blue{@include backgroundColor($blue);}
.background-transp{@include backgroundColor(rgba(0,0,0,0));}

/* Typography */

.text-break-all {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
}
.text-max-width {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.text-login-page {
  font-size: 16px;
}
.text-no-decoration {
  text-decoration: none;
}
.text-no-bold {
  font-weight: normal !important;
}

.text-font-family {
  font-family: sans-serif;
}

.text-left {
  text-align: left;
}

.text-font-family-tabs {
  font-family: sans-serif black;
}

.text-vertical-middle {
  vertical-align: middle;
}

$step: 5;
$directions: ('right', 'left', 'top', 'bottom');

@for $j from 0 to length($directions) {
  @for $i from 1 to 5 {
    .margin-#{nth($directions, $j + 1)}-#{$step * $i}{
      margin-#{nth($directions, $j + 1)}: $step * $i#{px} !important;
    }
  }
}

@for $j from 0 to length($directions) {
  @for $i from 1 to 5 {
    .padding-#{nth($directions, $j + 1)}-#{$step * $i}{
      padding-#{nth($directions, $j + 1)}: $step * $i#{px} !important;
    }
  }
}

@for $j from 0 to length($directions) {
    .no-margin-#{nth($directions, $j + 1)} {
      margin-#{nth($directions, $j + 1)}: 0 !important;
    }
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.border-radius-none {
  border-radius: 0 !important;
}

.no-pointer-events,
.no-pointer-events [role="button"] {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* Text COLOR */

@mixin textColor($color) {
  color: $color !important;
}
.text-white{@include textColor(#fff);}
.text-yellow-dark {@include textColor(#7f7426);}
.text-red-dark{@include textColor($red);}
.text-gray-dark{@include textColor($grey);}
.text-grey-light{@include textColor(#ababab);}
.text-gray-medium{@include textColor(#737373);}
.text-green-dark{@include textColor($green);}
.text-brown-light{@include textColor(#7F7426);}
.text-brown-dark{@include textColor(#58595B);}

.text-shadow-gray {
  text-shadow: 0 0 5px $grey !important;
}

/* Responsive design */

@media (min-width: 584px){
  .container
  {
    min-width: 535px;
  }
  .tab-content {
    width: auto;
    background-color: #fff;
  }

  .dashboard-container {
    background-color: #fff;
    min-width: 535px;
  }

  .login-container {
    max-width: 575px;
  }

  .login-container.login-container-wide {
    max-width: 585px;
  }
}

@media (min-width: 768px){
  .container
  {
    width: auto;
  }

  .login-container {
    width: 75%;
  }
}

@media (min-width: 992px){
  .container
  {
    width: 90%;
  }

  .dashboard-container
  {
    width: 90%;
    margin: 0 auto;
  }

  .login-container {
    width: 50%;
  }

  .dashboard-header {
    padding-top: 30px;
  }
}

/* centered columns styles */

.row-centered {
  text-align:center;
}

.dashboard-container.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.fixed-bottom-margin {
  margin-bottom: 100px;
}

.intl-tel-input{
  width: 100% !important;
  .mobile-near-flag {
    padding-left: 25px;
  }
}

.inline-block {
  display: inline-block !important;
}

.iti-flag {background-image: url("/images/flags.png") !important;}

.animated {
  -webkit-animation-fill-mode: none !important;
  animation-fill-mode: none !important;
}

.dashboard-header > .dashboard-header-mobile {
  display:none;
}

input#reveiveNewsLetters{
  width: 16px;
  height: 16px;
}

#contactDetailsModal
{
  .modal-header{
    padding:0px;
  }
}

#nav-tabs-mobile {
  display:none;
  width: 100%;
  background-color: #4CB649;
  margin-top: -25px;

  a.dropdown-toggle {
    height: 39px;
  }

  ul.dropdown-menu{
    background-color: #4CB649;
    border-radius: 0px;
    margin-top: -1px;
    width: 100%;
    padding: 0px;

    li {
      background: #4CB649;
    }
    li:nth-child(2n+1) {
      background: #3F8438;
    }
  }

  .caret {
    float: right;
    border: 0;
    background: #479941;
    padding: 0px;
    margin: -9px -13px;
    height: 39px;
    width: 40px;
    @-moz-document url-prefix() {
      margin-top: -30px;
    }

    span{
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid #fff;
      position: relative;
      top: 22px;
      left: 14px;
    }
  }

  a {
    color: #fff;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0px;
    display: block;
    width: 100%;
    text-align: left;
    background: transparent !important;
  }
}

.selectRoleMessage {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -25px;
}

#small-screen {
  display:none;
  padding-top: 18%;

  div {
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    margin: 0px auto;
    padding: 30px;
  }
}

@media (max-width: 767px) {
  body{
    overflow: auto !important;
    padding: 0px !important;
  }

  body.hide-mobile-page > * {
    display:none !important;
  }

  body.hide-mobile-page {
    background: #EFEFEF !important;
  }

  .fixed-bottom-margin {
    margin-bottom: 20px;
  }

  #small-screen{
    display:block !important;
  }

  #messenger-area {
    min-width:200px;
  }

  #nav-tabs-mobile {
    display:inline-block;
  }

  #nav-tabs-main {
    display:none;
  }

  .dashboard-container{
    border:none !important;
    box-shadow: none;

    h2 {
      font-size:22px;
    }

    h4 {
      font-size:16px;

      strong{
          font-weight:normal !important;
      }
    }
  }

  .selectRoleMessage {
    margin-bottom: 40px;

    h2 {
      font-size:22px;
    }
  }
}

@media (max-width: 1049px) {
  @media (min-width: 768px) {
    #nav-tabs-main{
      li {
        width: 230px !important;
      }
    }
  }
}

.sales-banner {
  margin-top: 45px;
  margin-bottom: 10px;
  text-align: center;
  a {
    cursor: pointer;
    img {
      max-width: 85%;
    }
  }
}

.noRolesBlock {
  text-align: center;
  @media (min-width: 768px) {
    padding-top: 50px;
  }
}

.modal-content-wide {
  width: 800px;
  margin-left: -101px;
}
