<span class='hidden'>{{ survey = sc.previewSurvey || sc.survey; "" }}</span>

<div class='col-xs-12'>
  <center>
    <img ng-src='{{ survey.resource.url.full }}' class='img-responsive' ng-if='survey.resource'/>
    <img ng-src='/icons/Klzii_RGB_72.png' ng-if='!survey.resource'/>
  </center>
</div>

<p class='lead survey-header text-break-all'>
  {{ survey.name }}
  <span class='help-block'>
    <small>{{ survey.description }}</small>
  </span>
</p>

<hr />

<form name='sc.submitForm' novalidate>
  <fieldset ng-disabled='sc.submitingSurvey'>
    <ng-form name='answers'>
      <div ng-repeat='question in survey.SurveyQuestions track by question.order' ng-init='sq = sc.surveySelect.SurveyQuestions[question.id] = {}'>
        <div class='panel border-radius-none' ng-class='sc.pickValidClass(sc.submitForm.answers[question.order].$error, "panel")'>
          <div class='panel-heading border-radius-none'>
            <h3 class='panel-title'><small>{{ question.name }}</small><span class='panel-title help-block'>{{ question.question }}</span></h3>
          </div>

          <div class='panel-body border-radius-none'>
            <div class='has-error' ng-messages='sc.submitForm.answers[question.order].$error'>
              <div ng-repeat='error in sc.validationErrors'>
                <div class='help-block' ng-message='{{ error.type }}'>{{ sc.replaceErrorMessage(error, "textarea") }}</div>
              </div>
            </div>

            <div ng-if='question.type == "radio"' ng-repeat='answer in question.answers'>
              <div class='radio radio-sm survey-input' ng-class='sc.pickValidClass(sc.submitForm.answers[question.order].$error, "radio")'>

                <input type='radio' id='radio-{{ question.order }}-{{ answer.order }}' name='{{ question.order }}'
                  ng-value='answer.order' ng-model='sq.answer' ng-required='sc.submitedSurvey && !sq.answer'>

                <label for='radio-{{ question.order }}-{{ answer.order }}'>{{ answer.name }}</label>
              </div>
            </div>

            <div ng-if='question.type == "textarea"' ng-repeat='answer in question.answers'>
              <textarea class='form-control border-radius-none' ng-class='sc.pickValidClass(sc.submitForm.answers[question.order].$error, "panel")'
                placeholder='Answer' rows='5' name='{{ question.order }}'
                ng-model='sq.answer' ng-minlength='minsMaxs.textarea.min' ng-maxlength='minsMaxs.textarea.max' ng-required='sc.submitedSurvey'>
              </textarea>
            </div>

            <div ng-if='question.type == "checkbox"' ng-repeat='answer in question.answers'>
              <div class='form-group col-sm-12'>
                <div class='col-sm-12 checkbox checkbox-sm survey-input' ng-class='sc.pickValidClass(sc.submitForm.answers[question.order].$error, "checkbox")'>
                  <input class='styled' id='checkbox-{{ question.order }}-{{ answer.order }}' type='checkbox' name='{{ question.order }}'
                    ng-model='sq.answer' ng-init='sq.answer = true' ng-required='sq.answer && sc.submitedSurvey'>

                  <label for='checkbox-{{ question.order }}-{{ answer.order }}'>{{ answer.name }}</label>
                </div>
              </div>

              <ng-form name='{{ question.order }}' ng-if='answer.contactDetails'>
                <div ng-repeat='contact in answer.contactDetails | toArray track by $index'>
                  <div class='form-group' ng-if='contact'>
                    <div class='col-xs-offset-2 col-xs-10 has-error' ng-messages='sc.submitForm.answers[question.order][contact.model].$error'>
                      <div ng-repeat='error in sc.validationErrors'>
                        <div class='help-block' ng-message='{{ error.type }}'>{{ error.message }}</div>
                      </div>
                    </div>

                    <label class='col-xs-2 control-label' for='contact-{{ contact.model }}'>{{ contact.name }}</label>

                    <div class='col-xs-10' ng-if='contact.number'>
                      <span class='hidden'>{{ pnc.init(sq.contactDetails); '' }}</span>
                      <input type='text' class='form-control border-radius-none' id='contact-{{ contact.model }}' placeholder='{{ contact.name }}'
                        intl-tel-input intl-tel-input-controller='pnc.mobileController'
                        name='{{ contact.model }}' ng-class='sc.pickValidClass(sc.submitForm.answers[question.order][contact.model].$error, "panel")'
                        ng-model='sq.contactDetails[contact.model]' ng-disabled='!sq.answer' ng-required='sq.answer && sc.submitedSurvey'
                        ng-minlength='1'>
                    </div>

                    <div class='col-xs-10' ng-if='contact.input'>
                      <input type='text' class='form-control border-radius-none' id='contact-{{ contact.model }}' placeholder='{{ contact.name }}'
                        name='{{ contact.model }}' ng-class='sc.pickValidClass(sc.submitForm.answers[question.order][contact.model].$error, "panel")'
                        ng-model='sq.contactDetails[contact.model]' ng-disabled='!sq.answer' ng-required='sq.answer && sc.submitedSurvey'
                        ng-minlength='1'>
                    </div>

                    <div class='col-xs-10' ng-if='contact.select'>
                      <select class='form-control border-radius-none' id='contact-{{ contact.model }}' name='{{ contact.model }}'
                        ng-class='sc.pickValidClass(sc.submitForm.answers[question.order][contact.model].$error, "panel")'
                        ng-model='sq.contactDetails[contact.model]' ng-required='sq.answer && sc.submitedSurvey' ng-disabled='!sq.answer'>
                        <option ng-repeat='option in contact.options' value='{{ option }}'>
                          {{ option }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </ng-form>
            </div>
          </div>

          <div ng-if='question.resource'>
            {{ resource = question.resource; "" }}
            <div ng-include="gc.templatesDir + 'viewRendered.html'" ng-if='resource'></div>
          </div>

        </div>
      </div>
    </ng-form>
  </fieldset>
</form>

<p class='lead survey-footer text-break-all'>
  <span class='help-block'>
    <small>{{ survey.thanks }}</small>
  </span>
</p>
