<div class='form-horizontal' ng-if='!object.hardcodedName'>
  <div class='form-group'>
    <div class='col-xs-offset-2 col-xs-10 has-error' ng-messages='sc.manageForm[object.order].name.$error'>
      <div ng-repeat='error in sc.validationErrors'>
        <div class='help-block' ng-message='{{ error.type }}'>{{ sc.replaceErrorMessage(error, "input") }}</div>
      </div>
    </div>

    <label class='col-xs-2 control-label' for='questionName-{{object.order}}'>Name</label>
    <div class='col-xs-10 col-md-6'>
      <input type='text' class='form-control' id='questionName-{{object.order}}' placeholder='{{ object.name || "Name" }}' name='name'
        ng-model='question.name' ng-minlength='sc.minsMaxs.input.min' ng-maxlength='sc.minsMaxs.input.max' ng-required='question.active'>
    </div>
  </div>
</div>

<div class='form-horizontal'>
  <div class='form-group'>
    <div class='col-xs-offset-2 col-xs-10 has-error' ng-messages='sc.manageForm[object.order].question.$error'>
      <div ng-repeat='error in sc.validationErrors'>
        <div class='help-block' ng-message='{{ error.type }}'>{{ sc.replaceErrorMessage(error, "textarea") }}</div>
      </div>
    </div>

    <label class='col-xs-2 control-label' for='questionQuestion-{{object.order}}'>Question</label>
    <div class='col-xs-10 col-md-6'>
      <textarea type='text' class='form-control' placeholder='{{ object.question || "Question" }}' rows='6' name='question' ng-if='!object.hardcodedQuestion'
        ng-model='question.question' ng-maxlength='sc.minsMaxs.textarea.max' ng-required='question.active' id='questionQuestion-{{object.order}}' />
      <div ng-bind="question.question" ng-if='object.hardcodedQuestion'></div>
      <div ng-if='question.link' class='link-block'>
        <a target="_blank" href="{{question.link.url}}">{{question.link.name}}</a>
      </div>
    </div>
  </div>
</div>

<div class='form-horizontal' ng-if='object.audioVideo'>
  <div class='form-group'>
    <div class='col-xs-offset-2 col-xs-10 has-error' ng-messages='sc.manageForm[object.order].audioVideo.$error'>
      <div ng-repeat='error in sc.validationErrors'>
        <div class='help-block' ng-message='{{ error.type }}'>{{ sc.replaceErrorMessage(error, "input") }}</div>
      </div>
    </div>

    <label class='col-xs-2 control-label' for='audioVideo-{{object.order}}'>Audio/Video</label>
    <div class='col-xs-10 col-md-6'>
      {{ upload = sc.galleryDropdownData("questions", question); resource = gc.getResourceFromList(question); "" }}
      <div ng-include="gc.templatesDir + 'viewRendered.html'" ng-if='resource'></div>
      <div ng-include="gc.templatesDir + 'dropdown.html'" ng-init="uploadHeaderText = 'Upload Video/Audio'"></div>
    </div>
  </div>
</div>
