<div id='typeModal' class='modal fade' role='dialog'>
  <div class='modal-dialog brandColourTypeModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h2 class='modal-title text-center'>Create New Scheme For:</h2>
      </div>

      <div class='modal-body'>
        <div class='form-group create-types'>
            <img src="/images/focus.png" ng-click="bcc.createSchemeSelected('focus')" alt="Focus"/>
            <img src="/images/forum.png" ng-click="bcc.createSchemeSelected('forum')" alt="Forum" />
        </div>
      </div>

      <div class='modal-footer'>
        <div type='button' class='btn btn-standart pull-left btn-red' data-dismiss='modal'>Close</div>
      </div>
    </div>
  </div>
</div>
