<div class='col-xs-12'>
  <div class='input-group'>
    <span class='input-group-addon circle-addon no-border-radius'>
      <img class='img-responsive' src='/icons/circle.png' alt='Circle here' />
    </span>
    <input type='text' class='form-control no-border-radius' placeholder=''>

    <span class='input-group-addon no-border-radius'>
      <span class='glyphicon glyphicon-export' aria-hidden='true'></span>
    </span>
    <span class='input-group-addon no-border-radius'>
      <span class='glyphicon glyphicon-retweet' aria-hidden='true'></span>
    </span>
    <span class='input-group-addon no-border-radius'>
      <span class='glyphicon glyphicon-user' aria-hidden='true'></span>
    </span>
  </div>
</div>
