<div class='col-xs-offset-3 col-sm-offset-4 has-error' ng-messages='bcc.colorForm.name.$error'>
  <div class='help-block' ng-message='required'>Please fill this field</div>
</div>

<div class='col-xs-3 col-sm-4'>
  <label class='control-label text-no-bold' for='schemeName'>Name</label>
</div>

<div class='col-xs-9 col-sm-8'>
  <div class='form-group'>
    <div class='input-group name-input'>
      <input class='form-control border-radius-none' id='schemeName' ng-model='bcc.scheme.name' name='name' ng-required='bcc.formSubmitted' />
    </div>
  </div>
</div>
