<div class='row'>
  <div class='has-error' ng-class='field.title ? "col-xs-offset-6 col-xs-6 col-md-offset-4 col-md-8" : "col-xs-12" ' ng-messages='bcc.colorForm[field.model].$error'>
    <div class='help-block' ng-message='required'>Not valid color</div>
    <div class='help-block' ng-message='pattern'>Not valid color</div>
  </div>
</div>

<div class='row'>
  <div class='col-xs-6 col-md-4' ng-if='field.title'>
    <label class='control-label text-no-bold label-size' for='{{ field.model }}'>{{ field.title }}</label>
  </div>

  <div ng-class='field.title ? "col-xs-6 col-md-8" : "col-xs-12" '>
    <div class='form-group'>
      <div class='form-inline input-group inner-addon'>
        <i class='glyphicon glyphicon-pencil' aria-hidden='true'></i>
        <input class='form-control' id='{{ field.model }}' name='{{ field.model }}' colorpicker colorpicker-position='top'
          ng-required='bcc.formSubmitted' ng-pattern='bcc.hexRegex' ng-init='bcc.initColor(field, scheme)'
          ng-model='scheme[field.model]' ng-attr-style='bcc.colorStyles(scheme[field.model])' />
      </div>
    </div>
  </div>
</div>
