<!-- Row 1 -->
<div class='row'>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[2] }}'></span>
    </div>
  </div>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[3] }}'></span>
    </div>
  </div>
  <div class='col-xs-3'></div>
</div>

<!-- Row 2 -->
<div class='row'>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[1] }}'></span>
    </div>
  </div>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[4] }}'></span>
    </div>
  </div>
</div>

<!-- Row 3 -->
<div class='row'>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'></div>
</div>

<!-- Row 4 -->
<div class='row'>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[8] }}'></span>
    </div>
  </div>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[5] }}'></span>
    </div>
  </div>
</div>

<!-- Row 5 -->
<div class='row'>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[7] }}'></span>
    </div>
  </div>
  <div class='col-xs-3'>
    <div class='user-container'>
      <img src='/icons/brand-colours-user.png' class='img-responsive user-icon' />
      <span class='img-caption' style='background-color: {{ previewScheme.participants[6] }}'></span>
    </div>
  </div>
  <div class='col-xs-3'></div>
</div>
