{{ previewScheme = scheme.colours || bcc.previewScheme.colours; "" }}
<div class='brandColours'>
  <div class='row' style='background-color: {{ previewScheme.browserBackground }};'>
    <div class='col-xs-12 header' ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/header.html'"></div>

    <div class='col-xs-12'>
      <div class='col-xs-12 chatContainer' style='background-color: {{ previewScheme.mainBackground }}; border-color: {{ previewScheme.mainBorder }};'>
        <div class='containerInnerBox' style='height: 25em' ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/svg/svg.html'">
        </div>
        <div class='row' ng-include="'/js/ngApp/components/dashboard-resources-brandColours/templates/footer.html'"></div>
      </div>
    </div>
  </div>
</div>
