{{ previewScheme = scheme || bcc.previewScheme; "" }}
<div class='brandColours'>
  <div class='col-xs-12' style='background-color: {{ previewScheme.colour_browser_background }};'>
    <div class='row'>
      <div class='col-xs-12 chatContainer' style='background-color: {{ previewScheme.colour_background }}; border-color: {{ previewScheme.colour_border }};'>
        <div class='row'>
          <div class='col-xs-12 chatSeparator' style='border-color: {{ previewScheme.colour_border }};'>
            <div class='row'>
              <div class='col-xs-6'>
                <div class='row'>
                  <div class='col-xs-5 text-right' style='color: {{ previewScheme.colour_label }};'>
                    Session:
                  </div>

                  <div class='col-xs-7' style='color: {{ previewScheme.colour_text }};'>
                    Session
                  </div>
                </div>

                <div class='row'>
                  <div class='col-xs-5 text-right' style='color: {{ previewScheme.colour_label }};'>
                    Topic:
                  </div>
                  <div class='col-xs-7'>
                    <span class='chatTopic' style='background-color: {{ previewScheme.colour_menu_background }}; border-color: {{ previewScheme.colour_menu_border }}; color: {{ previewScheme.colour_text }};'>
                      Topic2
                    </span>
                  </div>
                </div>
              </div>

              <div class='col-xs-6'>
                <div class='row chatIcon'>
                  <div class='col-xs-2'>
                    <span class='glyphicon glyphicon-book' aria-hidden='true' style='color: {{ previewScheme.colour_icon }};'></span>
                  </div>
                  <div class='col-xs-2'>
                    <span class='glyphicon glyphicon-question-sign' aria-hidden='true' style='color: {{ previewScheme.colour_icon }};'></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='col-xs-12'>
            <div class='containerOuterBox'>
              <div class='row containerInnerBox'>

                <div class='col-xs-4 sidePadding'>
                  <div class='row'>
                    <div class='col-xs-12'>
                      <span>&nbsp;</span>
                    </div>
                  </div>

                  <div class='col-xs-12 otherContent' style='background-color: #d97070; border-color: #a4918b;'>
                    <center>&nbsp;</center>
                  </div>
                </div>

                <div class='col-xs-4 sidePadding'>
                  <div class='row'>
                    <div class='col-xs-12'>
                      <span class='whiteBoardIcon' style='border-color: {{ previewScheme.colour_whiteboard_icon_border }}; background-color: {{ previewScheme.colour_whiteboard_icon_background }};'>
                        Whiteboard
                      </span>
                    </div>
                  </div>

                  <div class='col-xs-12 whiteBoardContent' style='background-color: {{ previewScheme.colour_whiteboard_background }}; border-color: {{ previewScheme.colour_whiteboard_border }};'>
                    <center>&nbsp;</center>
                  </div>
                </div>

                <div class='col-xs-4 sidePadding'>
                  <div class='row'>
                    <div class='col-xs-12'>
                      <span>&nbsp;</span>
                    </div>
                  </div>

                  <div class='col-xs-12 chatContent' style='background-color: #e1d8d8; border-color: #a4918b;'>
                    <center>&nbsp;</center>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
