#banner-messages {

  $margin: 35px;

  .banner-row {
    margin: $margin 0;
    padding-top: $margin;
    border-top: 2px solid $blue;
  }

  .banners-section {
    img {
      width: 90%;
      border: 1px solid lightgrey;
    }

  }

  .button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
  }
  .drop-box {
    background: #F8F8F8;
    border: 3px dashed #DDD;
    width: 300px;
    height: 65px;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
  }
  .dragover {
    border: 5px dashed blue;
  }


}

.banner-link-menu {
  width: 500px;
  padding: 10px;
  padding-bottom: 0px;
  overflow: hidden;
  .btn-glyphonic {
    margin-top: 10px;
    float: right;
  }
}
.banner-link-label {
  color: $blue !important;
}
.banner-link-input {
  border-color: $blue !important;
}
