<section id='banner-messages'>
  <div ng-if='bmc.isAdmin()'>
    <div ng-init='bmc.init()'>
      <div class='col-md-12' >
        <div class='dashboard-container'>
          <div class='row'>
            <div class='col-md-offset-3 col-md-6'>
              <h2 class='text-center'>Upload Banners</h2>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-offset-2 col-md-8' ng-repeat='banner in bmc.banners'>
        <div class='row banner-row'>
          <div class='col-md-3 text-right'>
            <h3>{{ banner }}</h3>
          </div>

          <div class='col-md-8'>
            <div ng-if='!bmc.file[banner].resource.url.full'>
              <div ngf-drop ngf-select ng-model='bmc.file[banner].file' class='drop-box' ng-change='bmc.upload(banner)'
              ngf-drag-over-class="'dragover'" accept="image/*"
              ngf-pattern="'image/*'">Drop images here or click to upload</div>
              <div ngf-no-file-drop >File Drag/Drop is not supported for this browser</div>
            </div>

            <div ng-if='bmc.file[banner].resource.url.full'>
              <img ng-src='{{ bmc.file[banner].resource.url.full }}'>

              <div class='banner-management-btns'>
                <button class='btn-standart btn-blue btn-glyphonic' ng-click='bmc.remove(banner)' data-toggle='tooltip' data-placement='bottom' title='Remove banner'>
                  <span class='glyphicon glyphicon-remove' aria-hidden='true' />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
