<section>
<div class='col-xs-12 col-sm-12 col-md-12 text-center remove-link-line'>
    <div class='btn btn-dashboard-menu' ui-sref-active='active' ui-sref-active="active" ui-sref="dashboard.resources.gallery">
      <span class='pull-left'>Gallery</span>
    </div>
    
    <div class='btn btn-dashboard-menu' ui-sref-active='active' ui-sref-active="active" ui-sref="dashboard.resources.contactList">
      <span class='pull-left'>Contact List</span>
    </div>
    
    <div class='btn btn-dashboard-menu' ui-sref-active='active' ui-sref-active="active" ui-sref="dashboard.resources.topics">
      <span class='pull-left'>Topics</span>
    </div>
    
    <div class='btn btn-dashboard-menu' ui-sref-active='active' ui-sref-active="active" ui-sref="dashboard.resources.emailTemplates">
      <span class='pull-left'>Email Templates</span>
    </div>
    
    <div class='btn btn-dashboard-menu' ui-sref-active='active' ui-sref-active="active" ui-sref="dashboard.resources.brandColours">
      <span class='pull-left'>Brand Colours</span>
    </div>
    
    <!--Here you can manage your Account Profile by upgrading your Plan and adding Account Managers.-->

    <div class="row row-centered">
        <div class='col-md-offset-1 col-md-10 сol-centered dashboard-index text-center'>

            <div ui-view="resourcesContent"></div>

        </div>

    </div>
</div>
</section>