<section>
    <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.resources.gallery">Gallery</div>
    <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.resources.contactLists">Contact Lists</div>
    <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.resources.topics">Topics</div>
    <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.resources.emailTemplates">EmailTemplates</div>
    <div class="btn-dashboard-menu" ui-sref-active="active" ui-sref="dashboard.resources.brandColours">Brand Colours</div>

    <!--Here you can manage your Account Profile by upgrading your Plan and adding Account Managers.-->

    <div class="row row-centered">
        <div class='col-md-offset-1 col-md-10 сol-centered dashboard-index text-center'>

            <div ui-view="resourcesContent"></div>

        </div>

    </div>

</section>
