<div class='modal fade' id='facilitatorForm' role='dialog'>
  <div class='modal-dialog accountManagerModal'>
    <div class='modal-content border-green border-radius-none'>
      <div class='modal-header'>
        <h2 class='modal-title text-center no-margin-top' ng-if="step1Controller.formAction == 'new'">
          Create New Facilitator
        </h2>
        <h2 class='modal-title text-center no-margin-top' ng-if="step1Controller.formAction == 'update'">
          Update Facilitator
        </h2>
      </div>

      <div class='modal-body text-gray-medium'>
        <form class='form-horizontal' role='form' novalidate ng-controller='PhoneNumberController as pnc'>
          <span class='hidden'>{{ pnc.init(step1Controller.userData, 'facilitatorForm'); '' }}</span>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='col-md-6'>
                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='firstName'>First name<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='firstName' placeholder='First name' ng-model='step1Controller.userData.firstName'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='lastName'>Last name<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='lastName' placeholder='Last name' ng-model='step1Controller.userData.lastName'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='email'>Email<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='email' placeholder='Email' ng-model='step1Controller.userData.email'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='gender'>Gender<span class='text-red-dark'>*</span></label>
                  <div class='col-md-8'>
                    <label class='radio-inline'><input type='radio' value='male' name='radio_gender' ng-model='step1Controller.userData.gender'>Male</label>
                    <label class='radio-inline'><input type='radio' value='female' name='radio_gender' ng-model='step1Controller.userData.gender'>Female</label>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='mobile'>Mobile number</label>
                  <div class='col-md-8'>
                    <input type='tel'
                      intl-tel-input
                      intl-tel-input-controller='pnc.mobileController'
                      ng-model='step1Controller.userData.mobile'
                      id='facilitatorMobile'
                      class='form-control'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='landlineNumber'>Landline number</label>
                  <div class='col-md-8'>
                    <input type='tel'
                      intl-tel-input
                      intl-tel-input-controller='pnc.landlineController'
                      ng-model='step1Controller.userData.landlineNumber'
                      id='facilitatorLandlineNumber'
                      class='form-control'>
                  </div>
                </div>
              </div>

              <div class='col-md-6'>
                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='postalAddress'>Postal address</label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='postalAddress' placeholder='Postal address' ng-model='step1Controller.userData.postalAddress'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='city'>City</label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='city' placeholder='City' ng-model='step1Controller.userData.city'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='state'>State</label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='state' placeholder='State' ng-model='step1Controller.userData.state'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='postCode'>Postcode</label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='postCode' placeholder='Postcode' ng-model='step1Controller.userData.postCode'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='country'>Country</label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='country' placeholder='Country' ng-model='step1Controller.userData.country'>
                  </div>
                </div>

                <div class='form-group'>
                  <label class='control-label col-md-4 text-no-bold text-login-page' for='companyName'>Company name</label>
                  <div class='col-md-8'>
                    <input type='text' class='form-control' id='companyName' placeholder='Company name' ng-model='step1Controller.userData.companyName'>
                  </div>
                </div>
              </div>

              <div class='col-md-12'>
                <button ng-if="step1Controller.formAction == 'new'" ng-click='step1Controller.newFacilitator(step1Controller.userData)'
                        type='button' class='btn btn-standart btn-green btn-medium pull-right'>
                  Create Facilitator
                </button>
                <button ng-if="step1Controller.formAction == 'update'" ng-click='step1Controller.saveEdited(step1Controller.userData)'
                        type='button' class='btn btn-standart btn-green btn-medium pull-right'>
                  Update Facilitator
                </button>
                <button ng-click='step1Controller.closeFacilitatorForm()' type='button' class='btn btn-standart btn-red btn-medium pull-left'>
                  Close
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
